{% extends 'layout.html' %}

{% set pageName = "Add patients" %}

{% set currentSection = "clinics" %}

{% block beforeContent %}

    {{ backLink({
    href: "#",
    text: "Back"
    }) }}

{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            {# <h1 class="nhsuk-heading-l">{{ pageName }}</h1> #}

            {{ textarea({
            label: {
                text: pageName,
                size: "l",
                isPageHeading: true
            },
            hint: "Copy and paste NHS numbers from a spreadsheet or another source.",
            id: "example",
            name: "example"
            }) }}


            {{ button({
                text: "Continue",
                href: "/clinics/session?scenario&status=preparing"
            }) }}

        </div>
    </div>

{% endblock %}