{% extends 'layout.html' %}

{% set pageName = "Cancel" %}

{% set currentSection = "clinics" %}

{% block beforeContent %}

{{ backLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}

{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <form action="/clinics/session#cancelled" method="get">
            {{ radios({
            fieldset: {
                legend: {
                text: pageName,
                size: "l",
                isPageHeading: true
                }
            },
            idPrefix: "cancel-reason",
            name: "cancelReason",
            items: [
                {
                value: "Consent not given",
                text: "Consent not given"
                },
                {
                value: "Patient declined vaccination",
                text: "Patient declined vaccination"
                },
                {
                value: "Patient unwell",
                text: "Patient unwell"
                },
                {
                value: "Vaccination not suitable",
                text: "Vaccination not suitable",
                hint: "Medically contra-indindicated, for example patient has allergy or previous reaction"
                },
                {
                value: "Not eligible",
                text: "Not eligible"
                },
                {
                value: "Patient has died",
                text: "Patient has died"
                },
                {
                value: "Already vaccinated",
                text: "Already vaccinated"
                }
            ]
            }) }}

            {{ button({
                text: "Cancel",
                variant: "warning"
            }) }}
            </form>

        </div>
    </div>

{% endblock %}