{% extends 'layout.html' %}

{% set pageName = "Check and confirm" %}

{% if data.scenario == "clinics" %}
{% set currentSection = "clinics" %}
{% elif data.scenario == "appts" %}
{% set currentSection = "appointments" %}
{% endif %}

{% block beforeContent %}
{{ backLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

            <h2 class="nhsuk-heading-m">Patient</h2>

            {{ summaryList({
                rows: [
                    {
                        key: {
                            text: "Name"
                        },
                        value: {
                            text: "Jodie Brown"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "name"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date of birth"
                        },
                        value: {
                            html: "14 April 1940 <br>(86 years old)"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "date of birth"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Address"
                        },
                        value: {
                            html: "73 Roman Road<br>Leeds<br>LS2 5ZN"
                        },
                        actions: {
                            items: []
                        }
                    },
                    {
                        key: {
                            text: "NHS number"
                        },
                        value: {
                            text: "912 312 3123"
                        },
                        actions: {
                            items: []
                        }
                    }
                ]
            }) }}

            <h2 class="nhsuk-heading-m">Vaccination</h2>

            {{ summaryList({
                rows: [
                    {
                        key: {
                            text: "Date"
                        },
                        value: {
                            text: "Today"
                        }
                    },
                    {
                        key: {
                            text: "Site"
                        },
                        value: {
                            text: "Hillside Care Home"
                        }
                    },
                    {
                        key: {
                            text: "Vaccinator"
                        },
                        value: {
                            text: currentUser.firstName + " " + currentUser.lastName
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "vaccinator"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Vaccine"
                        },
                        value: {
                            html: "Flu<br>Adjuvanted Trivalent Influenza Vaccine (aTIV)"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "vaccine"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Batch"
                        },
                        value: {
                            html: "914-151<br>Expires 19 February 2028"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "vaccine batch"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Eligibility"
                        },
                        value: {
                            text: "Resident in a care home"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "eligibility"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Consent given by"
                        },
                        value: {
                            text: "Patient"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "consent"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Injection site"
                        },
                        value: {
                            text: "Left arm"
                        },
                        actions: {
                            items: [
                                {
                                    href: "#",
                                    text: "Change",
                                    visuallyHiddenText: "injection site"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <form action="confirmation" method="post" novalidate>
                {{ textarea({
                    name: "notes",
                    id: "notes",
                    label: {
                        text: "Optional note"
                    },
                    hint: {
                        text: "This will not be sent to the patient's GP. Only your organisation will see it."
                    },
                    rows: 3,
                    classes: "nhsuk-u-margin-bottom-7"
                }) }}

                {{ button({
                    text: "Confirm and save"
                }) }}
            </form>

        </div>
    </div>

{% endblock %}