{% extends 'layout.html' %}

{% set pageName = "Prototype scenarios" %}

{% set currentSection = "sessions" %}

{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

            <ul class="nhsuk-list nhsuk-list--bullet">
                 <li>
                    <a href="/clinics?scenario&clinics=true&status">Care home clinics</a>
                </li>
                <li>
                    <a href="/clinics?session&clinics&status=insession">Pharmacy appointments</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}