{% extends 'layout.html' %}

{% set pageName = "Prototype scenarios" %}

{% set currentSection = "sessions" %}

{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

            <ul class="nhsuk-list">
                 <li>
                    <a href="/sessions?scenario&status">Care homes</a>
                </li>
                <li>
                    <a href="/sessions?scenario=appts&status">Pharmacy appointments</a>
                </li>
            </ul>

        </div>
    </div>

{% endblock %}