{% extends 'layout.html' %}

{% set pageName = "Hillside Care home - Flu over 75s" %}

{% set sessionLocation = "Hillside Care Home" %}

{% set currentSection = "clinics" %}

{% block beforeContent %}

{{ backLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}

{% endblock %}

{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

            {{ summaryList({
                rows: [
                    {
                    key: {
                        text: "Date"
                    },
                    value: {
                        text: "30 October 2026"
                    }
                    }
                    ,
                    {
                    key: {
                        text: "Location"
                    },
                    value: {
                        text: sessionLocation
                    }
                    },
                    {
                    key: {
                        text: "Vaccinator"
                    },
                    value: {
                        text: currentUser.firstName + " " + currentUser.lastName
                    }
                    },
                    {
                    key: {
                        text: "Vaccine"
                    },
                    value: {
                        text: "Flu - Adjuvanted Trivalent Influenza Vaccine (aTIV)"
                    }
                    },
                    {
                    key: {
                        text: "Eligibility"
                    },
                    value: {
                        text: "Resident in a care home"
                    }
                    }
                    
                ]
                }) }}

        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            <div class="nhsuk-button-group">

                {% if data.status == "complete" %}

                {% else %}

                    {{ button({
                        text: "Edit clinic",
                        variant: "secondary",
                        href: "/clinics/create"
                    }) }}

                    {{ button({
                        text: "Add patients",
                        variant: "secondary",
                        href: "/clinics/add-patients"
                    }) }}

                {% endif %}

            </div>

        </div>
    </div>

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

            {% set patientActionsContent %}

            {% if data.status == "complete" %}

                <a href='#'>View record</a>

            {% else %}

                <div class="nhsuk-button-group">

                    <a href='/clinics/patient-history'>Record</a>

                    <a href='/clinics/cancel'>Cancel</a>

                </div>

            {% endif %}

            {% endset -%}

            {% set patientStatusContent %}

            {% if data.status == "complete" %}

                {{ tag({
                    text: "Vaccinated",
                    colour: "green"
                }) }}

            {% else %}

                {{ tag({
                    text: "In session",
                    colour: "white"
                }) }}

            {% endif %}

            {% endset -%}

            {% set allPatientContent %}
            {{ table({
            caption: {
                text: "Patients",
                classes: "nhsuk-u-visually-hidden"
                },
                head: [
                    {
                    text: "Name and NHS number"
                    },
                    {
                    text: "Date of birth"
                    }
                    ,
                    {
                    text: "Actions"
                    }
                ],
                rows: [
                    [
                    {
                        html: "Jodie Brown <div class='nhsuk-u-secondary-text-colour'>912 312 3123</div>"
                    },
                    {
                        html: "14 April 1940 <div class='nhsuk-u-secondary-text-colour'>86 years old</div>"
                    },
                    {
                        html: patientActionsContent
                    }
                    ],
                    [
                    {
                        html: "Margaret Green <div class='nhsuk-u-secondary-text-colour'>943 876 2109</div>"
                    },
                    {
                        html: "2 September 1943 <div class='nhsuk-u-secondary-text-colour'>83 years old</div>"
                    },
                    {
                        html: patientActionsContent
                    }
                    ],
                    [
                    {
                        html: "George Wilson <div class='nhsuk-u-secondary-text-colour'>978 654 3210</div>"
                    },
                    {
                        html: "19 November 1946 <div class='nhsuk-u-secondary-text-colour'>79 years old</div>"
                    },
                    {
                        html: patientActionsContent
                    }
                    ],
                    [
                    {
                        html: "Evelyn Carter <div class='nhsuk-u-secondary-text-colour'>621 874 3056</div>"
                    },
                    {
                        html: "7 June 1938 <div class='nhsuk-u-secondary-text-colour'>88 years old</div>"
                    },
                    {
                        html: patientActionsContent
                    }
                    ],
                    [
                    {
                        html: "Arthur Bennett <div class='nhsuk-u-secondary-text-colour'>584 207 9163</div>"
                    },
                    {
                        html: "23 January 1945 <div class='nhsuk-u-secondary-text-colour'>81 years old</div>"
                    },
                    {
                        html: patientActionsContent
                    }
                    ]
                ]
            }) }}
            {% endset -%}

            {% set cancelledPatientContent %}
            {{ table({
            caption: {
                text: "Patients",
                classes: "nhsuk-u-visually-hidden"
                },
                head: [
                    {
                    text: "Name and NHS number"
                    },
                    {
                    text: "Date of birth"
                    }
                    ,
                    {
                    text: "Cancellation reason"
                    }
                ],
                rows: [
                    [
                    {
                        html: "Jodie Brown <div class='nhsuk-u-secondary-text-colour'>912 312 3123</div>"
                    },
                    {
                        html: "14 April 1940 <div class='nhsuk-u-secondary-text-colour'>86 years old</div>"
                    },
                    {
                        html: data.cancelReason or "Consent not given"
                    }
                    ]
                ]
            }) }}
            {% endset -%}

            {{ tabs({
                items: [
                {
                    label: "Scheduled (49)",
                    id: "patients",
                    panel: {
                    html: allPatientContent
                    }
                } if data.status!="complete"
                ,
                {
                    label: "Completed (33)",
                    id: "vaccinated",
                    panel: {
                    html: allPatientContent
                    }
                }
                ,
                {
                    label: "Cancelled (2)",
                    id: "cancelled",
                    panel: {
                    html: cancelledPatientContent
                    }
                }
                ]
            }) }}

            {% if data.status == "insession" %}

                {{ button({
                    text: "End clinic",
                    href: "?status=complete",
                    variant: "warning"
                }) }}

            {% endif %}

            <p>
                <a href="#" class="nhsuk-link">Print patient list</a>
            </p>

        </div>
    </div>

{% endblock %}