{% extends 'layout.html' %}

{% set pageName = "Which vaccine?" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({ href: "/clinics/patient-search" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% set covidProductHtml %}
        {{ radios({
          idPrefix: "vaccineProductCovid",
          name: "vaccineProduct",
          fieldset: {
            legend: {
              text: "Vaccine product"
            }
          },
          items: [
            {
              value: "Spikevax XFG",
              text: "Spikevax XFG"
            }
          ]
        }) }}
      {% endset %}

      {% set fluProductHtml %}
        {{ radios({
          idPrefix: "vaccineProductFlu",
          name: "vaccineProduct",
          fieldset: {
            legend: {
              text: "Vaccine product"
            }
          },
          items: [
            {
              value: "Adjuvanted Trivalent Influenza Vaccine (aTIV)",
              text: "Adjuvanted Trivalent Influenza Vaccine (aTIV)"
            }
          ]
        }) }}
      {% endset %}

      {% set rsvProductHtml %}
        {{ radios({
          idPrefix: "vaccineProductRsv",
          name: "vaccineProduct",
          fieldset: {
            legend: {
              text: "Vaccine product"
            }
          },
          items: [
            {
              value: "Abrysvo",
              text: "Abrysvo"
            }
          ]
        }) }}
      {% endset %}

      <form action="#" method="post">
        {{ radios({
          idPrefix: "vaccine",
          name: "vaccine",
          fieldset: {
            legend: {
              text: pageName,
              size: "l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "COVID-19",
              text: "COVID-19",
              conditional: {
                html: covidProductHtml
              }
            },
            {
              value: "Flu",
              text: "Flu",
              conditional: {
                html: fluProductHtml
              }
            },
            {
              value: "RSV",
              text: "RSV",
              conditional: {
                html: rsvProductHtml
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
