</form>
{% extends 'layout.html' %}

{% set pageName = "Choose a date" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/team",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/lists/date-answer" method="post">

        {% set dateinputHtml %}
          {{ dateInput({
            id: "other-date",
            namePrefix: "otherDate",
            values: data.otherDate,
            fieldset: {
              legend: {
                text: "Date",
                size: "s",
                isPageHeading: false
              }
            },
            hint: {
              text: "For example, 15 3 2026"
            }
          }) }}
        {% endset %}

        {% set items = [] %}
        {% for date in (dates) %}
          {% set text %}
            {% if loop.index == 1 %}
              Today ({{ (date | govukDate(showWeekday=true)) }})
            {% else %}
              {{ (date | govukDate(showWeekday=true)) }}
            {% endif %}
          {% endset %}

          {% set items = (items.push({
            text: text,
            value: date
          }), items) %}
        {% endfor %}

        {% set items = (items.push({
          divider: 'or'
        }), items) %}

        {% set items = (items.push({
          value: "other-date",
          text: "Select a different date",
          conditional: {
            html: dateinputHtml
          }
        }), items) %}

        {% set items = (items.push({
          value: "no-date",
          text: "No date"
        }), items) %}

        {{ radios({
          idPrefix: "date",
          name: "date",
          value: data.date,
          fieldset: {
            legend: {
              text: "Choose a date",
              size: "l",
              isPageHeading: true
            }
          },
          items: items
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}

