{% extends 'layout.html' %}

{% set pageName = "Choose a date" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/team",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">





<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">




<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
       Choose a date
      </h1>
    </legend>

    <div class="nhsuk-radios nhsuk-radios--conditional" data-module="nhsuk-radios">
      
      
      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact" name="contact" type="radio" value="email" aria-controls="conditional-contact" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact">
          Today (Monday 6 October 2025)
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="phone" aria-controls="conditional-contact-1" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
          Tuesday 7 October 2025
        </label>
      </div>

         <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
          Wednesday 8 October 2025
        </label>
      </div>
      


         <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="phone" aria-controls="conditional-contact-3" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
          Thursday 9 October 2025
        </label>
      </div>


         <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-4" name="contact" type="radio" value="phone" aria-controls="conditional-contact-4" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-4">
          Friday 10 October 2025
        </label>
      </div>


                  <div class="nhsuk-radios__divider">or</div>


          <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-5" name="contact" type="radio" value="phone" aria-controls="conditional-contact-5" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-5">
          Select a different date
        </label>
      </div>

         <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="contact-6" name="contact" type="radio" value="phone" aria-controls="conditional-contact-6" aria-expanded="false">
        <label class="nhsuk-label nhsuk-radios__label" for="contact-6">
         No date
        </label>
      </div>

  </div>
  </fieldset>
</div>

<br>
      {{ button({
        text: "Continue",
        href: "/lists/name"
      }) }}

    </div>
  </div>




          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-5">
                  <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label--s">
                  Date
              </legend>
              <div class="nhsuk-hint" id="example-hint">
                For example, 15 8 2025
              </div>
              <div class="nhsuk-date-input" id="example">
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                      Day
                    </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day" name="example[day]" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                      Month
                    </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month" name="example[month]" type="text" inputmode="numeric">
                  </div>
                </div>
                <div class="nhsuk-date-input__item">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                      Year
                    </label> <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year" name="example[year]" type="text" inputmode="numeric">
            
   

{% endblock %}
