</form>
{% extends 'layout.html' %}

{% set pageName = "Choose a date" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/team",
    text: "Back"
  }) }}
{% endblock %}



{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<div class="nhsuk-form-group">

  <form action="/lists/date-answer" method="post">

  <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">


    {% from 'radios/macro.njk' import radios %}
    {% from 'date-input/macro.njk' import dateInput %}


    {% set dateinputHtml %}

    {{ dateInput({
      id: "example",
      namePrefix: "example",
      fieldset: {
        legend: {
          text: "Select a date",
          classes: "nhsuk-label--s",
          isPageHeading: false
        }
      },
      hint: {
        text: "For example, 15 3 1984"
      },
      items: [
        {
          name: "day",
          classes: "nhsuk-input--width-2"
        },
        {
          name: "month",
          classes: "nhsuk-input--width-2"
        },
        {
          name: "year",
          classes: "nhsuk-input--width-4"
        }
      ]
    }) }}

    {% endset -%}



    {{ radios({
      idPrefix: "example",
      name: "date",
      value: data['date'],
      fieldset: {
        legend: {
          text: "Choose a date",
          classes: "nhsuk-fieldset__legend--l",
          isPageHeading: true
        }
      },
      items: [
        {
          value: "date",
          text: "Today (Monday 7 July 2025)",
          dateKnown: 'yes'
        },
        {
          value: "date",
          text: "Tuesday 8 July 2025"
        },
        {
          value: "date",
          text: "Wednesday 9 July 2025"
        },
        {
          value: "date",
          text: "Thursday 10 July 2025"
        },
        {
          value: "date",
          text: "Friday 11 July 2025"
        },
        {
          divider: "or"
        },

         {
          value: "date-input",
          text: "Select a different date",
          conditional: {
             html: dateinputHtml
          }
        },
        {
          value: "no-date",
          text: "No date"
        }
      ]
    }) }}

  </div>


{{ button({
  text: "Continue"
}) }}

</form>


    </div>
  </div>



{% endblock %}

