{% extends 'layout.html' %}

{% set pageName = "Delete list" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({ href: "/lists/list/" + patientList.id }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-caption-l">St Mary's Hospital</span>
      <h1 class="nhsuk-heading-l">Delete {{ patientList.name }} list?</h1>

      <p>The list will be deleted but not any vaccination records.</p>

      <br>
      <form action="/lists/{{ patientList.id }}/deleted" method="post">
        {{ button({
          text: "Yes, delete list"
        }) }}
      </form>

    </div>
  </div>

  {% endblock %}
