{% extends 'layout.html' %}

{% set pageName = "Lists" %}

{% set currentSection = "lists" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ tag({
        text: "New",
        classes: "nhsuk-tag--blue"
      })}}
    <br><br>
      <h1 class="nhsuk-heading-l">Lists</h1>

      <p class="nhsuk-body-m">To save time when you record vaccinations, you can add a list of NHS numbers.</p>


        <ul class="nhsuk-list xnhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
          <li><a href="/lists/team-lists2">Anne Ward Maternity Unit</a></li>
          <li><a href="/lists/team-lists2">St Mary’s Hospital </a></li>
            <li><a href="/lists/team-lists2">Manchester Hospital </a></li>

        </ul>
        



  

      {{ button({
        text: "Add a list",
        href: "/lists/team"
      }) }}

    </div>
  </div>

{% endblock %}
