{% extends 'layout.html' %}

{% set pageName = "Interim page" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/index1"
  }) }}
 {% endblock %}
{% block content %}


        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-l">NHS numbers not found</h1>

              <p>We cannot find a match in the Personal demographics service (PDS) for the NHS numbers you added.</p>
      
          </div>
        </div>

   
    </div>
  </div>

{% endblock %}



