{% extends 'layout.html' %}

{% set pageName = "Interim page" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/index1"
  }) }}
 {% endblock %}
{% block content %}


        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-l">Some NHS numbers not found</h1>

              <p>We cannot find a match for these NHS numbers:</p>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>1231231234</li>
                <li>1231231235</li>
              </ul>

      
          </div>
        </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue anyway
        </button>
    </div>
  </div>

{% endblock %}



