{% extends 'layout.html' %}

{% set pageName = "Interim page" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/index1"
  }) }}
 {% endblock %}
{% block content %}


        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-l">No NHS numbers found</h1>

              <p>These numbers are not in the national database of all NHS patients in England, Wales, Northern Ireland and the Isle of Man:</p>

              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>1231231234</li>
                <li>1231231235</li>
               
              </ul>

      
          </div>
        </div>

   
    </div>
  </div>

{% endblock %}



