{% extends 'layout.html' %}

{% set pageName = "Maternity list" %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/index1"
  }) }}
 {% endblock %}
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-caption-l">St Mary's Hospital</div>

        <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

        <p>To record a vaccination, search for the person in the list and select the Record link next to their details.</p>


        <p><a href="/lists/add-more-nhs-numbers">Add more NHS numbers</a>    &nbsp; &nbsp; &nbsp;   <a href="/lists/edit-name">Edit list name</a>  &nbsp; &nbsp; &nbsp;     <a href="/lists/delete">Delete list</a></p>




        <div class="nhsuk-u-margin-top-5">
          <form action="/user-admin" method="get" novalidate>
            <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
              <label class="nhsuk-label" for="q">
                Search for name or NHS number
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="q" name="q" type="search" value="{{ q }}">

              {{ button({
                text: "Search",
                classes: "nhsuk-button--secondary nhsuk-u-margin-left-2 app-button--small nhsuk-u-margin-bottom-0"
              })}}
            </div>
          </form>
        </div>



  <style>
    .jointTopBot {
          id: "firstName",
          name: "firstName",
          value: data.firstName,
          classes: "nhsuk-input--width-20",
          errorMessage: {
            text: firstNameError
          } if firstNameError
        }) }}
  </style>


<br>

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">Showing 30 of 100 patients</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">


                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    NHS number
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Date of birth
                  </th>

                  <th role="columnheader" class="" scope="col">

                  </th>

                  <th role="columnheader" class="" scope="col">

                  </th>

                </tr>
        </thead>

        <tbody class="nhsuk-table__body">

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Adam Aarrons
          </td>

            <td class="nhsuk-table__cell">
              9562312564
          </td>

          <td class="nhsuk-table__cell">
            21 April 1954
          </td>

          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/lists/remove">Remove
          </td>
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                Alex Aarrons
            </td>

              <td class="nhsuk-table__cell">
                9623584569
            </td>

            <td class="nhsuk-table__cell">
              8 December 1959
            </td>



            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/lists/remove">Remove</a>
            </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Ben Benson
            </td>

                <td class="nhsuk-table__cell">
                  9875582565
            </td>

            <td class="nhsuk-table__cell">
              23 May 1976
            </td>

            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/lists/remove">Remove</a>
            </td>
            </tr>


            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Brian Briggs
            </td>

              <td class="nhsuk-table__cell">
                9111102224
            </td>

            <td class="nhsuk-table__cell">
              9 August 2006
            </td>


            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/lists/remove">Remove</a>
            </td>
              </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Christin Cuthbert
            </td>

              <td class="nhsuk-table__cell">
                999633365
            </td>

            <td class="nhsuk-table__cell">
              16 May 2006
            </td>

            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/lists/remove">Remove</a>
            </td>
              </tr>


            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Collette Carlisle
            </td>

              <td class="nhsuk-table__cell">
                9784512586
            </td>

            <td class="nhsuk-table__cell">
              2 May 2002
            </td>

            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/lists/remove">Remove</a>
            </td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                Daniella Davenport
              </td>

                <td class="nhsuk-table__cell">
                  9330254878
              </td>

              <td class="nhsuk-table__cell">
                11 June 1956
              </td>

              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/lists/remove">Remove</a>
              </td>
                </tr>



              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Denis Daniels
              </td>

                <td class="nhsuk-table__cell">
                  9025587485
              </td>

              <td class="nhsuk-table__cell">
                14 November 1994
              </td>

              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
            </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/lists/remove">Remove</a>
              </td>
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                     Elle Ellison
                </td>

                  <td class="nhsuk-table__cell">
                    9001258457
                </td>

                <td class="nhsuk-table__cell">
                  3 March 1958
                </td>

                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                  <a class="nhsuk-link" href="/lists/remove">Remove</a>
                </td>
                  </tr>

                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                      Fraser Fredricks

                  </td>

                    <td class="nhsuk-table__cell">
                      9853623256
                  </td>

                  <td class="nhsuk-table__cell">
                    2 March 1984
                  </td>

                  <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
                </td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/lists/remove">Remove</a>
                  </td>
                    </tr>


                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">
                          Greg Gregson
                    </td>

                      <td class="nhsuk-table__cell">
                        910200021
                    </td>

                    <td class="nhsuk-table__cell">
                      9 September 199
                    </td>

                    <td class="nhsuk-table__cell">
                        <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
                    </td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                      <a class="nhsuk-link" href="/lists/remove">Remove</a>
                    </td>
                      </tr>

                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                             Harriet Harrison
                      </td>

                        <td class="nhsuk-table__cell">
                          9630021558
                      </td>

                      <td class="nhsuk-table__cell">
                        10 January 2000
                      </td>

                      <td class="nhsuk-table__cell">
                        <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
                    </td>
                      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                        <a class="nhsuk-link" href="/lists/remove">Remove</a>
                      </td>
                        </tr>


                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                              India Illingworth
                        </td>

                          <td class="nhsuk-table__cell">
                            9856236569
                        </td>

                        <td class="nhsuk-table__cell">
                          4 February 1980
                        </td>

                        <td class="nhsuk-table__cell">
                            <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                          <a class="nhsuk-link" href="/lists/remove">Remove</a>
                        </td>
                          </tr>




                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                              Katehrine Kitson
                        </td>

                          <td class="nhsuk-table__cell">
                            9636956814
                        </td>

                        <td class="nhsuk-table__cell">
                          20 May 1979
                        </td>

                        <td class="nhsuk-table__cell">
                            <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                          <a class="nhsuk-link" href="/lists/remove">Remove</a>
                        </td>
                          </tr>




          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Luke Law
          </td>

            <td class="nhsuk-table__cell">
              9854525125

          </td>

          <td class="nhsuk-table__cell">
            13 October 2002           </td>

          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/lists/remove">Remove</a>
          </td>
            </tr>

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
              Lucinda Lesley
      </td>

          <td class="nhsuk-table__cell">
           9851245252
      </td>

      <td class="nhsuk-table__cell">
        13 July 1983
      </td>

      <td class="nhsuk-table__cell">
        <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
    </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        <a class="nhsuk-link" href="/lists/remove">Remove</a>
      </td>
  </tr>


  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        Michael Miller
</td>

    <td class="nhsuk-table__cell">
      9520120232
</td>

<td class="nhsuk-table__cell">
  13 October 2002
</td>

<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
  <a class="nhsuk-link" href="/lists/remove">Remove</a>
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Nick Nolan
</td>

  <td class="nhsuk-table__cell">
   9520124578
</td>

<td class="nhsuk-table__cell">
  6 January 1976
</td>

<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/lists/remove">Remove</a>
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
       Oliver Osmond
</td>

  <td class="nhsuk-table__cell">
    9523654781
</td>

<td class="nhsuk-table__cell">
  11 December 1987
</td>

<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/lists/remove">Remove</a>
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Peter Parker
</td>

  <td class="nhsuk-table__cell">
    9525885255
</td>


<td class="nhsuk-table__cell">
  4 June 1999
</td>

<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/lists/record/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/lists/remove">Remove</a>
</td>
</tr>



          </tbody>
        </table>





        <nav class="govuk-pagination" aria-label="Pagination">
          <div class="govuk-pagination__prev">
            <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
              <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              <span class="govuk-pagination__link-title">
                Previous<span class="govuk-visually-hidden"> page</span>
              </span>
            </a>
          </div>
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next">
              <span class="govuk-pagination__link-title">
                Next<span class="govuk-visually-hidden"> page</span>
              </span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </a>
          </div>
        </nav>




    </div>
  </div>

{% endblock %}



