{% extends 'layout.html' %}

{% set currentSection = "lists" %}

{% set pageName = "Name your list" %}

{% block beforeContent %}
  {{ backLink({ href: "/lists/date" }) }}
{% endblock %}




{% from 'back-link/macro.njk' import backLink %}
{% from 'button/macro.njk' import button %}
{% from 'input/macro.njk' import input %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <form action="/lists/add-nhs-numbers" method="post" novalidate>



        {{ input({
          label: {
            text: "List name",
            isPageHeading: true,
            classes: "nhsuk-label--l"
          },
          hint: {
            text: "For example, Maternity patients"
          },
          id: "name",
          name: "name"
        }) }}


        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>


{% endblock %}

