{% extends 'layout.html' %}

{% set pageName = site.name %}

{% set currentSection = "lists" %}

{% block beforeContent %}
  {{ backLink({
    href: "/lists/index",
    text: "Back"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if justAddedList %}
        <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
          <div class="nhsuk-notification-banner__header">
            <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="nhsuk-notification-banner__content">
            <h3 class="nhsuk-notification-banner__heading">
              {{ justAddedList.name }} list added
            </h3>
            <p>It can take several minutes to check NHS numbers.</p>
          </div>
        </div>
      {% endif %}

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {% if (lists | length) > 0 %}
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption"></caption>
          <thead class="nhsuk-table__head" role="rowgroup">
            <tr role="row">
              <th scope="col" class="nhsuk-table__header nhsuk-u-width-half" role="columnheader">List</th>
              <th scope="col" class="nhsuk-table__header nhsuk-table__cell--numeric nhsuk-u-width-one-third" role="columnheader">NHS numbers</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for list in lists %}

              <tr class="nhsuk-table__row" role="row">
                <td class="nhsuk-table__cell" role="cell">
                  <a href="/lists/list/{{ list.id }}">{{ list.name }}</a>
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                  {% if list.id == justAddedList.id %}
                    <span id="loadingText"> 1 checked out of {{ list.patients | length }}</span>
                  {% else %}
                    {{ list.patients | length }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No lists added.</p>
      {% endif %}

      {{ button({
        text: "Add a list",
        href: "/lists/date?siteId=" + site.id
      }) }}

    </div>
  </div>

  {% if justAddedList %}
    <script>
      let current = 1;
      const total = {{ justAddedList.patients | length }};
      const textElement = document.getElementById("loadingText");

      const interval = setInterval(() => {
        current++;
        if (current <= total) {
          textElement.textContent = ` ${current} checked out of ${total}`;
        } else {
          clearInterval(interval);
          textElement.textContent = `${total}`;
        }
      }, 500); // Update every 500ms (half a second)
    </script>
  {% endif %}

{% endblock %}
