{% extends 'layout.html' %}

{% set currentSection = "lists" %}

{% set pageName = "Choose a site" %}

{% block beforeContent %}
  {{ backLink({ href: "/lists" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/lists/date" method="post" novalidate>
        {% set items = [] %}
        {% for site in (sites | sort(false, false, "name")) %}
          {% set items = (items.push({
            text: site.name,
            value: site.id
          }), items) %}
        {% endfor %}

        {{ radios({
          idPrefix: "siteId",
          name: "siteId",
          fieldset: {
            legend: {
              text: "Choose a site",
              size: "l",
              isPageHeading: true
            }
          },
          items: items,
          value: data.siteId
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}

