{% extends 'layout.html' %}

{% set pageName = "Where is the vaccination taking place?" %}

{% set currentSection = "vaccinate" %}


{% block beforeContent %}
    {{ backLink({
      href: "/lists/record/eligibility",
      text: "Back"
    }) }}
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/lists/record/consent" method="post" novalidate>

        {% from 'radios/macro.njk' import radios %}
        {% from 'input/macro.njk' import input %}

        {% set careHtml %}


        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--s" for="care-home">
            Care home details
          </label>
          <div class="nhsuk-hint" id="care-home-hint">
            Search by name or ODS code
          </div>
          <select class="nhsuk-select" id="care-home" name="careHome"
            aria-describedby="care-home-hint" data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
            <option {% if not data.caeHome %}selected{% endif %} value=""></option>

          {% set options = [] %}

          {% for careHome in data.careHomes %}
            {% set options = (options.push({
              label: careHome.name + ", " + careHome.address1 + ", " + careHome.town + ", " + careHome.postcode + " (" + careHome.code + ")",
              value: careHome.code
            }), options) %}
          {% endfor %}

          {% for option in (options | sort(false, true, "label")) %}
            <option value="{{ option.value }}" {% if data.careHome == option.value %}selected{%endif %}>{{ option.label }}</option>
          {% endfor %}

          </select>
        </div>


      {% endset -%}

        {{ radios({
          idPrefix: "location-type",
          name: "locationType",
          fieldset: {
            legend: {
              text: ("Where is the vaccination taking place?" if data.vaccinationToday == 'yes' else "Where did the vaccination take place?"),
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "This is needed for payment and reporting."
          },
          items: [
            {
              text: "Hospital hub for staff and patients",
              value: "Hospital hub for staff and patients",
              checked: (data.locationType === "Hospital hub for staff and patients")
            },
            {
              text: "Vaccination centre open to the public",
              value: "Vaccination centre open to the public",
              checked: (data.locationType === "Vaccination centre open to the public")
            },
            {
              text: "Community pharmacy",
              value: "Community pharmacy",
              checked: (data.locationType === "Community pharmacy")
            },
            {
              value: "Care home",
              text: "Care home",
              checked: (data.locationType === "Care home"),
              conditional: {
                html: careHtml
              }
            },
            {
              text: "Housebound patient’s home",
              value: "Housebound patient’s home",
              checked: (data.locationType === "Housebound patient’s home")
            },
            {
              text: "Outreach event",
              value: "Outreach event",
              checked: (data.locationType === "Outreach event")
            },
            {
              text: "GP clinic",
              value: "GP clinic",
              checked: (data.locationType === "GP clinic")
            }
          ]

          }) }}


          {{ button({
            text: "Continue"
          })}}


      </form>


    </div>
  </div>

{% endblock %}

