{% extends 'layout.html' %}

{% set pageName = "Which batch are you using?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
    {{ backLink({
      href: "/appointments/appointments-recording/vaccine",
      text: "Back"
    }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
      {{ errorSummary({
        titleText: "There is a problem",
        errorList: [
          error
        ]
      }) }}
    {% endif %}

      <form action="/appointments/appointments-recording/eligibility" method="post" novalidate>

          {{ radios({
            "idPrefix": "vaccineBatch",
            "name": "vaccineBatch",
            "fieldset": {
              "legend": {
                "text": ("Which batch are you using?" if data.vaccinationToday == 'yes' else "Which batch was it?"),
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            },
            errorMessage: {
              text: error.text
            } if error,
            "items": [
              {
                "value": "AB2345",
                "text": "AB2345",
                hint: {
                  text: "Expires 14 August 2025"
                },
                checked: (data.vaccineBatch == "AB2345")
              },
              {
                "value": "DE8342",
                "text": "DE8342",
                hint: {
                  text: "Expires 19 August 2025"
                },
                checked: (data.vaccineBatch == "DE8342")
              },
              {
                "value": "LF842",
                "text": "LF842",
                hint: {
                  text: "Expires 28 August 2025"
                },
                checked: (data.vaccineBatch == "LF842")
              },
              {
                "value": "JD8352",
                "text": "JD8352",
                hint: {
                  text: "Expires 3 September 2025"
                },
                checked: (data.vaccineBatch == "JD8352")
              },
              {
                divider: "or"
              },
              {
                "value": "add-new",
                "text": "Add a batch",
                checked: (data.vaccineBatch == "add-new")
              }
            ]
          }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

