  <div class="app-email-preview">
    <p>Dear {{ organisation.name }},</p>

    <p>Your NHS region has invited you to start using the new NHS Record a vaccination service (RAVS).</p>

    <p>The service allows you to safely and quickly record vaccinations.For example, COVID-19, Flu, RSV and Pertussis.</p>

    <p>Please set up your account now: <a href="#">https://ravs.england.nhs.uk/start?code=573895789375</a></p>

    <p>Make sure you give yourself time to add your users and vaccination sites before your next vaccination campaign.</p>

    <p>Many thanks,</p>

    <p>NHS Record a vaccination</p>

  </div>
