  <div class="app-email-preview">
    <p>Dear {{ organisation.name }},</p>

    <p>Your NHS region has invited you to start using the new NHS Record a vaccination service.</p>

    <p>The service allows you to safely and quickly record COVID-19 and flu vaccinations, and others in future.</p>

    <p>Please set up your account now: <a href="#">https://ravs.england.nhs.uk/start?code=573895789375</a></p>

    <p>Delaying this may not give you enough time to add your sites, vaccines and service users before your next vaccination campaign.</p>

    <p>Many thanks,</p>

    <p>NHS Record a vaccination</p>

  </div>
