{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1/awaiting-approval",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Approve Leeds Teaching Hospitals</h1>

      <p>Confirm that Leeds Teaching Hospitals can use RAVS to record vaccinations.</p>

      <p>This email will be sent to the [applicant names] from Leeds Teaching Hospitals.</p>

      {% include "regions/v1/_email-preview.html" %}
   

      <form action="/regions/v1/awaiting-approval" method="post" novalidate="true">
        {{ button({
          "text": "Confirm and send",
          classes: "nhsuk-button"
        }) }}
    </form>

    </div>
  </div>
{% endblock %}
