{% extends 'layout.html' %}

{% block pageTitle %}
  Add another user
{% endblock %}

{% block outerContent %}
  {{ backLink({
    href: "/regions/v1/organisations/" + organisation.code, 
    text: "Back",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Add another user</h1>

      <p>Choose another user for {{ data.nhsTrusts[organisation.code] }}.</p>

      <p>They will receive instructions on setting up their account.</p>

      <form action="/regions/v1/organisations/{{ organisation.code }}/add-email-check" method="post" novalidate>
        
        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName
        }) }}
        
        {{ input({
          "label": {
            "text": "NHS email address"
          },
          value: data.email,
          type: "email",
          "id": "email",
          "name": "email"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
