{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/regions/v1/organisation-details", text: "Back" }) }}

      <h1 class="nhsuk-heading-l">Add a lead user</h1>

      <p>Choose a lead user for {{ organisation.name }} to receive instructions about creating an NHS Record a vaccination account.</p>

      <p>A lead user is responsible for adding their organisation’s users and vaccination sites.</p>

      <form action="/regions/v1/check-and-send" method="post" novalidate>
        {{ input({
          "label": {
            "text": "NHS email address",
            classes: "nhsuk-label--m"
          },
          value: data.email,
          type: "email",
          "id": "email",
          "name": "email"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
