{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/regions/v1/organisation-details", text: "Back" }) }}

      <h1 class="nhsuk-heading-l">Lead user for {{ data.nhsTrusts[data.organisationCode] }}</h1>

      <p>Nominate a lead user from {{ data.nhsTrusts[data.organisationCode] }}.</p>

      <p>They will receive further instructions on how to begin using NHS Record a vaccination.</p>

      <form action="/regions/v1/check-and-send" method="post" novalidate>
        {{ input({
          "label": {
            "text": "Email address",
            classes: "nhsuk-label--m"
          },
          value: data.email,
          type: "email",
          "id": "email",
          "name": "email"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
