{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block outerContent %}
  {{ backLink({ 
    href: "/regions/v1", 
    text: "Back",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-xl">Find an organisation to invite</h1>

      <form action="/regions/v1/organisation-details" method="post">

      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-1" for="organisationCode">
            NHS organisation or community pharmacy
          </label>
        </h1>
        <div class="nhsuk-hint" id="organisationName-hint">
          Search by name or ODS code
        </div>
        <select class="nhsuk-select" id="organisationCode" name="organisationCode"
          data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option selected value=""></option>

          {% for code, name in data.nhsTrusts %}
            <option value="{{ code }}">{{ name }} ({{code }})</option>
          {% endfor %}
          {% for code, data in data.nhsPharmacies %}
            <option value="{{ code }}">{{ data.name }}, {{ data.address }}, {{ data.postcode | upper }} ({{code }})</option>
          {% endfor %}
        </select>
      </div>

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
