{% extends 'layout.html' %}

{% block pageTitle %}
  East of England region
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Awaiting approval</h1>

    </div>
  </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        

        <table role="table" class="nhsuk-table-responsive">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Organisation
                </th>
                <th role="columnheader" class="" scope="col">
                  ODS code
                </th>
                <th role="columnheader" class="" scope="col">
                  Type
                </th>
                <th role="columnheader" class="" scope="col">
                   Date requested
                </th>
                <th role="columnheader" class="" scope="col">
                    
                 </th>
                 <th role="columnheader" class="" scope="col">
                    
                 </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/organisation-request">Leeds Teaching Hospitals </a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">ODS code </span>RR8
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type</span>NHS Trust
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date requested</span>3 April 2025 
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/accept">Accept</a>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/reject">Reject</a>
                  </td>

                  

              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/organisation-request/{{ organisation.id }}">Apex Prime Care</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">ODS code</span>VN0J3
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type</span>NHS Trust
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date requested</span>1 April 2025 
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/accept">Accept</a>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/reject">Reject</a>
                  </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/organisations/{{ organisation.id }}">Oxford Road Pharmacy</a>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">ODS code</span>PP34
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Type</span>Community Pharmacy 
                </td>
                <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Date requested</span>28 March 2025 
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/accept">Accept</a>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Organisation </span><a href="/regions/v1/reject">Reject</a>
                  </td>
              
            </tbody>
          </table>

      </div>
    </div>


{% endblock %}
