{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/regions/v1/add-email", text: "Back" }) }}

      <h1 class="nhsuk-heading-xl">Check and send</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: data.nhsTrusts[data.organisationCode]
            },
            actions: {
              items: [
                {
                  href: "/regions/v1/add-organisation",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Lead user"
            },
            value: {
              html: data["email"]
            },
            actions: {
              items: [
                {
                  href: "/regions/v1/add-email",
                  text: "Change",
                  visuallyHiddenText: "lead user email address"
                }
              ]
            }
          }
        ]
      }) }}

      <p>This is the email that will be sent to {{ data["email"] }}:</p>

      <div class="app-email-preview">
        <p>Dear {{ data.nhsTrusts[data.organisationCode] }},</p>

        <p>Your NHS region has invited you to start using the new service  NHS Record a vaccination service.</p>

        <p>The service allows you to safely and quickly record COVID-19 and flu vaccinations, and others in future.</p>

        <p>Please set up your account now: <a href="#">https://ravs.england.nhs.uk/start?code=573895789375</a></p>

        <p>This will give you time to add your sites, vaccines and service users in advance of your next vaccination campaign.</p>

        <p>Many thanks,</p>

        <p>NHS Record a vaccination</p>

      </div>

      <form action="/regions/v1/add" method="post">
        {{ button({
          "text": "Send invitation"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
