{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1/add-email",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Check and send</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: organisation.name
            },
            actions: {
              items: [
                {
                  href: "/regions/v1/add-organisation",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Lead user"
            },
            value: {
              html: data.firstName + " " + data.lastName + "<br>" + data["email"]
            },
            actions: {
              items: [
                {
                  href: "/regions/v1/add-email",
                  text: "Change",
                  visuallyHiddenText: "lead user email address"
                }
              ]
            }
          }
        ]
      }) }}

      <p>This email will be sent to {{ data["email"] }}:</p>

      {% include "regions/v1/_email-preview.html" %}

      <form action="/regions/v1/add" method="post">
        {{ button({
          "text": "Send invitation"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
