{% extends 'layout.html' %}

{% block pageTitle %}
  East of England region
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Closed organisations</h1>

    </div>
  </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <table role="table" class="nhsuk-table">
          <caption class="nhsuk-table__caption"></caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Organisation
              </th>
              <th role="columnheader" class="" scope="col">
                <nobr>ODS code</nobr>
              </th>
              <th role="columnheader" class="" scope="col">
                Type
              </th>
              <th role="columnheader" class="" scope="col">
                  Date closed
                </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            {% for organisation in organisations %}
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  {{ organisation.name }}
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  {{ organisation.id }}
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <nobr>{{ organisation.type }}</nobr>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <nobr>{{ organisation.dateClosed | govukDate }}</nobr>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>


{% endblock %}
