{% extends 'layout.html' %}

{% block pageTitle %}
  East of England region
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">North West</h1>

      <p class="nhsuk-body-l">Invite an organisation to create an NHS Record a vaccination service (RAVS) account.</p>

      <p class="nhsuk-body-l">Once they’re set up, they can add other users and vaccination sites.</p>

      {% from 'inset-text/macro.njk' import insetText %}

     

      {{ button({
        "text": "Invite an organisation",
        "href": "/regions/v1/add-organisation"
      }) }}

    </div>
  </div>

  {% if (organisations | length) > 0 %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Organisations added</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Organisation
                </th>
                <th role="columnheader" class="" scope="col">
                  ODS code
                </th>
                <th role="columnheader" class="" scope="col">
                  Type
                </th>
                <th role="columnheader" class="" scope="col">
                  Status
                </th>
                <th role="columnheader" class="" scope="col"></th>

              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for organisation in organisations %}
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    <a href="/regions/v1/organisations/{{ organisation.id }}">{{ organisation.name }}</a>
                  </td>
                  <td class="nhsuk-table__cell ">
                    {{ organisation.id }}
                  </td>
                  <td class="nhsuk-table__cell ">
                    {{ organisation.type }}
                  </td>
                  <td class="nhsuk-table__cell ">
                    {{ organisation.status }}
                  </td>
               


                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  {% endif %}

{% endblock %}
