{% extends 'layout.html' %}

{% block pageTitle %}
  On boarding
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


{% set panelHtml %}
 Your NHS region will review your application.
{% endset %}

{{ panel({
titleText: "Thank you",
html: panelHtml
}) }}


      <p>You'll get an email within 7 working days telling you if your NHS region has approved your application or not.</p>

      <form action="/regions/v1/onboarding0" method="post" novalidate="true">

    
        <p><a href="/regions/v1/onboarding0">Make another application</a></p>
    


    </div>
  </div>


{% endblock %}
