{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}




            {% block content %}
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
          
                <h1 class="nhsuk-heading-xl">Apply to use the Record a vaccination service</h1>

                <p>We'll ask you for some contact details, including an NHS-approved email address. See the <a href="https://digital.nhs.uk/services/care-identity-service/applications-and-services/apply-for-care-id/care-identity-email-domain-allow-list" target="_blank">list of approved email domains (opens in new tab)</a>.</p>

                       
                <p>Your NHS region will then review your application. We'll let you know within within 7 working days if it has been approved.</p>

                
                  <form action="/regions/v1/onboarding1" method="post">
          
                
          
                  {{ button({
                    "text": "Continue"
                  }) }}
                </form>
          
          
              </div>
            </div>
          {% endblock %}








