{% extends 'layout.html' %}

{% block pageTitle %}
  On boarding
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


{% set panelHtml %}
 Your NHS region will review your application.
{% endset %}

{{ panel({
titleText: "Thank you",
html: panelHtml
}) }}

        <p>You should now receive an email to verify your application.</p>

      <p>Once verified, you'll then get an email within 7 working days telling you if your NHS region has approved your application or not.</p>


      <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
        Resend verification email
      </button>

      
      <p>You can <a href="/regions/v1/onboarding0">make another application</a>.</p>




    </div>
  </div>


{% endblock %}
