{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}




            {% block content %}
            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
          
                <h1 class="nhsuk-heading-xl">Apply to use the Record a vaccination service</h1>

                <p>You are applying to your region to use the Record a vaccination service. To apply you must have:</p>

                <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>an NHS-approved email address</li>
                    </ul>
                
            

                <p>Your region will assess your application and reply within 7 working days.</p>

                
                  <form action="/regions/v1/onboarding1" method="post">
          
                
          
                  {{ button({
                    "text": "Continue"
                  }) }}
                </form>
          
          
              </div>
            </div>
          {% endblock %}








