{% extends 'layout.html' %}

{% block pageTitle %}
  On boarding
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1/onboarding1",
    text: "Back"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if (firstNameError or lastNameError or emailError or roleError or clinicianError) %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "text": firstNameError,
              "href": "#first-name"
            } if firstNameError,
            {
              "text": lastNameError,
              "href": "#last-name"
            } if lastNameError,
            {
              "text": emailError,
              "href": "#email"
            } if emailError,
            {
              "text": clinicianError,
              "href": "#clinician"
            } if clinicianError,
            {
              "text": permissionLevelError,
              "href": "#permission-level-1"
            } if permissionLevelError
          ]
        }) }}
      {% endif %}

    
      <h1 class="nhsuk-heading-l">Add your contact details</h1>


      <p>Users must have an NHS-approved email address. See the <a href="https://digital.nhs.uk/services/care-identity-service/applications-and-services/apply-for-care-id/care-identity-email-domain-allow-list" target="_blank">list of approved email domains (opens in new tab)</a>.</p>

      <form action="/regions/v1/onboarding3" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName,
          "errorMessage": {
            "text": firstNameError
          } if firstNameError
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName,
          "errorMessage": {
            "text": lastNameError
          } if lastNameError
        }) }}
        {{ input({
          "label": {
            "text": "NHS-approved email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email,
          "errorMessage": {
            "text": emailError
          } if emailError
        }) }}


        <p>If your application is accepted, your Regional Lead will contact you via email.</p>


    
            {{ button({
              "text": "Sumbit application"
            }) }}
          </form>
    

    </div>
  </div>


{% endblock %}
