{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/regions/v1/add-organisation", text: "Back" }) }}

      <h1 class="nhsuk-heading-xl">Check and confirm</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: organisation.name
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              html: organisation.type
            }
          },
          {
            key: {
              text: "ODS code"
            },
            value: {
              text: organisation.code
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: (organisation.address.line1 + "<br>" + organisation.address.town + "<br>" + organisation.address.postcode)
            }
          }
        ]
      }) }}


      {{ button({
        "text": "Continue",
        href: "/regions/v1/add-email"
      }) }}


    </div>
  </div>
{% endblock %}
