{% extends 'layout.html' %}

{% block pageTitle %}
  {{ organisation.name }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    href: "/regions/v1",
    text: "Back to all organisations",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">{{ organisation.name }}</h1>

      {% if organisation.status == 'Invited' %}
        <p>You have invited this organisation to create an NHS Record a vaccination service account.</p>

      {% elseif organisation.status == 'Awaiting contract'  %}
        <p>This organisation has set up their users and is ready to use the service.</p>

        <p>They cannot record vaccinations until you activate the organisation’s account. You should do this once all relevant checks and contracts have been agreed. </p>

        {{ button({
          text: "Activate organisation",
          href: "/regions/v1/organisations/" + organisation.code + '/activate'
        }) }}

      {% elseif organisation.status == 'Active'  %}
        <p>The organisation can record vaccinations.</p>
      {% endif %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {% if (organisation.leadUsers | length) > 0 %}
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Lead users</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Email address
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
              <th role="columnheader" class="" scope="col">

              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for leadUser in organisation.leadUsers %}
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  {{ leadUser.email }}
                </td>
                <td class="nhsuk-table__cell ">
                  {{ leadUser.status }}
                </td>
                <td class="nhsuk-table__cell ">
                  {% if leadUser.status == 'Invite' %}
                    <a href="#">Resend invitation</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% set buttonText = "Add another lead user" if (organisation.leadUsers | length) > 0  else "Add a lead user" %}

      {% if organisation.status == 'Invited' %}
        {{ button({ text: buttonText, href: "/regions/v1/organisations/" + organisation.code + "/add-email"}) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
