{% extends 'layout.html' %}

{% block pageTitle %}
  {{ organisation.name }}
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1/test-home",
    text: "Back to all organisations"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">Norfolk and Norwich University Hospitals NHS Foundation Trust</h1>
     
      <p>The organisation can record vaccinations.</p>

      <p><a href="/regions/v1/deactivate">Deactivate organisation</a></p>
      
    </div>
  </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">Users</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Email address
            </th>
            <th role="columnheader" class="" scope="col">
              Staus
            </th>
            <th role="columnheader" class="" scope="col">
              
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Lauryn Freeman
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Email address </span>lauryn.freeman12@nhs.net
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Staus </span>Active
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Example </span>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>John Smith
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Email address </span>john.smith1234@nhs.net
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Staus </span>Active
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Example </span>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Jane Doe
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Email address </span>jane.doe.rules2004@hotmail.co.uk
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Staus </span>Invited
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading" aria-hidden="true">Example </span><a href="/regions/v1/organisation-active">Univite</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <br>
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Add user
  </button>

{% endblock %}
