{% extends 'layout.html' %}

{% block pageTitle %}
  {{ organisation.name }}
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1",
    text: "Back to all organisations"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ organisation.name }}</h1>

      {% if organisation.status == 'Invited' %}
        <p>You have invited this organisation to create an NHS Record a vaccination service account.</p>

      {% elseif organisation.status == "Deactivated" %}

        <p>This organisation has been deactivated.<br><br>It will be closed in <b>90 days</b>. </p>

        <p><a href="/regions/v1/organisations/{{ organisation.id }}/reactivate">Reactivate organisation</a></p>

      {% else  %}
        <p>The organisation can record vaccinations.</p>

        <p><a href="/regions/v1/organisations/{{organisation.id}}/deactivate">Deactivate organisation</a></p>

      {% endif %}
    </div>
  </div>

  {% if organisation.status == 'Invited' or organisation.status == 'Active' %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        {% if (users | length) > 0 %}
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Users</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Name
                </th>
                <th role="columnheader" class="" scope="col">
                  Email address
                </th>
                <th role="columnheader" class="" scope="col">
                  Status
                </th>
                <th role="columnheader" class="" scope="col">

                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for leadUser in users %}

                {% set userOrganisationSettings = (leadUser.organisations | findById(organisation.id)) %}

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    {{ leadUser.firstName }} {{ leadUser.lastName }}
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ leadUser.email }}
                  </td>
                  <td class="nhsuk-table__cell ">
                    {{ userOrganisationSettings.status }}
                  </td>
                  <td class="nhsuk-table__cell app-table__cell--right-aligned">
                    {% if userOrganisationSettings.status == 'Invited' %}
                      <a href="/regions/v1/organisations/{{ organisation.id }}/users/{{ leadUser.id }}/uninvite">Uninvite</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% set buttonText = "Add another user" if (organisation.leadUsers | length) > 0  else "Add user" %}

        {{ button({ text: buttonText, href: "/regions/v1/organisations/" + organisation.id + "/add-email"}) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
