{% extends 'layout.html' %}

{% block pageTitle %}
  East of England region
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/v1/awaiting-approval",
    text: "Back"
  }) }}
{% endblock %}



{% set organisationSettings = currentUser.organisations | findById(currentOrganisation.id) %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Leeds Teaching Hospitals</h1>
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            ODS code
          </dt>
          <dd class="nhsuk-summary-list__value">
            RR8
          </dd>
        </div>

       
      
      
         
      
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            73 Roman Rd<br>Leeds<br> LS2 5ZN
          </dd>
      
          <dd class="nhsuk-summary-list__actions">
      
          </dd>
      
        </div>
      


        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            karen.francis@nhs.net
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Phone
          </dt>
          <dd class="nhsuk-summary-list__value">
            07712 348902
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date requested
          </dt>
          <dd class="nhsuk-summary-list__value">
            3 April 2025
          </dd>
        </div>
      

    </div>
  </div>


{% endblock %}
