{% extends 'layout.html' %}

{% block pageTitle %}
  Uninvite {{ user.firstName }} {{ user.lastName }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    href: "/regions/v1/organisations/" + organisation.code,
    text: "Back",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Uninvite {{ user.firstName }} {{ user.lastName }}</h1>


      {% if numberOfActiveUsers === 0 %}
        <p><strong>{{ organisation.name }} will be removed</strong></p>
      {% endif %}

      <p>Once you uninvite {{ user.firstName }} {{ user.lastName }} ({{ user.email}}), they cannot sign in and use NHS Record a vaccination.</p>

      <p>You can reinvite this person anytime.</p>

      <form action="/regions/v1/organisations/{{ organisation.code }}/users/{{ user.id }}/uninvited" method="post" novalidate="true">
        {{ button({
          "text": "Confirm, uninvite user",
          classes: "nhsuk-button--warning"
        }) }}
      </form>

    </div>
  </div>


{% endblock %}
