{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% block header %}
  {% include "user-admin/v3/_header.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/user-admin/v3", text: "Back" }) }}

      <h1 class="nhsuks-heading-xl">Add user</h1>

      <form action="/user-admin/v3/check" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email
        }) }}
        
        
        {% set otherClincianTypes = ["chiropodist", "podiatrist", "dietician", "occupational therapist", "operating department practitioner", "orthoptist", "orthotist", "prosthetist", "paramedic", "physiotherapist", "radiographer", "speech and language therapist", "dental hygienist", "dental therapist","optometrists"]  %}
        
        {% set otherItems = [] %}
        
        {% for otherType in (otherClincianTypes | sort) %}
          {% set otherItems = (otherItems.push({
          "value": otherType, text: otherType
          }), otherItems) %}
        {% endfor %}
        
      {% set otherTypeHtml %}
        {{ select({
          label: {
            text: "Clinician type"
          },
          "items": otherItems
        }) }}
      {% endset %}
        
      {{ radios({
        "name": "professionalBody",
        "fieldset": {
          "legend": {
            "text": "Clinical role"
          }
        },
        hint: {
          text: "Only registered clinicians can assess patients"
        },
        "items": [
          {
            "value": "doctor",
            "text": "Doctor"
          },
          {
            "value": "midwife",
            "text": "Midwife"
          },      
          {
            "value": "nurse",
            "text": "Nurse"
          },
          {
            "value": "pharmacist",
            "text": "Pharmacist"
          },
          {
            "value": "podiatrist",
            "text": "Another type of clinican",
            conditional: {
              html: otherTypeHtml
            }
          },
          {
            "divider": "or"
          },
          {
            "value": "nonClinical",
            "text": "Not a registered clinician",
            hint: {
              text: "They will have to select a registered clinician responsible for assessing each vaccination"
            }
          }
        ]
      }) }}        

        {{ radios({
          "name": "role",
          "fieldset": {
            "legend": {
              "text": "Permission level"
            }
          },
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              checked: (data.role == "Recorder"),
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              checked: (data.role == "Administrator"),
              "hint": {
                "text": "Record vaccinations and manage vaccine products and batches"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              checked: (data.role == "Lead administrator"),
              "hint": {
                "text": "Record vaccinations, manage vaccine products and batches, and users"
              }
            }
          ]
        }) }}


        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
