<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">By site</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col" aria-sort="ascending">
        Site
      </th>
      <th role="columnheader" class="nhsuk-table__header--numeric" scope="col" aria-sort="none">
        Today
      </th>
      <th role="columnheader" class="nhsuk-table__header--numeric" scope="col" aria-sort="none">
        Yesterday
      </th>
      <th role="columnheader" class="nhsuk-table__header--numeric" scope="col" aria-sort="none">
        <span style="display:block;">{{ lastCalendarWeekHeaderLineOne }}</span>
        <span style="display:block;">{{ lastCalendarWeekHeaderLineTwo }}</span>
      </th>
      <th role="columnheader" class="nhsuk-table__header--numeric" scope="col" aria-sort="none">
        {{ (lastCalendarMonth | monthName) }} {{ lastCalendarMonthYear }}
      </th>
      <th role="columnheader" class="nhsuk-table__header--numeric" scope="col" aria-sort="none">
        {{ (monthToday | monthName) }} {{ currentYear }}
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for totalBySite in (totalsBySite | sort(false, false, "siteName")) %}
      {% set site = sites | findById(totalBySite.siteId) %}
      <tr>
        <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row">
          {{ site.name }} ({{ totalBySite.siteId }})
        </th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          {{ totalBySite.today }}
        </td>
        <td class="nhsuk-table__cell--numeric">
          {{ totalBySite.yesterday }}
        </td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          {{ totalBySite.lastCalendarWeek }}
        </td>
        <td class="nhsuk-table__cell--numeric">
          {{ totalBySite.lastCalendarMonth }}
        </td>
        <td class="nhsuk-table__cell--numeric">
          {{ totalBySite.thisMonth }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
