<ul class="nhsuk-grid-row nhsuk-card-group">

  {% set topStats = [] %}

  {% set topStats = (topStats.push({
    label: "Today",
    value: totalVaccinationsRecordedToday
  }), topStats) %}

  {% set topStats = (topStats.push({
    label: "Yesterday",
    value: totalVaccinationsRecordedYesterday
  }), topStats) %}

  {% set topStats = (topStats.push({
    label: "Last calendar week",
    hint: lastCalendarWeekStartLabel + " to " + lastCalendarWeekEndLabel,
    value: totalVaccinationsRecordedLastCalendarWeek
  }), topStats) %}

  {% set topStats = (topStats.push({
    label: "Month to date",
    hint: (monthToday | monthName) + " " + currentYear,
    value: totalVaccinationsRecordedThisMonth
  }), topStats) %}

  {% for stat in topStats %}
    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {% set cardHtml %}
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">{{ stat.value }}</p>
        {{ stat.label }}
        {% if stat.hint %}
          <br>
          <span class="nhsuk-hint nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-0">{{ stat.hint }}</span>
        {% endif %}
      {% endset %}

      {{ card({
        headingHtml: cardHtml
      }) }}
    </li>
  {% endfor %}

</ul>
