{% extends 'layout.html' %}

{% if currentOrganisation %}
  {% set pageName = currentOrganisation.name + " - Dashboard" %}
{% else %}
  {% set pageName = "Dashboard" %}
{% endif %}
{% set currentSection = "home" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "includes/notification.html" %}

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">{% if currentOrganisation %}{{ currentOrganisation.name }}{% else %}PCT Healthcare{% endif %}</h1>

      {{ insetText({
        text: "The data shown here is based on the date the vaccination was given."
      }) }}


      {% if currentOrganisation and totalVaccinationsRecorded == 0 %}
        {% include "dashboard/_no-vaccinations-recorded.html" %}
      {% endif %}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">All vaccinations</h2>
      <p class="nhsuk-caption-m nhsuk-u-margin-top-0">Last updated: {{ dashboardLastUpdated }}</p>
      {% if not currentOrganisation %}
      <p>This shows vaccination data for all your organisations combined.</p>
      {% endif %}


    </div>
  </div>

  {% include "dashboard/_vaccination-totals.html" %}

  {% if totalVaccinationsRecorded > 0 %}

    {% set byDayHtml %}
      {% include "dashboard/_by-day.html" %}
    {% endset %}

    {% set byVaccinationHtml %}
      {% include "dashboard/_by-vaccine.html" %}
    {% endset %}

    {% set bySiteHtml %}
      {% include "dashboard/_by-site.html" %}
    {% endset %}

    {% set byPharmacyHtml %}
      {% include "dashboard/_by-pharmacy.html" %}
    {% endset %}


    {{ tabs({
      items: [
      {
        label: "By vaccination",
        id: "by-vaccination",
        selected: true,
        panel: {
          html: byVaccinationHtml
          }
        },
        {
        label: "By day",
        id: "past-7-days",
          panel: {
            html: byDayHtml
          }
        },
        {
          label: "By site",
          id: "by-site",
          panel: {
            html: bySiteHtml
          }
        } if (totalsBySite | length) > 1,
        {
          label: "By pharmacy",
          id: "by-pharmacies",
          panel: {
            html: byPharmacyHtml
          }
        } if (pharmacies | length) > 1
      ]
    }) }}

    <p>For a more detailed breakdown, <a href="/reports">create a report</a>.</p>
  {% endif %}
{% endblock %}
