{% extends 'layout.html' %}

{% set currentSection = "pharmacies-users" %}

{% set pageName = "Add pharmacies" %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/users/" + user.id
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="/pharmacies/users/{{ user.id }}/add-to-permission-level" method="post">

      {% set items = [] %}

      {% for pharmacy in pharmacies %}
        {% set items = (items.push({
          text: pharmacy.name + ", " + pharmacy.address.postcode + " (" + pharmacy.id + ")",
          value: pharmacy.id
        }), items) %}
      {% endfor %}

      {% call fieldset({
        legend: {
          text: "Which pharmacy would you like to add " + user.firstName + " " + user.lastName + " to?",
          size: "l"
        }
      }) %}

        {% if (pharmacies | length) > 10 %}
          {{ input({
            id: "pharmacy-search",
            name: "pharmacySearch",
            type: "search",
            label: {
              text: "Search"
            },
            classes: "nhsuk-input--width-20",
            attributes: {
              "data-module": "app-radios-filter"
            },
            formGroup: {
              classes: "nhsuk-u-margin-bottom-4"
            }
          }) }}
        {% endif %}

        <div class="app-scrollable-container">
          {{ radios({
            id: "pharmacy-id",
            name: "pharmacyId",
            value: data.pharmacyId,
            items: items
          }) }}
        </div>

      {% endcall %}

      {{ button({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}
