{% extends 'layout.html' %}

{% set currentSection = "pharmacies-users" %}

{% set pageName = "Add pharmacies" %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/users/" + user.id + "/add-to"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/pharmacies/users/{{ user.id }}/add-to-check" method="post">

        <h1 class="nhsuk-heading-l">What should {{ user.firstName }} {{ user.lastName}}'s role at {{ pharmacy.name }} be?</h1>

        {{ radios({
          name: "permissionLevel",
          idPrefix: "permission-level",
          fieldset: {
            legend: {
              text: "Permission level",
              size: "s"
            }
          },
          value: data.permissionLevel,
          items: [
            {
              value: "Recorder",
              text: "Recorder",
              hint: {
                text: "Record vaccinations only"
              }
            },
            {
              value: "Administrator",
              text: "Administrator",
              hint: {
                text: "Record vaccinations, create reports and manage vaccines"
              }
            },
            {
              value: "Lead administrator",
              text: "Lead administrator",
              hint: {
                text: "Record vaccinations, create reports, manage vaccines and users"
              }
            }
          ]
        }) }}

        {{ radios({
          name: "vaccinator",
          fieldset: {
            legend: {
              text: "Are they a vaccinator?",
              size: "s"
            }
          },
          hint: {
            text: "Vaccination records include the name of the person who gave the vaccination"
          },
          value: data.vaccinator,
          items: [
            {
              value: "yes",
              text: "Yes",
              id: "vaccinator"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
