{% extends 'layout.html' %}

{% set currentSection = "pharmacies-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/users/new",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check and add {{ "group administrator" if data.permissionLevel == "Group administrator" else "user" }}</h1>

      {% set pharmaciesHtml %}
        <ul class="nhsuk-list">
          {% for pharmacy in pharmacies %}
            <li>{{ pharmacy.name }}</li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.firstName + " " + data.lastName
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: data.email
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/users/new",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              html: data.vaccinator | capitalize
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/users/new-permission-level",
                  text: "Change",
                  visuallyHiddenText: "vaccinator"
                }
              ]
            }
          } if data.groupAdministrator != "yes",
          {
            key: {
              text: "Permission level"
            },
            value: {
              html: ("Group administrator" if data.groupAdministrator == "yes" else data.permissionLevel)
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/users/new",
                  text: "Change",
                  visuallyHiddenText: "permission level"
                }
              ]
            }
          },
          {
            key: {
              text: "Pharmacies"
            },
            value: {
              html: pharmaciesHtml
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/users/new-select-pharmacies",
                  text: "Change",
                  visuallyHiddenText: "pharmacies"
                }
              ]
            }
          } if data.groupAdministrator != "yes"
        ]
      }) }}

      <p>{{ data.firstName }} will receive this welcome email with information about activating an account:</p>

      <div class="app-email-preview">
        {% include "pharmacies/users/welcome-email-group-admin.html" %}
      </div>

      <form action="/pharmacies/users/check-answer" method="post">
        {{ button({
          "text": "Confirm and send"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
