{% extends 'layout.html' %}

{% set pageName = "Deactivate account" %}

{% set currentSection = "pharmacies-users" %}

{% block beforeContent %}
  {{ backLink({
    href: ("/pharmacies/" + pharmacy.id) if from == "pharmacy" else ("/pharmacies/users/" + user.id),
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">Deactivate {{ user.firstName }} {{ user.lastName }} from {{ pharmacy.name }} ({{ pharmacy.id }})</h1>

      <p>Once you deactivate {{ user.firstName }} {{ user.lastName }} ({{ user.email}}), they will not be able to sign in and use NHS Record a vaccination at this pharmacy. They’ll get an email to confirm their account has been deactivated.</p>

      <p>Their Okta account will remain active, so they can continue to access other services.</p>

      <p>You can reactivate their account anytime.</p>

      <form action="/pharmacies/{{ pharmacy.id }}/users/{{ user.id }}/deactivate-from-pharmacy-answer?from={{ from }}" method="post" novalidate="true">
        {{ button({
          "text": "Deactivate",
          classes: "nhsuk-button--warning"
        }) }}
      </form>

    </div>
  </div>


{% endblock %}
