{% extends 'layout.html' %}

{% set pageName = "Deactivate account" %}

{% set currentSection = "pharmacies-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/users",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Deactivate {{ user.firstName }} {{ user.lastName }} from {{ groupName }}</h1>

      <p>Once you deactivate {{ user.firstName }} {{ user.lastName }} ({{ user.email }}), they will no longer have access to NHS Record a vaccination as a group administrator for (Pharmacy company). They’ll receive an email to confirm their account has been deactivated.</p>

      <p>Their Okta account will remain active, so they can continue to access other services.</p>

      <p>You can add them back to RAVS anytime.</p>

      <form action="/pharmacies/{{ groupId }}/users/{{ user.id }}/deactivate-from-group-answer" method="post" novalidate="true">
        {{ button({
          "text": "Deactivate",
          classes: "nhsuk-button--warning"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
