{% extends 'layout.html' %}

{% set currentSection = "pharmacies-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/users/new-select-pharmacies"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Check pharmacies</h1>

      <p>You are adding {{ data.firstName }} {{ data.lastName }} to these pharmacies.</p>

      {% set rows = [] %}

      {% for pharmacy in pharmacies %}

        {% set removeHtml %}
          <a class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-0" href="/pharmacies/users/new-select-pharmacies-check/remove/{{ pharmacy.id }}" role="button" draggable="false">Remove</a>
        {% endset %}

        {% set rows = (rows.push([
          { text: pharmacy.name + ", " + pharmacy.address.postcode + " (" + pharmacy.id + ")" },
          { html: removeHtml }
        ]), rows) %}
      {% endfor %}


      {{ table({
        head: [
          { text: "Pharmacy" },
          { text: "" }
        ],
        rows: rows
      }) }}


      {{ button({
        text: "Continue",
        href: "/pharmacies/users/new-permission-level"
      }) }}

    </div>
  </div>

{% endblock %}
