{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{{ header({
  service: {
    text: "Record a vaccination",
    href: "/"
  },
  account: {
    items: [
      {
        href: "/user-profile",
        text: currentUser.email,
        icon: true
      },
      {
        href: '/sign-out',
        text: 'Log out'
      } if data.currentUserId
    ]
  },
  navigation: {
    items: [
      {
        href: "/home/",
        text: "Home",
        active: (currentSection == "home")
      },
      {
        href: "/find-a-patient",
        text: ("Find a patient") | safe,
        active: (currentSection == "find-a-patient")
      },
      {
        href: "/record-vaccinations",
        text: ("Record vaccinations <span class=\"nhsuk-tag app-tag--header nhsuk-u-margin-left-2\">New</span>") | safe,
        active: (currentSection == "vaccinate")
      },
      {
        href: "/vaccines",
        text: "Vaccines",
        active: (currentSection == "vaccines")
      } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
      {
        href: "/records",
        text: "Records",
        active: (currentSection == "records")
      } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
      {
        href: "/reports",
        text: "Reports",
        active: (currentSection == "reports")
      } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
      {
        href: '/user-admin',
        text: 'Manage users',
        active: (currentSection == "manage-users")
      } if (currentUser and organisationSetting.permissionLevel === "Lead administrator")
    ]
  }
}) }}
