{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{{ header({
  service: {
    text: "Record a vaccination",
    href: "/"
  },
  account: {
    items: [
      {
        href: "/user-profile",
        text: currentUser.email,
        icon: true
      } if currentUser,
      {
        href: '/sign-out',
        text: 'Log out'
      } if data.currentUserId,
      {
        href: "/auth/okta-sign-in",
        text: "Log in"
      } if not data.currentUserId
    ]
  },
  navigation: {
    items: [
      {
        href: "/home/",
        text: "Home",
        active: (currentSection == "home")
      } if currentUser,
      {
        href: "/record-vaccinations",
        text: "Record vaccinations",
        active: (currentSection == "vaccinate")
      } if currentUser,
      {
        href: "/vaccines",
        text: "Vaccines",
        active: (currentSection == "vaccines")
      } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
      {
        href: "/records",
        text: "Records",
        active: (currentSection == "records")
      } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
      {
        href: "/reports",
        text: "Reports",
        active: (currentSection == "reports")
      } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
      {
        href: '/user-admin',
        text: 'Manage users',
        active: (currentSection == "manage-users")
      } if (currentUser and organisationSetting.permissionLevel === "Lead administrator")
    ] if data.currentUserId
  }
}) }}
