{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{{ header({
    classes: "nhsuk-header--left",
    "service": {
        "name": "Record a vaccination",
        "href": "/"
      },
      "showNav": "true",
      "showSearch": "false",
      "primaryLinks": [
        {
          url  : "/home/",
          label : "Home",
          classes: ("app-header__navigation-item--current" if currentSection == "home")
        },
        {
          url  : "/vaccinate",
          label : "Record vaccinations",
          classes: ("app-header__navigation-item--current" if currentSection == "vaccinate")
        },
        {
          url: "/vaccines",
          label: "Vaccines",
          classes: ("app-header__navigation-item--current" if currentSection == "vaccines")
        } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
        {
          url: "/find-a-record",
          label: "Find a record",
          classes: ("app-header__navigation-item--current" if currentSection == "find-a-record")
        } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),

        {
          url: "/reports",
          label: "Reports",
          classes: ("app-header__navigation-item--current" if currentSection == "reports")
        } if (currentUser and (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel))),
        {
          url: '/user-admin',
          label: 'Manage users',
          classes: ("app-header__navigation-item--current" if currentSection == "manage-users")
        } if (currentUser and organisationSetting.permissionLevel === "Lead administrator"),
        {
          url: "/user-profile/v2",
          label: currentUser.email,
          classes: "app-header__navigation-item--right-aligned " + ("app-header__navigation-item--current" if currentSection == "user-profile")
        },
        {
          url: '/sign-out',
          label: 'Log out'
        }
      ] if data.currentUserId
    })
  }}
