{{ header({
  "service": {
      "text": "Record a vaccination",
      "href": "/"
    },
    "showNav": "true",
    "showSearch": "false",
    account: {
      items: [
        {
          href: "#",
          text: currentUser.email,
          icon: true
        },
        {
          href: '/sign-out',
          text: 'Log out'
        }
      ]
    },
    "navigation": {
      items: [
      {
        href: "/support/regions",
        text : "Regions",
        active: (currentSection == "regions")
      },
      {
        href: "/support/users",
        text : "Users",
        active: (currentSection == "users")
      },
      {
        url  : "/support/organisations",
        label : "Organisations",
        active: (currentSection == "organisations")
      },
      {
        url: "#",
        label: currentUser.email,
        classes: "app-header__navigation-item--right-aligned " + ("app-header__navigation-item--current" if currentSection == "user-profile")
      },
      {
        url: '/sign-out',
        label: 'Log out'
      }
    ] }
  })
}}
