{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% set navigationItems = [] %}

{% if currentUser and currentOrganisation and not (currentOrganisation.type === "Region")  %}

  <!-- All users -->
  {% set navigationItems = (navigationItems.push({
    href: "/home/",
    text: "Home",
    active: (currentSection == "home")
  }), navigationItems) %}
  {% set navigationItems = (navigationItems.push({
    href: "/record-vaccinations",
    text: "Record vaccinations",
    active: (currentSection == "vaccinate")
  }), navigationItems) %}

  <!-- Admins or lead admins -->
  {% if (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel)) %}
    {% set navigationItems = (navigationItems.push({
      href: "/vaccines",
      text: "Vaccines",
      active: (currentSection == "vaccines")
    }), navigationItems) %}
  {% endif %}

  <!-- All users -->
  {% set navigationItems = (navigationItems.push({
    href: "/records",
    text: "Records",
    active: (currentSection == "records")
  }), navigationItems) %}

  <!-- Admins or lead admins -->
  {% if (["Lead administrator", "Administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel)) %}
    {% set navigationItems = (navigationItems.push({
      href: "/reports",
      text: "Reports",
      active: (currentSection == "reports")
    }), navigationItems) %}
  {% endif %}

  <!-- Lead admins only -->
  {% if (["Lead administrator"] | arrayOrStringIncludes(organisationSetting.permissionLevel)) %}
    {% set navigationItems = (navigationItems.push({
      href: '/user-admin',
      text: 'Manage users',
      active: (currentSection == "manage-users")
    }), navigationItems) %}
  {% endif %}
{% endif %}

<!-- Regional users -->
{% if currentUser and currentOrganisation and (currentOrganisation.type === "Region")  %}

  {% set inboxCount = (currentOrganisation.inbox | length) %}

  {% set navigationItems = (navigationItems.push({
    href: "/regions",
    text: "Organisations",
    active: (currentSection == "organisations")
  }), navigationItems) %}

  {% set navigationItems = (navigationItems.push({
    href: "/regions/messages",
    text: ("Messages <span class=\"app-count\">" + inboxCount +"</span>") | safe,
    active: (currentSection == "messages")
  }), navigationItems) %}

{% endif %}

{{ header({
  service: {
    text: "Record a vaccination",
    href: "/"
  },
  account: {
    items: [
      {
        href: "/user-profile",
        text: currentUser.email,
        icon: true
      } if currentUser,
      {
        href: '/sign-out',
        text: 'Log out'
      } if data.currentUserId,
      {
        href: "/auth/okta-sign-in",
        text: "Log in"
      } if not data.currentUserId
    ]
  },
  navigation: {
    items: navigationItems
  }
}) }}
