{% set inboxCount = (currentRegion.inbox | length) %}

{{ header({
  classes: "nhsuk-header--left",
  service: {
    text: "Record a vaccination",
    href: "/"
  },
  account: {
    items: [
      {
        href: "/regions",
        text: "Organisations",
        classes: ("app-header__navigation-item--current" if currentSection == "organisations")
      },
      {
        href: "/regions/messages",
        text: ("Messages <span class=\"app-count\">" + inboxCount +"</span>") | safe,
        classes: ("app-header__navigation-item--with-count " + ("app-header__navigation-item--current" if currentSection == "messages"))
      },
      {
        href: "#",
        text: currentUser.email,
        classes: "app-header__navigation-item--right-aligned " + ("app-header__navigation-item--current" if currentSection == "user-profile")
      },
      {
        href: '/sign-out',
        text: 'Log out'
      }
    ]
  }
}) }}
