{{ header({
  "service": {
      "text": "Record a vaccination",
      "href": "/"
    },
    "showNav": "true",
    "showSearch": "false",
    account: {
      items: [
        {
          href: "#",
          text: currentUser.email,
          icon: true
        },
        {
          href: '/sign-out',
          text: 'Log out'
        }
      ]
    },
    "navigation": {
      items: [
      {
        href: "/support/regions",
        text : "Regions",
        active: (currentSection == "regions")
      },
      {
        href: "/support/users",
        text : "Users",
        active: (currentSection == "users")
      }
    ] }
  })
}}
