 {% set html %}
  <p class="nhsuk-notification-banner__heading">
    Our contact details have changed. See our new <a href="/help-and-support">Help and support</a> page.
  </p>

  <!-- <p class="nhsuk-notification-banner__heading">
    The service will be unavailable from 8pm until 11pm on Monday 12 February.
  </p> -->

  <!-- <p class="nhsuk-notification-banner__heading">
    We are aware of errors when saving vaccinations and are working on a fix.
  </p> -->
{% endset %}

{# Uncomment this to show the notification banner #}
{# {{ notificationBanner({
  html: html
}) }} #}
