{% extends 'layout.html' %}

{% set currentSection = "pharmacies" %}
{% set pageName = "Add user to " + organisation.name  %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/" + organisation.id
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>You can add an existing user to the pharmacy, or invite a new user.</p>

      <form data-module="app-add-another" data-add-another-min="0" action="" method="post">

      {% set items = [] %}

      {% for user in (users | sort(false, false, "firstName")) %}
        {% set items = (items.push({
          text: user.firstName + " " + user.lastName,
          value: user.id
        }), items) %}
      {% endfor %}

      {{ checkboxes({
        fieldset: {
          legend: {
            text: "Existing users",
            size: "m"
          }
        },
        items: items
      }) }}

      <div>

      {# Ordinal suffixes for numbers 1-10 #}

      {% for index in range(0, 1) %}
        <div id="lead-administrator-{{ index + 1 }}" data-add-another-item="{{ index + 1 }}">
          <h2 class="nhsuk-heading-m">New user details</h2>

          <div hidden>
            {{ button({
              id: "remove-lead-admin-" + (index + 1),
              text: "Remove",
              type: "button",
              classes: "nhsuk-button--secondary",
              attributes: {
                "data-add-another-remove": (index + 1) | string
              }
            }) }}
          </div>

          {{ input({
            label: {
              text: "First name"
            },
            id: "first-name-" + (index + 1),
            name: "firstName",
            classes: "nhsuk-input--width-20",
            value: data.firstName[index]
          }) }}

          {{ input({
            label: {
              text: "Last name"
            },
            id: "last-name-" + (index + 1),
            name: "lastName",
            classes: "nhsuk-input--width-20",
            value: data.lastName[index]
          }) }}

          {{ input({
            label: {
              text: "Email address"
            },
            hint: {
              html: "Use a personal nhs.net email, not a pharmacy email.<br>For example, joe.bloggs1@nhs.net"
            },
            id: "email-" + (index + 1),
            name: "email",
            type: "email",
            value: data.email[index]
          }) }}
        </div>
      {% endfor %}

      <div class="nhsuk-button-group" id="add-another-wrapper" hidden>
        {{ button({
          id: "add-lead-admin",
          text: "Add a new lead administrator",
          type: "button",
          classes: "nhsuk-button--secondary",
          attributes: {
            "data-add-another-add": "true",
            "data-add-another-text-first": "Invite a new user",
            "data-add-another-text-another": "Invite another new user"
          }
        }) }}
      </div>


      {{ button({
        text: "Continue"
      }) }}

      </form>


    </div>
  </div>
{% endblock %}
