{% extends 'layout.html' %}

{% set pageName = "Check" %}
{% set currentSection = "pharmacies" %}


{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/" + organisation.id + "/add-user-permission-level",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check and {% if existingUserWithSameEmail %}reactivate{% else %}add{% endif %} user to {{ organisation.name }} ({{ organisation.id }})</h1>

      {% set nameText %}
        {% if existingUser %}
          {{ existingUser.firstName }} {{ existingUser.lastName }}
        {% else %}
          {{ data.firstName }} {{ data.lastName }}
        {% endif %}
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: nameText
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/" + organisation.id + "/add-user",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: (existingUser.email if existingUser else data.email)
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/" + organisation.id + "/add-user",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              html: (data.vaccinator | capitalize)
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/" + organisation.id + "/add-user-permission-level",
                  text: "Change",
                  visuallyHiddenText: "vaccinator status"
                }
              ]
            }
          },
          {
            key: {
              text: "Permission level"
            },
            value: {
              html: data.permissionLevel
            },
            actions: {
              items: [
                {
                  href: "/pharmacies/" + organisation.id + "/add-user-permission-level",
                  text: "Change",
                  visuallyHiddenText: "permission level"
                }
              ]
            }
          }
        ]
      }) }}


      {% if existingUser %}
        <p>{{ existingUser.firstName }} will be sent this email:</p>
      {% else %}
        <p>{{ data.firstName }} will receive this welcome email with information about activating an account:</p>
      {% endif %}

      <div class="app-email-preview">
        {% if existingUserWithSameEmail %}
          {% include "user-admin/_reactivation-email.html" %}
        {% else %}
          {% include "user-admin/_welcome-email.html" %}
        {% endif %}
      </div>

      <form action="/pharmacies/{{ organisation.id }}/user-added" method="post">
        {{ button({
          "text": "Confirm and send"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
