{% extends 'layout.html' %}

{% set currentSection = "pharmacies" %}
{% set pageName = "Check your list of pharmacies" %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/select"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

        <p>You have selected {{ pharmacies | length | plural("pharmacy") }}.</p>

        <table>
          <thead>
            <tr>
              <th>Pharmacy</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            {% for pharmacy in pharmacies %}
              <tr>
                <td>{{ pharmacy.name }}, {{ pharmacy.address.postcode }} ({{ pharmacy.id }})</td>
                <td class="nhsuk-u-text-align-right">
                  {% if pharmacies | length > 1 %}
                    <form action="#" method="post">
                    <input type="hidden" name="pharmacyIdToRemove" value="{{ pharmacy.id }}">
                    {{ button({
                      text: "Remove",
                      classes: "nhsuk-button--small nhsuk-button--secondary nhsuk-u-margin-bottom-0"
                    }) }}
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}

          </tbody>
        </table>

      <form action="#">
        {{ button({
          href: "/pharmacies",
          text: "Confirm and add"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
