{% extends 'layout.html' %}

{% set currentSection = "pharmacies" %}
{% set pageName = "Edit vaccines for " + organisation.name %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies/" + organisation.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="/pharmacies/{{ organisation.id }}/update-vaccines" novalidate>
        {% set items = [] %}

        {% for vaccine in (allVaccines | sort(false, false, "name")) %}
          {% set items = (items.push({
            value: vaccine.name,
            text: "MenB" if vaccine.name == "MenB" else (vaccine.name | capitaliseFirstLetter)
          }), items) %}
        {% endfor %}

        {{ checkboxes({
          name: "vaccinesEnabled",
          fieldset: {
            legend: {
              text: "Which vaccines can this pharmacy record?",
              size: "l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Checking a vaccine will make it available for this pharmacy. Unchecking a vaccine will remove it from this pharmacy."
          },
          items: items,
          values: enabledVaccineNames
        }) }}

        {{ button({
          text: "Save changes"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
