{% extends 'layout.html' %}

{% set currentSection = "pharmacies" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {% if added %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            {{ added }} pharmacies added
          </h3>
          <p>You can now add or assign users to these pharmacies.</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Pharmacies</h1>

      <p>Add new pharmacies or manage an existing pharmacy.</p>

      {{ button({
        text: "Add pharmacies",
        href: "/pharmacies/select"
      }) }}

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption nhsuk-table__caption--m">Current pharmacies ({{ organisations | length }})</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Vaccines
            </th>
            <th role="columnheader" class="" scope="col">
              Users
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for organisation in organisations %}
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="/pharmacies/{{ organisation.id }}">{{ organisation.name }} ({{ organisation.id}})</a>
              </td>
              <td class="nhsuk-table__cell ">
                COVID-19, flu
              </td>
              <td class="nhsuk-table__cell ">
                {{ organisationUserCounts[organisation.id] }}
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
