{% extends 'layout.html' %}

{% set currentSection = "pharmacies" %}

{% set pageName = organisation.name %}

{% block beforeContent %}
  {{ backLink({
    href: "/pharmacies"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "ODS code"
            },
            value: {
              text: organisation.id
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: organisation.address.line1 + ", " + organisation.address.town + ", " + organisation.address.postcode
            }
          },
          {
            key: {
              text: "Vaccines enabled"
            },
            value: {
              text: "COVID-19, flu"
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Users</h2>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {{ button({
        href: "/pharmacies/" + organisation.id + "/add-user",
        text: "Add user"
      }) }}

      {% if (users | length) > 0 %}

        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Permission level
              </th>
              <th role="columnheader" class="" scope="col">
                Vaccinator
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
              <th role="columnheader" class="" scope="col">
                <span class="nhsuk-u-visually-hidden">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for user in users %}
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  <a href="/pharmacies/users/{{ user.id }}">
                    {{ user.firstName }} {{ user.lastName }}
                  </a>
                </td>
                <td class="nhsuk-table__cell ">
                  {{ userOrganisationPermissions[user.id].permissionLevel }}
                </td>
                <td class="nhsuk-table__cell " style="min-width: 150px;">
                  {{ "Yes" if userOrganisationPermissions[user.id].vaccinator else "No" }}
                </td>
                <td class="nhsuk-table__cell ">
                  {{ userOrganisationPermissions[user.id].status }}
                </td>
                <td class="nhsuk-table__cell">
                  <a href="#">Change<span class="nhsuk-u-visually-hidden">permission level for {{ user.firstName }} {{ user.lastName }}</span></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      <p><a href="#">Deactivate this pharmacy</a></p>
    </div>
  </div>

{% endblock %}
