{% extends 'layout.html' %}

{% set currentSection = "pharmacies" %}

{% set pageName = organisation.name %}
{% set mainClasses = "nhsuk-u-padding-top-0" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
          href: "/pharmacies",
          classes: "app-pharmacy-back-link"
        }) }}

      {% if added %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            User added
          </h3>
          <p>{{ (addedUser.firstName + " " + addedUser.lastName) if addedUser else "User" }} has been added to {{ organisation.name }}.</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if deactivated == "true" %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Pharmacy deactivated
          </h3>
          <p>{{ organisation.name }} ({{ organisation.id }}) has been successfully deactivated.</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if deactivatedUser and deactivatedFromPharmacyId == organisation.id %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            User deactivated
          </h3>
          <p>{{ deactivatedUser.firstName }} {{ deactivatedUser.lastName }} has been successfully deactivated from {{ organisation.name }} ({{ organisation.id }}).</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if reactivatedUser and reactivatedFromPharmacyId == organisation.id %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            User reactivated
          </h3>
          <p>{{ reactivatedUser.firstName }} {{ reactivatedUser.lastName }} has been successfully reactivated for {{ organisation.name }} ({{ organisation.id }}).</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if vaccinesUpdated == "true" %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Vaccines changed
          </h3>
          <p>The vaccines for {{ organisation.name }} have been updated.</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if removedVaccine %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Vaccine removed
          </h3>
          <p>{{ removedVaccineDisplayName }} has been removed from {{ organisation.name }}.</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l app-pharmacy-page-title" id="overview">{{ pageName }} ({{ organisation.id }})</h1>

      {% set addressParts = [] %}
      {% if organisation.address.line1 %}
        {% set addressParts = (addressParts.push(organisation.address.line1), addressParts) %}
      {% endif %}
      {% if organisation.address.town %}
        {% set addressParts = (addressParts.push(organisation.address.town), addressParts) %}
      {% endif %}
      {% if organisation.address.postcode %}
        {% set addressParts = (addressParts.push(organisation.address.postcode), addressParts) %}
      {% endif %}

      {% set addressText = addressParts | join(", ") %}

      {% set vaccinesEnabled = [] %}
      {% for vaccine in (organisation.vaccines or []) %}
        {% if vaccine.status == "enabled" %}
          {% set vaccinesEnabled = (vaccinesEnabled.push(vaccine.name), vaccinesEnabled) %}
        {% endif %}
      {% endfor %}

      {% set vaccinesText = "None" %}
      {% if (vaccinesEnabled | length) > 0 %}
        {% set vaccinesText = (vaccinesEnabled | sort | join(", ")) | capitaliseFirstLetter %}
      {% endif %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
          {% set actionNavText = "Overview" %}
          {% if canDeletePharmacy %}
            {% set actionNavText = "Delete pharmacy" %}
          {% elif organisation.status != 'Deactivated' %}
            {% set actionNavText = "Deactivate pharmacy" %}
          {% endif %}

          <nav class="app-section-navigation app-section-navigation--vertical" data-module="app-section-navigation" aria-label="Section navigation">
            <ul class="app-section-navigation__list">
              <li class="app-section-navigation__item{{ " app-section-navigation__item--current" if currentPageSection == "overview" }}">
                <a class="app-section-navigation__link" href="/pharmacies/{{ organisation.id }}?section=overview"{{ " aria-current=\"page\"" if currentPageSection == "overview" }}>{% if currentPageSection == "overview" %}<strong class="app-section-navigation__current">Overview</strong>{% else %}Overview{% endif %}</a>
              </li>

              <li class="app-section-navigation__item{{ " app-section-navigation__item--current" if currentPageSection == "users" }}">
                <a class="app-section-navigation__link" href="/pharmacies/{{ organisation.id }}?section=users&tab={{ currentTab }}"{{ " aria-current=\"page\"" if currentPageSection == "users" }}>{% if currentPageSection == "users" %}<strong class="app-section-navigation__current">Users</strong>{% else %}Users{% endif %}</a>
              </li>

              <li class="app-section-navigation__item{{ " app-section-navigation__item--current" if currentPageSection == "vaccines" }}">
                <a class="app-section-navigation__link" href="/pharmacies/{{ organisation.id }}?section=vaccines"{{ " aria-current=\"page\"" if currentPageSection == "vaccines" }}>{% if currentPageSection == "vaccines" %}<strong class="app-section-navigation__current">Vaccines</strong>{% else %}Vaccines{% endif %}</a>
              </li>

              <li class="app-section-navigation__item{{ " app-section-navigation__item--current" if currentPageSection == "action" }}">
                <a class="app-section-navigation__link" href="/pharmacies/{{ organisation.id }}?section=action"{{ " aria-current=\"page\"" if currentPageSection == "action" }}>{% if currentPageSection == "action" %}<strong class="app-section-navigation__current">{{ actionNavText }}</strong>{% else %}{{ actionNavText }}{% endif %}</a>
              </li>
            </ul>
          </nav>
      </div>
      <div class="nhsuk-grid-column-three-quarters">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">

          {% if currentPageSection == "overview" %}

          <h2 class="nhsuk-heading-m" id="overview-section">Overview</h2>

          {{ summaryList({
            rows: [
              {
                key: {
                  text: "ODS code"
                },
                value: {
                  text: organisation.id
                }
              },
              {
                key: {
                  text: "Address"
                },
                value: {
                  text: addressText
                }
              },
              {
                key: {
                  text: "Vaccines"
                },
                value: {
                  text: vaccinesText
                }
              }
            ]
          }) }}

          {% if organisation.status != 'Deactivated' %}
            {{ button({
              href: "/pharmacies/" + organisation.id + "/view-as",
              text: "Access this pharmacy",
              classes: "nhsuk-button--secondary"
            }) }}
          {% endif %}

          {% elif currentPageSection == "users" %}

          <h2 class="nhsuk-heading-m" id="users">Users</h2>

          {% if organisation.status != 'Deactivated' %}
            {{ button({
              href: "/pharmacies/" + organisation.id + "/add-user",
              text: "Add user"
            }) }}
          {% endif %}

          {% set totalUsers = (usersByStatus.invited | length) + (usersByStatus.active | length) + (usersByStatus.deactivated | length) %}

          {% if totalUsers > 0 %}

          {{ appSecondaryNavigation({
            visuallyHiddenTitle: "Users by status",
            items: [{
              text: "Invited (" + (usersByStatus.invited | length) + ")",
              href: "/pharmacies/" + organisation.id + "?section=users&tab=invited",
              current: (currentTab == "invited")
            }, {
              text: "Active (" + (usersByStatus.active | length) + ")",
              href: "/pharmacies/" + organisation.id + "?section=users&tab=active",
              current: (currentTab == "active")
            }, {
              text: "Deactivated (" + (usersByStatus.deactivated | length) + ")",
              href: "/pharmacies/" + organisation.id + "?section=users&tab=deactivated",
              current: (currentTab == "deactivated")
            }]
          }) }}

          {% if (users | length) > 0 %}

        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Email
              </th>
              {% if currentTab == "invited" %}
                <th role="columnheader" class="" scope="col">
                  Vaccinator
                </th>
                <th role="columnheader" class="" scope="col">
                  Permission
                </th>
                <th role="columnheader" class="" scope="col">
                  Invite sent
                </th>
              {% elif currentTab == "deactivated" %}
                <th role="columnheader" class="" scope="col">
                  Vaccinator
                </th>
                <th role="columnheader" class="" scope="col">
                  Permission
                </th>
                <th role="columnheader" class="" scope="col">
                  Reason deactivated
                </th>
              {% else %}
                <th role="columnheader" class="" scope="col">
                  Vaccinator
                </th>
                <th role="columnheader" class="" scope="col">
                  Permission
                </th>
                <th role="columnheader" class="" scope="col">
                  Last log in
                </th>
              {% endif %}
              <th role="columnheader" class="" scope="col">
                <span class="nhsuk-u-visually-hidden">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for user in users %}
              {% set inviteAgeDays = userOrganisationPermissions[user.id].inviteSent | daysSince %}
              {% set daysSinceLastLogIn = user.lastLogIn | daysSince %}
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  {{ user.firstName }} {{ user.lastName }}
                </td>
                <td class="nhsuk-table__cell">
                  {{ user.email }}
                </td>
                <td class="nhsuk-table__cell" style="min-width: 150px;">
                  {{ "Yes" if userOrganisationPermissions[user.id].vaccinator else "No" }}
                </td>
                <td class="nhsuk-table__cell">
                  {{ userOrganisationPermissions[user.id].permissionLevel }}
                </td>
                {% if currentTab == "invited" %}
                  <td class="nhsuk-table__cell">
                    {% if inviteAgeDays == 0 %}
                      Today
                    {% elif inviteAgeDays %}
                      {{ inviteAgeDays }} {{ "day" if inviteAgeDays == 1 else "days" }} ago
                    {% else %}
                      —
                    {% endif %}
                  </td>
                {% elif currentTab == "deactivated" %}
                  <td class="nhsuk-table__cell">
                    {% if userOrganisationPermissions[user.id].deactivatedReason == "Deactivated by user" %}
                      By {{ userOrganisationPermissions[user.id].deactivatedBy or ((currentUser.firstName + " " + currentUser.lastName) if currentUser else "User") }}
                    {% elif userOrganisationPermissions[user.id].deactivatedReason %}
                      {{ userOrganisationPermissions[user.id].deactivatedReason }}
                    {% elif daysSinceLastLogIn and daysSinceLastLogIn > 90 %}
                      Over 90 days since last login
                    {% else %}
                      By {{ userOrganisationPermissions[user.id].deactivatedBy or ((currentUser.firstName + " " + currentUser.lastName) if currentUser else "User") }}
                    {% endif %}
                  </td>
                {% else %}
                  <td class="nhsuk-table__cell">
                    {% if daysSinceLastLogIn == 0 %}
                      Today
                    {% elif daysSinceLastLogIn %}
                      {{ daysSinceLastLogIn }} {{ "day" if daysSinceLastLogIn == 1 else "days" }} ago
                    {% else %}
                      —
                    {% endif %}
                  </td>
                {% endif %}
                <td class="nhsuk-table__cell" style="white-space: nowrap;">
                  {% if currentTab == "invited" %}
                    {% if inviteAgeDays > 7 %}
                      <a href="/pharmacies/{{ organisation.id }}/users/{{ user.id }}/resend-invite">Resend invite<span class="nhsuk-u-visually-hidden"> to {{ user.firstName }} {{ user.lastName }}</span></a>
                    {% endif %}
                  {% elif userOrganisationPermissions[user.id].status == 'Deactivated' %}
                    <a href="/pharmacies/{{ organisation.id }}/users/{{ user.id }}/reactivate">Reactivate<span class="nhsuk-u-visually-hidden"> {{ user.firstName }} {{ user.lastName }}</span></a>
                  {% else %}
                    <a href="/pharmacies/{{ organisation.id }}/users/{{ user.id }}/change?from=pharmacy">Change<span class="nhsuk-u-visually-hidden"> permission level for {{ user.firstName }} {{ user.lastName }}</span></a>
                    &nbsp;
                    <a href="/pharmacies/{{ organisation.id }}/users/{{ user.id }}/deactivate-from-pharmacy?from=pharmacy">Deactivate<span class="nhsuk-u-visually-hidden"> {{ user.firstName }} {{ user.lastName }}</span></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        {% if currentTab == "invited" %}
          <p>No invited users.</p>
        {% elif currentTab == "deactivated" %}
          <p>No deactivated users.</p>
        {% else %}
          <p>No active users.</p>
        {% endif %}
          {% endif %}

          {% endif %}

          {% elif currentPageSection == "vaccines" %}

          {% set activeVaccines = [] %}
          {% for vaccine in (organisation.vaccines or []) %}
            {% if vaccine.status == "enabled" %}
              {% set activeVaccines = (activeVaccines.push(vaccine.name), activeVaccines) %}
            {% endif %}
          {% endfor %}

          <h2 class="nhsuk-heading-m" id="vaccines">Vaccine programmes</h2>

          {% if hasAvailableVaccinesToAdd %}
            {{ button({
              href: "/pharmacies/" + organisation.id + "/edit-vaccines",
              text: "Add vaccines"
            }) }}
          {% endif %}

          <table class="nhsuk-table">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" scope="col">
                  Vaccine
                </th>
                <th role="columnheader" scope="col">
                  <span class="nhsuk-u-visually-hidden">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for vaccineName in (activeVaccines | sort) %}
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    {{ vaccineName | capitaliseFirstLetter }}
                  </td>
                  <td class="nhsuk-table__cell" style="white-space: nowrap;">
                    <a href="/pharmacies/{{ organisation.id }}/remove-vaccine?vaccineName={{ vaccineName | urlencode }}">Remove<span class="nhsuk-u-visually-hidden"> {{ vaccineName | capitaliseFirstLetter }}</span></a>
                  </td>
                </tr>
              {% endfor %}
              {% if (activeVaccines | length) == 0 %}
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell" colspan="2">
                    No active vaccines.
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>

          {% else %}

          <div id="pharmacy-action">
            {% if organisation.status == 'Deactivated' %}
              <p>This pharmacy has been deactivated.</p>

              <p>It will be closed in <b>90 days</b>. </p>
            {% elif canDeletePharmacy %}
              <p>This pharmacy has not yet recorded any vaccinations. You can delete it if you added it by mistake.</p>
              <p><a href="/pharmacies/{{ organisation.id }}/delete">Delete this pharmacy</a></p>
            {% else %}
              <p>If a pharmacy is no longer using Record a vaccination, you should deactivate it.</p>

              <p><a href="/pharmacies/{{ organisation.id }}/deactivate">Deactivate this pharmacy</a></p>

            {% endif %}
          </div>

          {% endif %}
          </div>
        </div>
    </div>
  </div>

{% endblock %}
