{% extends 'layout.html' %}

{% set pageName = "The patient has already had a pneumococcal vaccine" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data.firstName and data.lastName %}
        {% set displayName = data.firstName ~ ' ' ~ data.lastName %}
      {% else %}
        {% set displayName = 'Patient Name' %}
      {% endif %}

      {% set panelHtml %}
        <p>
          {{ displayName }} had a pneumococcal vaccine on 15 September 2024.
        </p>

        <p>
          Most adults only need 1 dose of the pneumococcal vaccine.
        </p>

        {{ button({
          "text": "Continue anyway",
          "href": "/record-vaccinations/consent",
          "classes": "nhsuk-button--reverse"
        }) }}
      {% endset %}

      {{ panel({
        titleText: displayName + " has already had a pneumococcal vaccine",
        html: panelHtml,
        classes: "nhsuk-panel--interruption"
      }) }}

    </div>
  </div>
{% endblock %}

