{% extends 'layout.html' %}

{% set pageName = "Which vaccine are you giving?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/vaccinator" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if vaccineError %}
        {% set error = {text: vaccineError, href: "#vaccine-1"} %}
      {% elseif vaccineProductError %}
        {% if data.vaccine == "RSV" %}
          {% set errorHref = "#vaccineProductRsv-1" %}
        {% elseif data.vaccine == "COVID-19" %}
          {% set errorHref = "#vaccineProductCovid-1" %}
        {% elseif data.vaccine == "Pertussis" %}
          {% set errorHref = "#vaccineProductPertussis-1" %}
        {% elseif data.vaccine == "Flu" %}
          {% set errorHref = "#vaccineProductFlu-1" %}
        {% endif %}

        {% set error = {text: vaccineProductError, href: errorHref} %}
      {% endif %}

      {% if error %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            error
          ]
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-vaccine" method="post" novalidate>

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Which vaccine are you giving?
                </h1>
              </legend>

              <div class="nhsuk-radios nhsuk-radios--conditional">
                <div class="nhsuk-radios__item">              
                    <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    COVID-19                  </label>
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                          Conrminarty 30 JN.1
                        </label>
                      </div>   
                </div>

                <div class="nhsuk-radios__item">              
                    <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="email" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    Flu                  </label>
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                          Cell based quadrivelant
                        </label>
                      </div>   
                </div>

                <div class="nhsuk-radios__item">              
                    <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="email" aria-controls="conditional-contact-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                    PPV (Pneumococcal Polysaccharide Vaccination)
                  </label>
                </div>
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="example-3" name="example" type="radio" value="yes">
                        <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                          Pnemovax
                        </label>
                      </div>   




            </div>








            </fieldset>
        </div>
          </div>
        </div>


        {{ button({
          text: "Continue"
        })}}

        {{ details({
            text: "If the vaccine is not listed",
            html: "Go to <a href=\"/vaccines\">Vaccines</a> to add it."
          }) }}


      </form>

    </div>
  </div>

{% endblock %}

