{% extends 'layout.html' %}

{% block pageTitle %}
  Standard grid
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <div style="background-color: white; padding: 10px;">
        <p>Left hand nav - one quarter</p>

        <ul>
          <li><a href="#">Item A</a></li>
          <li><a href="#">Item B</a></li>
          <li><a href="#">Item C</a></li>
          <li><a href="#">Item D</a></li>
          <li><a href="#">Item E</a></li>
        </ul>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-half">

      {{ backLink({
        "href": "/",
        "text": "Back"
      }) }}

      <h1>Regular grid</h1>
      <p>Maximum width: 960 pixels.</p>


      <p>Main content - one half</p>
    </div>

    <div class="nhsuk-grid-column-one-quarter">
      <p>Right hand nav - one quarter</p>
    </div>
  </div>
{% endblock %}
