{% extends 'layout.html' %}

{% block pageTitle %}
  Care Identity Authentication
{% endblock %}

{% block header %}
  {% include "includes/cis2_header.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Smartcard Authentication Failure</h1>

      <p class="nhsuk-body-m">Your browser is not supported.</p>

      <p>You can:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>go back to the application and try to log in again</li>
        <li><a href="#" class="">check your device is set up correctly</a></li>
        <li><a href="#" target="_blank">see if your operating system and browser are supported</a></li>
        <li>refer to our <a href="#" target="_blank">troubleshooting guidance</a></li>
        <li>provide the following information to your local IT support team</li>
      </ul>

      <p class="nhsuk-body-m">Error code: 400_667<br>Error response ID: d10c8231-75fd-4577-8368-5e7318c1bbb3</p></div>

    </div>
  </div>


{% endblock %}
