{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/user-onboarding/v1/setup", text: "Back" }) }}

      <h1 class="nhsuk-heading-l">Account options</h1>

      <p>If you do not have a Care Identity account you can apply for one.</p>

      <p>Your application must be sponsored by your local registration authority, who will start the process for you.</p>

      <p>You will need to verify your identity with photo ID and will be issued with a smartcard.</p>

      <p><a href="https://digital.nhs.uk/services/care-identity-service/smartcard-and-authentication-users/find-your-registration-authority">How to find my registration authority</a></p>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">An alternative to using NHS Care Identity</h2>

      <p>You can also choose to use an Okta account instead.</p>

      <p>This may be faster to set up. You can choose to switch to using NHS Care Identity at a later date.</p>

      <p><a href="/user-onboarding/v1/okta-setup">Use an Okta account</a></p>

    </div>
  </div>


{% endblock %}
