{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}


{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview">
        <p>From: ravs@england.nhs.uk<br>
        Subject: Start using NHS Record a vaccination
        </p>
        <hr>

        <p>Dear Jane Smith,</p>

        <p>Your colleague has invited you to start using the NHS Record a vaccination service.</p>

        <p>Please set up your account now: <a href="/user-onboarding/v1/setup">https://ravs.england.nhs.uk/setup?code=573895789375</a></p>

        <p>Many thanks,</p>

        <p>NHS Record a vaccination</p>

      </div>


    </div>
  </div>
{% endblock %}
