{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview app-email-preview--okta">
        <p>From: noreply@okta.com<br>
        Subject: NHS Improvement 2 - Welcome to OKTA!
        </p>
        <hr>
        <p>Hi Jane,</p>
        <p>Your organization is using Okta to manage your web applications. This means you can conveniently access all the applications you normally use, through a single, secure home page. Watch this short video to learn more: <a href="#">https://www.okta.com/intro-to-okta/</a></p>

        <p>Your system administrator has created an Okta user account for you.</p>

        <p><b>Click the following link to activate your Okta account:</b></p>

        {{ button({
          classes: "app-button--okta",
          text: "Activate Okta Account",
          href: "/user-onboarding/v1/okta-set-password"
        }) }}

        <p>This link expires in 7 days.</p>

        <p>Your username is <b>jane.smith@nhs.net</b><br>
        Your organization's sign-in page is <a href="#">https://nhsi.okta.com</a></p>

        <p>If you experience difficulties accessing your account, you can send a help request to your system administrator using the link: <a href="#">https://nhsi.okta.com/help/login</a></p>

      </div>


    </div>
  </div>
{% endblock %}
