{% extends 'layout.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your email</h1>

      <p>You’ll shortly receive a ‘Welcome to OKTA’ email (noreply@okta.com) to confirm your identity.</p>

      <p>Follow the link in the email to activate your account and set a password.</p>

      <p>You may need to check your junk mail or spam folder.</p>

      <h2 class="govuk-heading-m">Not received the email?</h2>

      <p>If you have not received the email within 5 minutes, <a href="/contact-us">contact our helpdesk</a>.</p>


      <hr>

      <a href="/user-onboarding/v1/okta-email">Go to email</a> (demo purposes only)

    </div>
  </div>


{% endblock %}
