
.app-u-hide-on-mobile {
  @include nhsuk-media-query($until: tablet) {
    display: none;
  }
}

.app-pre-footer-banner {
  border-top: 1px solid #b1b4b6;
}

.app-pre-footer-banner .govuk-phase-banner__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  @include nhsuk-font(16);
  margin-top: 24px;
  margin-bottom: 24px;
}

.app-pre-footer-banner .govuk-phase-banner__content__tag {
  @include nhsuk-font(16);
  margin-right: 18px;
  margin-bottom: 0;
}

.app-pre-footer-banner .govuk-phase-banner__text {
  @include nhsuk-font(16);
  display: inline;
  margin-bottom: 0;
}

.app-custom-config-progress-card__details {
  .nhsuk-details {
    margin-bottom: 0;
  }

  .nhsuk-details__summary {
    @include nhsuk-font(16);
    padding-left: 1rem;
  }

  .nhsuk-details__summary::before {
    border-width: .3rem 0 .3rem .52rem;
  }

  .nhsuk-details[open] > .nhsuk-details__summary::before {
    border-width: .52rem .3rem 0 .3rem;
  }

  .nhsuk-details__summary-text {
    font-weight: 400;
  }

  .nhsuk-details__text {
    @include nhsuk-font(16);
    margin-top: nhsuk-spacing(1);
    padding-top: nhsuk-spacing(2);
    padding-left: 1rem;
  }
}
