// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


.nhsuk-header--left .nhsuk-header__navigation-list {
  justify-content: normal;
}


// Email styles
.app-email-preview {
  margin-top: 20px;
  border: 5px solid #b1b4b6;
  padding: 20px;
  margin-bottom: 30px;
}
