{% extends '_layouts/keycloak.html' %}

{% set pageName = "Sign in" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">We cannot find your RAVS account</h1>

      <p>There is no RAVS account for {{ data.email }}.</p>

      <h2 class="nhsuk-heading-m">If you’ve previously used RAVS</h2>
      <p>It’s likely your account is linked to a different email. <a href="/auth/log-in">Try logging in with the option you used previously</a>.</p>

      <h2 class="nhsuk-heading-m">If you have not used RAVS before</h2>
      <p>Ask a colleague at your organisation to add you to RAVS. Once you’ve received a welcome email from RAVS, you should be able to log in.</p>

    </div>
  </div>
{% endblock %}
