{% extends '_layouts/keycloak.html' %}

{% set pageName = "Sign in" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">We cannot find a user with this email</h1>

      <p>There is no RAVS account for {{ data.email }}.</p>

      <p>If you’ve previously used RAVS, <a href="/auth/log-in">try logging in with the option you used last time</a>.</p>

      <p>If you've never used RAVS before, you'll need an account before you can log in. Check with your organisation that you've been added to RAVS.</p>

    </div>
  </div>
{% endblock %}
