{% extends 'layout.html' %}

{% set pageName = "Sign in" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">You previously logged in a different way</h1>

      <p>Your email address <b>{{ data.email }}</b> is linked to a different log-in option.</p>

      <p>You need to log in with the option you used previously.</p>

      <p>We will then link options to your RAVS account, and in future you will be able to log in with either.</p>

      {{ button({
        text: "Continue",
        href: "/auth/log-in"
      }) }}

    </div>
  </div>
{% endblock %}
