{% extends 'layout.html' %}

{% set pageName = "Sign in" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <form action="/auth/answer-select-mode" method="post">

      <div class="nhsuk-caption-l">
      {{ tag({
        text: "New",
        classes: "nhsuk-tag--blue"
      }) }}</div>
      <h1 class="nhsuk-heading-l">Create reports across organisations</h1>

      <p>As an administrator using RAVS at several organisations, you can either:</p>

      <ul>
        <li>access RAVS at 1 organisation to record vaccinations, manage vaccines and manage users</li>
        <li>create a report across several organisations</li>
      </ul>

      {{ radios({
        name: "loginMode",
        fieldset: {
          legend: {
            text: "What do you want to do?",
            classes: "nhsuk-fieldset__legend--m",
            isPageHeading: true
          }
        },
        items: [
          {
            text: "Use RAVS at 1 organisation",
            value: "single"
          },
          {
            text: "Create a report across several organisations",
            value: "create-reports"
          }
        ]
      }) }}

      {{ button({
        text: "Continue"
      }) }}
    </form>


    </div>
  </div>

{% endblock %}
