{% extends 'layout.html' %}

{% block pageTitle %}
  Add a batch
{% endblock %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({
    href: "/vaccinate/batch",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if (errors | length) > 0 %}
      {{ errorSummary({
        titleText: "There is a problem",
        errorList: errors
      }) }}
    {% endif %}

      <h1 class="nhsuks-heading-l">Add a batch</h1>

      <form action="/vaccinate/answer-add-batch" method="post" novalidate>

        {{ input({
          "label": {
            "text": data.vaccine + " batch number",
            classes: "nhsuk-label--s"
          },
          hint: {
            text: "For example, XX123456"
          },
          errorMessage: {
            text: batchNumberError.text
          } if batchNumberError,
          "id": "batch-number",
          "name": "newBatchNumber",
          classes: "nhsuk-input--width-20",
          value: data.newBatchNumber
        }) }}


        {{ dateInput({
          "id": "batch-expiry-date",
          "namePrefix": "newBatchExpiryDate",
          errorMessage: {
            text: expiryDateError.text
          } if expiryDateError,
          "fieldset": {
            "legend": {
              "text": "Expiry date",
              "classes": "nhsuk-label--s"
            }
          },
          values: data.newBatchExpiryDate
        }) }}

          {{ button({
            "text": "Continue"
          }) }}
      </form>


    </div>
  </div>


{% endblock %}
