{% extends 'layout.html' %}

{% block pageTitle %}
  Add batch
{% endblock %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({
    href: "/vaccinate/batch",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuks-heading-l">Add batch</h1>

      {% if data.vaccine == "Pertussis" %}
        {% set nextPage = "/vaccinate/patient" %}
      {% elseif data.vaccine == "RSV" %}
        {% set nextPage = "/vaccinate/eligibility" %}
      {% else %}
        {% set nextPage = "/vaccinate/location" %}
      {% endif %}

      <form action="{{ nextPage }}" method="post" novalidate>

        {{ input({
          "label": {
            "text": data.vaccine + " batch number",
            classes: "nhsuk-label--s"
          },
          hint: {
            text: "For example, XX123456"
          },
          "id": "batch-number",
          "name": "newBatchNumber",
          classes: "nhsuk-input--width-20",
          value: data.newBatchNumber
        }) }}


        {{ dateInput({
          "id": "newBatchExpiryDate",
          "namePrefix": "newBatchExpiryDate",
          "fieldset": {
            "legend": {
              "text": "Expiry date",
              "classes": "nhsuk-label--s"
            }
          },
          values: data.newBatchExpiryDate
        }) }}

          {{ button({
            "text": "Continue"
          }) }}
      </form>


    </div>
  </div>


{% endblock %}
