{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccinate/injection-side" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check and confirm</h1>

      <h2 class="nhsuk-heading-m">Patient</h2>
      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.patientName
            },
            actions: {
              items: [
                {
                  href: "/patient",
                  text: "Change",
                  visuallyHiddenText: "patient"
                }
              ]
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: data.nhsNumber
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/patient",
                  text: "Change",
                  visuallyHiddenText: "patient"
                }
              ]
            }
          },
          {
            key: {
              text: "Pregnancy due date"
            },
            value: {
              text: (data.pregnancyDueDate | isoDateFromDateInput | govukDate)
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/patient-estimated-due-date",
                  text: "Change",
                  visuallyHiddenText: "pregnancy due date"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Vaccination</h2>
      {{ summaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              text: ("Today" if data.vaccinationToday == "yes" else (data.vaccinationDate | isoDateFromDateInput | govukDate))
            },
            actions: {
              items: [
                {
                  href: "/vaccinate",
                  text: "Change",
                  visuallyHiddenText: "vaccination date"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccine"
            },
            value: {
              text: data.vaccine
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/vaccine",
                  text: "Change",
                  visuallyHiddenText: "vaccine"
                }
              ]
            }
          },
          {
            key: {
              text: "Product"
            },
            value: {
              text: data.vaccineProduct
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/vaccine",
                  text: "Change",
                  visuallyHiddenText: "vaccine product"
                }
              ]
            }
          },
          {
            key: {
              text: "Batch"
            },
            value: {
              html: data.vaccineBatch + "<br>Expires 4 January 2025"
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/batch",
                  text: "Change",
                  visuallyHiddenText: "vaccine batch"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              html: data.vaccinator
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/vaccinator",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Injection site"
            },
            value: {
              html: data.injectionSite
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/injection-site",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/vaccinate/done" method="post" novalidate>
        {{ button({
          text: "Confirm and save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

