{% extends 'layout.html' %}

{% set pageName = "Is the vaccination today?" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Willw House Pharmacy is deactivated</h1>
       

        <p>Your organisation will be closed in <b>14 days</b> and is not permitted to record vaccinations</p>

        <p>Contact your NHS Regional Lead if you have any questions.</p>
             

    </div>
  </div>

{% endblock %}
