{% extends 'layout.html' %}

{% set pageName = "Is the vaccination today?" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">You cannot record vaccinations</h1>
       

        <p>You cannot record vaccinations because ((Organisation-name)) has been deactivated. <br><br>Until [date] you can still access other parts of the Record a vaccination service. After [date] you will no longer have access to the service for ((Organisation-name)). </p>
             

    </div>
  </div>

{% endblock %}
