{% extends 'layout.html' %}

{% set pageName = "Is the vaccination today?" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">You cannot record vaccinations</h1>
       

        <p>You cannot record vaccinations because ((Organisation-name)) has been deactivated. <br><br>Until [date] you will still be able to access other sections of the Record a vaccination service (RAVS). After [date] you will lose all access to RAVS. </p>
             

    </div>
  </div>

{% endblock %}
