{% extends 'layout.html' %}

{% set pageName = "Vaccination saved" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-u-margin-bottom-8">
        <h1 class="nhsuk-panel__title">Vaccination saved</h1>
        <div class="nhsuk-panel__body">
          <a href="#">{{ data.patientName }}’s {{ data.vaccine }} record</a> will be sent to their GP.
        </div>
      </div>

      <form action="/vaccinate/what-next" method="post" novalidate>

        {{ radios({
          idPrefix: "nextStep",
          name: "nextStep",
          fieldset: {
            legend: {
              text: "What would you like to record now?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "same-patient-another-vaccination",
              text: data.patientName + "’s next vaccination"
            },
            {
              value: "same-vaccination-another-patient",
              text: ("An RSV" if data.vaccine == "RSV" else ("A " + data.vaccine | lower)) + " vaccination for another patient"
            },
            {
              divider: "or"
            },
            {
              value: "done",
              text: "A different vaccination for another patient"
            }

          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

