{% extends 'layout.html' %}

{% set pageName = "Vaccination saved" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      {% set panelHtml %}
        <a href="#" class="app-link--reverse">{{ data.patientName }}’s {{ data.vaccine }} record</a> will be sent to their GP.
      {% endset %}

      {{ panel({
        titleText: "Vaccination saved",
        html: panelHtml
      }) }}

      {% set feedbackGivenHtml %}

        {{ textarea({
          label: {
            text: "Your feedback (optional)"
          },
          rows: 2

        }) }}

        <div class="app-button-group nhsuk-u-margin-bottom-0">
          {{ button({
            classes: "app-button--small app-button--secondary",
            text: "Send"
          }) }}

          <!-- {{ button({
            classes: "app-button--small app-button--secondary",
            text: "Cancel"
          }) }} -->
        </div>
      {% endset %}

      {% set feedbackHtml %}
        <div class="app-button-group nhsuk-u-margin-bottom-0">
          {{ button({
            classes: "app-button--small app-button--secondary",
            text: "Easy"
          }) }}

          {{ button({
            classes: "app-button--small app-button--secondary",
            text: "Ok"
          }) }}

          {{ button({
            classes: "app-button--small app-button--secondary",
            text: "Hard"
          }) }}

          <span class="nhsuk-u-font-size-16"><a href="#35436">Give feedback</a></span>
        </div>
      {% endset %}

      {{ panel({
        titleText: "You’ve just recorded your 100th vaccination!",
        headingLevel: 3,
        classes: "app-panel--feedback",
        html: feedbackHtml
      }) }}

      <form action="/vaccinate/what-next" method="post" novalidate>

      {% set lowercaseVaccineName %}
        {% if (data.vaccine == "RSV") %}
          An RSV
        {% elseif (data.vaccine == "COVID-19") %}
          A COVID-19
        {% elseif (data.vaccine == "Flu") %}
          A flu
        {% elseif (data.vaccine == "Pertussis") %}
          A pertussis
        {% endif %}
      {% endset %}

        {{ radios({
          idPrefix: "next-step",
          name: "nextStep",
          fieldset: {
            legend: {
              text: "What would you like to record now?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: error.text
          } if error,
          items: [
            {
              value: "same-patient-another-vaccination",
              text: data.patientName + "’s next vaccination"
            },
            {
              value: "same-vaccination-another-patient",
              text: lowercaseVaccineName + " vaccination for another patient"
            },
            {
              divider: "or"
            },
            {
              value: "different-vaccination-another-patient",
              text: "A different vaccination for another patient"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

