{% extends 'layout.html' %}

{% set pageName = "Is the vaccination today?" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Record vaccinations</h1>
        <p>Before you start:</p>
        <ul>
        <li>vaccines must be added for your organisation</li>
        <li>at least 1 user must have "clinician" status</li>
        </ul>
        <p>An administrator can add vaccines. A lead administrator can add or change a user.</p>
             

    </div>
  </div>

{% endblock %}
