{% extends 'layout.html' %}

{% set pageName = "Vaccination date" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if vaccinationTodayError %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: vaccinationTodayError,
              href: "#vaccinationToday-1"
            }
          ]
        }) }}
      {% endif %}

      <form action="/vaccinate/answer-date" method="post" novalidate>
        {% set previousDateHtml %}

          {{ dateInput({
            id: "vaccinationDate",
            namePrefix: "vaccinationDate",
            fieldset: {
              legend: {
                text: "Vaccination date",
                classes: "nhsuk-label--s"
              }
            },
            hint: {
              text: "For example, 15 3 2024"
            },
            items: [
              {
                name: "day",
                classes: "nhsuk-input--width-2"
              },
              {
                name: "month",
                classes: "nhsuk-input--width-2"
              },
              {
                name: "year",
                classes: "nhsuk-input--width-4"
              }
            ]
          }) }}
        {% endset -%}

        {{ radios({
          idPrefix: "vaccinationToday",
          name: "vaccinationToday",
          fieldset: {
            legend: {
              text: "Is the vaccination today?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: "true"
            }
          },
          errorMessage: {
            text: vaccinationTodayError
          } if vaccinationTodayError,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: (data.vaccinationToday == 'yes')
            },
            {
              value: "no",
              text: "No, it was on a previous date",
              checked: (data.vaccinationToday == 'no'),
              conditional: {
                html: previousDateHtml
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

