{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {% if (data.vaccine === "Flu" or data.vaccine == "COVID-19") %}
    {% set backLinkHref = "/vaccinate/location" %}
  {% else %}
    {% set backLinkHref = "/vaccinate/eligibility" %}
  {% endif %}
  {{ backLink({ href: backLinkHref }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      {% if data.repeatVaccination == "yes" %}

        <h1 class="nhsuk-heading-l">Give a {{ data.vaccine }} vaccine to another patient</h1>


        {{ summaryList({
            rows: [
              {
                key: {
                  text: "Date"
                },
                value: {
                  text: ("Today" if data.vaccinationToday == "yes" else (data.vaccinationDate | isoDateFromDateInput | govukDate))
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate",
                      text: "Change",
                      visuallyHiddenText: "vaccination date"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Vaccine"
                },
                value: {
                  text: data.vaccine
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate/vaccine",
                      text: "Change",
                      visuallyHiddenText: "vaccine"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Product"
                },
                value: {
                  text: data.vaccineProduct
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate/vaccine",
                      text: "Change",
                      visuallyHiddenText: "vaccine product"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Batch"
                },
                value: {
                  html: data.vaccineBatch + "<br>Expires 4 January 2025"
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate/batch",
                      text: "Change",
                      visuallyHiddenText: "vaccine batch"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Vaccinator"
                },
                value: {
                  html: data.vaccinator
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate/vaccinator",
                      text: "Change",
                      visuallyHiddenText: "contact information"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Location"
                },
                value: {
                  html: data.locationType
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate/location",
                      text: "Change",
                      visuallyHiddenText: "contact information"
                    }
                  ]
                }
              } if (data.vaccine === "Flu" or data.vaccine == "COVID-19"),
              {
                key: {
                  text: "Eligibility"
                },
                value: {
                  html: ((data.eligibility | join("<br>")) if (data.eligibility | isArray) else data.eligibility)
                },
                actions: {
                  items: [
                    {
                      href: "/vaccinate/eligibility",
                      text: "Change",
                      visuallyHiddenText: "eligibility"
                    }
                  ]
                }
              } if (data.vaccine != "Pertussis")
            ]
          }) }}


      {% endif %}

      <form action="/vaccinate/answer-patient-nhs-number-known" method="post" novalidate>

        {% set nhsNumberHtml %}

          {{ input({
            id: "nhs-number",
            name: "nhsNumber",
            classes: "nhsuk-input--width-10",
            inputmode: "numeric",
            errorMessage: nhsNumberError,
            label: {
              text: "NHS number",
              classes: "nhsuk-label--s"
            },
            value: data.nhsNumber,
            hint: {
              text: "For example, 485 777 3456"
            }
          }) }}
        {% endset %}


        {{ radios({
          idPrefix: "nhs-number-known",
          name: "nhsNumberKnown",
          fieldset: {
            legend: {
              html: "Do you have the patient’s NHS&nbsp;number?",
              classes: ("nhsuk-fieldset__legend--m" if data.repeatVaccination == "yes" else "nhsuk-fieldset__legend--l"),
              isPageHeading: ("false" if data.repeatVaccination == "yes" else "true")
            }
          },
          errorMessage: nhsNumberKnownError if nhsNumberKnownError,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: (data.nhsNumberKnown == 'yes'),
              conditional: {
                html: nhsNumberHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: (data.nhsNumberKnown == 'no')
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

