{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccinate/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/vaccinate/injection-site" method="post" novalidate>

        {{ dateInput({
          id: "pregnancyDueDate",
          namePrefix: "pregnancyDueDate",
          fieldset: {
            legend: {
              text: "What is " + data.patientName + "’s estimated due date?",
              classes: "nhsuk-label--l",
              isPageHeading: true
            }
          },
          values: data.pregnancyDueDate,
          hint: {
            text: "For example, 15 6 2025"
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

