{% extends 'layout.html' %}

{% set pageName = "Are you sure you want to continue?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccinate/patient-estimated-due-date" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ data.patientName }} is {{ fullWeeksPregnant | plural("week") }}{% if remainderDaysPregnant > 0 %} and {{ remainderDaysPregnant | plural("day") }}{% endif %} pregnant</h1>

      
      <p>The pertussis vaccine is recommended between 16 and 32 weeks of pregnancy.</p>

      <p><a href="https://www.gov.uk/government/publications/vaccination-against-pertussis-whooping-cough-for-pregnant-women/pertussis-whooping-cough-vaccination-programme-for-pregnant-women" target="_blank">UKHSA guidance on pertussis vaccination of pregnant women (opens in new tab)</a>.


    </div>
  </div>

  {{ button({
    "text": "Continue",
    "href": "/vaccinate/consent"
  }) }}

{% endblock %}

