{% extends 'layout.html' %}

{% set pageName = "COVID-19 vaccine interval warning" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccinate/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ data.patientName }} had a COVID-19 vaccine less than 3 months ago</h1>

      <p>
        {{ data.patientName }} had a COVID-19 vaccine on 1&nbsp;December 2024.
      </p>

      <p>
        For most people, the minimum recommended gap between COVID-19 vaccine doses is 3 months.
      </p>
      <p>
        See ‘Doses and schedules’ in the <a href="https://www.gov.uk/government/publications/covid-19-vaccination-programme-guidance-for-healthcare-practitioners/covid-19-vaccination-programme-information-for-healthcare-practitioners" target="_blank">
UKHSA guidance on COVID-19 vaccination (opens in new tab)</a>.
      </p>
    </div>
  </div>

  {{ button({
    "text": "Continue anyway",
    "href": "/vaccinate/consent"
  }) }}

{% endblock %}

