{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccinate/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Are you sure you want to give the vaccine?</h1>

      <p>
        {{ data.patientName }} had a COVID-19 vaccine less than 3 months ago, on 1&nbsp;December 2024.
      </p>

      <p>
        For most people, the minimum recommended gap between COVID-19 vaccine doses is 3 months. See the section ‘Doses and schedules’ in the <a href="https://www.gov.uk/government/publications/covid-19-vaccination-programme-guidance[…]-vaccination-programme-information-for-healthcare-practitioners" target="_blank">
UKHSA guidance on COVID-19 vaccination (opens in new tab)</a>.
      </p>

    </div>
  </div>

  {{ button({
    "text": "Continue",
    "href": "/vaccinate/consent"
  }) }}

{% endblock %}

