{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% set currentSection = "user-profile" %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "/user-profile/v1"

  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Update your email address</h1>

      <form action="/user-profile/v1/update" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email",
          "name": "email",
          classes: "nhsuk-input--width-20",
          value: currentUser.email
        }) }}


        {{ button({
          text: "Save and continue"
        }) }}

      </form>


    </div>
  </div>


{% endblock %}
