{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% block header %}
  {% include "user-profile/v1/_header.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Your profile</h1>

        {% set permissionLevelHtml %}
          <div>{{ currentUser.role }}</div>
          <p class="app-summary__explanation">Can record vaccinations, manage vaccine products and batches, and users</p>
        {% endset %}

        {% set professionalBodyHtml %}
          {% if currentUser.professionalBody == "nurseOrMidwife" %}
            Nursing and Midwifery Council
          {% elseif currentUser.professionalBody == "doctor" %}
            General Medical Council
          {% elseif currentUser.professionalBody == "pharmacist" %}
            General Pharmaceutical Council
          {% elseif currentUser.professionalBody == "nonClinical" %}
            Not a registered clinician
          {% endif %}
        {% endset %}

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: currentUser.firstName + " " + currentUser.lastName
              },
              actions: {
                items: [
                  {
                    href: "/user-profile/v1/name",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: currentUser.email
              },
              actions: {
                items: [
                  {
                    href: "/user-profile/v1/email",
                    text: "Change",
                    visuallyHiddenText: "email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Permission level"
              },
              value: {
                html: permissionLevelHtml
              },
              actions: {
                items: [
                  {
                  }
                ]
              }
            },
            {
              key: {
                text: "Professional body"
              },
              value: {
                text: professionalBodyHtml
              },
              actions: {
                items: [
                  {
                    href: "/user-profile/v1/professional-body",
                    text: "Change",
                    visuallyHiddenText: "professional body"
                  }
                ]
              }
            },
            {
              key: {
                text: "Registration number"
              },
              value: {
                text: currentUser.professionalBodyNumber
              },
              actions: {
                items: [
                  {
                    href: "/user-profile/v1/professional-body",
                    text: "Change",
                    visuallyHiddenText: "registration number"
                  }
                ]
              }
            }
          ]
        }) }}


    </div>
  </div>


{% endblock %}
