{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% set currentSection = "user-profile" %}


{% block outerContent %}
  {{ backLink({
    text: "Back",
    href: "/user-profile/v1",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"

  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/user-profile/v1/update" method="post" novalidate="true">

        {% set nurseNumberHtml %}
          {{ input({
            "label": {
              "text": "Nursing and Midwifery Council (NMC) registration number",
              classes: "nhsuk-label--s nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-3"
            },
            value: currentUser.professionalBodyNumber,
            "name": "nurseNumber"
          }) }}
        {% endset %}

        {% set doctorNumberHtml %}
          {{ input({
            "label": {
              "text": "General Medical Council (NMC) registration number",
              classes: "nhsuk-label--s nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-3"
            },
            value: currentUser.professionalBodyNumber,
            "name": "doctorNumber"
          }) }}
        {% endset %}

        {% set pharmacistNumberHtml %}
          {{ input({
            "label": {
              "text": "General Pharmaceutical Council, registration number",
              classes: "nhsuk-label--s nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-3"
            },
            value: currentUser.professionalBodyNumber,
            "name": "doctorNumber"
          }) }}
        {% endset %}

        {{ radios({
          "name": "professionalBody",
          "fieldset": {
            "legend": {
              "text": "Update your medical role",
              "classes": "nhsuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "nurseOrMidwife",
              "text": "Nurse or midwife",
              checked: (currentUser.professionalBody == "nurseOrMidwife"),
              conditional: {
                html: nurseNumberHtml
              }
            },
            {
              "value": "doctor",
              "text": "Doctor",
              checked: (currentUser.professionalBody == "doctor"),
              conditional: {
                html: doctorNumberHtml
              }
            },
            {
              "value": "pharmacist",
              "text": "Pharmacist",
              checked: (currentUser.professionalBody == "pharmacist"),
              conditional: {
                html: pharmacistNumberHtml
              }
            },
            {
              "divider": "or"
            },
            {
              "value": "nonClinical",
              "text": "Not a registered clinician",
              checked: (currentUser.professionalBody == "nonClinical"),
              hint: {
                text: "You can still use the service, but will have to select a registered clinician responsible for each vaccination"
              }
            }
          ]
        }) }}

        {{ button({
          text: "Save and continue"
        }) }}

      </form>


    </div>
  </div>


{% endblock %}
