{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% block header %}
  {% include "user-admin/v4/_header.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/user-admin/v4", text: "Back" }) }}

      <h1 class="nhsuks-heading-xl">Add user</h1>

      <form action="/user-admin/v4/check" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email
        }) }}

        {{ radios({
          "name": "clinician",
          "fieldset": {
            "legend": {
              "text": "Are they a clinician?"
            }
          },
          hint: {
            text: "Only a registered clinician can assess patients for vaccines"
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              checked: (data.clinician == "yes")
            },
            {
              "value": "no",
              "text": "No",
              checked: (data.clinician == "no")
            }
          ]
        }) }}        
              

        {{ radios({
          "name": "role",
          "fieldset": {
            "legend": {
              "text": "Permission level"
            }
          },
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              checked: (data.role == "Recorder"),
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              checked: (data.role == "Administrator"),
              "hint": {
                "text": "Record vaccinations and manage vaccine products and batches"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              checked: (data.role == "Lead administrator"),
              "hint": {
                "text": "Record vaccinations, manage vaccine products and batches, and users"
              }
            }
          ]
        }) }}


        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
