{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% block header %}
  {% include "user-admin/v4/_header.html" %}
{% endblock %}

{% block outerContent %}
  {{ backLink({ 
    href: "/user-admin/v4", 
    text: "Back",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if data.showErrors == "true" %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "text": "Enter first name",
              "href": "#first-name"
            } if (data.firstName == ''),
            {
              "text": "Enter last name",
              "href": "#last-name"
            } if (data.lastName == ''),
            {
              "text": "Enter NHS email address",
              "href": "#email"
            } if (data.email == ''),
            {
              "text": "Select if they are a clinician",
              "href": "#clinician"
            } if (data.clinician == ''),
            {
              "text": "Select permission level",
              "href": "#role"
            } if (data.role == '')
          ]
        }) }}      
      {% endif %}

      <h1 class="nhsuks-heading-xl">Add user</h1>

      <form action="/user-admin/v4/check-answers" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName,
          "errorMessage": {
            "text": "Enter first name"
          } if (data.showErrors == "true" and data.firstName == '')
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName,
          "errorMessage": {
            "text": "Enter last name"
          } if (data.showErrors == "true" and data.lastName == '')
        }) }}

        {{ input({
          "label": {
            "text": "NHS email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email,
          "errorMessage": {
            "text": "Enter email address"
          } if (data.showErrors == "true" and data.email == '')
        }) }}

        {{ radios({
          "name": "clinician",
          "fieldset": {
            "legend": {
              "text": "Are they a registered clinician?"
            }
          },
          hint: {
            text: "Only registered clinicians can assess the patient and record their consent"
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              id: "clinician",
              checked: (data.clinician == "yes")
            },
            {
              "value": "no",
              "text": "No",
              checked: (data.clinician == "no")
            }
          ],
          "errorMessage": {
            "text": "Select if they are a clinician"
          } if (data.showErrors == "true" and data.clinician == '')
        }) }}        
              

        {{ radios({
          "name": "role",
          "fieldset": {
            "legend": {
              "text": "Permission level"
            }
          },
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              checked: (data.role == "Recorder"),
              id: "role",
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              checked: (data.role == "Administrator"),
              "hint": {
                "text": "Record vaccinations, create reports and manage vaccines"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              checked: (data.role == "Lead administrator"),
              "hint": {
                "text": "Record vaccinations, create reports, manage vaccines and users"
              }
            }
          ],
          "errorMessage": {
            "text": "Select permission level"
          } if (data.showErrors == "true" and data.role == '')
        }) }}


        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
