{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% block header %}
  {% include "user-admin/v4/_header.html" %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    href: "/user-admin/v4",
    text: "Back to Manage users",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Deactivated users</h1>

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Users</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Email address
            </th>
            <th role="columnheader" class="" scope="col">
              Date
            </th>
            <th role="columnheader" class="" scope="col">
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for user in (deactivatedUsers | sort(true, true, "deactivatedDate")) %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                {{ user.firstName }} {{ user.lastName }}
              </td>
              <td class="nhsuk-table__cell ">{{ user.email }}</td>
              <td class="nhsuk-table__cell ">{% if user.deactivatedDate%}{{ user.deactivatedDate | govukDate }}{% endif %}</td>
              <td class="nhsuk-table__cell ">
                <a href="/user-admin/v4/{{ user.id }}/reactivate" class="nhsuk-link">Reactivate</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>


{% endblock %}
