{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% block header %}
  {% include "user-admin/v4/_header.html" %}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    href: "/user-admin/v4/users/" + user.id + "/change-role",
    text: "Back",
    classes: "nhsuk-u-margin-top-4"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Deactivate {{ user.firstName }} {{ user.lastName }}</h1>

      <p>{{ user.firstName }} {{ user.lastName }} ({{ user.email}}) can no longer sign in and use NHS Record a vaccination. They’ll receive an email to confirm their account has been deactivated.</p>

      <p>Their Okta account will remain active, so they can continue to access other services.</p>

      <p>You can reactivate their account anytime.</p>

      <form action="/user-admin/v4/{{ user.id }}/deactivate" method="post" novalidate="true">
        {{ button({
          "text": "Deactivate",
          classes: "nhsuk-button--warning"
        }) }}
      </form>

    </div>
  </div>


{% endblock %}
