{% extends 'layout.html' %}

{% set currentSection = "vaccinate" %}

{% set pageName = "Check and confirm" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">
      
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Template name"
            },
            value: {
              text: "Care home flu clinic"
            },
            actions: {
              items: [
                {
                  href: "name",
                  text: "Change",
                  visuallyHiddenText: "preset name"
                }
              ]
            }
          },
          {
            key: {
              text: "Date"
            },
            value: {
              text: "Day of recording"
            },
            actions: {
              items: [
                {
                  href: "date",
                  text: "Change",
                  visuallyHiddenText: "date"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              html: "Default to recorder"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "vaccinator"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccine"
            },
            value: {
              html: "Flu"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "vaccine"
                }
              ]
            }
          },
          {
            key: {
              text: "Batch"
            },
            value: {
              html: "Skipped"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "batch"
                }
              ]
            }
          },
          {
            key: {
              text: "Eligibility"
            },
            value: {
              html: "Resident in a care home"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "eligibility"
                }
              ]
            }
          }
        ]
      }) }}

      {{ button({
        text: "Create template",
        href: "/templates/?banner=success"
      }) }}

    </div>
  </div>

{% endblock %}