{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% set currentSection = "manage-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/user-admin",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if (firstNameError or lastNameError or emailError or roleError or clinicianError) %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "text": firstNameError,
              "href": "#first-name"
            } if firstNameError,
            {
              "text": lastNameError,
              "href": "#last-name"
            } if lastNameError,
            {
              "text": emailError,
              "href": "#email"
            } if emailError,
            {
              "text": clinicianError,
              "href": "#clinician"
            } if clinicianError,
            {
              "text": permissionLevelError,
              "href": "#permission-level-1"
            } if permissionLevelError
          ]
        }) }}
      {% endif %}

      <h1 class="nhsuks-heading-xl">Add user</h1>

      <form action="/user-admin/check-answers" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName,
          "errorMessage": {
            "text": firstNameError
          } if firstNameError
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName,
          "errorMessage": {
            "text": lastNameError
          } if lastNameError
        }) }}

        {{ input({
          "label": {
            "text": "NHS-approved email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email,
          "errorMessage": {
            "text": emailError
          } if emailError
        }) }}

        {{ radios({
          "name": "clinician",
          "fieldset": {
            "legend": {
              "text": "Are they a registered clinician?"
            }
          },
          hint: {
            text: "Only registered clinicians can assess the patient and record their consent."
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              id: "clinician",
              checked: (data.clinician == "yes")
            },
            {
              "value": "no",
              "text": "No",
              checked: (data.clinician == "no")
            }
          ],
          "errorMessage": {
            "text": clinicianError
          } if clinicianError
        }) }}


        {{ radios({
          "name": "permissionLevel",
          idPrefix: "permission-level",
          "fieldset": {
            "legend": {
              "text": "Permission level"
            }
          },
          value: data.permissionLevel,
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              "hint": {
                "text": "Record vaccinations, create reports and manage vaccines"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              "hint": {
                "text": "Record vaccinations, create reports, manage vaccines and users"
              }
            }
          ],
          "errorMessage": {
            "text": permissionLevelError
          } if permissionLevelError
        }) }}


        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
