{% extends 'layout.html' %}

{% set pageName = "Add user" %}

{% set currentSection = "manage-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/user-admin",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if firstNameError == "required" %}
        {% set firstNameErrorMessage = "Enter a first name" %}
      {% endif %}
      {% if lastNameError == "required" %}
        {% set lastNameErrorMessage = "Enter a last name" %}
      {% endif %}
      {% if emailError == "required" %}
        {% set emailErrorMessage = "Enter an email address" %}
      {% elseif emailError == "invalid-domain" %}
        {% set emailErrorMessage = "Enter an allowed email address" %}
      {% elseif emailError == "group-admin-not-allowed" %}
        {% set emailErrorMessage = "Group administrators cannot be added to individual pharmacies" %}
      {% elseif emailError == "already-added" %}
        {% set emailErrorMessage = "This email address has already been added" %}
      {% endif %}
      {% if vaccinatorError == "required" %}
        {% set vaccinatorErrorMessage = "Select if they’re a vaccinator" %}
      {% endif %}
      {% if permissionLevelError == "required" %}
        {% set permissionLevelErrorMessage = "Select a permission level" %}
      {% endif %}

      {% if (firstNameErrorMessage or lastNameErrorMessage or emailErrorMessage or permissionLevelErrorMessage or vaccinatorErrorMessage) %}
        {{ errorSummary({
          "titleText": "There is a problem",
          "errorList": [
            {
              "text": firstNameErrorMessage,
              "href": "#first-name"
            } if firstNameErrorMessage,
            {
              "text": lastNameErrorMessage,
              "href": "#last-name"
            } if lastNameErrorMessage,
            {
              "text": emailErrorMessage,
              "href": "#email"
            } if emailErrorMessage,
            {
              "text": vaccinatorErrorMessage,
              "href": "#vaccinator"
            } if vaccinatorErrorMessage,
            {
              "text": permissionLevelErrorMessage,
              "href": "#permission-level-1"
            } if permissionLevelErrorMessage
          ]
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">Add user</h1>
      <p>Users must have an nhs.net email or another allowed email address. See <a href="https://digital.nhs.uk/services/care-identity-service/applications-and-services/apply-for-care-id/care-identity-email-domain-allow-list" target="_blank">examples of allowed email addresses (opens in new tab)</a>.</p>

      <p>If the email address is not allowed, use a different email or <a href="/contact-us" target="_blank">contact us</a>.</p>

      <form action="/user-admin/check-answers" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName,
          "errorMessage": {
            "text": firstNameErrorMessage
          } if firstNameErrorMessage
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName,
          "errorMessage": {
            "text": lastNameErrorMessage
          } if lastNameErrorMessage
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email,
          "errorMessage": {
            "text": emailErrorMessage
          } if emailErrorMessage
        }) }}

        {{ radios({
          "name": "vaccinator",
          "fieldset": {
            "legend": {
              "text": "Are they a vaccinator?"
            }
          },
          hint: {
            text: "Vaccination records include the name of the person who gave the vaccination"
          },
          value: data.vaccinator,
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              id: "vaccinator"
            },
            {
              "value": "no",
              "text": "No"
            }
          ],
          "errorMessage": {
            "text": vaccinatorErrorMessage
          } if vaccinatorErrorMessage
        }) }}


        {{ radios({
          "name": "permissionLevel",
          idPrefix: "permission-level",
          "fieldset": {
            "legend": {
              "text": "Permission level"
            }
          },
          value: data.permissionLevel,
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              "hint": {
                "text": "Record vaccinations, create reports and manage vaccines"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              "hint": {
                "text": "Record vaccinations, create reports, manage vaccines and users"
              }
            }
          ],
          "errorMessage": {
            "text": permissionLevelErrorMessage
          } if permissionLevelErrorMessage
        }) }}


        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
