{% extends 'layout.html' %}

{% set pageName = "Change role for user" %}

{% set currentSection = "manage-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/user-admin/index1",
    text: "Back"
  }) }}
{% endblock %}

{% set userOrganisationSettings = (user.organisations | findById(data.currentOrganisationId)) %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ user.firstName }} {{ user.lastName }}</h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ user.email }}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last log in
          </dt>
          <dd class="nhsuk-summary-list__value">
            86 days ago
          </dd>
        </div>
      </dl>


      <form action="/user-admin/users/{{ user.id }}/update" method="post" novalidate="true">

        {{ radios({
          "name": "vaccinator",
          "fieldset": {
            "legend": {
              "text": "Are they a vaccinator?",
              classes: "nhsuk-fieldset__legend--s"

            }
          },
          hint: {
            text: "Vaccination records include the name of the person who gave the vaccination"
          },
          value: ("yes" if userOrganisationSettings.vaccinator else "no"),
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}


        {{ radios({
          "name": "permissionLevel",
          "fieldset": {
            "legend": {
              "text": "Permission level",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          value: userOrganisationSettings.permissionLevel,
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              "hint": {
                "text": "Record vaccinations, create reports and manage vaccines"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              "hint": {
                "text": "Record vaccinations, create reports, manage vaccines and users"
              }
            }
          ]
        }) }}

        <p>Do they still need an account? <a href="/user-admin/{{ user.id }}/deactivate">Deactivate this account</a></p>

        {{ button({
          "text": "Continue"
      }) }}
      </form>

    </div>
  </div>


{% endblock %}
