{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% from '../../components/pagination/macro.njk' import appPagination %}


{% set currentSection = "manage-users" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Manage users</h1>

      {{ button({
        "text": "Add user",
        "href": "/user-admin/add-user"
      }) }}

      <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Users</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Email address
            </th>
            <th role="columnheader" class="" scope="col">
              Permission level
            </th>
            <th role="columnheader" class="" scope="col">
              Status
            </th>
            <th role="columnheader" class="" scope="col">

            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for user in (users | sort(false, true, "firstName")) %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                {{ user.firstName }} {{ user.lastName }}

                {% if user.clinician == "yes" %}
                  (clinician)
                {% endif %}
              </td>
              <td class="nhsuk-table__cell ">{{ user.email }}</td>
              <td class="nhsuk-table__cell ">{{ user.role }}</td>
              <td class="nhsuk-table__cell ">{{ user.status }}</td>
              <td class="nhsuk-table__cell">
                <a href="/user-admin/users/{{ user.id }}/change-role" class="nhsuk-link">Change <span class="nhsuk-u-visually-hidden">details for {{ user.firstName }} </span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {{ appPagination({
        previousUrl: "#",
        nextUrl: "#",
        items: [
          {
            number: 1,
            href: "#"
          },
          {
            number: 2,
            href: "#",
            current: true
          },
          {
            number: 3,
            href: "#"
          }
        ]
      }) }}


      {% if deactivatedUsers | length > 0 %}
        <p><a href="/user-admin/deactivated">View {{ deactivatedUsers | length | plural ("deactivated user") }}</a> </p>
      {% endif %}


    </div>
  </div>


{% endblock %}
