{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% from '../../components/pagination/macro.njk' import appPagination %}


{% set currentSection = "manage-users" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">




      <h1 class="nhsuk-heading-xl">Manage users</h1>

      {{ button({
        "text": "Add user",
        "href": "/user-admin/add-user"
      }) }}

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>

            <p>For security, we deactivate users who have not logged in for 90 days. <a href="/user-admin/reactivate-all">Reactivate users (2)</a></p>
      </div>


      <div class="app-filters nhsuk-u-margin-top-5">
        <form action="/user-admin" method="get" novalidate>
          <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
            <label class="nhsuk-label" for="q">
              Search active users by name or email
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="q" name="q" type="search" value="{{ q }}">

            {{ button({
              text: "Search",
              classes: "nhsuk-button--secondary nhsuk-u-margin-left-2 app-button--small nhsuk-u-margin-bottom-0"
            })}}
          </div>
        </form>
      </div>

      <br>



      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

      <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">

         <li class="x-govuk-secondary-navigation__list-item ">
            <a class="x-govuk-secondary-navigation__link" href="/user-admin/invited">
              Invited (4)
            </a>
          </li>
          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" href="/user-admin/index" aria-current=page>
              Active ({{ totalUsers }})
            </a>
          </li>
          <li class="x-govuk-secondary-navigation__list-item ">
            <a class="x-govuk-secondary-navigation__link" href="/user-admin/deactivated">
              Deactivated (3)
            </a>
          </li>
        </ul>
      </nav>

      {% if totalUsers > 0 %}

      <table class="nhsuk-table nhsuk-u-margin-top-4">
        <caption class="nhsuk-table__caption nhsuk-table__caption--m">
          {% if q %}
            Showing {{ totalUsers | plural("active user") }} matching {{ q }}
          {% else %}
            {{ totalUsers | plural("active user") }}
          {% endif %}
        </caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="app-table__header--min-width-200" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Email address
            </th>
            <th role="columnheader" class="" scope="col">
              Vaccinator
            </th>
            <th role="columnheader" class="" scope="col">
              Permission
            </th>
            <th role="columnheader" class="" scope="col">
              Last log in
            </th>
            <th role="columnheader" class="app-table__header--min-width-100" scope="col">

            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for user in (users | sort(false, true, "firstName")) %}

            {% set userOrganisationSettings = (user.organisations | findById(data.currentOrganisationId)) %}

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                {{ user.firstName }} {{ user.lastName }}
              </td>
              <td class="nhsuk-table__cell ">{{ user.email }}</td>
              <td class="nhsuk-table__cell ">
                {% if userOrganisationSettings.vaccinator %}
                  Yes
               {% else %}
                  No
                {% endif %}
              </td>
              <td class="nhsuk-table__cell ">{{ userOrganisationSettings.permissionLevel }}</td>
              <td class="nhsuk-table__cell ">Today</td>
              <td class="nhsuk-table__cell app-table__cell--right-aligned">
                <a href="/user-admin/users/{{ user.id }}/change-role" class="nhsuk-link">Change <span class="nhsuk-u-visually-hidden">details for {{ user.firstName }} </span></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}

        <div class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
          <p>No users matching {{ q }}.</p>
        </div>

      {% endif %}

    </div>
  </div>

{% endblock %}




