{% extends 'layout.html' %}

{% block pageTitle %}
  Manage users and permissions
{% endblock %}

{% from '../../components/pagination/macro.njk' import appPagination %}


{% set currentSection = "manage-users" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Manage users</h1>

      {{ button({
        "text": "Add user",
        "href": "/user-admin/add-user"
      }) }}


      <div class="app-filters nhsuk-u-margin-top-5">
        <form action="/user-admin" method="get" novalidate>
          <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
            <label class="nhsuk-label" for="q">
              Search deactivated users by name or email
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="q" name="q" type="search" value="{{ q }}">

            {{ button({
              text: "Search",
              classes: "nhsuk-button--secondary nhsuk-u-margin-left-2 app-button--small nhsuk-u-margin-bottom-0"
            })}}
          </div>
        </form>
      </div>
      <br>

      <p>For security, we deactivate users who have not logged in for 90 days. <br><a href="/user-admin/reactivate-all">Reactivate (2) users who have been deactivated for this reason</a></p>

<br>


      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
    
      <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
        <ul class="x-govuk-secondary-navigation__list">
            <li class="x-govuk-secondary-navigation__list-item ">
            <a class="x-govuk-secondary-navigation__link" href="/user-admin/index1" aria-current=page>
              Active (102)
            </a>
          </li>
          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" href="/user-admin/deactivated">
              Deactivated (3)
            </a>
          </li>
          
        </ul>
      </nav>

    
    
    
          <table class="nhsuk-table-responsive" role="table">

            <br>
    

            <caption class="nhsuk-table__caption">3 Deactivated users</caption>

            <thead class="nhsuk-table__head" role="rowgroup">
                <thead role="rowgroup" class="nhsuk-table__head">
                    <tr role="row">
          
                      <th role="columnheader" class="" scope="col">
                        Name
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Email
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Clinician
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Permission
                      </th>
                      <th role="columnheader" class="" scope="col">
                        Reason deactivated
                    </th>
                      <th role="columnheader" class="" scope="col">
                        
                      </th>
                      
                    </tr>
            </thead>
    
            <tbody class="nhsuk-table__body">
                  
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Doe, Jane
              </td>
              
                <td class="nhsuk-table__cell">
                  jane.doe@nhs.net
              </td>
              
              <td class="nhsuk-table__cell">
                  Yes
              </td>
              <td class="nhsuk-table__cell">
                Administrator
            </td>
            <td class="nhsuk-table__cell">
               By John Smith
            </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/user-admin/reactivate">Reactivate</a>
            </td> 
                </tr>


                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                        West, Wallace
                  </td>
                  
                    <td class="nhsuk-table__cell">
                    wallace.west@nhs.net
                  </td>
                  
                  <td class="nhsuk-table__cell">
                      Yes
                  </td>
                  <td class="nhsuk-table__cell">
                    Administrator
                </td>
                <td class="nhsuk-table__cell">
                    90 days since log in
                </td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/user-admin/reactivate">Reactivate</a>
                  </td> 
                    </tr>

                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                        Phillips, Zack
                  </td>
                  
                    <td class="nhsuk-table__cell">
                    zach.phillips@nhs.net
                  </td>
                  
                  <td class="nhsuk-table__cell">
                      Yes
                  </td>
                  <td class="nhsuk-table__cell">
                    Administrator
                </td>
                <td class="nhsuk-table__cell">
                    90 days since log in
                </td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/user-admin/reactivate">Reactivate</a>
                  </td> 
                    </tr>

                
              </tbody>
            </table>
    
            
            
        </div>
      </div>
      
      <br>



{% endblock %}




