{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% set currentSection = "manage-users" %}

{% block beforeContent %}
  {{ backLink({
    href: "/user-admin/index2",
    text: "Back"
  }) }}
{% endblock %}

{% set userOrganisationSettings = (user.organisations | findById(data.currentOrganisationId)) %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Zach Phillips</h1>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            zach.phillips@nhs.net
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           Deactivated by
          </dt>
          <dd class="nhsuk-summary-list__value"> 
            90-days inactive
            <div class="nhsuk-hint" id="contact-hint">
                User deactivated due to 90-days consecutive inactivity
              </div>
          </dd>
        </div>
      </dl>



      <form action="/user-admin/users/{{ user.id }}/update" method="post" novalidate="true">

        {{ radios({
          "name": "clinician",
          "fieldset": {
            "legend": {
              "text": "Are they a clinician?",
              classes: "nhsuk-fieldset__legend--s"
              
            }
          },
          hint: {
            text: "Only a registered clinician can assess patients for vaccines"
          },
          value: ("yes" if userOrganisationSettings.clinician else "no"),
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}


        {{ radios({
          "name": "permissionLevel",
          "fieldset": {
            "legend": {
              "text": "Permission level",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          value: userOrganisationSettings.permissionLevel,
          "items": [
            {
              "value": "Recorder",
              "text": "Recorder",
              "hint": {
                "text": "Record vaccinations only"
              }
            },
            {
              "value": "Administrator",
              "text": "Administrator",
              "hint": {
                "text": "Record vaccinations, create reports and manage vaccines"
              }
            },
            {
              "value": "Lead administrator",
              "text": "Lead administrator",
              "hint": {
                "text": "Record vaccinations, create reports, manage vaccines and users"
              }
            }
          ]
        }) }}

    
          {{ button({
            text: "Reactivate user",
            classes: "nhsuk-button--secondary",
            "href": "/user-admin/reactivate"
          }) }}

      </form>

    </div>
  </div>


{% endblock %}
