{% extends 'layout.html' %}

{% set pageName = "The patient has already had 2 MMR vaccinations" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--interruption">
        {% if data.firstName and data.lastName %}
          {% set displayName = data.firstName ~ ' ' ~ data.lastName %}
        {% else %}
          {% set displayName = 'Patient Name' %}
        {% endif %}
        <h1 class="nhsuk-panel__title">{{ displayName }} has already had 2 MMR vaccinations</h1>

        <div class="nhsuk-panel__body">
          <p>
            {{ displayName }} had a 2nd MMR vaccination on 10 July 2025.
          </p>

          <p>
            Most people only need 2 doses of the MMR vaccine.
          </p>

          {{ button({
            "text": "Continue anyway",
            "href": "/record-vaccinations/consent",
            "classes": "nhsuk-button--reverse"
          }) }}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

