{% extends 'layout.html' %}

{% set pageName = "The patient had an MMR vaccination less than 1 month ago" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data.firstName and data.lastName %}
        {% set displayName = data.firstName ~ ' ' ~ data.lastName %}
      {% else %}
        {% set displayName = 'Patient Name' %}
      {% endif %}

      {% set panelHtml %}
        <p>
          {{ displayName }} had an MMR vaccination on 10 July 2025.
        </p>

        <p>
          The minimum recommended gap between MMR doses is 1 month.
        </p>

        {{ button({
          "text": "Continue anyway",
          "href": "/record-vaccinations/consent",
          "classes": "nhsuk-button--reverse"
        }) }}
      {% endset %}

      {{ panel({
        titleText: displayName + " had an MMR vaccination less than 4 weeks ago",
        html: panelHtml,
        classes: "nhsuk-panel--interruption"
      }) }}

    </div>
  </div>
{% endblock %}

