{% extends 'layout.html' %}

{% set pageName = "The patient has already had 2 MMR vaccines" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Jodie Brown has already had 2 MMR vaccines</h1>

      <p>
        Jodie Brown had a second MMR vaccine on 10 July 2025.
      </p>

      <p>
        Most people only need 2 doses of the MMR vaccine.
      </p>
   
    </div>
  </div>

  {{ button({
    "text": "Continue anyway",
    "href": "/record-vaccinations/consent"
  }) }}

{% endblock %}

