{% extends 'layout.html' %}

{% set pageName = "Find a patient" %}

{% set currentSection = "find-a-patient" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Find a patient</h1>

      {{ insetText({
        html: "<p>This section will soon be replaced by Record vaccinations. From 1 December 2025, you must record all vaccinations in the new section. 
          <br><br> <a> Find out more (opens in new tab)</a></p>"
      })}}



      <div class="nhsuk-tabs" data-module="nhsuk-tabs">
        <h2 class="nhsuk-tabs__title">
          Contents
        </h2>
        <ul class="nhsuk-tabs__list">
          <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
            <a class="nhsuk-tabs__tab" href="#past-day">
              By NHS number
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#past-week">
              By demographics
            </a>
          </li>
          <li class="nhsuk-tabs__list-item">
            <a class="nhsuk-tabs__tab" href="#past-month">
              By local records
            </a>
          </li>
         
        </ul>
        <div class="nhsuk-tabs__panel" id="past-day">
      



              <div class="nhsuk-form-group">
                <h2 class="nhsuk-label-wrapper"><label class="nhsuk-label nhsuk-label--l" for="example-with-hint-text">
                    Search by NHS number
                  </label></h2>

                  <label class="nhsuk-label" for="example-with-hint-text">
                   The quickest way to find a patient
                  </label>


                <div class="nhsuk-hint" id="example-with-hint-text-hint">
                  Enter a 10 digit NHS number

                </div>
                <label class="nhsuk-label" for="example-with-hint-text">
                  NHS number
                 </label>

                
                <input class="nhsuk-input nhsuk-input--width-10" id="example-with-hint-text" name="example-with-hint-text" type="text" aria-describedby="example-with-hint-text-hint" inputmode="numeric">
              </div>

              {{ button({
                "text": "Search",
                "href": ""
              }) }}

      
        </div>
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-week">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Past week</caption>
            <thead class="nhsuk-table__head">
              <tr>
                <th scope="col" class="nhsuk-table__header">Case manager</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Cases opened</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Cases closed</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">David Francis</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">24</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">18</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Paul Farmer</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">16</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">20</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Rita Patel</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">24</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">27</td>
              </tr>
            </tbody>
          </table>
      
        </div>
        <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-month">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Past month</caption>
            <thead class="nhsuk-table__head">
              <tr>
                <th scope="col" class="nhsuk-table__header">Case manager</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Cases opened</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Cases closed</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">David Francis</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">98</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">95</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Paul Farmer</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">122</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">131</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Rita Patel</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">126</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">142</td>
              </tr>
            </tbody>
          </table>



        </div>
       
  
        </div>
        
      </div>


    </div>
  </div>





{% endblock %}
