
// Makes all navigation items from this one on right-aligned
//
// A bit of a hack - possibly they should be in 2 separate lists?
.app-header__navigation-item--right-aligned {
  margin-left: auto;
}

// Bump the border-bottom size up from 4px to 6px
// - this gives the 'current' item more visual weight
.nhsuk-header__navigation-link,
.nhsuk-header__navigation-link:active,
.nhsuk-header__navigation-link:focus {
  border-bottom-width: 6px;
}

// A style to highlight the current section the user is in
.app-header__navigation-link--current,
.app-header__navigation-item--current a {
  text-decoration: none;
  border-bottom-color: $nhsuk-border-color;
}

// Temporary mockup until this has been released
.app-header__account-item {
  background-color: #004b93;
  padding: 3px 15px;
  border-radius: 5px;
}

.app-header__account-item .nhsuk-header__navigation-link {
  padding-top: 0px;
  padding-bottom: 0px;
}


.app-header__navigation-item--with-count {
  .app-count {
    margin-left: 6px;
    min-width: nhsuk-spacing(4);
    padding-bottom: 3px;
    padding-top: 5px;
    text-decoration: none;
    @include nhsuk-font(14, $line-height: 1);
  }
}

.app-count {
  background-color: rgba(0, 47, 92, 0.4);
  border-radius: nhsuk-spacing(3);
  color: $color_nhsuk-white;
  display: inline-block;
  min-width: nhsuk-spacing(5);
  padding-left: nhsuk-spacing(2);
  padding-right: nhsuk-spacing(2);
  text-align: center;
  @include nhsuk-font(16);
}
