
// Makes all navigation items from this one on right-aligned
//
// A bit of a hack - possibly they should be in 2 separate lists?
.app-header__navigation-item--right-aligned {
  margin-left: auto;
}


// A style to highlight the current section the user is in
.app-header__navigation-link--current {
  text-decoration: none;
  background-color: #064a8c;
  border-bottom: 6px solid $color_nhsuk-grey-5;
}
