
.app-panel--info {
  border-color: nhsuk-colour("blue");
  background-color: nhsuk-colour("white");
  color: nhsuk-colour("black");


  .nhsuk-panel__title {
    @include nhsuk-font-size(26);
    @include nhsuk-responsive-margin(3, "bottom");
  }
}
