.app-scrollable-container {
  max-height: 500px;
  overflow-y: scroll;
  margin-bottom: nhsuk-spacing(4);

  // Force scrollbar to always be visible on WebKit browsers (Chrome, Safari)
  &::-webkit-scrollbar {
    width: $nhsuk-border-width-inset-text;
  }

  &::-webkit-scrollbar-track {
    background: $nhsuk-border-colour;
  }

  &::-webkit-scrollbar-thumb {
    background: $nhsuk-input-border-colour;
    border-radius: 4px;
  }
}
