.nhsuk-search-input {
  display: block;
}

.nhsuk-search-input__wrapper {
  display: flex;
  align-items: stretch;
  width: nhsuk-px-to-rem(265px);
  max-width: 100%;
}

.nhsuk-search-input__input {
  @include nhsuk-font(19);

  position: relative;
  flex: 1 1 auto;
  width: nhsuk-px-to-rem(220px);
  min-width: 0;
  box-sizing: border-box;
  height: nhsuk-px-to-rem(42px);
  margin: 0;
  border-radius: 0;

  &:focus {
    z-index: 1;
    @include nhsuk-focused-input;
  }

  // Hide browser-specific search decorations for consistent rendering.
  &::-ms-clear {
    display: none;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.nhsuk-search-input__wrapper .nhsuk-search-input__button {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: nhsuk-px-to-rem(45px);
  box-sizing: border-box;
  height: nhsuk-px-to-rem(42px);
  margin: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: nhsuk-px-to-rem(4px);
  border: 1px solid $nhsuk-button-colour;
  border-left: 0;
  border-radius: 0 nhsuk-px-to-rem($nhsuk-border-radius) nhsuk-px-to-rem($nhsuk-border-radius) 0;
  color: nhsuk-colour("white");
  background-color: $nhsuk-button-colour;
  box-shadow: inset 0 nhsuk-px-to-rem(-4px) 0 $nhsuk-button-shadow-colour;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $nhsuk-button-hover-colour;
    border-color: $nhsuk-button-hover-colour;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 nhsuk-px-to-rem(-4px) 0 $nhsuk-button-shadow-colour;
  }

  &:focus:not(:active),
  &:focus:not(:active):hover {
    outline: $nhsuk-focus-width solid transparent;
    outline-offset: $nhsuk-focus-width;
    color: $nhsuk-focus-text-colour;
    background-color: $nhsuk-focus-colour;
    box-shadow: inset 0 nhsuk-px-to-rem(-4px) 0 $nhsuk-focus-text-colour;

    .nhsuk-icon {
      color: $nhsuk-focus-text-colour;
      fill: $nhsuk-focus-text-colour;
    }
  }

  &:active,
  &:active:focus {
    top: 0;
    box-shadow: inset 0 nhsuk-px-to-rem(-2px) 0 $nhsuk-button-shadow-colour;
  }
}

.nhsuk-search-input__button-icon {
  width: nhsuk-px-to-rem(24px);
  height: nhsuk-px-to-rem(24px);
  fill: currentColor;
}
