.app-search {
  display: flex;
  gap: nhsuk-spacing(1);


  .app-search--input {
    display: flex;
    flex: 1;
    margin: 0;
  }

  .nhsuk-form-group {
    width: 100%;
  }

  .app-search--button {
    display: flex;
    flex: 0;
  }
}
