<table class="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">By vaccination</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Vaccination
      </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Today
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Past 7 days
        </th>
        <th role="columnheader" class="nhsuk-table__header--numeric" scope="col">
          {{ (monthToday | monthName) }} to date
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Total
        </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">

  {% for totalByVaccine in (totalsByVaccine | sort(false, true, "vaccine") ) %}
    <tr role="row">
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">
        {{ totalByVaccine.vaccine | capitaliseFirstLetter }}
      </th>
      <td class="nhsuk-table__cell--numeric">
        {{ totalByVaccine.today }}
      </td>
      <td class="nhsuk-table__cell--numeric">
        {{ totalByVaccine.past7Days }}
      </td>
      <td class="nhsuk-table__cell--numeric">
        {{ totalByVaccine.month }}
      </td>
      <td class="nhsuk-table__cell--numeric">
        {{ totalByVaccine.total }}
      </td>
    </tr>
  {% endfor %}


  </tbody>
</table>
