{% extends 'layout.html' %}

{% if currentOrganisation %}
  {% set pageName = currentOrganisation.name + " - Home" %}
{% else %}
  {% set pageName = "Home" %}
{% endif %}
{% set currentSection = "home" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "includes/notification.html" %}

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">{% if currentOrganisation %}{{ currentOrganisation.name }}{% else %}Overview{% endif %}</h1>


      {% if currentOrganisation and totalVaccinationsRecorded == 0 %}
        {% include "home/_no-vaccinations-recorded.html" %}
      {% endif %}

      {% from 'inset-text/macro.njk' import insetText %}

{% set insetTextHtml %}
  <p>Find out about the latest updates to the service:
  <br><a href="/updates" title="External website">What's new (opens in new tab)</a></p>
{% endset %}

{{ insetText({
  html: insetTextHtml
}) }}

      <h2 class="nhsuk-heading-m">All vaccinations</h2>
      {% if not currentOrganisation %}
      <p>This shows vaccination data for all your organisations combined.</p>
      {% endif %}


    </div>
  </div>

  {% include "home/_vaccination-totals.html" %}


  {% if totalVaccinationsRecorded > 0 %}

    {% set byDayHtml %}
      {% include "home/_by-day.html" %}
    {% endset %}

    {% set byVaccinationHtml %}
      {% include "home/_by-vaccine.html" %}
    {% endset %}

    {% set bySiteHtml %}
      {% include "home/_by-site.html" %}
    {% endset %}

    {% set byOrganisationHtml %}
      {% include "home/_by-organisation.html" %}
    {% endset %}

    {{ tabs({
      items: [
      {
        label: "By day",
        id: "past-7-days",
        panel: {
          html: byDayHtml
          }
        },
        {
          label: "By vaccination",
          id: "by-vaccination",
          panel: {
            html: byVaccinationHtml
          }
        } if (totalsByVaccine | length) > 1,
        {
          label: "By site",
          id: "by-site",
          panel: {
            html: bySiteHtml
          }
        } if (totalsBySite | length) > 1,
        {
          label: "By organisation",
          id: "by-organisations",
          panel: {
            html: byOrganisationHtml
          }
        } if (totalsByOrganisation | length) > 1
      ]
    }) }}

    <p>For a more detailed breakdown, <a href="/reports">create a report</a>.</p>
  {% endif %}
{% endblock %}
