{% extends 'layout.html' %}

{% set pageName = "Which batch was used? – Records" %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/index1",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/records/records" method="post">
        <input type="hidden" name="changedField" value="Batch">

          {{ radios({
            "idPrefix": "batchNumber",
            "name": "batchNumber",
            "fieldset": {
              "legend": {
                "text": ("Choose a batch" if vaccination.vaccinationToday == 'yes' else "Select a batch"),
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            },
            value: data.batchNumber,
            "items": [
              {
                "value": "AB2345",
                "text": "AB2345",
                hint: {
                  text: "Expires 14 February 2025"
                }
              },
              {
                "value": "DE8342",
                "text": "DE8342",
                hint: {
                  text: "Expires 19 February 2025"
                }
              },
              {
                "value": "LF842",
                "text": "LF842",
                hint: {
                  text: "Expires 28 February 2025"
                }
              },
              {
                "value": "XT1234",
                "text": "XT1234",
                hint: {
                  text: "Expired 3 March 2024"
                }
              },
              {
                "value": "PU1234",
                "text": "PU1234",
                hint: {
                  text: "Expired 28 February 2024"
                }
              },
              {
                "value": "HN6543",
                "text": "HN6543",
                hint: {
                  text: "Expired 22 January 2024"
                }
              }
            ]
          }) }}

        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

