{% extends 'layout.html' %}

{% set pageName = "Which vaccine product was it? – Records" %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/records/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Product">

        {{ radios({
          idPrefix: "vaccineProduct",
          name: "vaccineProduct",
          fieldset: {
            legend: {
              text: "Which COVID-19 vaccine did you give?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "Comirnaty 30 JN.1",
              text: "Comirnaty 30 JN.1",
              checked: (data.vaccineProduct === "Comirnaty 30 JN.1")
            },
            {
              value: "Comirnaty 10 JN.1",
              text: "Comirnaty 10 JN.1",
              checked: (data.vaccineProduct === "Comirnaty 10 JN.1")
            },
            {
              value: "Comirnaty 3 JN.1",
              text: "Comirnaty 3 JN.1",
              checked: (data.vaccineProduct === "Comirnaty 3 JN.1")
            },
            {
                value: "Spiekvax JN.1",
                text: "Spiekvax JN.1",
                checked: (data.dvaccineProduct === "Spiekvax JN.1")
              }
          ]
        }) }}

        {{ button({
          text: "Save"
        })}}

      </form>

    </div>
  </div>

{% endblock %}

