{% extends 'layout.html' %}

{% set pageName = "Which vaccine was it? – Records" %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if vaccineError %}
        {% set error = {text: vaccineError, href: "#vaccine-1"} %}
      {% elseif vaccineProductError %}
        {% if vaccination.vaccine == "RSV" %}
          {% set errorHref = "#vaccineProductRsv-1" %}
        {% elseif vaccination.vaccine == "COVID-19" %}
          {% set errorHref = "#vaccineProductCovid-1" %}
        {% elseif vaccination.vaccine == "Pertussis" %}
          {% set errorHref = "#vaccineProductPertussis-1" %}
        {% elseif vaccination.vaccine == "Flu" %}
          {% set errorHref = "#vaccineProductFlu-1" %}
        {% endif %}

        {% set error = {text: vaccineProductError, href: errorHref} %}
      {% endif %}

      {% if error %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            error
          ]
        }) }}
      {% endif %}

      <form action="/records/records/{{ vaccination.id }}/batch" method="post">
        <input type="hidden" name="changedField" value="Vaccine">

      {% set covid19Product %}
        {{ radios({
          "idPrefix": "vaccineProductCovid",
          "name": "vaccineProduct",
          "fieldset": {
            "legend": {
              "text": "Vaccine product"
            }
          },
          errorMessage: {
            text: vaccineProductError
          } if vaccineProductError and vaccination.vaccine == "COVID-19",
          value: data.vaccineProduct,
          "items": [
            {
              "value": "Comirnaty 30 JN.1",
              "text": "Comirnaty 30 JN.1"
            },
            {
              "value": "Comirnaty 10 JN.1",
              "text": "Comirnaty 10 JN.1"
            },
            {
              "value": "Comirnaty 3 JN.1",
              "text": "Comirnaty 3 JN.1"
            },
            {
              "value": "Spikevax JN.1",
              "text": "Spikevax JN.1"
            }
          ]
        }) }}
      {% endset %}

      {% set fluProduct %}
        {{ radios({
          "idPrefix": "vaccineProductFlu",
          "name": "vaccineProduct",
          "fieldset": {
            "legend": {
              "text": "Vaccine product"
            }
          },
          value: data.vaccineProduct,
          errorMessage: {
            text: vaccineProductError
          } if vaccineProductError and vaccination.vaccine == "Flu",
          "items": [
            {
              "value": "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)",
              "text": "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
            },
            {
              "value": "Cell-based Quadrivalent Influenza Vaccine (QIVc)",
              "text": "Cell-based Quadrivalent Influenza Vaccine (QIVc)"
            },
            {
              "value": "Fluenz (LAIV)",
              "text": "Fluenz (LAIV)"
            },
            {
              "value": "Influenza Tetra MYL (QIVe)",
              "text": "Influenza Tetra MYL (QIVe)"
            },
            {
              "value": "Quadrivalent Influenza Vaccine (QIVe)",
              "text": "Quadrivalent Influenza Vaccine (QIVe)"
            },
            {
              "value": "Quadrivalent Influenza Vaccine - High Dose (QIV-HD)",
              "text": "Quadrivalent Influenza Vaccine - High Dose (QIV-HD)"
            }
          ]
        }) }}

      {% endset %}

      {% set pertussisProduct %}
        {{ radios({
          "idPrefix": "vaccineProductPertussis",
          "name": "vaccineProduct",
          "fieldset": {
            "legend": {
              "text": "Vaccine product"
            }
          },
          value: data.vaccineProduct,
          errorMessage: {
            text: vaccineProductError
          } if vaccineProductError and vaccination.vaccine == "Pertussis",
          "items": [
            {
              "value": "Adacel vaccine suspension",
              "text": "Adacel vaccine suspension"
            },
            {
              "value": "Boostrix-IPV suspension",
              "text": "Boostrix-IPV suspension"
            },
            {
              "value": "Repevax vaccine suspension",
              "text": "Repevax vaccine suspension"
            }
          ]
        }) }}
     {% endset %}

      {% set rsvProduct %}
        {{ radios({
          "idPrefix": "vaccineProductRsv",
          "name": "vaccineProduct",
          "fieldset": {
            "legend": {
              "text": "Vaccine product"
            }
          },
          value: data.vaccineProduct,
          errorMessage: {
            text: vaccineProductError
          } if vaccineProductError and vaccination.vaccine == "RSV",
          "items": [
            {
              "value": "Abrysvo",
              "text": "Abrysvo"
            }
          ]
        }) }}
    {% endset %}

      {% if vaccination.repeatPatient == 'yes' and vaccination.patientName %}

        {% set question = ("Which vaccine was it?" + vaccination.patientName + "?" if vaccination.vaccinationToday == 'yes' else "Which vaccine was it?" + vaccination.patientName + "?") %}
      {% else %}
        {% set question = ("Which vaccine was it?" if vaccination.vaccinationToday == 'yes' else "Which vaccine was it?") %}
      {% endif %}

      {{ radios({
        "idPrefix": "vaccine",
        "name": "vaccine",
        "fieldset": {
          "legend": {
            "text": question,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        value: data.vaccine,
        errorMessage: {
          text: vaccineError
        } if vaccineError,
        "items": [
          {
            "value": "COVID-19",
            "text": "COVID-19",
            conditional: {
              html: covid19Product
            }
          },
          {
            "value": "Flu",
            "text": "Flu",
            conditional: {
              html: fluProduct
            }
          },
          {
            "value": "Pertussis",
            "text": "Pertussis",
            conditional: {
              html: pertussisProduct
            }
          },
          {
            "value": "RSV",
            "text": "RSV",
            conditional: {
              html: rsvProduct
            }
          }
        ]
      }) }}

        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

