{% extends 'layout.html' %}

{% set pageName = "Which vaccine product was it? – Records" %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/records/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Product">

        {{ radios({
          idPrefix: "vaccineProduct",
          name: "vaccineProduct",
          fieldset: {
            legend: {
              text: "Which " + vaccination.vaccine + " vaccine product was it?",
              size: "l",
              isPageHeading: true
            }
          },
          value: data.vaccineProduct,
          items: [
            {
              value: "Abrysvo",
              text: "Abrysvo"
            },
            {
              value: "Arexvy",
              text: "Arexvy (example only)"
            }
          ]
        }) }}

        {{ button({
          text: "Save"
        })}}

      </form>

    </div>
  </div>

{% endblock %}

