{% extends 'layout.html' %}

{% set pageName = "Who gave consent? – Records" %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/records/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Consent">

        {% set otherConsentHtml %}

          {{ input({
            label: {
              text: "Name"
            },
            id: "consentName",
            name: "consentName",
            value: ((vaccination.consentName | first) if vaccination.consentName else "")
          }) }}

        {% endset %}

        {{ radios({
          idPrefix: "consent",
          name: "consent",
          fieldset: {
            legend: {
              text: ("Who gave consent?" if data.vaccinationToday == 'yes' else "Who gave consent?"),
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: "true"
            }
          },
          value: data.consent,
          items: [
            {
              value: "Patient",
              text: vaccination.patient.name
            },
            {
              divider: "or"
            },
            {
              value: "Clinician following the Mental Capacity Act",
              text: "Clinician following the Mental Capacity Act",
              conditional: {
                html: otherConsentHtml
              }
            },
            {
                value: "Person with power of attorney for personal welfare",
                text: "Person with power of attorney for personal welfare",
                conditional: {
                  html: otherConsentHtml
                }
              },
              {
                value: "Parent or guardian",
                text: "Parent or guardian",
                conditional: {
                  html: otherConsentHtml
                }
              },
              {
                value: "Mental capacity advocate",
                text: "Mental capacity advocate",
                conditional: {
                  html: otherConsentHtml
                }
              },
              {
                value: "Court appointed deputy",
                text: "Court appointed deputy",
                conditional: {
                  html: otherConsentHtml
                }
              }
          ]
        }) }}

        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

