{% extends 'layout.html' %}

{% set pageName = "Records" %}

{% set currentSection = "records" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">Records</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% set filtersHtml %}

        <form action="/records" method="get" novalidate>

          <div class="app-form-group--inline nhsuk-u-margin-bottom-4">
            {{ input({
              type: "search",
              name: "nameOrNhsNumber",
              value: data.nameOrNhsNumber,
              label: {
                text: "Patient name or NHS number"
              },
              formGroup: {
                classes: "nhsuk-u-margin-bottom-0",
                afterInput: {
                  html: button({
                    text: "Search",
                    classes: "nhsuk-button--secondary nhsuk-button--small"
                  })
                }
              }
            }) }}
          </div>


          {% set additionalFiltersHtml %}
            {% set vaccineItems = [] %}
            {% for vaccine in (vaccinesRecorded | sort(false, false)) %}
              {% set vaccineItems = (vaccineItems.push({
                value: vaccine,
                text: (vaccine | capitaliseFirstLetter)
              }), vaccineItems) %}
            {% endfor %}


            {{ checkboxes({
              name: "vaccine",
              classes: "nhsuk-checkboxes--small",
              fieldset: {
                legend: {
                  text: "Vaccine",
                  classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1"
                }
              },
              items: vaccineItems
            }) }}

            {{ input({
              name: "batchNumber",
              classes: "nhsuk-input--width-20",
              label: {
                text: "Vaccine batch number",
                size: "s"
              }
            }) }}

            {{ dateInput({
              id: "dateOfBirth",
              namePrefix: "dateOfBirth",
              fieldset: {
                legend: {
                  text: "Patient date of birth",
                  classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1"
                }
              },
              errorMessage: {
                text: dateOfBirthError
              } if dateOfBirthError,
              items: [
                {
                  name: "day",
                  classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if dateOfBirthError else ""),
                  value: data.dateOfBirth.day
                },
                {
                  name: "month",
                  classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if dateOfBirthError else ""),
                  value: data.dateOfBirth.month
                },
                {
                  name: "year",
                  classes: "nhsuk-input--width-4 " + ("nhsuk-input--error" if dateOfBirthError else ""),
                  value: data.dateOfBirth.year
                }
              ]
            }) }}

            {% set vaccinatorItems = [{
              value: "",
              text: ""
            }] %}

            {% for vaccinator in (vaccinators | sort(false, false)) %}
              {% set vaccinatorItems = (vaccinatorItems.push({
                value: vaccinator.id,
                text: (vaccinator.firstName + " " + vaccinator.lastName)
              }), vaccinatorItems) %}
            {% endfor %}


            {{ select({
              name: "vaccinatorId",
              label: {
                text: "Vaccinator",
                size: "s"
              },
              items: vaccinatorItems
            }) }}

            {{ button({
              text: "Update results",
              classes: "nhsuk-button--secondary"
            }) }}
          {% endset %}

          {{ details({
            summaryText: "Additional filters",
            html: additionalFiltersHtml
          }) }}
        </form>
      {% endset %}


      {{ card({
        classes: "nhsuk-u-margin-top-0 app-card--filters",
        heading: "Find a record",
        feature: true,
        descriptionHtml: filtersHtml
      }) }}


      <h2 class="nhsuk-heading-m">{{ totalMatchingRecords | plural("record") }}
      {% if data.nameOrNhsNumber %} matching {{ data.nameOrNhsNumber }}{% endif %}
      </h2>

      {% set resultsTableHtml %}
        <table class="nhsuk-table">
          <thead>
            <tr>
              <th class="">Patient</th>
              <th class="">Date</th>
              <th class="nhsuk-u-width-one-third">Vaccine</th>
              <th class="">Vaccinator</th>
            </tr>
          </thead>
          <tbody>
            {% for record in vaccinations %}
              <tr>
                <td>
                  <a href="/records/records/{{ record.id }}">{{ record.patient.name }}</a><br>
                  <span class="nhsuk-u-secondary-text-colour nhsuk-u-nowrap">{{ record.patient.nhsNumber }}</span>
                </td>
                <td>
                  <span class="nhsuk-u-nowrap">
                    {{ record.date | isoDateFromDateInput | govukDate(truncate=true) }}
                  </span><br>
                  <span class="nhsuk-u-secondary-text-colour nhsuk-u-nowrap">13:14</span>
                </td>
                <td>
                  {{ record.vaccine | capitaliseFirstLetter }}<br>
                  {{ record.vaccineProduct }}<br>
                  <span class="nhsuk-u-secondary-text-colour">{{ record.batchNumber }}</span>
                </td>
                <td>
                  {% set vaccinator =  data.users | findById(record.vaccinatorId) %}
                  {{ vaccinator.firstName }}
                  {{ vaccinator.lastName }}
                </td>
              </tr>


            {% endfor %}
          </tbody>
        </table>
      {% endset %}

      {{ card({
        classes: "nhsuk-u-margin-top-0",
        descriptionHtml: resultsTableHtml
      }) }}

      {% set items = [] %}

      {% set queryString = "?" %}
      {% if data.nameOrNhsNumber %}
        {% set queryString = queryString + "&nameOrNhsNumber=" + data.nameOrNhsNumber %}
      {% endif %}

      {% set ellipsisAdded = false %}
      {% for i in range(1, totalPages + 1) -%}
        {% if i == 1 or i == (page -1) or (i == page) or (i == page + 1) or (i == totalPages) %}
          {% set items = (items.push({
            number: i,
            href: "/records" + queryString + "&page=" + i,
            current: (i === page)
          }), items) %}
          {% set ellipsisAdded = false %}
        {% elif ellipsisAdded == false %}
          {% set items = (items.push({
            ellipsis: true
          }), items) %}
          {% set ellipsisAdded = true %}
        {% endif %}
      {%- endfor %}

      {% if totalPages > 1 %}
        {{ pagination({
          previous: {
            href: "/records" + queryString + "&page=" + (page - 1)
          } if page != 1,
          next: {
            href: "/records" + queryString + "&page=" + (page + 1)
          } if page != totalPages,
          items: items
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}
