{% extends 'layout.html' %}

{% set pageName = "Where was the injection given? – Records" %}

{% set currentSection = "records" %}


{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/records/records/{{ vaccination.id }}" method="post">

      <input type="hidden" name="changedField" value="Injection site">

        {% set somewhereElseHtml %}

        {{ radios({
          idPrefix: "otherInjectionSite",
          name: "otherInjectionSite",
          fieldset: {
            legend: {
              text: "Injection site",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Left buttock",
              text: "Left buttock",
              checked: (vaccination.otherInjectionSite == "Left buttock")
            },
            {
              value: "Right buttock",
              text: "Right buttock",
              checked: (vaccination.otherInjectionSite == "Right buttock")
            },
            {
              value: "Left thigh",
              text: "Left thigh",
              checked: (vaccination.otherInjectionSite == "Left thigh")
            },
            {
              value: "Right thigh",
              text: "Right thigh",
              checked: (vaccination.otherInjectionSite == "Right thigh")
            }
          ]
        }) }}
        {% endset %}


        {{ radios({
          idPrefix: "injectionSite",
          name: "injectionSite",
          fieldset: {
            legend: {
              text: "Where was the injection given?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "Left arm",
              text: "Left arm",
              checked: (vaccination.injectionSite == 'Left arm')
            },
            {
              value: "Right arm",
              text: "Right arm",
              checked: (vaccination.injectionSite == 'Right arm')
            },
            {
              divider: "or"
            },
            {
              value: "other",
              text: "Somewhere else",
              checked: (vaccination.injectionSite == 'other'),
              conditional: {
                html: somewhereElseHtml
              }
            }
          ]
        }) }}

        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

