{% extends 'layout.html' %}

{% set pageName = "Optional note – Records" %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/records/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Optional note">

        {{ textarea({
          name: "notes",
          id: "notes",
          label: {
            text: "Optional note",
            size: "l",
            isPageHeading: true
          },
          hint: {
            text: "This will not be sent to the patient's GP. Only your organisation will see it."
          },
          value: vaccination.notes,
          rows: 3,
          classes: "nhsuk-u-margin-bottom-7"
        }) }}


        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

