{% extends 'layout.html' %}

{% block pageTitle %}
  Update your name
{% endblock %}

{% set currentSection = "user-profile" %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "/user-profile/v2"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">Update your name</h1>

      <form action="/user-profile/v2/update" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: currentUser.firstName
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20 nhsuk-u-margin-bottom-4",
          value: currentUser.lastName
        }) }}

        {{ button({
          text: "Save and continue"
        }) }}

      </form>


    </div>
  </div>


{% endblock %}
