{% extends 'layout.html' %}

{% set pageName = "Add vaccinations" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "/prototype-setup"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/prototype-setup/add-vaccinations" method="post" novalidate>

        {{ input({
          name: "numberOfVaccinationsToAdd",
          label: {
            text: "How many vaccinations would you like to add?",
            isPageHeading: true,
            classes: "nhsuk-label--l"
          },
          classes: "nhsuk-input--width-5",
          inputmode: "numeric"
        }) }}

        {{ button({
          text: "Add vaccinations"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
