{% extends 'layout.html' %}

{% set pageName = "Who is giving consent?" %}

{% set currentSection = "consent" %}

{% block beforeContent %}
  {% if data.vaccine === "COVID-19" %}
    {% set backLinkHref = "/record-vaccinations/warning" %}
  {% else %}
    {% set backLinkHref = "/record-vaccinations/co-admin/location" %}
  {% endif %}
  {{ backLink({ href: backLinkHref }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}


      <form action="/record-vaccinations/co-admin/injection-site" method="post" novalidate>




        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-heading-l">
                  <span class="nhsuk-caption-l">Jodie Brown, born 24 June 1954 (aged 71)</span>
                    Who is giving consent?
                  </h1>
              </legend>
              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-divider-1" name="example-divider" type="radio" value="nhsuk-login">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-divider-1">
                    Jodie Brown
                  </label>
                </div>
                <div class="nhsuk-radios__divider">or</div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-divider-2" name="example-divider" type="radio" value="government-verify">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-divider-2">
                    Clinician acting in the patient’s best interests
                </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-divider-4" name="example-divider" type="radio" value="create-account">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-divider-4">
                    Person with lasting power of attorney for health and welfare
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-divider-5" name="example-divider" type="radio" value="create-account">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-divider-5">
                        Parent or guardian
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-divider-6" name="example-divider" type="radio" value="create-account">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-divider-6">
                        Independent mental capacity advocate
                    </label>
                  </div>
                
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-divider-7" name="example-divider" type="radio" value="create-account">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-divider-7">
                        Court appointed deputy
                    </label>
                  </div>

              </div>
            </fieldset>
          </div>




        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

