{% extends 'layout.html' %}

{% set pageName = "Which vaccine are you giving?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/vaccinator" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <form method="post" novalidate>

        <div class="nhsuk-form-group">
      
          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Which vaccines are you giving?
              </h1>
            </legend>
            <div class="nhsuk-hint" id="contact-hint">
              You can record multiple vaccines
            </div>
            <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  COVID-19
                </label>
              </div>
              <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Corminarty 30 JN.1
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Corminarty 3 JN.1
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                    Spikevax JN.1
                  </label>
                </div>
      
              </div>
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                  Flu
                </label>
              </div>
              <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    Quadrivalent Influenza Vaccine (QIVe)
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    Cell-based Quadrivalent Influenza Vaccine (QIVc) 
                  </label>
                </div>
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                    Adjuvanted Quadrivalent Influenza Vaccine (aQIV)
                  </label>
                </div>
                
      
              </div>
      
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text" aria-controls="conditional-contact-3" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                  Pertussis
                </label>
              </div>
              <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-3">
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                    Pertussis
                  </label>
                </div>
      
              </div>
            </div>
          </fieldset>
        </div>
      
      </form>


      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>

    </div>
  </div>

{% endblock %}

