{% extends 'layout.html' %}

{% set pageName = "Extra information" %}

{% set currentSection = "find-a-record" %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/check",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/find-a-record/check-confirm?changedField=Extra information" method="post">

        {{ textarea({
          name: "additionalInformation",
          id: "additional-information",
          label: {
            text: "Extra information (optional)",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This will not be sent to the patient's GP. Only your organisation will be able to access it."
          },
          value: data.additionalInformation,
          rows: 3,
          classes: "nhsuk-u-margin-bottom-7"
        }) }}


        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

