{% extends 'layout.html' %}

{% block pageTitle %}
  Which batch was used?
{% endblock %}

{% set currentSection = "find-a-record" %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/find-a-record/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Batch">

          {{ radios({
            "idPrefix": "batchNumber",
            "name": "batchNumber",
            "fieldset": {
              "legend": {
                "text": ("Which batch was used?" if vaccination.vaccinationToday == 'yes' else "Which batch was used?"),
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            },
            "items": [
              {
                "value": "AB2345",
                "text": "AB2345",
                hint: {
                  text: "Expires 14 February 2025"
                },
                checked: (vaccination.batchNumber == "AB2345")
              },
              {
                "value": "DE8342",
                "text": "DE8342",
                hint: {
                  text: "Expires 19 February 2025"
                },
                checked: (vaccination.batchNumber == "DE8342")
              },
              {
                "value": "LF842",
                "text": "LF842",
                hint: {
                  text: "Expires 28 February 2025"
                },
                checked: (vaccination.batchNumber == "LF842")
              },
              {
                "value": "XT1234",
                "text": "XT1234",
                hint: {
                  text: "Expired 3 March 2024"
                },
                checked: (vaccination.batchNumber == "XT1234")
              },
              {
                "value": "PU1234",
                "text": "PU1234",
                hint: {
                  text: "Expired 28 February 2024"
                },
                checked: (vaccination.batchNumber == "PU1234")
              },
              {
                "value": "HN6543",
                "text": "HN6543",
                hint: {
                  text: "Expired 22 January 2024"
                },
                checked: (vaccination.batchNumber == "HN6543")
              }
            ]
          }) }}

        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

