{% extends 'layout.html' %}

{% block pageTitle %}
  Check and confirm
{% endblock %}

{% set currentSection = "find-a-record" %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/patient-history",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if data.changedField %}
      <div class="nhsuk-panel nhsuk-u-margin-bottom-8">
        <h1 class="nhsuk-panel__title">Changes saved</h1>
        <div class="nhsuk-panel__body">
        {{data.changedField}} has been updated.
        </div>
      </div>
    {% endif %}


      <h1 class="nhsuk-heading-l">{{ vaccination.patient.name }}’s {{vaccination.vaccine}} vaccination record</h1>

      {{ summaryList({
        rows: [
        {
          key: {
            text: "Recorder"
          },
          value: {
            text: vaccination.patient.name
          },
          actions: {
            items: [
              {
                href: "/find-a-record/choose-dates",
                text: "",
                visuallyHiddenText: "vaccination date"
              }
            ]
          }
        },
        {
            key: {
              text: "Date"
            },
            value: {
              text: (vaccination.date | isoDateFromDateInput | govukDate)
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/choose-dates",
                  text: "Change",
                  visuallyHiddenText: "vaccination date"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccine"
            },
            value: {
              html: vaccination.vaccine + "<br>" + vaccination.vaccineProduct
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/choose-vaccines",
                  text: "Change",
                  visuallyHiddenText: "vaccine"
                }
              ]
            }
          },

          {
            key: {
              text: ("  Batch" if from == to else "From")
            },
            value: {
              html: vaccination.batchNumber + "<br> Expires " + (vaccination.batchExpiryDate | govukDate)
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/batch",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },

          {
            key: {
              text: "Team"
            },
            value: {
              text: vaccination.deliveryTeam
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/delivery-team",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              text: vaccination.vaccinator
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/vaccinator",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Eligibility"
            },
            value: {
              text: (vaccination.eligibility | join("br"))
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/eligibility",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Pregnancy due date"
            },
            value: {
              text: (vaccination.pregnancyDueDate | govukDate)
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/patient-estimated-due-date",
                  text: "Change",
                  visuallyHiddenText: "pregnancy due date"
                }
              ]
            }
          } if vaccination.pregnancyDueDate,
          {
            key: {
              text: "Consent given by"
            },
            value: {
              text: vaccination.consent
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/consent",
                  text: "Change",
                  visuallyHiddenText: "consent"
                }
              ]
            }
          },
          {
            key: {
              text: "Injection site"
            },
            value: {
              text: vaccination.injectionSite
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/injection-site",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          },
          {
            key: {
              text: "Comments"
            },
            value: {
              text: vaccination.notes
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/records/" + vaccination.id + "/notes",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="nhsuk-body"><a class="nhsuk-link"
      href="/find-a-record/records/{{ vaccination.id }}/delete">Delete this record</a></p>

    </div>
  </div>
{% endblock %}


