{% extends 'layout.html' %}

{% block pageTitle %}
  Check and confirm
{% endblock %}

{% set currentSection = "find-a-record" %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/patient-history",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Jodie Brown’s RSV vaccination record</h1>

      {{ summaryList({
        rows: [
          
        
        {
          key: {
            text: "Recorder"
          },
          value: {
            text: "John Smith"
          },
          actions: {
            items: [
              {
                href: "/find-a-record/choose-dates",
                text: "",
                visuallyHiddenText: "vaccination date"
              }
            ]
          }
        },
        
        
        {
            key: {
              text: "Date"
            },
            value: {
              text: ("11 November 2024" if data.vaccinationToday == "yes" else (data.vaccinationDate | isoDateFromDateInput | govukDate))
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/choose-dates",
                  text: "Change",
                  visuallyHiddenText: "vaccination date"
                }
              ]
            }
          },

 {
            key: {
              text: "Delivery team"
            },
            value: {
              text: "Albert House"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/delivery-team",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },


          {
            key: {
              text: "Vaccine"
            },
            value: {
              text: data.vaccine
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/vaccine",
                  text: "Change",
                  visuallyHiddenText: "vaccine"
                }
              ]
            }
          },
          {
            key: {
              text: "Product"
            },
            value: {
              text: data.vaccineProduct
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/vaccine",
                  text: "Change",
                  visuallyHiddenText: "vaccine product"
                }
              ]
            }
          },
          {
            key: {
              text: "Batch"
            },
            value: {
              html: batchHtml
            },
            actions: {
              items: [
                {
                  href: ("/vaccinate/add-batch" if data.vaccineBatch == "add-new" else "/vaccinate/batch"),
                  text: "Change",
                  visuallyHiddenText: "vaccine batch"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              html: (data.otherVaccinator if data.vaccinator == "Someone else" else data.vaccinator)
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/vaccinator",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Location"
            },
            value: {
              html: data.locationType
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/location",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          } if (data.vaccine === "Flu" or data.vaccine == "COVID-19"),
          {
            key: {
              text: "Eligibility"
            },
            value: {
              html: ((data.eligibility | join("<br>")) if (data.eligibility | isArray) else data.eligibility)
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/eligibility",
                  text: "Change",
                  visuallyHiddenText: "eligibility"
                }
              ]
            }
          } if (data.vaccine != "Pertussis"),
          {
            key: {
              text: "Pregnancy due date"
            },
            value: {
              text: (data.pregnancyDueDate | isoDateFromDateInput | govukDate)
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/patient-estimated-due-date",
                  text: "Change",
                  visuallyHiddenText: "pregnancy due date"
                }
              ]
            }
          } if ((data.vaccine == "Pertussis") or ((data.eligibility | arrayOrStringIncludes("Pregnant"))) and (data.vaccine == "RSV")),
          {
            key: {
              text: "Consent given by"
            },
            value: {
              text: consentHtml
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/consent",
                  text: "Change",
                  visuallyHiddenText: "consnet"
                }
              ]
            }
          },
          {
            key: {
              text: "Injection site"
            },
            value: {
              html: (data.otherInjectionSite if data.injectionSite == "other" else data.injectionSite)
            },
            actions: {
              items: [
                {
                  href: "/vaccinate/injection-site",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}



      <a class=nhsuk-body-m
      href="/find-a-record/delete">Delete this record</a>

    </div>
  </div>
{% endblock %}


