{% extends 'layout.html' %}

{% block pageTitle %}
  Check and confirm
{% endblock %}

{% set currentSection = "find-a-record" %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/patient-history",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Jodie Brown’s RSV vaccination record</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: ("Date" if from == to else "From")
            },
            value: {
              text: "11 November 2024"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/choose-dates",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("Vaccine" if from == to else "From")
            },
            value: {
              text: "RSV"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/choose-vaccines",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("Product" if from == to else "From")
            },
            value: {
              text: "Abrysvo"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/choose-vaccines",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("  Batch" if from == to else "From")
            },
            value: {
              text: "A1234567"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/batch",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },   
          {
            key: {
              text: ("Delivery team" if from == to else "From")
            },
            value: {
              text: "Albert House"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/delivery-team",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("Vaccinator" if from == to else "From")
            },
            value: {
              text: "Jane Smith"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/vaccinator",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("Eligibility" if from == to else "From")
            },
            value: {
              text: "Pregnant"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/eligibility",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("  Pregnancy due date" if from == to else "From")
            },
            value: {
              text: "15 May 2025"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/patient-estimated-due-date",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },     
          {
            key: {
              text: ("Consent given by" if from == to else "From")
            },
            value: {
              text: "Patient"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/consent",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: ("Injection site" if from == to else "From")
            },
            value: {
              text: "Left arm"
            },
            actions: {
              items: [
                {
                  href: "/find-a-record/injection-site",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }




        ]
      }) }}


      <form action="/find-a-record/patient-history-change" method="get">
        {{ button({
          "text": "Confirm changes"
        }) }}
      </form>


      <a class=nhsuk-body-m
      href="/find-a-record/delete">Delete this record</a>

    </div>
  </div>
{% endblock %}


