{% extends 'layout.html' %}

{% block pageTitle %}
  Add batch
{% endblock %}

{% set currentSection = "find-a-record" %}

{% block beforeContent %}
  {{ backLink({ href: "/find-a-record/check" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
       
       
    

      <h1 class="nhsuks-heading-l">Are you sure you want to delete {{ data.patientName }}’s {{data.vaccine}} record</h1>

 
      <p>Once deleted you will no longer be able to view or edit the record. Deleted records will be visible in reports.</p>


      <form action="/find-a-record/patient-history-change">


        {% from 'button/macro.njk' import button %}

        {% from 'button/macro.njk' import button %}

        {{ button({
          text: "Yes, delete this record"
        }) }}

      </form>


    </div>
  </div>


{% endblock %}
