{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "find-a-record" %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/find-a-record/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Eligibility">


        {% from 'checkboxes/macro.njk' import checkboxes %}


          {{ checkboxes({
            idPrefix: "example",
            name: "example",
            fieldset: {
              legend: {
                text: "Why was Jodie Brown eligible for the vaccine?",
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
        hint: {
            text: "You can select more than 1 option. But only the first option selected is sent to NHS England."
          },

            items: [
              {
                value: "email",
                text: "Resident in a care home"
              },
              {
                value: "phone",
                text: "Staff in a care home"
              },
              {
                value: "text message",
                text: "Healthcare worker"
              },
              {
                value: "phone",
                text: "Social worker"
              },
              {
                value: "phone",
                text: "Based on age"
              },
              {
                value: "phone",
                text: "Pregnant"
              },
              {
                value: "email",
                text: "Immunosuppressed"
              },
              {
                value: "phone",
                text: "In a clinical risk group"
              },
              {
                value: "text message",
                text: "Homeless or living in a closed setting"
              },
              {
                value: "phone",
                text: "Household contact of someone immunosuppressed"
              },
              {
                value: "phone",
                text: "Carer"
              },
              {
                value: "phone",
                text: "Has had CAR-T therapy or a stem cell transplant since their last vaccination"
              }
            ]
          }) }}


        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

