{% extends 'layout.html' %}

{% set pageName = "Optional note" %}

{% set currentSection = "find-a-record" %}

{% block beforeContent %}
  {{ backLink({
    href: "/find-a-record/check",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/find-a-record/check-confirm?changedField=Extra information" method="post">

        {{ textarea({
          name: "notes",
          id: "notes",
          label: {
            text: "Optional note",
            classes: "nhsuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "This will not be sent to the patient's GP. Only your organisation will see it."
          },
          value: data.notes,
          rows: 3,
          classes: "nhsuk-u-margin-bottom-7"
        }) }}


        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

