{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "find-a-record" %}

{% block beforeContent %}
  {{ backLink({ href: "/find-a-record/search-result" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if recordDeleted %}
        <div class="nhsuk-panel nhsuk-u-margin-bottom-8">
          <h1 class="nhsuk-panel__title">Record deleted</h1>
          <div class="nhsuk-panel__body">
              Jodie Brown's {{ recordDeleted }} record has been deleted.
          </div>
        </div>
      {% endif %}

      <h1 class="nhsuk-heading-l">{{ data.patientName }}’s vaccination records</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.patientName
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: (data.dateOfBirth | isoDateFromDateInput | govukDate) if data.dateOfBirth
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: data.nhsNumber
            }
          }
        ]
      }) }}



<br>

      <h2 class="nhsuk-heading-m">Vaccination history</h2>

      <p>You can only view, change or delete records your organisation has created.</p>

      {% set rows = [] %}

      {% for vaccinationRecorded in vaccinationsRecorded %}

        {% set rows = (rows.push([
          {
            text: (vaccinationRecorded.date | isoDateFromDateInput | govukDate)
          },
          {
            text: vaccinationRecorded.vaccine
          },
          {
            text: vaccinationRecorded.vaccineProduct
          },
          {
            html: '<a href="/find-a-record/records/' + vaccinationRecorded.id + '">View<span class="nhsuk-u-visually-hidden"> Y vaccination recorded on X</span></a>'
          } if vaccinationRecorded.editable
        ]), rows) %}

      {% endfor %}


      {{ table({
        responsive: true,
        panel: false,
        firstCellIsHeader: true,
        head: [
          {
            text: "Date"
          },
          {
            text: "Vaccine"
          },
          {
            text: "Product"
          },
          {
          }
        ],
        rows: rows
      }) }}


    </div>



{% endblock %}

