{% extends 'layout.html' %}

{% block pageTitle %}
  What is the patient's estimated due date? – Records
{% endblock %}

{% set currentSection = "records" %}

{% block beforeContent %}
  {{ backLink({
    href: "/records/records/" + vaccination.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if dateErrorMessage %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: dateErrorMessage,
            href: "#pregnancyDueDate-day"
          }]
        }) }}
      {% endif %}


      <form action="/records/records/{{ vaccination.id }}" method="post">
        <input type="hidden" name="changedField" value="Pregnancy due date">

        {{ dateInput({
          id: "pregnancyDueDate",
          namePrefix: "pregnancyDueDate",
          fieldset: {
            legend: {
              text: "What is Jodie Brown’s estimated due date?",
              classes: "nhsuk-label--l",
              isPageHeading: true
            }
          },
          errorMessage: {
            text: dateErrorMessage
          } if dateErrorMessage,
          values: vaccination.pregnancyDueDate,
          hint: {
            text: "For example, 15 6 2025"
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if dateErrorMessage else "")
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if dateErrorMessage else "")
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4 " + ("nhsuk-input--error" if dateErrorMessage else "")
            }
          ]
        }) }}

        {{ button({
          text: "Save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

