{% extends 'layout.html' %}

{% block pageTitle %}
  Add batch
{% endblock %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({
    href: "/vaccines/" + vaccine.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuks-heading-xl">Add batch</h1>

      <form action="/vaccines/{{ vaccine.id }}/add-batch-check" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "Batch number",
            classes: "nhsuk-label--s"
          },
          hint: {
            text: "For example, XX123456"
          },
          "id": "batch-number",
          "name": "batchNumber",
          classes: "nhsuk-input--width-20",
          value: data.batchNumber
        }) }}


        {{ dateInput({
          "id": "batchExpiryDate",
          "namePrefix": "batchExpiryDate",
          "fieldset": {
            "legend": {
              "text": "Expiry date",
              "classes": "nhsuk-label--s"
            }
          },
          values: data.batchExpiryDate
        }) }}

        {% if vaccine.vaccineProduct == "Spikevax JN.1" %}

          {{ radios({
            "idPrefix": "pack-type",
            "name": "packType",
            "fieldset": {
              "legend": {
                "text": "Pack type",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            "items": [
              {
                "value": "Single 2.5ml vial",
                "text": "Single 2.5ml vial",
                checked: (data.packType == "Single 2.5ml vial")
              },
              {
                "value": "10x 2.5ml vials",
                "text": "10x 2.5ml vials",
                checked: (data.packType == "10x 2.5ml vials")
              }
            ]
          }) }}

        {% endif %}

          {{ button({
            "text": "Continue"
          }) }}
      </form>

    </div>
  </div>


{% endblock %}
