{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% block header %}
  {% include "user-admin/v1/_header.html" %}
{% endblock %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/vaccines/add-batch", text: "Back" }) }}

      <h1 class="nhsuk-heading-xl">Check and add batch</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Site"
            },
            value: {
              text: data.firstName + " " + data.lastName
            },
            actions: {
              items: [
                {
                  href: "/user-admin/v1/add-user",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccine"
            },
            value: {
              html: data["email"]
            },
            actions: {
              items: [
                {
                  href: "/user-admin/v1/add-user",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Batch details"
            },
            value: {
              html: data["role"]
            },
            actions: {
              items: [
                {
                  href: "/user-admin/v1/add-user",
                  text: "Change",
                  visuallyHiddenText: "role"
                }
              ]
            }
          }
        ]
      }) }}





      <form action="/user-admin/v1/add" method="post">
       
        {{ button({
          "text": "Continue",
          "href": "/vaccines/index"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
