{% extends 'layout.html' %}

{% block pageTitle %}
  Vaccines
{% endblock %}

{% set currentSection = "vaccines" %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Check and confirm</h1>


      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-2",
        rows: [
          {
            key: {
              text: "Site name"
            },
            value: {
              text: data.sites[data.siteCode].name
            }
          },
          {
            key: {
              text: "ODS Code"
            },
            value: {
              html: data["siteCode"]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: data.sites[data.siteCode].address
            }
          }
        ]
      }) }}

      <p class="nhsuk-u-margin-top-0"><a class="nhsuk-link nhsuk-link--no-visited-state" href="/vaccines/choose-site">Change site</a></p>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-6",
        rows: [
          {
            key: {
              text: "Vaccine"
            },
            value: {
              html: data["vaccine"]
            }
          },
          {
            key: {
              text: "Product"
            },
            value: {
              html: data["vaccineProduct"]
            }
          },
          {
            key: {
              text: "Pack size"
            },
            value: {
              html: data.packType
            }
          } if data.packType
        ]
      }) }}

      <p class="nhsuk-u-margin-top-0"><a class="nhsuk-link nhsuk-link--no-visited-state" href="/vaccines/choose-vaccine">Change vaccine</a></p>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-6",
        rows: [
          {
            key: {
              text: "Batch number"
            },
            value: {
              html: data["batchNumber"]
            }
          },
          {
            key: {
              text: "Expiry date"
            },
            value: {
              html: (data.batchExpiryDate | isoDateFromDateInput | govukDate )
            }
          }
        ]
      }) }}

      <p class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-8"><a class="nhsuk-link nhsuk-link--no-visited-state" href="/vaccines/add-batch">Edit batch</a></p>



      <form action="/vaccines/add" method="post">
        {{ button({
          "text": "Confirm"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
