{% extends 'layout.html' %}

{% set pageName = "Check and confirm" %}

{% set currentSection = "vaccines" %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Site"
            },
            value: {
              html: site.name + " (" + data.siteId + ")<br>100 High Street, Manchester, M4 1LP"
            },
            actions: {
              items: [
                {
                  href: "/vaccines/choose-site",
                  text: "Change",
                  visuallyHiddenText: "site"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccine"
            },
            value: {
              html: data["vaccine"]
            },
            actions: {
              items: [
                {
                  href: "/vaccines/choose-vaccine",
                  text: "Change",
                  visuallyHiddenText: "product"
                }
              ]
            }
          },
          {
            key: {
              text: "Product"
            },
            value: {
              html: data["vaccineProduct"]
            },
            actions: {
              items: [
                {
                  href: "/vaccines/choose-vaccine",
                  text: "Change",
                  visuallyHiddenText: "product"
                }
              ]
            }
          },
          {
            key: {
              text: "Pack size"
            },
            value: {
              html: data.packType
            }
          } if data.packType,
          {
            key: {
              text: "Batch number"
            },
            value: {
              html: data["batchNumber"]
            },
            actions: {
              items: [
                {
                  href: "/vaccines/add-batch",
                  text: "Change",
                  visuallyHiddenText: "batch number"
                }
              ]
            }
          },
          {
            key: {
              text: "Expiry date"
            },
            value: {
              html: (data.batchExpiryDate | isoDateFromDateInput | govukDate )
            },
            actions: {
              items: [
                {
                  href: "/vaccines/add-batch",
                  text: "Change",
                  visuallyHiddenText: "expiry date"
                }
              ]
            }
          },
          {
            key: {
              text: "Legal mechanism"
            },
            value: {
              html: (data.vaccineLegalMechanisms | join("<br>") if data.vaccineLegalMechanisms)
            },
            actions: {
              items: [
                {
                  href: "/vaccines/legal-mechanisms",
                  text: "Change",
                  visuallyHiddenText: "legal mechanism"
                }
              ]
            }
          }
        ]
      }) }}


      <form action="/vaccines/add" method="post">
        {{ button({
          "text": "Confirm"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
