{% extends 'layout.html' %}

{% set pageName = "Choose vaccine" %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({
    href: "/vaccines/choose-site",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/vaccines/add-batch" method="post" novalidate="true">
        {% set items = [] %}

        {% for vaccine in (vaccinesEnabled) %}
          {% if vaccine.products %}
            {% set productItems = [] %}
            {% for vaccineProduct in (vaccine.products) %}
              {% set productItems = (productItems.push({
                value: vaccineProduct.name,
                text: vaccineProduct.name
              }), productItems) %}
            {% endfor %}

            {% set conditionalHtml %}
              {{ radios({
                "idPrefix": "vaccineProduct" + vaccine.name,
                "name": "vaccineProduct",
                "fieldset": {
                  "legend": {
                    "text": "Vaccine product"
                  }
                },
                "items": productItems,
                value: data.vaccineProduct
              }) }}
            {% endset %}
          {% endif %}

          {% set items = (items.push({
            value: vaccine.name,
            text: (vaccine.name | capitaliseFirstLetter),
            conditional: {
              html: conditionalHtml
            } if vaccine.products
          }), items) %}
        {% endfor %}

        {{ radios({
          "idPrefix": "vaccine",
          "name": "vaccine",
          "fieldset": {
            "legend": {
              "text": pageName,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          value: data.vaccine,
          errorMessage: {
            text: vaccineError
          } if vaccineError,
          "items": items
        }) }}


        {{ button({
          "text": "Continue"
        }) }}
      </form>

      {% if (vaccinesDisabled | length) > 0 %}
        {% call details({ text: "Need to add more vaccine types?"}) %}
          <p>Select the vaccines you need.</p>

          {% set requestableItems = [] %}
          {% for vaccine in (vaccinesDisabled) %}
            {% set requestableItems = (requestableItems.push({
              value: vaccine.name,
              text: (vaccine.name | capitaliseFirstLetter)
            }), requestableItems) %}
          {% endfor %}

          <form action="/vaccines/request" method="post">
            {{ checkboxes({
              name: "vaccineRequested",
              id: "vaccine-requested",
              fieldset: {
                legend: {
                  text: "Vaccine",
                  classes: "nhsuk-fieldset__legend--s"
                }
              },
              items: requestableItems
            }) }}

            {{ button({
              text: "Send request",
              classes: "nhsuk-button--secondary"
            }) }}
          </form>

        {% endcall %}
      {% endif %}

    </div>
  </div>
{% endblock %}
