{% extends 'layout.html' %}

{% set pageName = "Choose vaccine" %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({
    href: "/vaccines/choose-site",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/vaccines/add-batch" method="post" novalidate="true">

        {% set items = [] %}

        {% for vaccine in (data.vaccines) %}
          {% if vaccine.name == "Flu" %}
            {% if vaccine.products %}
              {% set productItems = [] %}
              {% for vaccineProduct in (vaccine.products) %}
                {% set productItems = (productItems.push({
                  value: vaccineProduct.name,
                  text: vaccineProduct.name
                }), productItems) %}
              {% endfor %}

              {% set conditionalHtml %}
                {{ radios({
                  "idPrefix": "vaccineProduct" + vaccine.name,
                  "name": "vaccineProduct",
                  "fieldset": {
                    "legend": {
                      "text": "Vaccine product"
                    }
                  },
                  "items": productItems,
                  value: data.vaccineProduct
                }) }}
              {% endset %}
            {% endif %}

            {% set items = (items.push({
              value: vaccine.name,
              text: vaccine.name,
              conditional: {
                html: conditionalHtml
              } if vaccine.products
            }), items) %}
          {% endif %}
        {% endfor %}

        {{ radios({
          "idPrefix": "vaccine",
          "name": "vaccine",
          "fieldset": {
            "legend": {
              "text": pageName,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          value: data.vaccine,
          errorMessage: {
            text: vaccineError
          } if vaccineError,
          "items": items
        }) }}


        {{ button({
          "text": "Continue"
        }) }}
      </form>

      {% call details({ text: "Need to add additional vaccine types?"}) %}
        <p>If you have been commissioned to give other vaccines, select the vaccines you need.</p>

        <form action="/vaccines/requested" method="post">
          {{ radios({
            name: "vaccineRequested",
            id: "vaccine-requested",
            fieldset: {
              legend: {
                text: "Vaccine",
                classes: "nhsuk-fieldset__legend--s"
              }
            },
            items: [
              {
                text: "COVID-19",
                value: "COVID-19"
              },
              {
                text: "RSV",
                value: "RSV"
              },
              {
                text: "Pertussis",
                value: "Pertussis"
              }
            ]
          }) }}

          {{ button({
            text: "Send request",
            classes: "nhsuk-button--secondary"
          }) }}
        </form>

      {% endcall %}




    </div>
  </div>
{% endblock %}
