{% extends 'layout.html' %}

{% set pageName = "Choose a site" %}


{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({
    href: "/vaccines/index",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}


      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-l">Choose a site</h1>

          <p>Select the site where you want to add a vaccine.</p>

          <p>You can <a href="https://digital.nhs.uk/services/organisation-data-service/request-a-new-code-or-update-organisation-details#site-request" target="_new">request a new site (opens in new tab)</a>.</p>

          <form action="/vaccines/choose-vaccine" method="post">

          <div class="nhsuk-form-group">
            <h1 class="nhsuk-label-wrapper">
              <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-1" for="organisationCode">
            Select site
              </label>
            </h1>
            <div class="nhsuk-hint" id="organisationName-hint">
              Search by name or ODS code
            </div>
            <select class="nhsuk-select" id="siteId" name="siteId"
              data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option selected value=""></option>

              {% for site in currentOrganisation.sites %}
                {% if site.status != "closed" %}
                  <option value="{{ site.id }}">{{ site.name }} ({{site.id }})</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          {{ button({
            "text": "Continue"
          }) }}

        </form>


        </div>
      </div>




    </div>
  </div>
{% endblock %}

