{% extends 'layout.html' %}

{% set pageName = "Deactivate " + site.name %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccines", text: "Back" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>Are you sure you want to deactivate this site? Once deactivated, the site will have no active batches and you will not be able to record any vaccinations there. You can reactivate it at anytime.</p>

      <form action="/vaccines/sites/{{ site.id }}/deactivated" method="post" novalidate="true">
        {{ button({
          "text": "Deactivate",
          "classes": "nhsuk-button--warning"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
