{% extends 'layout.html' %}

{% set pageName = "Deactivate batch" %}

{% set currentSection = "vaccines" %}

{% block beforeContent %}
  {{ backLink({ href: "/vaccines/" + vaccine.id, text: "Back" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuks-heading-l">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Batch number"
            },
            value: {
              text: batch.batchNumber
            }
          },
          {
            key: {
              text: "Expiry date"
            },
            value: {
              text: batch.expiryDate | govukDate
            }
          }
          ]
        }) }}
      <p>Once it is deactivated, you will not be able to select this batch when you record or edit a vaccination. You can reactivate it anytime.</p>

      <form action="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/deactivated" method="post" novalidate="true">


        {{ button({
          "text": "Deactivate"
        }) }}

      </form>


    </div>
  </div>


{% endblock %}
