{% extends 'layout.html' %}

{% block pageTitle %}
  Add batch
{% endblock %}

{% block header %}
  {% include "vaccines/_header.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/vaccines/" + vaccine.id, text: "Back" }) }}

      <h1 class="nhsuks-heading-l">Deplete batch</h1>

      <p>Batch number</p>

      <h4 class="nhsuks-heading-l">XX123456 / Y7890 (Example)</h4>

      <p>Expiry date</p>

      <h4 class="nhsuks-heading-l"> 12 October 2024 (Example)</h4>

      <p>Depleted batches will be made unavailable</p>

      <form action="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/depleted" method="post" novalidate="true">

    

        {{ button({
          text: "Confirm deplete batch"
        })}}

      </form>


    </div>
  </div>


{% endblock %}
