{% extends 'layout.html' %}

{% block pageTitle %}
  Add batch
{% endblock %}

{% block header %}
  {% include "vaccines/_header.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/vaccines/" + vaccine.id, text: "Back" }) }}

      <h1 class="nhsuks-heading-l">Deplete batch</h1>

      <p>This batch will be marked as pending until midnight of your depletion date.</p>

      <form action="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/depleted" method="post" novalidate="true">

        {{ dateInput({
          "id": "batchDepletedDate",
          "namePrefix": "batchDepletedDate",
          "fieldset": {
            "legend": {
              "text": "Depleted date",
              "classes": "nhsuk-label--s"
            }
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2",
              value: ""
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2",
              value: ""
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4",
              value: ""
            }
          ]
        }) }}

        {{ button({
          text: "Confirm"
        })}}

      </form>


    </div>
  </div>


{% endblock %}
