{% extends 'layout.html' %}

{% set pageName = "Vaccines" %}

{% set currentSection = "vaccines" %}

{% set sites = [] %}
{% for vaccine in (vaccineStock) %}
  {% if not (sites | arrayOrStringIncludes(vaccine.siteId)) %}
    {% set sites = (sites.push(vaccine.siteId), sites) %}
  {% endif %}
{% endfor %}

{% set filteredSites = [] %}
{% for siteId in sites %}
  {% set thisSite = currentOrganisation.sites | findById(siteId) %}
  {% if currentSiteTab == "deactivated" %}
    {% if thisSite.status == "closed" %}
      {% set filteredSites = (filteredSites.push(siteId), filteredSites) %}
    {% endif %}
  {% else %}
    {% if thisSite.status != "closed" %}
      {% set filteredSites = (filteredSites.push(siteId), filteredSites) %}
    {% endif %}
  {% endif %}
{% endfor %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-5">

      {% include "includes/notification.html" %}

      {% if deactivatedSite %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Site deactivated
          </h3>
          <p>{{ (siteName + " has been deactivated.") if siteName else "Site has been deactivated." }}</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if reactivatedSite %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Site reactivated
          </h3>
          <p>{{ (siteName + " has been reactivated.") if siteName else "Site has been reactivated." }}</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}


      <h1 class="nhsuk-heading-l">Vaccines</h1>

      <p class="nhsuk-body-l">Add and edit vaccines for your organisation.</p>

      {% if (vaccinesThatCanBeRequested | length) > 0 %}

      {% set insetTextHtml %}
        <p>{{ tag({ text: "New", classes: "nhsuk-tag--blue"}) }}</p>
        <p>You can now use Record a vaccination for MenB vaccinations.</p>

      {% endset %}

      {{ insetText({
        html: insetTextHtml,
        classes: "nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-6"
      }) }}

      {% endif %}

      {{ button({
        "text": "Add vaccine",
        "href": "/vaccines/choose-site"
      }) }}

    </div>
  </div>

  {% from 'select/macro.njk' import select %}

  <div class="nhsuk-u-margin-bottom-4">
    {{ appSecondaryNavigation({
      visuallyHiddenTitle: "Sites by status",
      items: [{
        text: "Active sites (" + activeSitesCount + ")",
        href: "/vaccines?siteTab=active",
        current: (currentSiteTab == "active")
      }, {
        text: "Deactivated sites (" + deactivatedSitesCount + ")",
        href: "/vaccines?siteTab=deactivated",
        current: (currentSiteTab == "deactivated")
      }]
    }) }}
  </div>

  {% if (filteredSites | length) > 4 %}
    {% set filterItems = [{
      text: "All sites",
      value: "",
      selected: true
    }] %}

    {% for site in filteredSites %}
      {% set filterItems = (filterItems.push({text: currentOrganisation.sites[site].name, value: site}), filterItems) %}
    {% endfor %}


      {{ select({
        label: {
          text: "Show"
        },
        id: "select-1",
        name: "select-1",
        items: filterItems,
        classes: "nhsuk-u-margin-bottom-3"
      }) }}
  {% endif %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% if (filteredSites | length) == 0 %}
        <p class="nhsuk-body">No {{ currentSiteTab }} sites found.</p>
      {% endif %}

      {% for siteId in filteredSites %}

        {% set site =  currentOrganisation.sites | findById(siteId) %}

        <table class="nhsuk-table nhsuk-u-margin-bottom-2">
          <caption class="nhsuk-table__caption nhsuk-table__caption--m nhsuk-u-margin-bottom-2">{{ site.name }}</caption>
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Vaccine
              </th>
              <th role="columnheader" class="" scope="col">
                Product
              </th>
              <th role="columnheader" class="" scope="col">
                Active batches
              </th>
              <th role="columnheader" class="" scope="col">
              <th role="columnheader" class="" scope="col">

              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

        {% set vaccinesAtSite = [] %}
        {% for vaccine in (vaccineStock) %}
          {% if vaccine.siteId == siteId and not (vaccinesAtSite | arrayOrStringIncludes(vaccine.vaccine)) %}
            {% set vaccinesAtSite = (vaccinesAtSite.push(vaccine.vaccine), vaccinesAtSite) %}
          {% endif %}
        {% endfor %}

        {% for vaccineAtSite in vaccinesAtSite %}

          {% set vaccineProductsAtSite = [] %}
            {% for vaccine in (vaccineStock) %}
              {% if vaccine.vaccine == vaccineAtSite and vaccine.siteId == siteId and not (vaccineProductsAtSite | arrayOrStringIncludes(vaccine.vaccineProduct)) %}
                {% set vaccineProductsAtSite = (vaccineProductsAtSite.push(vaccine.vaccineProduct), vaccineProductsAtSite) %}
              {% endif %}
            {% endfor %}



              {% for vaccineProduct in vaccineProductsAtSite %}
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    {{ (vaccineAtSite ) | capitaliseFirstLetter }}
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ vaccineProduct }}
                  </td>
                  <td class="nhsuk-table__cell ">
                    {% set count = 0 %}
                    {% set thisVaccine = {} %}
                    {% for vaccine in vaccineStock %}
                      {% if (vaccine.siteId == siteId) and (vaccine.vaccine == vaccineAtSite) and (vaccine.vaccineProduct == vaccineProduct) %}
                        {% set thisVaccine = vaccine %}
                      {% endif %}
                    {% endfor %}
                    {{ thisVaccine.activeBatchesCount | default(0) }}
                  </td>
                  <td class="nhsuk-table__cell ">
                    <div class="nhsuk-u-margin-bottom-1"><a href="/vaccines/{{ thisVaccine.id }}" class="nhsuk-link">View</a></div>
                  </td>
                  <td class="nhsuk-table__cell ">
                    {% if site.status != "closed" %}
                      <div><a href="/vaccines/{{ thisVaccine.id }}/add" class="nhsuk-link">Add&nbsp;batch</a></div>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>

        {% if site.status != "closed" %}
          <div style="height: 8px;"></div>
          <p class="nhsuk-body-s nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-7">No longer using this site? <a href="/vaccines/sites/{{ site.id }}/deactivate" class="nhsuk-link">Deactivate {{ site.name }}</a></p>
          {% else %}
            <div style="height: 8px;"></div>
            <p class="nhsuk-body-s nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-7">Using this site again? <a href="/vaccines/sites/{{ site.id }}/reactivate" class="nhsuk-link">Reactivate {{ site.name }}</a></p>
        {% endif %}
      {% endfor %}


    </div>
  </div>

{% endblock %}

