{% extends 'layout.html' %}

{% set pageName = vaccine.vaccineProduct %}

{% set currentSection = "vaccines" %}


{% block beforeContent %}
  {{ backLink({
    href: "/vaccines/",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ vaccine.vaccineProduct }}</h1>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-6",
        rows: [
          {
            key: {
              text: "Vaccine"
            },
            value: {
              text: vaccine.vaccine
            }
          },
          {
            key: {
              text: "Dose"
            },
            value: {
              html: "0.3ml/mg"
            }
          },
          {
            key: {
              text: "Site"
            },
            value: {
              html: site.name
            }
          }
        ]
      }) }}

      {{ button({
        text: "Add batch",
        href: "/vaccines/" + vaccine.id + "/add"
      }) }}

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


      <table class="nhsuk-table nhsuk-u-margin-top-7">
        <caption class="nhsuk-table__caption nhsuk-u-font-size-32">Batches</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" scope="col">
              Batch number
            </th>
            {% if vaccine.vaccineProduct == "Spikevax JN.1" %}
              <th role="columnheader" scope="col">
                Pack size
              </th>
            {% endif %}
            <th role="columnheader" scope="col">
              Expiry date
            </th>
            <th role="columnheader" scope="col">
              Status
            </th>
            <th role="columnheader" scope="col">
              Depleted date
            </th>
            <th role="columnheader" scope="col">
            </th>
             </th>
            <th role="columnheader" scope="col">
            </th>

          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for batch in batches %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                {{ batch.batchNumber }}
              </td>
              {% if vaccine.vaccineProduct == "Spikevax JN.1" %}
                <td class="nhsuk-table__cell">
                  {{ batch.packType }}
                </td>
              {% endif %}
              <td class="nhsuk-table__cell">
                {{ batch.expiryDate | govukDate }}
              </td>
              <td class="nhsuk-table__cell">
                {% if batch.depletedDate %}
                  {{ tag({text: "Depleted", classes: "nhsuk-tag--grey" }) }}
                {% elif (batch.expiryDate | daysAgo) > 0 %}
                  {{ tag({text: "Expired", classes: "nhsuk-tag--grey" }) }}
                {% else %}
                  {{ tag({text: "Active" }) }}
                {% endif %}
              </td>
              <td class="nhsuk-table__cell">
                {% if batch.depletedDate %}
                  {{ batch.depletedDate | govukDate }}
                {% endif %}
              </td>
              <td class="nhsuk-table__cell">{% if (batch.expiryDate | daysAgo) > 0 %}  {% else %}
                <a href="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}">Edit<span class="nhsuk-u-visually-hidden">{{ batch.batchNumber }}</span></a>
                &nbsp;
                {% if batch.depletedDate %}
                  <a href="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/reactivate">Reactivate<span class="nhsuk-u-visually-hidden">{{ batch.batchNumber }}</span></a>
                {% else %}
                  <a href="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/deplete">Deplete<span class="nhsuk-u-visually-hidden">{{ batch.batchNumber }}</span></a>
                {% endif %}
                {% endif %}
              </td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% set items = [] %}

      {% for i in range(1, totalPages + 1) -%}
         {% set items = (items.push({
          number: i,
          href: "/vaccines/" + vaccine.id + "?page=" + i,
          current: (i === page)
        }), items) %}
      {%- endfor %}


      {% if totalPages > 0 %}
        {{ pagination({
          previous: {
            href: "/vaccines/" + vaccine.id + "?page=" + (page - 1) if page != 1
          },
          next: {
            href: "/vaccines/" + vaccine.id + "?page=" + (page + 1)  if page != totalPages
          },
          items: items
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
