{% extends 'layout.html' %}

{% set pageName = vaccine.vaccineProduct %}

{% set currentSection = "vaccines" %}


{% block beforeContent %}
  {{ backLink({
    href: "/vaccines/",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if added %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            {{ "Vaccine added" if addedType == "vaccine" else "Batch added" }}
          </h3>
          <p>
            {% if addedType == "vaccine" %}
              {{ ("Vaccine with batch " + updatedBatchNumber + " has been added.") if updatedBatchNumber else "Vaccine has been added." }}
            {% else %}
              {{ ("Batch " + updatedBatchNumber + " has been added.") if updatedBatchNumber else "Batch has been added." }}
            {% endif %}
          </p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if deactivated %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Batch deactivated
          </h3>
          <p>{{ ("Batch " + updatedBatchNumber + " has been deactivated.") if updatedBatchNumber else "Batch has been deactivated." }}</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      {% if reactivated %}
        {% set html %}
          <h3 class="nhsuk-notification-banner__heading">
            Batch reactivated
          </h3>
          <p>{{ ("Batch " + updatedBatchNumber + " has been reactivated.") if updatedBatchNumber else "Batch has been reactivated." }}</p>
        {% endset %}

        {{ notificationBanner({
          html: html,
          type: "success"
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">{{ vaccine.vaccineProduct }}</h1>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-6",
        rows: [
          {
            key: {
              text: "Vaccine"
            },
            value: {
              text: (vaccine.vaccine )
            }
          },
          {
            key: {
              text: "Dose"
            },
            value: {
              html: "0.3ml/mg"
            }
          },
          {
            key: {
              text: "Site"
            },
            value: {
              html: site.name + (" (closed)" if site.status == "closed")
            }
          }
        ]
      }) }}

      {% if site.status != "closed" %}
        {{ button({
          text: "Add batch",
          href: "/vaccines/" + vaccine.id + "/add"
        }) }}
      {% endif %}

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-4">Batches</h2>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {{ details({
            summaryText: "What does deactivate mean?",
            html: "If a batch is finished, you can deactivate it and it will no longer be available to select when you record vaccinations. The system automatically deactivates expired batches."
          }) }}
        </div>
      </div>

      {% set activeCount = activeBatchesCount | default(0) %}
      {% set inactiveCount = inactiveBatchesCount | default(0) %}

      {% set secondaryNavItems = [{
        text: "Active (" + activeCount + ")",
        href: "/vaccines/" + vaccine.id + "?tab=active",
        current: (currentTab == "active")
      }] %}

      {% if inactiveCount > 0 %}
        {% set secondaryNavItems = (secondaryNavItems.push({
          text: "Deactivated (" + inactiveCount + ")",
          href: "/vaccines/" + vaccine.id + "?tab=inactive",
          current: (currentTab == "inactive")
        }), secondaryNavItems) %}
      {% endif %}

      {{ appSecondaryNavigation({
        visuallyHiddenTitle: "Batches by status",
        items: secondaryNavItems
      }) }}

      {% set columns = 2 %}
      {% if currentTab == "inactive" %}
        {% set columns = columns + 2 %}
      {% endif %}
      {% if vaccine.vaccineProduct == "Spikevax JN.1" %}
        {% set columns = columns + 1 %}
      {% endif %}
      {% if site.status != "closed" %}
        {% set columns = columns + 1 %}
      {% endif %}


      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" scope="col">
              Batch number
            </th>
            {% if vaccine.vaccineProduct == "Spikevax JN.1" %}
              <th role="columnheader" scope="col">
                Pack size
              </th>
            {% endif %}
            <th role="columnheader" scope="col">
              Expiry date
            </th>
            {% if currentTab == "inactive" %}
              <th role="columnheader" scope="col">
                Date deactivated
              </th>
              <th role="columnheader" scope="col">
                Reason deactivated
              </th>
            {% endif %}
            {% if site.status != "closed" %}
              <th role="columnheader" scope="col">
              </th>
            {% endif %}

          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% if (batches | length) == 0 %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" colspan="{{ columns }}">
                No {{ currentTab }} batches found.
              </td>
            </tr>
          {% else %}
            {% for batch in batches %}
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  {{ batch.batchNumber }}
                </td>
                {% if vaccine.vaccineProduct == "Spikevax JN.1" %}
                  <td class="nhsuk-table__cell">
                    {{ batch.packType }}
                  </td>
                {% endif %}
                <td class="nhsuk-table__cell">
                  {{ batch.expiryDate | govukDate }}
                </td>
                {% if currentTab == "inactive" %}
                  <td class="nhsuk-table__cell">
                    {% if batch.deactivatedDate %}
                      {{ batch.deactivatedDate | govukDate }}
                    {% else %}
                      {{ batch.expiryDate | govukDate }}
                    {% endif %}
                  </td>
                  <td class="nhsuk-table__cell">
                    {% if batch.deactivatedDate %}
                      Deactivated by user
                    {% elif (batch.expiryDate | daysAgo) > 0 %}
                      Expired
                    {% endif %}
                  </td>
                {% endif %}
                {% if site.status != "closed" %}
                  <td class="nhsuk-table__cell">
                    {% if currentTab == "inactive" %}
                      {% if batch.deactivatedDate %}
                        <a href="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/reactivate">Reactivate<span class="nhsuk-u-visually-hidden">{{ batch.batchNumber }}</span></a>
                      {% endif %}
                    {% else %}
                      {% if (batch.expiryDate | daysAgo) > 0 %}
                      {% else %}
                        <a href="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}">Edit<span class="nhsuk-u-visually-hidden">{{ batch.batchNumber }}</span></a>
                        &nbsp;
                        <a href="/vaccines/{{ vaccine.id }}/{{ batch.batchNumber }}/deactivate">Deactivate<span class="nhsuk-u-visually-hidden">{{ batch.batchNumber }}</span></a>
                      {% endif %}
                    {% endif %}
                  </td>
                {% endif %}

              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

      {% set items = [] %}

      {% for i in range(1, totalPages + 1) -%}
         {% set items = (items.push({
          number: i,
          href: "/vaccines/" + vaccine.id + "?tab=" + currentTab + "&page=" + i,
          current: (i === page)
        }), items) %}
      {%- endfor %}


      {% if totalBatches > 20 %}
        {{ pagination({
          previous: {
            href: "/vaccines/" + vaccine.id + "?tab=" + currentTab + "&page=" + (page - 1) if page != 1
          },
          next: {
            href: "/vaccines/" + vaccine.id + "?tab=" + currentTab + "&page=" + (page + 1)  if page != totalPages
          },
          items: items
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
