{% extends 'layout.html' %}

{% set pageName = "Check this is your company" %}
{% set pharmacyChain = data.allOrganisations | findById(data.pharmacyChainId) %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: pharmacyChain.name
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: "Pharmacy company"
            }
          },
          {
            key: {
              text: "ODS code"
            },
            value: {
              text: pharmacyChain.id
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "Merchants Warehouse<br>Castle Street<br>Manchester<br>M3 4LZ"
            }
          }
        ]
      }) }}

      {{ button({
        "text": "Continue",
        href: "/apply/pharmacies"
      }) }}

    </div>
  </div>
{% endblock %}
