{% extends 'layout.html' %}

{% set pageName = "Check your answers" %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/contact-details",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {% set pharmaciesHtml %}
        {% if (pharmacies | length) <= 10 %}
          <ul class="nhsuk-list">
            {% for pharmacy in pharmacies %}
              <li>{{ pharmacy.name }} ({{ pharmacy.id }})</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ pharmacies | length }} pharmacies
        {% endif %}

      {% endset %}

      <h2 class="nhsuk-heading-m">Your pharmacies</h2>
      {{ summaryList({
        rows: [
          {
            key: {
              text: "Company"
            },
            value: {
              html: pharmacyChain.name
            },
            actions: {
              items: [
                {
                  href: "/apply/start",
                  text: "Change",
                  visuallyHiddenText: "company"
                }
              ]
            }
          },
          {
            key: {
              text: "Pharmacies"
            },
            value: {
              html: pharmaciesHtml
            },
            actions: {
              items: [
                {
                  href: "/apply/pharmacies",
                  text: "Change",
                  visuallyHiddenText: "pharmacies"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Your details</h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              html: data.firstName + " " + data.lastName
            },
            actions: {
              items: [
                {
                  href: "/apply/contact-details-chain",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: data.email
            },
            actions: {
              items: [
                {
                  href: "/apply/contact-details-chain",
                  text: "Change",
                  visuallyHiddenText: "your email"
                }
              ]
            }
          }
        ]
      }) }}

      {% if data.firstName2 %}

        <h2 class="nhsuk-heading-m">2nd lead administrator</h2>

        {{ summaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                html: data.firstName2 + " " + data.lastName2
              },
              actions: {
                items: [
                  {
                    href: "/apply/contact-details-chain",
                    text: "Change",
                    visuallyHiddenText: "2nd lead administrator’s name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email"
              },
              value: {
                text: data.email2
              },
              actions: {
                items: [
                  {
                    href: "/apply/contact-details-chain",
                    text: "Change",
                    visuallyHiddenText: "2nd lead administrator’s email"
                  }
                ]
              }
            }
          ]
        }) }}
      {% endif %}

      <form action="/apply/check-chain-answer" method="post">
        {{ button({
          text: "Confirm"
        }) }}
      </form>

    </div>
  </div>


{% endblock %}
