{% extends 'layout.html' %}

{% set pageName = "Now check your email" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2 class="nhsuk-heading-l">{{ pageName }}</h2>

      <p>We've created an account for you. This means you will be able to access the service as a lead administrator for Addlestone Pharmacy.</p>
      
      <p>You will now get a welcome email which includes:</p>
        <ul>
        <li>how to log in</li>
        <li>how to add more users to your pharmacy
        <li>links to our training webinars and user guide</li>
        </ul>
      <p>If you cannot find the email, check your spam or junk.</p>

    </div>
  </div>
{% endblock %}
