{% extends 'layout.html' %}

{% set pageName = "Check this is your pharmacy company" %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Bestway National Chemists Ltd"
            }
          },
          {
            key: {
              text: "Type"
            },
            value: {
              text: "Pharmacy company"
            }
          },
          {
            key: {
              text: "ODS code"
            },
            value: {
              text: "P0MG"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "Merchants Warehouse, Castle Street, Manchester, M3 4LZ"
            }
          }
        ]
      }) }}

      {{ button({
        "text": "Continue",
        href: "/apply/pharmacies"
      }) }}

    </div>
  </div>
{% endblock %}
