{% extends 'layout.html' %}

{% set pageName = "Now check your email" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2 class="nhsuk-heading-l">{{ pageName }}</h2>

      <p>We've created an account for you as a lead administrator for Addlestone Pharmacy.</p>
      
      <p>We've sent you a welcome email which includes:</p>
        <ul>
        <li>how to access the service</li>
        <li>what you need to do next, such as adding more users to your organisation
        <li>how to book a training webinar</li>
        <li>a link to our user guide</li>
        </ul>
      <p>If you cannot find the email, check your spam or junk.</p>

    </div>
  </div>
{% endblock %}
