{% extends 'layout.html' %}

{% set pageName = "Add lead administrators" %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/vaccine-types",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>You can assign up to 10 lead administrators now, including you, to the {{ data.pharmacyIds | length }} pharmacies you selected.</p>

      <p>The people you add now must have an nhs.net email. But you can add more users later at individual pharmacies, including lead administrators, using a range of allowed emails.</p>

      {% call details({
  summaryText: "What can you do as a lead administrator?",
  classes: "nhsuk-expander"
}) %}
  <p>A lead administrator added here can:</p>
  <ul>
    <li>access RAVS at all {{ data.pharmacyIds | length }} selected pharmacies </li>
    <li>add users at each pharmacy, including more lead administrators, who can in turn add further users </li>
    <li>assign different permission levels to the users they add </li>
    <li>create reports that include all {{ data.pharmacyIds | length }} pharmacies </li>
  </ul>
      
<p>This table shows the permission levels you can assign when you add users at individual pharmacies.</p>

<table tabindex="0" class="nhsuk-table">
<thead class="nhsuk-table__head">
<tr class="nhsuk-table__row">
<th class="nhsuk-table__header"><strong>Permission level</strong></th>
<th class="nhsuk-table__header"><strong>Record and edit vaccinations</strong></th>
<th class="nhsuk-table__header"><strong>Add and manage vaccines</strong></th>
<th class="nhsuk-table__header"><strong>Create reports</strong></th>
<th class="nhsuk-table__header"><strong>Add and manage users</strong></th>
</tr>
</thead>
<tbody class="nhsuk-table__body">

<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell"><strong>Lead administrator</strong></td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">Yes</td>
</tr>
<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell"><strong>Administrator</strong></td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">No</td>
</tr>
<tr class="nhsuk-table__row">
<td class="nhsuk-table__cell"><strong>Recorder</strong></td>
<td class="nhsuk-table__cell">Yes</td>
<td class="nhsuk-table__cell">No</td>
<td class="nhsuk-table__cell">No</td>
<td class="nhsuk-table__cell">No</td>
</tr>
</tbody>
</table>
      {% endcall %}

      <form action="/apply/check-chain" method="post" novalidate="true" data-module="app-add-another">

        {# Ordinal suffixes for numbers 1-10 #}
        {% set ordinals = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'] %}

        {% for index in range(0, 10) %}
          <div id="lead-administrator-{{ index + 1 }}" data-add-another-item="{{ index + 1 }}">
            <h2 class="nhsuk-heading-m">{{ ordinals[index] }} lead administrator</h2>

            <div hidden>
              {{ button({
                id: "remove-lead-admin-" + (index + 1),
                text: "Remove",
                type: "button",
                classes: "nhsuk-button--secondary",
                attributes: {
                  "data-add-another-remove": (index + 1) | string
                }
              }) }}
            </div>

            {{ input({
              label: {
                text: "First name"
              },
              id: "first-name-" + (index + 1),
              name: "firstName",
              classes: "nhsuk-input--width-20",
              value: data.firstName[index]
            }) }}

            {{ input({
              label: {
                text: "Last name"
              },
              id: "last-name-" + (index + 1),
              name: "lastName",
              classes: "nhsuk-input--width-20",
              value: data.lastName[index]
            }) }}

            {{ input({
              label: {
                text: "Email address"
              },
              hint: {
                html: "Use a personal nhs.net email, not a pharmacy email.<br>For example, joe.bloggs1@nhs.net"
              },
              id: "email-" + (index + 1),
              name: "email",
              type: "email",
              value: data.email[index]
            }) }}
          </div>
        {% endfor %}

        <div class="nhsuk-button-group" id="add-another-wrapper" hidden>
          {{ button({
            id: "add-lead-admin",
            text: "Add another lead administrator",
            type: "button",
            classes: "nhsuk-button--secondary",
            attributes: {
              "data-add-another-add": "true"
            }
          }) }}
        </div>

        {{ button({
          "text": "Continue"
        }) }}
      </form>

    </div>
  </div>


{% endblock %}
