{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview app-email-preview--okta">
        <p>From: ravs@england.nhs.uk<br>
        Subject: Confirm your email address to apply to use NHS Record a vaccination
        </p>
        <hr>
        <p>Dear Jane Jackson,</p>

        <p>You have applied to use the Record a vaccination service for your pharmacy.</p>

        <p>Follow this link to verify your email address and complete your application:</p>

        <p><a href="/apply/email-confirmed">Confirm email address</a></p>

      </div>

      <hr>


    </div>
  </div>
{% endblock %}
