{% extends 'layout.html' %}

{% set pageName = "Sign up for a group of pharmacies" %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>You can sign up all of your pharmacies at once, or you can do it in batches.</p>

      <p>For larger chains, we generally recommend signing up pharmacies based on how stores are managed in your organisation. See our <a href="#">guide to signing up a group of pharmacies</a>.</p>

      <p>If you have any questions, <a href="#">contact our onboarding team for advice</a>.</p>

    {{ button({
        text: "Continue",
        href: "/apply/find-pharmacy-company"
    }) }}


    </div>
  </div>
{% endblock %}
