{% extends 'layout.html' %}

{% set pageName = "Sign up for a group of pharmacies" %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/start",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
    
      <p>You can onboard all your pharmacies at once, or you can do it in batches. The best option for you depends on your operating model.</p>

      <p>Before you start, we strongly recommend you read our <a href="#">guide to signing up for a group of pharmacies</a>.</p> 

      <p>If you have any questions, <a href="#">email us</a> or <a href="#">join a drop-in session</a> .</p>

    {{ button({
        text: "Continue",
        href: "/apply/find-pharmacy-company"
    }) }}


    </div>
  </div>
{% endblock %}
