
{% extends 'layout.html' %}

{% set pageName = "Your application is almost complete" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-m">Almostthere</h1>

        <p>Before we give you access to Record a vaccination, we need to check your pharmacy has a contract to offer NHS COVID-19 vaccinations.</p>
        <p>We'll email you when we've completed our check. This can take up to 72 hours.</p>
        <p>If you do not hear back from us within 72 hours, contact our helpdesk.</p>

    </div>
  </div>
{% endblock %}
