
{% extends 'layout.html' %}

{% set pageName = "Almost there" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

        <p>We now need to check that your pharmacy has a contract to offer NHS COVID-19 vaccinations.</p>
        <p>This can take up to 72 hours. We'll email you when our check is done.</p>

    </div>
  </div>
{% endblock %}
