{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/product-page",
    text: "Back"
  }) }}
{% endblock %}



  {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Sign up to use Record a vaccination</h1>

      <p>If your pharmacy has been approved to give COVID-19 or flu vaccinations, you can use this service.</p>

      <p>You can sign up if:</p>

      <ul>
        <li>you are planning to offer NHS vaccinations</li>
        <li>you already offer NHS vaccinations but want to switch systems</li>
      </ul>

      <h2 class="nhsuk-heading-m">Before you start</h2>

      <ul>
        <li>You must have an <a href="#">NHS-approved email</a>.</li>
        <li>If you want to record COVID-19 vaccinations you must have a contract in place with NHS England.</li>
      </ul>

      <br>
      <div class="nhsuk-form-group">
          <h2 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-1" for="organisationCode">
             Find your pharmacy
            </label>
          </h2>
          <div class="nhsuk-hint" id="organisationName-hint">
            Search by name or ODS code
          </div>
          <select class="nhsuk-select" id="organisationCode" name="organisationCode"
            data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
            <option selected value=""></option>

            {% set options = [] %}

            {% for code, name in data.nhsTrusts %}
              {% set options = (options.push({
                label: name + " (" + code + ")",
                value: code
              }), options) %}
            {% endfor %}

            {% for code, data in data.nhsPharmacies %}
              {% set options = (options.push({
                label: data.name + ", " + data.address + ", " + (data.postcode | upper) + " (" + code + ")",
                value: code
              }), options) %}
            {% endfor %}

            {% for option in (options | sort(false, true, "label")) %}
              <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
          </select>
        </div>



        <form action="/apply/onboarding1" method="post">



        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}








