{% extends 'layout.html' %}

{% set pageName = "Which pharmacies do you want to sign up now?" %}


{% block beforeContent %}
  {{ backLink({
    href: "/apply/check-pharmacy-chain",
    text: "Back"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Select pharmacies</h1>

      <p>There are {{ (pharmacies | length) + 7}} active pharmacies in your company according to the <a href="https://digital.nhs.uk/services/organisation-data-service">NHS Organisation Data Service</a> (ODS).</p>

      <p>7 of them are already using RAVS and are not listed here.</p>

      {% if (pharmacies | length) > 50 %}
        <p>For larger chains, we recommend signing up pharmacies in batches based on how stores are managed in your organisation.</p>
      {% endif %}

      {% set items = [] %}


      {% for pharmacy in pharmacies %}
        {% set items = (items.push({
          text: pharmacy.name + ", " + pharmacy.address.postcode + " (" + pharmacy.id + ")",
          value: pharmacy.id
        }), items) %}
      {% endfor %}

      <form action="/apply/pharmacy-chain-check" method="post"
        data-module="app-checkboxes-count-select"
        data-i18n.selected-count.one="%{count} pharmacy selected"
        data-i18n.selected-count.other="%{count} pharmacies selected">

        {% call fieldset({
          legend: {
            text: pageName,
            size: "m"
          }
        }) %}

        {% if (pharmacies | length) > 1 %}
          {{ checkboxes({
            idPrefix: "pharmacy-select-all",
            name: "pharmacyIds",
            values: data.pharmacyIds,
            formGroup: {
              classes: "nhsuk-u-margin-bottom-2"
            },
            items: [
              {
                text: "Select all " + (pharmacies | length),
                value: "",
                attributes: {
                  "data-module": "app-checkbox-select-all",
                  "data-select-all": "true"
                }
              },
              {
                divider: "or"
              }
            ]
          }) }}
        {% endif %}

        {% if (pharmacies | length) > 20 %}
          {{ input({
            id: "pharmacy-search",
            name: "pharmacySearch",
            type: "search",
            label: {
              text: "Search"
            },
            classes: "nhsuk-input--width-20",
            attributes: {
              "data-module": "app-checkbox-filter"
            },
            formGroup: {
              classes: "nhsuk-u-margin-bottom-4"
            }
          }) }}
        {% endif %}

        <div class="app-scrollable-container">
          {{ checkboxes({
            id: "pharmacy-ids",
            name: "pharmacyIds",
            values: data.pharmacyIds,
            items: items
          }) }}
        </div>


        {% endcall %}

        <p data-selected-count-display></p>

        {{ button({
          text: "Confirm"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
