{% extends 'layout.html' %}

{% set pageName = "Sign up" %}

{% block beforeContent %}
  {{ backLink({
    href: "/product-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/apply/check-pharmacy-chain" method="post">

      {% set options = [] %}
      {% set items = [{ text: "", value: ""}] %}

      {% for organisation in allPharmacies %}
        {% set items = (items.push({
          text: organisation.name + ", " + organisation.address + ", " + (organisation.address.postcode | upper) + " (" + organisation.id + ")",
          value: organisation.id,
          selected: (organisation.id === data.organisationId)
        }), items) %}
      {% endfor %}

      {% set pharmacyCompanyItems = [{ text: "", value: ""}] %}

      {{ pharmacyCompanies | dump }}

      {% for pharmacyCompany in allPharmacyCompanies %}
        {% set pharmacyCompanyItems = (pharmacyCompanyItems.push({
          text: pharmacyCompany.name,
          value: pharmacyCompany.id
        }), pharmacyCompanyItems) %}
      {% endfor %}

      {% set multipleHtml %}

        {{ select({
          id: "pharmacy-chain-id",
          name: "pharmacyChainId",
          value: data.pharmacyChainId,
          label: {
            text: "Pharmacy company",
            size: "s"
          },
          hint: {
            text: "Search by name or ODS code"
          },
          items: pharmacyCompanyItems
        }) }}

      {% endset %}


      {% set singleHtml %}
        {{ select({
          id: "organisation-id",
          name: "organisationId",
          label: {
            text: "Pharmacy",
            size: "s"
          },
          hint: {
            text: "Search by name or ODS code"
          },
          items: items,
          errorMessage: {
            text: (errors | first).text
          } if (errors | length)
        }) }}
      {% endset %}

        {{ radios({
          name: "oneOrMany",
          value: data.oneOrMany,
          fieldset: {
            legend: {
              text: "Are you signing up for 1 pharmacy or a pharmacy chain?",
              size: "l",
              isPageHeading: true
            }
          },
          items: [
            {
              value: "single",
              text: "A single pharmacy",
              conditional: {
                html: singleHtml
              }
            },
            {
              value: "pharmacy",
              text: "A pharmacy chain",
              conditional: {
                html: multipleHtml
              }
            }
          ]
        }) }}


        {{ button({
          "text": "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
