{% extends 'layout.html' %}

{% set pageName = "Sign up" %}

{% block beforeContent %}
  {{ backLink({
    href: "/product-page",
    text: "Back"
  }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/apply/start-answer" method="post">

      {% set options = [] %}
      {% set items = [{ text: "", value: ""}] %}

      {% for organisation in allPharmacies %}
        {% set items = (items.push({
          text: organisation.name + ", " + organisation.address + ", " + (organisation.address.postcode | upper) + " (" + organisation.id + ")",
          value: organisation.id,
          selected: (organisation.id === data.organisationId)
        }), items) %}
      {% endfor %}

      {% set pharmacyCompanyItems = [{ text: "", value: ""}] %}

      {% for pharmacyCompany in (allPharmacyCompanies | sort(false, false, "name")) %}
        {% set pharmacyCompanyItems = (pharmacyCompanyItems.push({
          text: (pharmacyCompany.name) + " (" + (pharmacyCompany.id) + ")",
          value: pharmacyCompany.id
        }), pharmacyCompanyItems) %}
      {% endfor %}

      {% set multipleHtml %}

        {{ select({
          id: "pharmacy-chain-id",
          name: "pharmacyChainId",
          value: data.pharmacyChainId,
          label: {
            text: "Pharmacy company",
            size: "s"
          },
          hint: {
            text: "Search by name of the company"
          },
          items: pharmacyCompanyItems,
          attributes: {
            "data-module": "app-autocomplete"
          }
        }) }}

      {% endset %}


      {% set singleHtml %}
        {{ select({
          id: "organisation-id",
          name: "organisationId",
          label: {
            text: "Pharmacy",
            size: "s"
          },
          hint: {
            text: "Search by name or ODS code"
          },
          items: items,
          attributes: {
            "data-module": "app-autocomplete"
          },
          errorMessage: {
            text: (errors | first).text
          } if (errors | length)
        }) }}
      {% endset %}

        {{ radios({
          name: "oneOrMany",
          value: data.oneOrMany,
          fieldset: {
            legend: {
              text: "Are you signing up for a single pharmacy or multiple pharmacies?",
              size: "l",
              isPageHeading: true
            }
          },
          hint: {
            text: "If you have more than 1 pharmacy, you can either sign up each pharmacy individually or you can sign up multiple pharmacies at once."
          },
        
          items: [
            {
              value: "single",
              text: "A single pharmacy",
              conditional: {
                html: singleHtml
              }
            },
            {
              value: "chain",
              text: "Multiple pharmacies",
              conditional: {
                html: multipleHtml
              }
            }
          ]
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
