
{% extends 'layout.html' %}

{% set pageName = "Sign up for 1 or more pharmacies" %}

{% block beforeContent %}
  {{ backLink({
    href: "/product-page",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

<p>Any community pharmacy offering NHS vaccinations can sign up.</p>

<h2 class="nhsuk-heading-m">What it involves</h2>

<ol class="nhsuk-list nhsuk-list--number">
  <li>You'll have the option of signing up for a single pharmacy or multiple pharmacies.</li>
  <li>Next, we'll ask you to select the pharmacy or pharmacies.</li>
  <li>Then you can nominate up to 5 lead administrators, including yourself, who will get access to RAVS at the selected pharmacy or pharmacies.</li>
  <li>Your nominated users will get an email with details of how to log in to RAVS.
  <li>Once they have logged in, they will be able to add further users at individual pharmacies, including more lead administrators.</li>
  <li>Any lead administrator can, in turn, add further users to individual pharmacies.</li>
</ol>

<h3 class="nhsuk-heading-s">Signing up for multiple pharmacies</h3>

<p>If you have multiple pharmacies you can either:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>ask each pharmacy to sign up individually</li>
  <li>sign up for a few pharmacies at the time</li>
  <li>sign up all your pharmacies at once</li>
  <li>pale skin</li>
</ul>

<p>If you have a large chain, you may want to consider signing up for a few pharmacies at the time.</p>
<p>This would allow to you to nominate different lead administrators for each subset of pharmacies, and therefore share the job of adding users to individual pharmacies between more people.</p>

<h2 class="nhsuk-heading-m">Before you start</h2>

<p>If you have any questions about signing up, join a drop-in session with the RAVS team who will be happy to help</p>

{% from "button/macro.njk" import button %}

{{ button({
  text: "Start now"
}) }}

</div>
  </div>
{% endblock %}


    </div>
  </div>

