{% extends 'layout.html' %}

{% set pageName = "Sign up for your pharmacy" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/product-page",
    text: "Back"
  }) }}
{% endblock %}

  {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>You can sign up if you are a community pharmacy offering NHS vaccinations.</p>

      <p>If you need to sign up for more than 1 pharmacy, you can use this form multiple times or <a href="/contact">contact us</a>.</li>
      </p>

      <form action="/apply/answer-pharmacy" method="post">

      {% set options = [] %}
      {% set items = [{ text: "", value: ""}] %}

      {% for organisation in data.allOrganisations | sort(false, false, "name") %}
        {% if organisation.type == "Community pharmacy" %}
          {% set items = (items.push({
            text: organisation.name + ", " + organisation.address + ", " + (organisation.address.postcode | upper) + " (" + organisation.id + ")",
            value: organisation.id,
            selected: (organisation.id === data.organisationId)
          }), items) %}
        {% endif %}
      {% endfor %}

      {{ select({
        id: "organisation-id",
        name: "organisationId",
        label: {
          text: "Find your pharmacy",
          classes: "nhsuk-label--m nhsuk-u-margin-bottom-1"
        },
        hint: {
          text: "Search by name or ODS code"
        },
        items: items,
        errorMessage: {
          text: (errors | first).text
        } if (errors | length)
      }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}








