{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/check-pharmacy",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/apply/contact-details" method="post">

        {{ checkboxes({
          idPrefix: "example",
          name: "example",
          fieldset: {
            legend: {
              text: "Which vaccinations do you want to record?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Select all options that are relevant to you."
          },
          items: [
            {
              value: "email",
              text: "COVID-19"
            },
            {
              value: "phone",
              text: "Flu"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
