{% extends 'layout.html' %}

{% set pageName = "Which vaccinations do you want to record?" %}

{% block beforeContent %}
  {{ backLink({
    href: "/apply/check-pharmacy",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/apply/contact-details" method="post">

        {% set items = [] %}

        {% for vaccine in data.vaccines | sort(false, false, "name") %}
          {% if vaccine.availableToAllSites %}
            {% set items = (items.push({
              text: (vaccine.name | capitaliseFirstLetter),
              value: vaccine.name
            }), items) %}
          {% endif %}
        {% endfor %}

        {{ checkboxes({
          idPrefix: "vaccine-types",
          name: "vaccineTypes",
          fieldset: {
            legend: {
              text: pageName,
              size: "l",
              isPageHeading: true
            }
          },
          hint: {
            text: "Select all options that are relevant to you."
          },
          items: items,
          values: data.vaccineTypes
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
