{% extends 'layout.html' %}

{% set pageName = "Email inbox" %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview">

      <p>Dear {{ data.firstName }} {{ data.lastName }},</p>
      <p>You've been signed up to use the NHS Record a vaccination service for {{ data.pharmacyIds | length }} pharmacies.</p>
      <p>Here's what you need to do next:</p>

      <h2 class="nhsuk-heading-s">1. Activate your Okta account</h2>
      <p>We've created an Okta account for you to securely access the service.</p>
      <p>You’ll receive a ‘Welcome to Okta’ email (from <a href="mailto:noreply@okta.com">noreply@okta.com</a>). You need to activate the link within 7 days.</p>
      <p>If you cannot find the email, check your spam or junk.</p>

      <h2 class="nhsuk-heading-s">2. Log in to the Record a vaccination service</h2>
      <p>Once you’ve activated your Okta account, log in to <a href="/auth/okta-sign-in?email={{ data.email }}">www.ravs.england.nhs.uk</a> using your Okta username and password.</p>
      <p>You can also access the service through your Okta account by clicking ‘RAVS (PROD) app’.</p>

      <h2 class="nhsuk-heading-s">3. Add users to individual pharmacies</h2>
      <p>When you log in, you'll see a list of pharmacies where you now have access to the service.</p>
      <p>To give more users access to the service at individual pharmacies:</p>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>select a pharmacy from the list</li>
        <li>go to the Manage users section and add users</li>
      </ul>

      <h2 class="nhsuk-heading-s">Training and support</h2>
      <p>To help you get started, you can:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="https://guide.ravs.england.nhs.uk/?wt.mc_id=INVITEEMAIL">check our user guide</a></li>
        <li><a href="https://future.nhs.uk/vaccsandscreening/viewCalendar?cid=1351409&viewDate=20260320&eid=10708678">join a drop-in session</a></li>
      </ul>


      <hr>

      <h2 class="nhsuk-heading-s">The {{ data.pharmacyIds | length }} pharmacies you've been signed up for</h2>

      <ul>
        <li>Asda, M5 2PX (P121)</li>
        <li>Asda, M5 2PX (P121)</li>
      </ul>

      <hr>



      <p>Kind regards,</p>
      <p>NHS Record a vaccination</p>

      <p>Do not reply to this email as we do not check this inbox.</p>
      <p>To contact us, go to: <a href="https://www.ravs.england.nhs.uk/help-and-support">Record a vaccination: Help and support</a></p>


    </div>
  </div>

{% endblock %}
