{% extends 'layout.html' %}

{% block pageTitle %}
  Record a vaccination
{% endblock %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-5">


          <div class="nhsuk-panel" style="background-color:#FFFFFF; border: 4px solid #005eb8; padding-top: 48px;
            padding-right: 48px;
            padding-bottom: 48px;
            padding-left: 48px;">
            <h1 class="nhsuk-panel__title" style="color:#212b32;">
            Organisation name has been deactivated
            </h1>
          
            <div class="nhsuk-panel__body" style="color:#212b32;">
            <p>This means you can no longer record vaccinations for this organisation.</p>
            <p>Until [date] you will still be able to access other parts of the Record a vaccination service.</p>
            <p>After [date] you will no longer have access to the service for ((Organisation name)).</p>
            </div>

                    
            <br><br>


            {% from 'button/macro.njk' import button %}

            {{ button({
            text: "I've read this",
            classes: "nhsuk-button",
            href: "/home"
            }) }}

          </div>

        



{% endblock %}

