{% extends 'layout.html' %}

{% block pageTitle %}
  {{ currentOrganisation.name }} – Home
{% endblock %}

{% set currentSection = "home" %}



{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">{{ currentOrganisation.name }}</h1>

      <form action="/home/no-records" method="post" novalidate>
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <h2 class="nhsuk-heading-m">Example heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>tiredness and lack of energy</li>
              <li>shortness of breath</li>
            </ul>
            <p class="nhsuk-body-m"><a href="/updates/previous" class="nhsuk-link">Tell me more</a></p>
            <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
                I have read and understand
              </button>
      </div>

      <p>You have not yet recorded a vaccination.</p>

      <p class="nhsuk-body"><a href="/vaccines/choose-site">Add vaccines</a></p>
  
      <p class="nhsuk-body"><a href="/user-admin/add-user">Add users</a></p>
      
      <p class="nhsuk-body"><a href="/find-a-patient">Find a patient</a></p>

      <p>Find help and guidance at <a href="/reports">guide.ravs.england.nhs.uk</a></p>



      <h2 class="nhsuk-heading-m">Total vaccinations</h2>

    </div>
  </div>


<ul class="nhsuk-grid-row nhsuk-card-group">

    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {% set cardHtml %}
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0</p>
        Today
      {% endset %}

      {{ card({
        headingHtml: cardHtml
      }) }}
    </li>

    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {% set cardHtml %}
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0</p>
        Past 7 days
      {% endset %}

      {{ card({
        headingHtml: cardHtml
      }) }}
    </li>


    <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">
      {% set cardHtml %}
        <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">0</p>
        November so far
      {% endset %}

      {{ card({
        headingHtml: cardHtml
      }) }}
    </li>

</ul>
    

    </div>
  </div>
{% endblock %}
