{% extends 'layout.html' %}

{% set pageName = "Add a vaccine procedure" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/target-disease" }) }}
{% endblock %}



{% block content %}

<h1 class="nhsuk-heading-l">{{ pageName }}</h1>

   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">


    


          <form action="/support/vaccines/add" method="post">



            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="input-width-20">
                Name
              </label> 
         
              <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="input-width-20">
                Enter a SNOMED procedure code
              </label> 
         
              <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
            </div>    

          


    
            

     {{ button({
        text: "  Continue",
        href: "/support/vaccines/eligibility"
      }) }}

          </form>



    </div>
  </div>


  <p>You can check <a href="https://termbrowser.nhs.uk/?" target="_new">SNOMED codes here (opens in new tab)</a>.</p>


{% endblock %}

