{% extends 'layout.html' %}

{% set pageName = "Vaccine start date" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/campaign-end" }) }}
{% endblock %}



{% block content %}
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">




      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Would you like to set an upper age limit for the Corminarty 30 JN.1?
            </h1>
          </legend>
          <div class="nhsuk-hint" id="contact-hint">
            Select one option
          </div>
          <div class="nhsuk-radios nhsuk-radios--conditional">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                Years
              </label>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-3">
                  Enter maximum age in years
                </label> <input class="nhsuk-input nhsuk-input--width-3" id="email" name="email" type="text">
              </div>
      
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="input-width-3">
                Months
              </label>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="phone">
                  Enter maximum age in months
                </label> <input class="nhsuk-input nhsuk-input--width-3" id="phone" name="phone" type="text">
              </div>
      
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-3" name="contact" type="radio" value="" aria-controls="conditional-contact-3" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-3">
                Weeks
              </label>
            </div>
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-3">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="input-width-3">
                  Enter maximum age in weekes
                </label> <input class="nhsuk-input nhsuk-input--width-3" id="email" name="email" type="text">
              </div>
      
            </div>
          </div>

          <div class="nhsuk-radios__divider">or</div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-divider-4" name="example-divider" type="radio" value="create-account">
            <label class="nhsuk-label nhsuk-radios__label" for="example-divider-4">
              No, no age limit
            </label>
          </div>
        </div>

      </div>

        </fieldset>
      </div>


          <form action="/support/vaccines/age-lower" method="get" novalidate>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
            





    </div>
  </div>

{% endblock %}

