{% extends 'layout.html' %}

{% set pageName = "Check details" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/eligibility" }) }}
{% endblock %}



{% block content %}
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>





<dl class="nhsuk-summary-list">





  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Display
    </dt>

    <dd class="nhsuk-summary-list__value">
      <p>COVID-19</p>
      
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/find">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Programme
    </dt>

    <dd class="nhsuk-summary-list__value">
      <p>COVID-19</p>
      
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/find">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      SNOMED code
    </dt>

    <dd class="nhsuk-summary-list__value">
      <p>1156257007</p>
     
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/find">
        <span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>








  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Eligibility
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Aged 65 or over, Immunosupressed, Pregnant</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  
</dl>


          <form action="/support/vaccines/add" method="post">
         
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>


          </form>



    </div>
  </div>

{% endblock %}

