{% extends 'layout.html' %}

{% set pageName = "Check vaccine programme and products" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/eligibility" }) }}
{% endblock %}



{% block content %}
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>





<dl class="nhsuk-summary-list">





  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Programme
    </dt>

    <dd class="nhsuk-summary-list__value">
      <p>COVID-19</p>
      
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/find">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      SNOMED code
    </dt>

    <dd class="nhsuk-summary-list__value">
      <p>1156257007</p>
     
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/find">
        <span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Product
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Comirnaty 30
        Omicron JN.1
        3 micrograms/dose
        Pfizer BioNTech</p>
     

    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Display name
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Corminarty 30 JN.1</p>
     

    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        <span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      AMP code
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>123456789</p>
            

    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        <span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Manufacturer
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Pfizer</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        <span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Dose
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>3.5ml</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        <span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>




<br>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Upper age limit
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p></p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Add<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Lower age limit
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>65 years</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Interval
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>52 weeks</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>








  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Eligibility
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Aged 65 or over</p>
      <p>Immunosupressed</p>
      <p>Pregnant</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>




  
</dl>


          <form action="/support/vaccines/add" method="post">


          <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
            Add another vaccine product
          </button>

          <br>
        </form>



          <form action="/support/vaccines/vaccine" method="post">
         
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Confirm vaccine and product
          </button>


          </form>



    </div>
  </div>

{% endblock %}

