{% extends 'layout.html' %}

{% set pageName = "Are you sure you want to deactivate Spikevax 10 JN.1?" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/product" }) }}
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>Once deactivate, organisations will no longer be able to vaccinate using this prodct.</p>

      <p>You will be able to reactivate the product at any time.</p>

      <form action="/regions/organisations/{{ organisation.id}}/deactivated" method="post" novalidate="true">
        {{ button({
          "text": "Yes, deactivate",
          classes: "nhsuk-button"
        }) }}
    </form>

    </div>
  </div>
{% endblock %}
