{% extends 'layout.html' %}

{% set pageName = "Vaccine start date" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/find" }) }}
{% endblock %}



{% block content %}
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<form method="post" novalidate>

  <div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Add vaccine eligibility for COVID-19
        </h1>
      </legend>
      <div class="nhsuk-hint" id="example-hint">
      </div>
      <div class="nhsuk-checkboxes">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
            Age based
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
            Care worker
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Example   </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Example   </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Example   </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Example   </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Example   </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Example   </label>
        </div>
      
      
      
      
      </div>
    </fieldset>
  </div>

</form>

<div>
<button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Add new eligibility
</button>
</div>
          <form action="/support/vaccines/check" method="get" novalidate>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
            





    </div>
  </div>

{% endblock %}

