{% extends 'layout.html' %}

{% set pageName = "Vaccine start date" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/add-procedure" }) }}
{% endblock %}



{% block content %}
   <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<form method="post" novalidate>

  <div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Choose eligibility
        </h1>
      </legend>
      <div class="nhsuk-hint" id="example-hint">
      </div>
      <div class="nhsuk-checkboxes">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
            Based on age
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
            In a clinical risk group
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Health or social care worker   
        </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Resident in a care home
          </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Carer
        </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Household contact of someone immunosuppressed
          </label>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
          Pregnant
        </label>
        </div>
      
      
      
      
      </div>
    </fieldset>
  </div>

</form>

          <form action="/support/vaccines/campaign-start" method="get" novalidate>

            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
            





    </div>
  </div>

{% endblock %}

