{% extends 'layout.html' %}

{% set pageName = "Add a procedure code" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines/choose" }) }}
{% endblock %}



{% block content %}
 

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>



    
          <form action="/support/vaccines/eligibility" method="post">



            <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-one-third">
          



                  <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="example">
            Enter a SNOMED procedure code
          </label>
          

            <select class="nhsuk-select nhsuk-u-width-20" id="siteId" name="siteId"
              data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
              <option selected value=""></option>

              {% for site in currentOrganisation.sites %}
                <option value="{{ site.id }}">{{ site.name }} ({{site.id }})</option>
              {% endfor %}
            </select>
          </div>
  




<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>



    </div>
  </div>

  <p>You can check <a href="https://termbrowser.nhs.uk/?" target="_new">SNOMED codes here (opens in new tab)</a></p>


{% endblock %}

