{% extends 'layout.html' %}

{% set pageName = "COVID-19" %}

{% set currentSection = "vaccines" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({ href: "/support/vaccines" }) }}
{% endblock %}



{% block content %}

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-l">{{ pageName }}</h1>


          <dl class="nhsuk-summary-list">
       
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Display name
              </dt>
              <dd class="nhsuk-summary-list__value">
               COVID-19
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="/support/vaccines/change-name">Edit</a>
              </dd>
            </div>
           
    
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                SNOMED code
              </dt>
              <dd class="nhsuk-summary-list__value">
                3456789
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="#">
                  <span class="nhsuk-u-visually-hidden"> name</span>
                </a>
              </dd>
            </div>     


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Eligibility
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>Aged 65 or over, Immunosupressed, Pregnant</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="/support/vaccines/add">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>

          
          </dl>
        </div>
      </div>
 


    <form action="/support/vaccines/add" method="post">
         
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Add another product
      </button>


      </form>


<table class="nhsuk-table-responsive" role="table">
  <caption class="nhsuk-table__caption"></caption>
  <thead class="nhsuk-table__head" role="rowgroup">
    <tr role="row">
      <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Product</th>

      <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Display name</th>
      <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Manufacturer</th>
      <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">AMP code</th>

      <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-quarter" role="columnheader">Status</th>


    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row" role="row">
      
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true"></span><a href="/support/vaccines/product">COVID-19 Vaccine Spikevax Original/Omicron BA.4/BA.5 dispersion for injection 0.1mg/ml multidose vials</a></td>
      
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Display name</span>Spikevax 10 JN.1</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manufacturer</span>Moderna</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">AMP code</span>567899</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>

    </tr>



    <tr class="nhsuk-table__row" role="row">
      
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true"></span><a href="/support/vaccines/product">Comirnaty Original/Omicron BA.1 COVID-19 mRNA Vaccine 15micrograms/15micrograms/0.3ml dose dispersion for injection multidose vials</a></td>
      
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Display name</span>Corminarty 10 JN.1</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manufacturer</span>Pfizer</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">AMP code</span>567899</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>

    </tr>



    <tr class="nhsuk-table__row" role="row">
      
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true"></span><a href="/support/vaccines/product">Comirnaty Omicron XBB.1.5 COVID-19 mRNA Vaccine 30micrograms/0.3ml dose dispersion for injection multidose vials</a></td>
      
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Display name</span>Corminarty 30 JN.1</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manufacturer</span>Pfizer</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">AMP code</span>567899</td>

      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>

    </tr>



  </tbody>
</table>


 
  <p><a href="/support/vaccines/remove">Remove vaccine</a></p>


 


 
{% endblock %}

