{% extends 'layout.html' %}

{% set pageName = "There is a temporary problem getting the patient's details" %}


{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      
{% from "button/macro.njk" import button %}

{{ button({
  text: "Try again"
}) }}


&nbsp; &nbsp;

{% from "button/macro.njk" import button %}

{{ button({
  text: "Continue anyway",
  classes: "nhsuk-button--secondary"
}) }}

    </div>
  </div>


{% endblock %}
