{% extends 'layout.html' %}

{% set pageName = "There is a temporary problem getting the patient's details" %}


{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>Try again. Or if the problem persists and you urgently need to record a vaccination, <a href="https://guide.ravs.england.nhs.uk/service-unavailable/">download our paper form</a>.</p>

{% from "button/macro.njk" import button %}

{{ button({
  text: "Try again"
}) }}

    </div>
  </div>


{% endblock %}
