{% extends 'layout.html' %}

{% set pageName = "Patient history not found" %}


{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}

{% set currentSection = "vaccinate" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p> You will not be able to view the patient's vaccination history.</p>


<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue anyway
</button>


&nbsp; &nbsp;

<button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Try again
</button>


    </div>
  </div>


{% endblock %}
