{% extends 'layout.html' %}

{% set pageName = "There is a problem saving this vaccination" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>You cannot save this vaccination because [site name] has been deactivated.</p>

      <p>An administrator can reactivate the site in the Vaccines setion. Once the site is reactivated, you will be able to record this vaccination but you will have to start again. 

      <p>If no one is available to reactivate the site, record it on paper.</p>

      <p><a href="https://guide.ravs.england.nhs.uk/service-unavailable/">Download our paper form (opens in new tab)</a></p>
      <p><a href="">Go back to Record vaccinations</a></p>


    </div>
  </div>


{% endblock %}
