{% extends 'layout.html' %}

{% set pageName = "There is a problem finding the patient's vaccination history" %}


{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}

{% set currentSection = "vaccinate" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>The patient's full vaccination history may not be available to view.</p>



<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue anyway
</button>

&nbsp;&nbsp;&nbsp;&nbsp;


<button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
  Try again
</button>


    </div>
  </div>


{% endblock %}
