{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% set currentSection = "manage-users" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/user-admin/v2", text: "Back" }) }}

      <h1 class="nhsuks-heading-xl">Add user</h1>

      <form action="/user-admin/v2/check" method="post" novalidate="true">

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email",
          "name": "email",
          type: "email",
          value: data.email
        }) }}

        {{ checkboxes({
          "name": "permissions",
          "fieldset": {
            "legend": {
              "text": "Permissions",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          "items": [
            {
              "value": "record vaccinations",
              "text": "Record vaccinations",
              checked: (data.permissions | arrayOrStringIncludes('record vaccinations')),
              hint: {
                text: "Search for patients and add, edit or delete vaccinations"
              }
            },
            {
              "value": "manage vaccines",
              "text": "Manage vaccines",
              checked: (data.permissions | arrayOrStringIncludes('manage vaccines')),
              hint: {
                text: "Add vaccine products and batches. Mark batches as depleted."
              }
            },
            {
              "value": "manage users",
              "text": "Manage users",
              checked: (data.permissions | arrayOrStringIncludes('manage users')),
              hint: {
                text: "Add or delete users and manage permissions"
              }
            }
          ]
        }) }}

        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
