{% extends 'layout.html' %}

{% block pageTitle %}
  Add user
{% endblock %}

{% set currentSection = "manage-users" %}

{% block outerContent %}
  {{ backLink({ href: "/user-admin/v2", text: "Back", classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuks-heading-l">{{ user.firstName }} {{ user.lastName }}</h1>

      <form action="/user-admin/v2/users/{{ user.id }}/update" method="post" novalidate="true">

        {{ checkboxes({
          "name": "permissions",
          "fieldset": {
            "legend": {
              "text": "Permissions",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "record vaccinations",
              "text": "Record vaccinations",
              checked: (user.permissions | arrayOrStringIncludes('record vaccinations')),
              hint: {
                text: "Search for patients and add, edit or delete vaccinations"
              }
            },
            {
              "value": "manage vaccines",
              "text": "Manage vaccines",
              checked: (user.permissions | arrayOrStringIncludes('manage vaccines')),
              hint: {
                text: "Add vaccine products and batches. Mark batches as depleted."
              }
            },
            {
              "value": "manage users",
              "text": "Manage users",
              checked: (user.permissions | arrayOrStringIncludes('manage users')),
              hint: {
                text: "Add or delete users and manage permissions"
              }
            }
          ]
        }) }}


        {{ button({
          "text": "Continue"
      }) }}
      </form>


    </div>
  </div>


{% endblock %}
