{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% set currentSection = "manage-users" %}

{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({ href: "/user-admin/v2/add-email", text: "Back" }) }}

      <h1 class="nhsuk-heading-xl">Check and add user</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: data.firstName + " " + data.lastName
            },
            actions: {
              items: [
                {
                  href: "/user-admin/v2/add-user",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: data["email"]
            },
            actions: {
              items: [
                {
                  href: "/user-admin/v2/add-user",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Permissions"
            },
            value: {
              html: (data["permissions"] | join(', ') | capitalize)
            },
            actions: {
              items: [
                {
                  href: "/user-admin/v2/add-user",
                  text: "Change",
                  visuallyHiddenText: "role"
                }
              ]
            }
          }
        ]
      }) }}

      <p>This email will be sent to {{ data["email"] }}:</p>

      <div class="app-email-preview">
        <p>Dear {{ data.firstName }} {{ data.lastName }},</p>

        <p>Your colleague has invited you to start using the NHS Record a vaccination service.</p>

        <p>Please set up your account now: <a href="#">https://ravs.england.nhs.uk/start?code=573895789375</a></p>

        <p>Many thanks,</p>

        <p>NHS Record a vaccination</p>

      </div>


      <form action="/user-admin/v2/add" method="post">
        {{ button({
          "text": "Add user"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
