{% extends 'layout.html' %}

{% set pageName = "What's new" %}

{% set currentSection = "What's new" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">What's new</h1>
      <p> Updates to Record a vaccination.</p>

      <h2 class="nhsuk-heading-m">November 2025</h2>
      
      <h3 class="nhsuk-heading-s">Vaccinator role</h3>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>In <b>Manage users</b>, when you add a user, you are now asked if the user is a vaccinator. This replaces a previous question that asked if the user was a registered clinician. Any user previously added to RAVS as a registered clinician will now appear as a vaccinator. </li>
        <li>In <b>Record vaccinations</b>, when you select a vaccinator, the list of names is now populated with all users who have the role of vaccinator. If a vaccinator is missing from the list, make sure they are a vaccinator in Manage users.</li>
        <li>In <b>Find a patient</b>, when you select a vaccinator, the list of names now only includes users who have the role of vaccinator. Previously it included all users. If a vaccinator is missing from the list, make sure they are a vaccinator in Manage users.</li>
      </ul>
      

      <h3 class="nhsuk-heading-s">Eligibility and healthcare worker role</h3>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>When you record the same vaccination for the next patient, you can now change the 'Eligibility' type (including 'Healthcare worker role') on the 'Check if these details still apply' page.</li>
      </ul>

      <h2 class="nhsuk-heading-m">September 2025</h2>
      
      <h3 class="nhsuk-heading-s">New sections added</h3>

      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><b>Record vaccinations</b> is a new simpler way to record vaccinations. It will eventually replace the Find a patient section.</li>
        <li><b>Records</b>is a new section where you can view and edit records.</li>
      </ul>





    </div>
  </div>





{% endblock %}
