{% extends 'layout.html' %}

{% set pageName = "What's new" %}

{% set currentSection = "What's new" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">What's new</h1>
      <p> Find out about the latest changes to the Record a vaccination service.</p>

      <h2 class="nhsuk-heading-m">26 November 2025: New vaccinator role</h2>
      
      <p>In <b>Manage users</b>, when you add a user, you are now asked if the user is a vaccinator. This replaces a previous question that asked if the user was a registered clinician. Any user previously added to RAVS as a registered clinician will now appear as a vaccinator.</p>
      <p>In <b>Record vaccinations</b>, when you select a vaccinator, the list of names is now populated with all users who have the role of vaccinator. If a vaccinator is missing from the list, make sure they are a vaccinator in Manage users.</p>
      <p>In <b>Find a patient</b>, when you select a vaccinator, the list of names now only includes users who have the role of vaccinator. Previously it included all users. If a vaccinator is missing from the list, make sure they are a vaccinator in Manage users.</p>
      
      

      <h3 class="nhsuk-heading-s">12 November 2025: Making it easier to change eligibility</h3>

      <p>When you record the same vaccination for the next patient, you can now change the eligibility details (including healthcare worker role) on the 'Check if these details still apply' page.</p>
      

      <h2 class="nhsuk-heading-m">29 September 2025: new sections added</h2>
      
     <p><b>Record vaccinations</b> is a new simpler way to record vaccinations. It will eventually replace the Find a patient section.</p>
     <p><b>Records</b> is a new section where you can view and edit records.</p>
    


    </div>
     </div>

{% endblock %}
