
{% extends 'layout.html' %}

{% set pageName = "Patient has no GP surgery" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data.firstName and data.lastName %}
        {% set displayName = data.firstName ~ ' ' ~ data.lastName %}
      {% else %}
        {% set displayName = 'Patient Name' %}
      {% endif %}

      {% if data.locationType %}
        {% set locationType = data.locationType %}
      {% else %}
        {% set locationType = '[Location Type]' %}
      {% endif %}

      {% set panelHtml %}
        {# <p>This patient does not have a registered GP surgery.</p> #}
        <p>Your organisation may not be paid for this vaccination.</p>

        {{ button({
          "text": "Continue anyway",
          "href": "/record-vaccinations/consent",
          "classes": "nhsuk-button--reverse"
        }) }}
      {% endset %}

      {{ panel({
        titleText: displayName + " is not registered with a GP surgery",
        html: panelHtml,
        classes: "nhsuk-panel--interruption"
      }) }}

    </div>
  </div>
{% endblock %}

