
{% extends 'layout.html' %}

{% set pageName = "Vaccine product age warning" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <div class="nhsuk-panel nhsuk-panel--interruption">
        {% if data.firstName and data.lastName %}
          {% set displayName = data.firstName ~ ' ' ~ data.lastName %}
        {% else %}
          {% set displayName = 'Patient Name' %}
        {% endif %}
        <h1 class="nhsuk-panel__title">{{ displayName }} may be too young for this vaccine product</h1>

        <div class="nhsuk-panel__body">
          <p>Adjuvanted Quadrivalent Influenza Vaccine (aQIV) is not usually recommended for people under the age of 65. {{ displayName }} is 64 years old.</p>
          <p>Check before going ahead or refer to a prescriber for a patient specific direction (PSD).</p>

          {{ button({
            "text": "Continue anyway",
            "href": "/record-vaccinations/consent",
            "classes": "nhsuk-button--reverse"
          }) }}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

