{% extends 'layout.html' %}

{% set pageName = "Messages" %}
{% set currentSection = "messages" %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-leading-l">{{ pageName }}</h1>

      {% if (inbox | length) > 0 %}
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for message in inbox | sort(true, true, "sentOn") %}
              {% set from = data.organisations | findById(message.fromOrganisationId) %}
              <tr>
                <td>
                  <a href="/regions/messages/{{ message.id }}">{{ from.name }}</a>
                  <div>Request to record {{ message.vaccineRequested }}</div>
                </td>
                <td>
                  {% set daysAgo = message.sentOn | daysAgo %}
                  {% if daysAgo == 0 %}
                    Today
                  {% elif datsAgo == 1 %}
                    Yesterday
                  {% else %}
                    {{ daysAgo }} days ago
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No messages.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
