{% extends 'layout.html' %}

{% set from = data.organisations | findById(message.fromOrganisationId) %}
{% set pageName = from.name %}
{% set currentSection = "messages" %}
{}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "/regions/messages"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-leading-l">{{ pageName }}</h1>

      <p>Request to record {{ message.vaccinesRequested | formatList }}.</p>

      <p>Sent on {{ message.sentOn | govukDate }}.</p>

      <form action="/regions/messages/{{ message.id }}/decide" method="post">
        <div class="nhsuk-button-group">
          {{ button({
            text: "Approve",
            name: "decision",
            value: "approve"
          }) }}

          {{ button({
            text: "Deny",
            name: "decision",
            value: "reject",
            classes: "nhsuk-button--warning"
          }) }}

        </div>
      </form>

    </div>
  </div>
{% endblock %}
