{% extends 'layout.html' %}

{% set pageName = "Same vaccine different patient" %}

{% set currentSection = "vaccinate" %}



{% block beforeContent %}
{{ backLink({
  href: "/record-vaccinations/done",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}


      <h1 class="nhsuk-heading-l">Check these details still apply</h1>
      

      <form action="/record-vaccinations/same-vaccine/patient" method="post" novalidate>

    

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date
            </dt>
            <dd class="nhsuk-summary-list__value">
              20 July 2025
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> date</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Team
            </dt>
            <dd class="nhsuk-summary-list__value">
             St Mary's Hospital
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> team</span>
              </a>
            </dd>
          </div>


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Vaccinator
            </dt>
            <dd class="nhsuk-summary-list__value">
             Jane Doe
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> vaccinator</span>
              </a>
            </dd>
          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Vaccine
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p>COVID-19</p>
              <p>Corminarty 30 JN.1m</p>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> vaccine</span>
              </a>
            </dd>
          </div>
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Batch
            </dt>
            <dd class="nhsuk-summary-list__value">
              789465
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> batch</span>
              </a>
            </dd>
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Eligibility
            </dt>
            <dd class="nhsuk-summary-list__value">
             Healthcare worker
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> eligibility</span>
              </a>
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Location
            </dt>
            <dd class="nhsuk-summary-list__value">
             Hospital hub for staff and patients
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Change<span class="nhsuk-u-visually-hidden"> location</span>
              </a>
            </dd>
          </div>

        </dl>


        {{ button({
          text: "Yes, continue to next patient"
        })}}
      </form>


      <p><a href="/record-vaccinations">Start again</a> to record a vaccination from the beginning.</p>


    </div>
  </div>


     
      </form>

    </div>
  </div>

{% endblock %}

