<table class="nhsuk-table-responsive" role="table" data-module="nhsuk-table">
  <thead class="nhsuk-table__head" role="rowgroup">
    <tr>
      <th scope="col" class="nhsuk-table__header" aria-sort="ascending">Time</th>
      <th scope="col" class="nhsuk-table__header" aria-sort="none">Name</th>
      <th scope="col" class="nhsuk-table__header">Date of birth</th>
      <th scope="col" class="nhsuk-table__header">Vaccines given</th>
      <th scope="col" class="nhsuk-table__header">Contact details</th>

    </tr>
  </thead>
  <tbody class="nhsuk-table__body">

  {% for appointment in completedAppointments %}
    <tr class="nhsuk-table__row" role="row">
      <td class="nhsuk-table__cell" data-value="{{ appointment.time }}">{{ appointment.time }}&nbsp;am</td>
      <td class="nhsuk-table__cell">
        {{ appointment.patient.firstName }}
        {{ appointment.patient.lastName }}
      </td>
      <td class="nhsuk-table__cell">
        {{ appointment.patient.dateOfBirth | govukDate }}
      </td>
      <td class="nhsuk-table__cell">
        {% set vaccinesGiven = [] %}
        {% for vaccinationId in appointment.vaccinationIds %}
          {% set vaccination = data.vaccinationsRecorded | findById(vaccinationId) %}

          {% set vaccinesGiven = (vaccinesGiven.push(vaccination.vaccine), vaccinesGiven) %}
        {% endfor %}
        {{ vaccinesGiven | join(", ") | capitaliseFirstLetter }}
      </td>
      <td class="nhsuk-table__cell nhsuk-u-text-break-word">
        {% if appointment.patient.contactDetails.mobile %}
          {{ appointment.patient.contactDetails.mobile }}<br>
        {% endif %}
        {% if appointment.patient.contactDetails.email %}
          {{ appointment.patient.contactDetails.email }}<br>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
