{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({
  href: "/appointments/add-nhs-numbers",
  text: "Back"
}) }}
{% endblock %}

{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->

<br>

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-l">Check appointments added for Wednesday 4 June 2025 at Anne Ward Maternity Unit</h1>

        <p>3 invalid NHS numbers found:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>91234567</li>
        <li>99034567</li>
        <li>91234588</li>
      </ul>
      <br>

      <table role="table" class="nhsuk-table-responsive">
        <caption class="nhsuk-table__caption">43 appointments found</caption>

        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">

         
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
                NHS number
              </th>
            <th role="columnheader" class="" scope="col">
              Date of birth
            </th>
            <th role="columnheader" class="" scope="col">
              </th>

          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for appointment in data.appointments %}
            <tr role="row" class="nhsuk-table__row">

            
              <td class="nhsuk-table__cell">
                {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}
              </td>
              <td class="nhsuk-table__cell">
                {{ appointment.patient.nhsNumber }}
              </td>
              <td class="nhsuk-table__cell">
                {{ appointment.patient.dateOfBirth | govukDate }}
              </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="">Remove</a></td>
             
              <!-- <td class="nhsuk-table__cell">
                73 Roman Rd<br>Leeds<br> LS2 5ZN
              </td>
              <td class="nhsuk-table__cell">
                {{ appointment.patient.phoneNumber }}
                <br>{{ appointment.patient.email }}
              </td> -->
             
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <br>

      <form action="/appointments/index2" method="post" novalidate>

        {{ button({
          text: "Confirm appointments"
        })}}
      </form>

    </div>
  </div>



{% endblock %}




