{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({
  href: "/appointments/add-nhs-numbers",
  text: "Back"
}) }}
{% endblock %}

{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        <span class="nhsuk-caption-m">Step 3 of 5</span>

        <h1 class="nhsuk-heading-l">32 patients found</h1>

        <p class="nhsuk-body-m">Only valid NHS numbers entered are shown.</p>


      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption"></caption>
        <thead class="nhsuk-table__head" role="rowgroup">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">

                  <th role="columnheader" class="" scope="col">
                      NHS number
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Name
                    </th>
                  <th role="columnheader" class="" scope="col">
                    Date of birth
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                </tr>
        </thead>

        <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    9123456789
                </td>

                  <td class="nhsuk-table__cell">
                    John Smith
                </td>

                <td class="nhsuk-table__cell">
                    4 November 1954
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                  </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    91231231231
              </td>

                <td class="nhsuk-table__cell">
                  Martin Lincoln
              </td>

              <td class="nhsuk-table__cell">
                7 June 1958
              </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                98767655431
          </td>

            <td class="nhsuk-table__cell">
              Mike Jones
          </td>

          <td class="nhsuk-table__cell">
              4 November 1954
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    9876765222
            </td>

                <td class="nhsuk-table__cell">
                    Clive Lochan
            </td>

            <td class="nhsuk-table__cell">
                12 September 1971
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td>
        </tr>
        </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                        91231789548
                </td>

                    <td class="nhsuk-table__cell">
                        Thomas Smith
                </td>

                <td class="nhsuk-table__cell">
                    9 June 2000
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                  </td>
            </tr>

        </tr>

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    91231234445
            </td>

                <td class="nhsuk-table__cell">
                    Anakin William
            </td>

            <td class="nhsuk-table__cell">
                13 July 1983
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td>

        </tr>
        </tr>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    9875362842
            </td>

                <td class="nhsuk-table__cell">
                Norma Davies
            </td>

            <td class="nhsuk-table__cell">
                23 May 1976
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td>
            </tr>

        </tr>
        <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                9952365845
        </td>

            <td class="nhsuk-table__cell">
                Ivan Grieve        </td>

        <td class="nhsuk-table__cell">
           4 June 1996
        </td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td>
        </tr>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            9523256556
    </td>

        <td class="nhsuk-table__cell">
            Judith Johnston    </td>

    <td class="nhsuk-table__cell">
22 July 1972    </td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
    </tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9558748545
</td>

    <td class="nhsuk-table__cell">
        Stephen Lawson
    </td>

<td class="nhsuk-table__cell">
1 October 1969</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9636235621
</td>

    <td class="nhsuk-table__cell">
        Dianne Sheehy</td>

<td class="nhsuk-table__cell">
17 August 2002</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9632365236
</td>

    <td class="nhsuk-table__cell">
        James Stannard</td>

<td class="nhsuk-table__cell">
25 April 1989</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9658652365
</td>

    <td class="nhsuk-table__cell">
        Graham McLelland</td>

<td class="nhsuk-table__cell">
29 May 1995</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9632587412
</td>

    <td class="nhsuk-table__cell">
        Jonathan Everitt</td>

<td class="nhsuk-table__cell">
30 January 2000</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9874587458
</td>

    <td class="nhsuk-table__cell">
        Dennis Clemson</td>

<td class="nhsuk-table__cell">
8 November 1986</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9652358415
</td>

    <td class="nhsuk-table__cell">
        Janet Booth</td>

<td class="nhsuk-table__cell">
18 March 1975 </td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9512584568
</td>

    <td class="nhsuk-table__cell">
        Eleanor Ayre</td>

<td class="nhsuk-table__cell">
22 May 2003</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9525252636
</td>

    <td class="nhsuk-table__cell">
        Ruth Yates</td>

<td class="nhsuk-table__cell">
11 June 1989</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9858569526
</td>

    <td class="nhsuk-table__cell">
        Philip Wood</td>

<td class="nhsuk-table__cell">
3 December 2001</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        999852512
</td>

    <td class="nhsuk-table__cell">
        Gary Williams</td>

<td class="nhsuk-table__cell">
11 September 1975</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
  </td>
</tr>
</tr>

          </tbody>
        </table>



        <nav class="govuk-pagination" aria-label="Pagination">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                  Previous<span class="govuk-visually-hidden"> page</span>
                </span>
              </a>
            </div>
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </a>
            </div>
          </nav>

        <a href="/appointments/vaccine">
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                Continue
              </button>
              </a>




{% endblock %}




