{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({
  href: "/appointments/add-nhs-numbers",
  text: "Back"
}) }}
{% endblock %}

{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->

<br>

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-l">Check your appointments</h1>

        <p>Appointments added for Wednesday 4 June 2025 at Anne Ward Maternity Unit:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
            <li><b>29</b> appointments</li>
            <li><a href="/appointments/add-nhs-numbers">3 invalid NHS numbers found</a></p></li>
            </ul>


      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption"></caption>
        <thead class="nhsuk-table__head" role="rowgroup">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
      
                  <th role="columnheader" class="" scope="col">
                      NHS number
                    </th>
                    <th role="columnheader" class="" scope="col">
                      Name
                    </th>
                  <th role="columnheader" class="" scope="col">
                    Date of birth
                  </th>
                </tr>
        </thead>

        <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    9123456789
                </td>
                
                  <td class="nhsuk-table__cell">
                    John Smith
                </td>
                
                <td class="nhsuk-table__cell">
                    4 November 1954
                </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    91231231231
              </td>
              
                <td class="nhsuk-table__cell">
                  Martin Lincoln
              </td>
              
              <td class="nhsuk-table__cell">
                7 June 1958
              </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                98767655431
          </td>
          
            <td class="nhsuk-table__cell">
              Mike Jones
          </td>
          
          <td class="nhsuk-table__cell">
              4 November 1954
          </td>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    9876765222
            </td>
            
                <td class="nhsuk-table__cell">
                    Clive Lochan
            </td>
            
            <td class="nhsuk-table__cell">
                12 September 1971      
            </td>
        </tr>
        </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                        91231789548
                </td>
                
                    <td class="nhsuk-table__cell">
                        Thomas Smith
                </td>
                
                <td class="nhsuk-table__cell">
                    9 June 2000     
                </td>
            </tr>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td style="color:#d5281b" class="nhsuk-table__cell">
                    <b>91231789</b>
            </td>
            
            <td style="color:#d5281b" class="nhsuk-table__cell">
                <b>Invalid - Enter a 10 digit number</b>
        </td>
            
         
        </tr>
        </tr>

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    91231234445
            </td>

                <td class="nhsuk-table__cell">
                    Anakin William
            </td>

            <td class="nhsuk-table__cell">
                13 July 1983    
            </td>
            <tr role="row" class="nhsuk-table__row">
                <td style="color:#d5281b" class="nhsuk-table__cell">
                    <b>9123336963</b>
            </td>
            
            <td style="color:#d5281b" class="nhsuk-table__cell">
                <b>Invalid - Enter a valid NHS number</b>
        </td>

        <td class="nhsuk-table__cell">
    </td>
        </tr>
        </tr>
            </tr>
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    9875362842
            </td>

                <td class="nhsuk-table__cell">
                Norma Davies
            </td>

            <td class="nhsuk-table__cell">
                23 May 1976     
            </td>
            </tr>

        </tr>
        <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                9875362842
        </td>

            <td class="nhsuk-table__cell">
            Norma Davies
        </td>

        <td class="nhsuk-table__cell">
            23 May 1976     
        </td>
        </tr>
    </tr>
    <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
            9875362842
    </td>

        <td class="nhsuk-table__cell">
        Norma Davies
    </td>

    <td class="nhsuk-table__cell">
        23 May 1976     
    </td>
    </tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>


    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>

</tr>


<tr role="row" class="nhsuk-table__row">
    <td style="color:#d5281b" class="nhsuk-table__cell">
        <b>9123336963</b>
</td>

<td style="color:#d5281b" class="nhsuk-table__cell">
    <b>Invalid - Enter a valid NHS number</b>
</td>


<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>

<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>
</tr>
<tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        9875362842
</td>

    <td class="nhsuk-table__cell">
    Norma Davies
</td>

<td class="nhsuk-table__cell">
    23 May 1976     
</td>
</tr>


          </tbody>
        </table>


      <br><br>




        <div class="button-container">
        
            <a href="/appointments/mvp1">
                <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                    Confrim appointments
                  </button>
                  </a>
              
            &nbsp;&nbsp;&nbsp;&nbsp;

            
            <a href="/appointments/add-nhs-numbers">
                  <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
              Re-enter NHS numbers
              </button>
            </a>
                
              </div>
              {% from 'button/macro.njk' import button %}
          </div>



{% endblock %}




