{% extends 'layout.html' %}

{% set pageName = "Check appointments" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/appointments/location" }) }}
{% endblock %}


  

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check details</h1>

      <h2 class="nhsuk-heading-m"></h2>
   


      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Number of patients
          </dt>
          <dd class="nhsuk-summary-list__value">
            32
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden">NHS numbers
            </span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
           Team
          </dt>
          <dd class="nhsuk-summary-list__value">
            Anne Ward Maternity Unit
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden">Team</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date
          </dt>
          <dd class="nhsuk-summary-list__value">
            8 July 2025
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden">Date</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Vaccine
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>RSV</p>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="#">
              Change<span class="nhsuk-u-visually-hidden">Vaccines</span>
            </a>
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Eligibility
            </dt>
            <dd class="nhsuk-summary-list__value">
              <p></p>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="#">
                Add<span class="nhsuk-u-visually-hidden">Eligibility</span>
              </a>
            </dd>
          </div>
          
      </dl>



      <form action="/appointments/index4" method="post" novalidate>

        {{ button({
          text: "Confirm appointments"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

