{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block content %}

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">Today’s appointments</h1>

      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Time
            </th>
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Date of birth
            </th>
            <th role="columnheader" class="" scope="col">
              Contact details
            </th>
            <th role="columnheader" class="" scope="col">
              Vaccine
            </th>
            <th role="columnheader" class="" scope="col" style="text-align: right;">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Time </span>8:30</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>John Smith<br>999 123 4567</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>1 January 1954</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Contact details </span>07712345678<br>john.smith@email.com</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Services </span>RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/vaccinator?nhsNumber=9991234567&patientName=John%20Smith&vaccine=RSV&dateOfBirth[day]=1&dateOfBirth[month]=1&dateOfBirth[year]=1954&vaccinationToday=yes&deliveryTeam=St%20Mary’s%20Hospital">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Time </span>8:35</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span>Martin Lincoln<br>999 123 4568</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date of birth </span>7 June 1958</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Contact details </span>martin.lincoln@email.com</td>
            <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Services </span>RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell jointTopBot jointMid">8:45<br><strong class="nhsuk-tag">Joint</strong></td>
            <td class="nhsuk-table__cell jointTopBot jointMid">Mike Jones<br>999 123 4569</td>
            <td class="nhsuk-table__cell jointTopBot jointMid">15 October 1950</td>
            <td class="nhsuk-table__cell jointTopBot jointMid">07712345678</td>
            <td class="nhsuk-table__cell jointTopBot jointMid">RSV</td>
            <td class="nhsuk-table__cell jointTopBot jointMid" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell jointMid">8:50<br><strong class="nhsuk-tag">Joint</strong></td>
            <td class="nhsuk-table__cell jointMid">Clive Lochan<br>999 123 4571</td>
            <td class="nhsuk-table__cell jointMid">4 June 1947</td>
            <td class="nhsuk-table__cell jointMid">07712345678<br>Clive1@email.com</td>
            <td class="nhsuk-table__cell jointMid">RSV</td>
            <td class="nhsuk-table__cell jointMid" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell jointTopBot">8:45<br><strong class="nhsuk-tag">Joint</strong></td>
            <td class="nhsuk-table__cell jointTopBot">Norma Davies<br>999 123 4570</td>
            <td class="nhsuk-table__cell jointTopBot">26 August 1978</td>
            <td class="nhsuk-table__cell jointTopBot">norma.davies78@email.com</td>
            <td class="nhsuk-table__cell jointTopBot">RSV</td>
            <td class="nhsuk-table__cell jointTopBot" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">8:50<br><strong class="nhsuk-tag">Joint</strong></td>
            <td class="nhsuk-table__cell">Dylan Barton<br>999 123 4572</td>
            <td class="nhsuk-table__cell">25 May 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell jointTopBot">8:55</td>
            <td class="nhsuk-table__cell jointTopBot">Jacob Blick<br>999 123 4573</td>
            <td class="nhsuk-table__cell jointTopBot">3 May 1950</td>
            <td class="nhsuk-table__cell jointTopBot">07712345678</td>
            <td class="nhsuk-table__cell jointTopBot">RSV</td>
            <td class="nhsuk-table__cell jointTopBot" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">8:55</td>
            <td class="nhsuk-table__cell">Jacob Blick<br>999 123 4573</td>
            <td class="nhsuk-table__cell">3 May 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:00</td>
            <td class="nhsuk-table__cell">Tobias Boehm<br>999 123 4574</td>
            <td class="nhsuk-table__cell">1 February 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:05</td>
            <td class="nhsuk-table__cell">Jonathan Carroll<br>999 123 4575</td>
            <td class="nhsuk-table__cell">29 January 1940</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:05</td>
            <td class="nhsuk-table__cell">Connie Corkery<br>999 123 4576</td>
            <td class="nhsuk-table__cell">1 September 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:15</td>
            <td class="nhsuk-table__cell">Mohamed Bartoletti<br>999 123 4577</td>
            <td class="nhsuk-table__cell">6 November 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">9:15</td>
            <td class="nhsuk-table__cell">Elijah Anderson<br>999 123 4578</td>
            <td class="nhsuk-table__cell">4 July 1958</td>
            <td class="nhsuk-table__cell">07712345678<br>ea58@email.co.uk</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row" style="background-color: #d8dde0;">
            <td class="nhsuk-table__cell">9:20 - 10:00</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell">8 available appointments</td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell"></td>
            <td class="nhsuk-table__cell"></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:00</td>
            <td class="nhsuk-table__cell">Hattie Beer<br>999 123 4579</td>
            <td class="nhsuk-table__cell">8 August 1951</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:05</td>
            <td class="nhsuk-table__cell">Felicity Bergstrom<br>999 123 4580</td>
            <td class="nhsuk-table__cell">17 April 1949</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:05</td>
            <td class="nhsuk-table__cell">Ibrahim Hessel<br>999 123 4581</td>
            <td class="nhsuk-table__cell">3 April 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:10</td>
            <td class="nhsuk-table__cell">Syed Johnson<br>999 123 4582</td>
            <td class="nhsuk-table__cell">9 February 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:15</td>
            <td class="nhsuk-table__cell">Jakob Marquardt-Runolfsdottir<br>999 123 4583</td>
            <td class="nhsuk-table__cell">7 February 1950</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:15</td>
            <td class="nhsuk-table__cell">Violet Mosciski<br>999 123 4584</td>
            <td class="nhsuk-table__cell">26 October 1954</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">10:20</td>
            <td class="nhsuk-table__cell">David Anderson<br>999 123 4585</td>
            <td class="nhsuk-table__cell">15 December 1951</td>
            <td class="nhsuk-table__cell">07712345678</td>
            <td class="nhsuk-table__cell">RSV</td>
            <td class="nhsuk-table__cell" style="text-align: right;"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Action </span><a class="nhsuk-link" href="/vaccinate/batch?from=/appointments/day">Record vaccination</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}



