{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block content %}

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">Today’s appointments</h1>

      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Time
            </th>
            <th role="columnheader" class="" scope="col">
              Name
            </th>
            <th role="columnheader" class="" scope="col">
              Date of birth
            </th>
            <th role="columnheader" class="" scope="col">
              Contact details
            </th>
            <th role="columnheader" class="" scope="col">
              Vaccine
            </th>
            <th role="columnheader" class="" scope="col" style="text-align: right;">
              Action
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for appointment in data.appointments %}
            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">{{ appointment.time }}</td>
              <td class="nhsuk-table__cell">
                {{ appointment.patient.firstName }} {{ appointment.patient.lastName }}
                <br>{{ appointment.patient.nhsNumber }}
              </td>
              <td class="nhsuk-table__cell">
                {{ appointment.patient.dateOfBirth | govukDate }}
              </td>
              <td class="nhsuk-table__cell">
                {{ appointment.patient.phoneNumber }}
                <br>{{ appointment.patient.email }}
              </td>
              <td class="nhsuk-table__cell">
                {{ appointment.vaccines | join("<br>") }}
              </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/vaccinator?nhsNumber={{ appointment.patient.nhsNumber }}&patientName={{ appointment.patient.firstName }}%20{{ appointment.patient.lastName }}&vaccine={{ appointment.vaccines | first }}&dateOfBirth[day]=1&dateOfBirth[month]=1&dateOfBirth[year]=1954&vaccinationToday=yes&deliveryTeam=St%20Mary’s%20Hospital">Record vaccination</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}



