{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}


{% block beforeContent %}
  {{ backLink({
    href: "/appointments/mvp5",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">Delete St Mary's Hospital 17 July 2025?</h1>

      <p>The list will be deleted but not any vaccination records.</p>

   <br>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Yes, delete list
      </button>

    </div>
  </div>

  {% endblock %}
