{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}


{% block beforeContent %}
  {{ backLink({
    href: "/appointments/mvp5",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">Delete Anne Ward Maternity Unit 11 July 2025 list?</h1>


      <p>You can add lists back in if needed.</p>

   <br>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Yes, delete list
      </button>

    </div>
  </div>

  {% endblock %}