{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}


{% block beforeContent %}
  {{ backLink({
    href: "/appointments/edit",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">Are you sure you want to delete 23 April 2025 at Anne Ward Maternity Unit</h1>


      <p>Once deleted appointments cannot be restored.</p>

   <br>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Yes, delete appointments
      </button>

    </div>
  </div>

  {% endblock %}