{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Appointments</h1>


      <p class="nhsuk-body-l">Add pre-booked appointments from your booking system to RAVS. </p>


        {{ button({
          text: "Add appointments",
          href: "/appointments/add1"
        }) }}


    

<table class="nhsuk-table-responsive" role="table">
  <caption class="nhsuk-table__caption">Uploaded appointments</caption>
  <thead class="nhsuk-table__head" role="rowgroup">
    <tr role="row">
      <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Date</th>
      <th scope="col" class="nhsuk-table__header nhsuk-table__cell--numeric nhsuk-u-width-one-quarter" role="columnheader">Appointments</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row" role="row">
      <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span><p><a href="/appointments/mvp">Wednesday 23 April 2025</a></p></td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Appointments </span>123</td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
     <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span><p><a href="/appointments/mvp">Thursday 24 April 2025</a></p></td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Appointments </span>90</td>
    </tr>
    <tr class="nhsuk-table__row" role="row">
     <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Date </span><p><a href="/appointments/mvp">Tuesday 21 June 2025</a></p>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Appointments </span>100</td>
    </tr>
  </tbody>
</table>


    </div>
  </div>

{% endblock %}
