{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Appointments</h1>
      
      <p class="nhsuk-body-m">Add a list of patients from your <a href="https://digital.nhs.uk/coronavirus/vaccinations/booking-systems/local-booking-solutions">booking system (opens in new tab)</a> or elsewhere to save time recording vaccinations.</p>

      <p>You will need a:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>list of patient NHS numbers</li>
        <li>team or site</li>
      </ul>

      <p>You can then select a/an (optional):</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>date</li>
        <li>vaccine</li>
        <li>eligibility type</li>
        <li>location</li>
      </ul>

      <p class="nhsuk-body-m">Adding a list of patients and choosing vaccine options in advance will save time when recording vaccinations.</p>



        {{ button({
          text: "Start now",
          href: "/appointments/add"
        }) }}

    </div>
  </div>

{% endblock %}