{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}





{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ tag({
        text: "New",
        classes: "nhsuk-tag--blue"
      })}}
    <br><br>
      <h1 class="nhsuk-heading-l">Lists</h1>
      
            <p class="nhsuk-body-m">Add lists of patients using NHS numbers to save time when recording vaccinations.</p>


        {{ button({
          text: "Add now",
          href: "/appointments/team"
        }) }}


<br><br>
        <h2 class="nhsuk-heading-m">My lists</h2>

        <p class="nhsuk-body-m"><a href="/appointments/mvp5">Anne Ward Maternity Unit</a></p>
  
        <p class="nhsuk-body-m"><a href="/appointments/mvp5">St Mary’s Hospital</a></p>
  

            </div>


    </div>
  </div>

    

    </div>
  </div>


{% endblock %}