{% extends 'layout.html' %}

{% if currentDay == today %}
  {% set pageName = "Today’s appointments" %}
{% elif nextDay == today %}
  {% set pageName = "Yesterday’s appointments" %}
{% elif previousDay == today %}
  {% set pageName = "Tomorrow’s appointments" %}
{% else %}
  {% set pageName = "Appointments" %}
{% endif %}
{% set currentSection = "appointments" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      <h2 class="nhsuk-heading-m">{{ currentDay | formatDate }}</h2>

      <p>Imported from <b>Manage your appointments</b>.</p>

      {{ pagination({
        previous: {
          labelText: ("Yesterday" if currentDay == today else (previousDay | formatDate)),
          href: "/appointments?date=" + previousDay
        },
        next: {
          labelText: ("Tomorrow" if currentDay == today else (nextDay | formatDate)),
          href: "/appointments?date=" + nextDay
        }
      }) }}

      {% set todayHtml %}
        {% include "appointments/_scheduled.html" %}
      {% endset %}

      {% set cancelledHtml %}
        {% include "appointments/_cancelled.html" %}
      {% endset %}

      {% set vaccinationsGivenHtml %}
        {% include "appointments/_vaccinations_given.html" %}
      {% endset %}


      {{ tabs({
        items: [
        {
          label: "Scheduled (" + (scheduledAppointments | length) + ")",
          id: "scheduled",
          panel: {
            html: todayHtml
            }
          },
          {
            label: "Cancelled (" + (cancelledAppointments | length) + ")",
            id: "cancelled",
            panel: {
              html: cancelledHtml
            }
          },
          {
            label: "Completed (" + (completedAppointments | length) + ")",
            id: "done",
            panel: {
              html: vaccinationsGivenHtml
            }
          }
        ]
      }) }}


    </div>
  </div>


{% endblock %}
