{% extends 'layout.html' %}

{% if currentDay == today %}
  {% set pageName = "Today’s appointments" %}
{% elif nextDay == today %}
  {% set pageName = "Yesterday’s appointments" %}
{% elif previousDay == today %}
  {% set pageName = "Tomorrow’s appointments" %}
{% else %}
  {% set pageName = "Appointments" %}
{% endif %}
{% set currentSection = "appointments" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
      <h2 class="nhsuk-heading-m">{{ currentDay | formatDate }}</h2>

      <p>Imported from <b>Manage your appointments</b>.</p>

      {% if currentDay == today %}

      {% set vaccinatorHtml %}
        {% if (vaccinators | length) > 1  %}
          <ul class="nhsuk-list">
            {% for vaccinator in vaccinators %}
              {% set selectedVaccines = vaccinatorVaccinesSelected[vaccinator.id] or [] %}
              <li>
                {{ vaccinator.firstName }} {{ vaccinator.lastName }}{% if selectedVaccines | length > 0 %} — {{ selectedVaccines | join(', ') }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% elif (vaccinators | length) == 1 %}
          {% set selectedVaccines = vaccinatorVaccinesSelected[(vaccinators | first).id] or [] %}
          {{ (vaccinators | first).firstName }} {{ (vaccinators | first).lastName }}{% if selectedVaccines | length > 0 %} — {{ selectedVaccines | join(', ') }}{% endif %}
        {% else %}
          <a href="/appointments/vaccinators" class="nhsuk-link">Set today’s vaccinators</a>
        {% endif %}
      {% endset %}

      {% set batches = batches or [] %}

      {% set batchHtml %}
        {% set selectedBatches = [] %}

        {% if data.batchIds %}
          {% if "covid19-batches" in data.batchIds %}
            {% set covidText = "COVID-19" %}
            {% if data.covid19BatchId == "covid19-batch1" %}
              {% set covidText = covidText + " — Batch 1" %}
            {% elif data.covid19BatchId == "covid19-batch2" %}
              {% set covidText = covidText + " — Batch 2" %}
            {% else %}
              {% set covidText = covidText + " — batch not selected" %}
            {% endif %}
            {% set selectedBatches = (selectedBatches.push(covidText), selectedBatches) %}
          {% endif %}

          {% if "RSV-batches" in data.batchIds %}
            {% set rsvText = "RSV" %}
            {% if data.rsvBatchId == "rsv-batch1" %}
              {% set rsvText = rsvText + " — Batch 1" %}
            {% elif data.rsvBatchId == "rsv-batch2" %}
              {% set rsvText = rsvText + " — Batch 2" %}
            {% else %}
              {% set rsvText = rsvText + " — batch not selected" %}
            {% endif %}
            {% set selectedBatches = (selectedBatches.push(rsvText), selectedBatches) %}
          {% endif %}
        {% endif %}

        {% if selectedBatches | length > 1 %}
          <ul class="nhsuk-list">
            {% for batchText in selectedBatches %}
              <li>{{ batchText }}</li>
            {% endfor %}
          </ul>
        {% elif selectedBatches | length == 1 %}
          {{ selectedBatches | first }}
        {% elif (batches | length) > 1  %}
          <ul class="nhsuk-list">
            {% for batch in batches %}
              <li>{{ batch.name }}</li>
            {% endfor %}
          </ul>
        {% elif (batches | length) == 1 %}
          {{ (batches | first).name }}
        {% else %}
          <a href="/appointments/batches" class="nhsuk-link">Set today's batch</a>
        {% endif %}
      {% endset %}

      {{ summaryList({
        rows: [
          {
            key: {
              text: ("Vaccinators" if (vaccinators | length) > 1 else "Vaccinator")
            },
            value: {
              html: vaccinatorHtml
            },
            actions: {
              items: [
                {
                  href: "/appointments/vaccinators",
                  text: "Change",
                  visuallyHiddenText: "vaccinator"
                }
              ]
            } if data.vaccinatorIds
          },
          {
            key: {
              text: ("Batches" if (batches | length) > 1 else "Batch")
            },
            value: {
              html: batchHtml
            },
            actions: {
              items: [
                {
                  href: "/appointments/batches",
                  text: "Change",
                  visuallyHiddenText: "batch"
                }
              ]
            } if data.batchIds
          }
        ]
        }) }}
      {% endif %}

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {{ pagination({
        previous: {
          labelText: ("Yesterday" if currentDay == today else (previousDay | formatDate)),
          href: "/appointments?date=" + previousDay
        },
        next: {
          labelText: ("Tomorrow" if currentDay == today else (nextDay | formatDate)),
          href: "/appointments?date=" + nextDay
        }
      }) }}

      {% set todayHtml %}
        {% include "appointments/_scheduled.html" %}
      {% endset %}

      {% set cancelledHtml %}
        {% include "appointments/_cancelled.html" %}
      {% endset %}

      {% set vaccinationsGivenHtml %}
        {% include "appointments/_vaccinations_given.html" %}
      {% endset %}


      {{ tabs({
        items: [
        {
          label: "Scheduled (" + (scheduledAppointments | length) + ")",
          id: "scheduled",
          panel: {
            html: todayHtml
            }
          },
          {
            label: "Completed (" + (completedAppointments | length) + ")",
            id: "done",
            panel: {
              html: vaccinationsGivenHtml
            }
          } if currentDay <= today,
          {
            label: "Cancelled (" + (cancelledAppointments | length) + ")",
            id: "cancelled",
            panel: {
              html: cancelledHtml
            }
          }
        ]
      }) }}


    </div>
  </div>


{% endblock %}
