{% extends 'layout.html' %}

{% set pageName = "Add NHS numbers" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({ href: "/appointments/check1" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/appointments/check1" method="post" novalidate>

<h1 class="nhsuk-heading-l">3 Invalid NHS numbers found</h1>

<p>NHS numbers  ust be 10-digits. Check the numbers you have entered are correct.</p>

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="example-longer">
    NHS numbers
  </label>
  <div class="nhsuk-hint" id="contact-hint">
    Ony 1 NHS number allowed per line.
  </div>
  <div class="nhsuk-hint" id="example-longer-hint">
  </div> 

  <textarea class="nhsuk-textarea" id="example-longer" name="example-longer" rows=" 10 " style="width:200px" aria-describedby="example-longer-hint"></textarea>
</div>


    </div>
  </div>


  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>

{% endblock %}

