{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}



{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/appointments/index2">Appointments</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/appointments/index3">Anne Ward Maternity Unit</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Level three
    </a>
  </p>
</nav>
{% endblock %}



{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->

<br>

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-caption-l">Anne Ward Maternity Unit</div>
        <h1 class="nhsuk-heading-l">Wednesday 4 June 2025</h1>




        <p><a href="/record-vaccinations/vaccinator">Record a walk-in</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/appointments/add-nhs-numbers">Add NHS numbers</a></p>


  <br>


  <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
    <ul class="x-govuk-secondary-navigation__list">
      <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp1" aria-current=page>
          Remaining (32)
        </a>
      </li>
      <li class="x-govuk-secondary-navigation__list-item ">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp2">
          Recorded (0)
        </a>
      </li>
    
      
    </ul>
  </nav>

  <br><br>



      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">32 appointments remaining</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
      
                  
                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Date of birth
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Address
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                  
                </tr>
        </thead>

        <tbody class="nhsuk-table__body">
              
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Aarrons, Sam
          </td>
          
            <td class="nhsuk-table__cell">
              21 April 1954
          </td>
          
          <td class="nhsuk-table__cell">
              16 Anderson Rd, Beeston
          </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td> 
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Adamson, Sam
            </td>
            
              <td class="nhsuk-table__cell">
                8 December 1959	
            </td>
            
            <td class="nhsuk-table__cell">
                73 Roman Rd,
                Leeds
            </td>
            <td class="nhsuk-table__cell">
              <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>



            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Briggs, Issac
            </td>
            
              <td class="nhsuk-table__cell">
                9 August 2006
            </td>
            
            <td class="nhsuk-table__cell">
                 44 Mellor drive, Meanwood
            </td>
            <td class="nhsuk-table__cell">
              <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Brighouse, Lia
            </td>
            
              <td class="nhsuk-table__cell">
                16 May 2006
            </td>
            
            <td class="nhsuk-table__cell">
                124 Moss Lane, Leeds
            </td>
            <td class="nhsuk-table__cell">
              <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>
              

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Davies, Norma
            </td>

                <td class="nhsuk-table__cell">
                  23 May 1976 
            </td>

            <td class="nhsuk-table__cell">
                92-93 The Calls, Leeds    
            </td>
            <td class="nhsuk-table__cell">
              <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Duckett, Ben
            </td>
            
              <td class="nhsuk-table__cell">
                2 May 2002
            </td>
            
            <td class="nhsuk-table__cell">
                24 Acre Drive, Leeds
            </td>
            <td class="nhsuk-table__cell">
              <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Duckworth, Vera
              </td>
              
                <td class="nhsuk-table__cell">
                  11 June 1956
              </td>
              
              <td class="nhsuk-table__cell">
                  9 Yale Close, York
              </td>
              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
              </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td> 
                </tr>



              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Elliot, Katie
              </td>
              
                <td class="nhsuk-table__cell">
                  14 November 1994
              </td>
              
              <td class="nhsuk-table__cell">
                  198 Lovell Drive, Leeds
              </td>
              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
              </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td> 
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                      Ellison, Jane
                </td>
                
                  <td class="nhsuk-table__cell">
                    3 March 1958
                </td>
                
                <td class="nhsuk-table__cell">
                    4 Park Lane, Leeds
                </td>
                <td class="nhsuk-table__cell">
                  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                </td> 
                  </tr>

                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                        Fredricks, William
                  </td>
                  
                    <td class="nhsuk-table__cell">
                      2 March 1984
                  </td>
                  
                  <td class="nhsuk-table__cell">
                      1 The Avenue, Leeds
                  </td>
                  <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                  </td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                  </td> 
                    </tr>
  

                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">
                          Gregson, Greg
                    </td>
                    
                      <td class="nhsuk-table__cell">
                        9 September 1999
                    </td>
                    
                    <td class="nhsuk-table__cell">
                        99 Ings Drive, Leeds
                    </td>
                    <td class="nhsuk-table__cell">
                      <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                    </td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                      <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                    </td> 
                      </tr>

                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                            Harrison, Harriet
                      </td>
                      
                        <td class="nhsuk-table__cell">
                          10 Janurary 2000
                      </td>
                      
                      <td class="nhsuk-table__cell">
                          4a The Flats, Bradford
                      </td>
                      <td class="nhsuk-table__cell">
                        <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                      </td>
                      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                        <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                      </td> 
                        </tr>


                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                              Illingworth, India
                        </td>
                        
                          <td class="nhsuk-table__cell">
                            4 February 1980
                        </td>
                        
                        <td class="nhsuk-table__cell">
                            Lakeside, Menston Gardens
                        </td>
                        <td class="nhsuk-table__cell">
                          <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                          <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                        </td> 
                          </tr>




                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                              Julian, Winston
                        </td>
                        
                          <td class="nhsuk-table__cell">
                            20 May 1979
                        </td>
                        
                        <td class="nhsuk-table__cell">
                            42 Wentworth Place
                        </td>
                        <td class="nhsuk-table__cell">
                          <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                          <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                        </td> 
                          </tr>


          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                James, Michael
          </td>
          
            <td class="nhsuk-table__cell">
              20 April 2003
          </td>
          
          <td class="nhsuk-table__cell">
              2a The Flats, Headingley
          </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td> 
            </tr>

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Jones, Mike
          </td>
          
            <td class="nhsuk-table__cell">
              13 October 2002      

          </td>
          
          <td class="nhsuk-table__cell">
            56 Birkett Road          </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td> 
            </tr>

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
              Lochan, Clive
      </td>
      
          <td class="nhsuk-table__cell">
            13 July 1983
      </td>
      
      <td class="nhsuk-table__cell">
        Old Mill House, Shrawley     
      </td>
      <td class="nhsuk-table__cell">
        <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
      </td> 
  </tr>


  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        Michaels, Melvin
</td>

    <td class="nhsuk-table__cell">
      13 October 2002
</td>

<td class="nhsuk-table__cell">
  49C Howards Thicket    
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Nolan, Nick
</td>

  <td class="nhsuk-table__cell">
    6 January 1976
</td>

<td class="nhsuk-table__cell">
  9 Stowe Close 
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Ollis, Oliver
</td>

  <td class="nhsuk-table__cell">
    11 December 1987
</td>

<td class="nhsuk-table__cell">
  105 Western Road
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Parker, Peter
</td>

  <td class="nhsuk-table__cell">
    4 June 1999
</td>

<td class="nhsuk-table__cell">
  3 Peelers Court
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Pauls, Rachel
</td>

  <td class="nhsuk-table__cell">
    15 April 2001
</td>

<td class="nhsuk-table__cell">
  7 Slater Street    
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>



<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Preistley, Ashley
</td>

  <td class="nhsuk-table__cell">
    25 July 1966
</td>

<td class="nhsuk-table__cell">
  1 Orchard Cottages   
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>



<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Ramsey, June
</td>

  <td class="nhsuk-table__cell">
    14 October 1988
</td>

<td class="nhsuk-table__cell">
  27 Briar Hill Road   
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>


<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Rice, Jacob
</td>

  <td class="nhsuk-table__cell">
    11 March 1980
</td>

<td class="nhsuk-table__cell">
  White Moss Cottage     
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>



<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Richards, Kylian
</td>

  <td class="nhsuk-table__cell">
    5 August 1977
</td>

<td class="nhsuk-table__cell">
  The Old Shop, The Green     
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>


<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Saans, William
</td>

  <td class="nhsuk-table__cell">
    4 May 1963
</td>

<td class="nhsuk-table__cell">
  54 The Pastures, St. Helens     
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>
        



       
                <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                        Smith, Thomas
                </td>
                
                    <td class="nhsuk-table__cell">
                      14 March 1987
                </td>
                
                <td class="nhsuk-table__cell">
23 crimson Drive                </td>
                <td class="nhsuk-table__cell">
                  <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                </td> 
            </tr>
            </tr>
            
        </tr>

            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    William Aanakin
            </td>

                <td class="nhsuk-table__cell">
                  13 July 1983    

            </td>

            <td class="nhsuk-table__cell">
9 Park Avenue            </td>
            <td class="nhsuk-table__cell">
              <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Younis, Kamara
          </td>
          
              <td class="nhsuk-table__cell">
                13 October 2002      

          </td>
          
          <td class="nhsuk-table__cell">
11  Victoria Close          </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record vaccination</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td> 
      </tr>


         

          </tbody>
        </table>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--previous">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
                <span class="nhsuk-pagination__title">Previous</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Tuesday 3 June 2025</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
                </svg>
              </a>
            </li>
            <li class="nhsuk-pagination-item--next">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                <span class="nhsuk-pagination__title">Next</span>
                <span class="nhsuk-u-visually-hidden">:</span>
                <span class="nhsuk-pagination__page">Thursday 5 June 2025</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

    </div>
  </div>

{% endblock %}



