{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <ol class="nhsuk-breadcrumb__list">
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/appointments/index4">Appointments</a></li>
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/appointments/index3">Anne Ward Maternity Unit</a></li>
  </ol>
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" href="#">
      <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
      Level three
    </a>
  </p>
</nav>
{% endblock %}

{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->


  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>


      <div class="nhsuk-caption-l">Anne Ward Maternity Unit</div>
        <h1 class="nhsuk-heading-l">Wednesday 9 July 2025</h1>
        
       



        <p><a href="/record-vaccinations/vaccinator">Record a walk-in</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/appointments/add-nhs-numbers">Add NHS numbers</a></p>

  


  <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
    <ul class="x-govuk-secondary-navigation__list">
      <li class="x-govuk-secondary-navigation__list-item ">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp1" aria-current=page>
          Appointments (38)
        </a>
      </li>
      <li class="x-govuk-secondary-navigation__list-item ">
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp2">
            Completed (0)
        </a>
      </li>
    
      
    </ul>
  </nav>

  <br><br>


      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">No appointments completed</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
          <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
      
                  
                
        </thead>

        <tbody class="nhsuk-table__body">
              
         

     

         

          </tbody>
        </table>

        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
      
              
            </nav>

    </div>
  </div>

  

{% endblock %}



