{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({
    href: "/appointments/index4",
    text: "Back"
  }) }}
{% endblock %}
{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->

  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>

<h1 class="nhsuk-heading-l">St Mary's Hospital</h1>



        <p><a href="/record-vaccinations/vaccinator">Record a walk-in</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/appointments/add-nhs-numbers">Add NHS numbers</a></p>

  <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
    <ul class="x-govuk-secondary-navigation__list">
      <li class="x-govuk-secondary-navigation__list-item ">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp3" aria-current=page>
          Appointments (31)
        </a>
      </li>
      <li class="x-govuk-secondary-navigation__list-item ">
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp4">
          Completed (7)
        </a>
      </li>
    
      
    </ul>
  </nav>

  <br><br>


      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">7 appointments completed</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
          <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
      
                  
                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Date of birth
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Address
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                  
                </tr>
        </thead>

        <tbody class="nhsuk-table__body">
              


            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    James, Michael
              </td>
              
                <td class="nhsuk-table__cell">
                  20 April 2003
              </td>
              
              <td class="nhsuk-table__cell">
                  2a The Flats, Headingley
              </td>
              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
              </td>
                </tr>
         

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Lioncoln, Martin
          </td>
          
            <td class="nhsuk-table__cell">
              7 June 1958

          </td>
          
          <td class="nhsuk-table__cell">
42 Wallsey Way          </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
           
          </td>
      </tr>
      


<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Lochan, Clive
</td>

  <td class="nhsuk-table__cell">
    12 September 1971 
</td>

<td class="nhsuk-table__cell">
22a Calrenece Drive</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
  
</td>
</tr>


      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
          Smith, John
      </td>
      
        <td class="nhsuk-table__cell">
          4 November 1954
      </td>
      
      <td class="nhsuk-table__cell">
The Gables, Drumond      </td>
     <td class="nhsuk-table__cell">
      <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
    </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    
      </td>
  </tr>
     <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
          Smith, John
      </td>
      
        <td class="nhsuk-table__cell">
          4 November 1954
      </td>
      
      <td class="nhsuk-table__cell">
66 Park Avenue      </td>
     <td class="nhsuk-table__cell">
      <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
    </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">

      </td>
  </tr>


  <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Smith, Thomas
    </td>
    
      <td class="nhsuk-table__cell">
        11 June 1976

    </td>
    
    <td class="nhsuk-table__cell">
       12 Brown Hill
    </td>
   <td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
  </td>
    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
    </td>
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Williams, Aanakin
</td>

  <td class="nhsuk-table__cell">
    24 March 1993
</td>

<td class="nhsuk-table__cell">
   22 Windemere Drive
</td>
<td class="nhsuk-table__cell">
  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Record another vaccination</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
 
</td>
</tr>

         

          </tbody>
        </table>

        
            </nav>

    </div>
  </div>

  

{% endblock %}



