{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}


{% block beforeContent %}
  {{ backLink({
    href: "/appointments/index4",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->



  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-caption-l"></div>

        <h1 class="nhsuk-heading-l">St Mary's Hospital</h1>

        <p><a href="/appointments/add-nhs-numbers">Add NHS numbers</a></p>

        <p><a href="/appointments/add">Add date</a></p>  

        <p><a href="/appointments/vaccine">Add vaccine</a></p>  

        <p><a href="/appointments/delete">Delete list</a></p>
        

        {{ input({
          label: {
            text: "Search for name or NHS number"
          },
          id: "firstName",
          name: "firstName",
          value: data.firstName,
          classes: "nhsuk-input--width-20",
          errorMessage: {
            text: firstNameError
          } if firstNameError
        }) }}
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Search list
        </button>


      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">100 patients</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
      
                  
                  <th role="columnheader" class="" scope="col">
                    Name
                  </th>
                  <th role="columnheader" class="" scope="col">
                    NHS number
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Date of birth
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                  <th role="columnheader" class="" scope="col">
                  </th>
                  
                </tr>
        </thead>

        <tbody class="nhsuk-table__body">
              
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Adam Aarrons
          </td>
          
            <td class="nhsuk-table__cell">
              9562312564
          </td>
          
          <td class="nhsuk-table__cell">
            21 April 1954
          </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove
          </td> 
            </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                Alex Aarrons
            </td>
            
              <td class="nhsuk-table__cell">
                9623584569
            </td>
            
            <td class="nhsuk-table__cell">
              8 December 1959	
            </td>
            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Ben Benson
            </td>

                <td class="nhsuk-table__cell">
                  9875582565
            </td>

            <td class="nhsuk-table__cell">
              23 May 1976 
            </td>
            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
            </tr>


            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Brian Briggs
            </td>
            
              <td class="nhsuk-table__cell">
                9111102224
            </td>
            
            <td class="nhsuk-table__cell">
              9 August 2006
            </td>
            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>

            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Christin Cuthbert
            </td>
            
              <td class="nhsuk-table__cell">
                999633365
            </td>
            
            <td class="nhsuk-table__cell">
              16 May 2006
            </td>
            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>


            <tr role="row" class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                  Collette Carlisle
            </td>
            
              <td class="nhsuk-table__cell">
                9784512586
            </td>
            
            <td class="nhsuk-table__cell">
              2 May 2002
            </td>
            <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
              <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
            </td> 
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                Daniella Davenport
              </td>
              
                <td class="nhsuk-table__cell">
                  9330254878
              </td>
              
              <td class="nhsuk-table__cell">
                11 June 1956
              </td>
              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td> 
                </tr>



              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                    Denis Daniels
              </td>
              
                <td class="nhsuk-table__cell">
                  9025587485
              </td>
              
              <td class="nhsuk-table__cell">
                14 November 1994
              </td>
              <td class="nhsuk-table__cell">
                <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
            </td>
              <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
              </td> 
                </tr>

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                     Elle Ellison
                </td>
                
                  <td class="nhsuk-table__cell">
                    9001258457
                </td>
                
                <td class="nhsuk-table__cell">
                  3 March 1958
                </td>
                <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
                </td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                </td> 
                  </tr>

                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                      Fraser Fredricks

                  </td>
                  
                    <td class="nhsuk-table__cell">
                      9853623256
                  </td>
                  
                  <td class="nhsuk-table__cell">
                    2 March 1984
                  </td>
                  <td class="nhsuk-table__cell">
                    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
                </td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                    <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                  </td> 
                    </tr>
  

                    <tr role="row" class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">
                          Greg Gregson
                    </td>
                    
                      <td class="nhsuk-table__cell">
                        910200021
                    </td>
                    
                    <td class="nhsuk-table__cell">
                      9 September 199
                    </td>
                    <td class="nhsuk-table__cell">
                        <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
                    </td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                      <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                    </td> 
                      </tr>

                      <tr role="row" class="nhsuk-table__row">
                        <td class="nhsuk-table__cell">
                             Harriet Harrison 
                      </td>
                      
                        <td class="nhsuk-table__cell">
                          9630021558
                      </td>
                      
                      <td class="nhsuk-table__cell">
                        10 Janurary 2000
                      </td>
                      <td class="nhsuk-table__cell">
                        <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
                    </td>
                      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                        <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                      </td> 
                        </tr>


                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                              India Illingworth
                        </td>
                        
                          <td class="nhsuk-table__cell">
                            9856236569
                        </td>
                        
                        <td class="nhsuk-table__cell">
                          4 February 1980
                        </td>
                        <td class="nhsuk-table__cell">
                            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                          <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                        </td> 
                          </tr>




                        <tr role="row" class="nhsuk-table__row">
                          <td class="nhsuk-table__cell">
                              Katehrine Kitson 
                        </td>
                        
                          <td class="nhsuk-table__cell">
                            9636956814
                        </td>
                        
                        <td class="nhsuk-table__cell">
                          20 May 1979
                        </td>
                        <td class="nhsuk-table__cell">
                            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
                        </td>
                        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                          <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
                        </td> 
                          </tr>


        

          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                Luke Law
          </td>
          
            <td class="nhsuk-table__cell">
              9854525125     

          </td>
          
          <td class="nhsuk-table__cell">
            13 October 2002           </td>
          <td class="nhsuk-table__cell">
            <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
            <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
          </td> 
            </tr>

        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
              Lucinda Lesley
      </td>
      
          <td class="nhsuk-table__cell">
           9851245252
      </td>
      
      <td class="nhsuk-table__cell">
        13 July 1983   
      </td>
      <td class="nhsuk-table__cell">
        <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
    </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
      </td> 
  </tr>


  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell">
        Michael Miller
</td>

    <td class="nhsuk-table__cell">
      9520120232
</td>

<td class="nhsuk-table__cell">
  13 October 2002    
</td>
<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
  <a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Nick Nolan 
</td>

  <td class="nhsuk-table__cell">
   9520124578
</td>

<td class="nhsuk-table__cell">
  6 January 1976
</td>
<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
       Oliver Osmond
</td>

  <td class="nhsuk-table__cell">
    9523654781
</td>

<td class="nhsuk-table__cell">
  11 December 1987
</td>
<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

<tr role="row" class="nhsuk-table__row">
  <td class="nhsuk-table__cell">
      Peter Parker
</td>

  <td class="nhsuk-table__cell">
    9525885255
</td>

<td class="nhsuk-table__cell">
  4 June 1999
</td>
<td class="nhsuk-table__cell">
    <a class="nhsuk-link" href="/appointments/appointments-recording/patient-history">Record</a>
</td>
<td class="nhsuk-table__cell nhsuk-table__cell--numeric">
<a class="nhsuk-link" href="/record-vaccinations/patient-history">Remove</a>
</td> 
</tr>

         

          </tbody>
        </table>

       

    </div>
  </div>

{% endblock %}



