{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}


{% block beforeContent %}
  {{ backLink({
    href: "/appointments/index4",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}

<!-- <p class="nhsuk-body-l">This example shows only the <mark>NHS number</mark>, and <mark>Date</mark> used.</p> -->



  <style>
    .jointTopBot {
      border-top: 4px solid #768692;
    }
    .jointMid {
    border-bottom: 2px solid #d8dde0;
    }

  </style>



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-caption-l"></div>

        <h1 class="nhsuk-heading-l">St Mary's Hospital</h1>

        <p><a href="/appointments/add-nhs-numbers">Add more NHS numbers</a>&nbsp&nbsp&nbsp&nbsp<a href="/appointments/delete">Delete list</a></p>


        {{ input({
          label: {
            text: "Search for name or NHS number"
          },
          id: "firstName",
          name: "firstName",
          value: data.firstName,
          classes: "nhsuk-input--width-20",
          errorMessage: {
            text: firstNameError
          } if firstNameError
        }) }}
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Search list
        </button>



  <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
    <ul class="x-govuk-secondary-navigation__list">
     
      <li class="x-govuk-secondary-navigation__list-item ">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp5">
          List of patients (100)
        </a>
      </li>
    
      <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
        <a class="x-govuk-secondary-navigation__link" href="/appointments/mvp7" aria-current=page>
          Completed (0)
        </a>
      </li>
     
    
      
    </ul>
  </nav>
        
<br>

      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">0 patients completed</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
            <thead role="rowgroup" class="nhsuk-table__head">
             

         

          </tbody>
        </table>

       





    </div>
  </div>

{% endblock %}



