{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block beforeContent %}
  {{ backLink({
    href: "/appointments/index1",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Anne Ward Maternity Unit appointments</h1>


      <form action="/appointments/answer-setup" method="post">
        

        <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
              <tr>
                <th scope="col" class="nhsuk-table__header">Date</th>
                <th scope="col" class="nhsuk-table__header">Weekday</th>
                <th scope="col" class="nhsuk-table__header nhsuk-table__header--numeric">Appointments</th>
                <th role="columnheader" class="" scope="col">
                <th role="columnheader" class="" scope="col">
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">23 April 2025</td>
                <td class="nhsuk-table__cell">Wednesday</td>
                <td class="nhsuk-table__cell nhsuk-table__cell--numeric">84</td>
                </td>
                <td class="nhsuk-table__cell ">
                    <div class="nhsuk-u-margin-bottom-1"><a href="/appointments/mvp" class="nhsuk-link">View</a></div>
                </td>
                <td class="nhsuk-table__cell ">
                <div><a href="/appointments/edit" class="nhsuk-link">Edit</a></div>
                </td>
              </tr>


              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">24 April 2025</td>
                  <td class="nhsuk-table__cell">Thursday</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">112</td>
                  </td>
                  <td class="nhsuk-table__cell ">
                    <div class="nhsuk-u-margin-bottom-1"><a href="/appointments/mvp1" class="nhsuk-link">View</a></div>
                </td>
                  <td class="nhsuk-table__cell ">
                  <div><a href="/appointments/edit" class="nhsuk-link">Edit</a></div>
                  </td>
                </tr>

                <tbody class="nhsuk-table__body">
                    <tr class="nhsuk-table__row">
                      <td class="nhsuk-table__cell">25 April 2025</td>
                      <td class="nhsuk-table__cell">Friday</td>
                      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">66</td>
                      </td>
                      <td class="nhsuk-table__cell ">
                      <div class="nhsuk-u-margin-bottom-1"><a href="/appointments/mvp2" class="nhsuk-link">View</a></div>
                      </td>
                      <td class="nhsuk-table__cell ">
                      <div><a href="/appointments/edit" class="nhsuk-link">Edit</a></div>
                      </td>
                    </tr>

        
            </tbody>
          </table>


     

    </div>
  </div>

{% endblock %}
