{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Add booked appointments</h1>


      <p class="nhsuk-body-m">To save time when you record vaccinations, you can add appointments from your booking system.</p>

      <p>You will need:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>a list of patient NHS numbers from the booking system</li>
        <li>to select a vaccinating team</li>
      </ul>


      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
              NHS numbers
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
            Completed
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
              Date
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-2-status">
            <strong class="govuk-tag govuk-tag--blue">
              Not selected
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
              Team
            </a>
            <div id="company-details-3-hint" class="govuk-task-list__hint">
              Include 5 years of the company’s relevant financial information
            </div>
          </div>
          <div class="govuk-task-list__status" id="company-details-3-status">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
              Business plan
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-4-status">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
              References
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-5-status">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>
        </li>
      </ul>

        {{ button({
          text: "Continue",
          href: "/appointments/add-nhs-numbers"
        }) }}


    </div>
  </div>

{% endblock %}