{% extends 'layout.html' %}

{% set pageName = "Which team are your appointmetns for?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/appointments/add" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/appointments/add-nhs-numbers" method="post" novalidate>

        {% set deliveryTeams = [
          "Anne Ward Maternity Unit",
          "Josephine Clinic",
          "St Mary’s Hospital"
        ] %}

        {% set items = [] %}
        {% for deliveryTeam in (deliveryTeams | sort) %}
          {% set items = (items.push({
            text: deliveryTeam,
            value: deliveryTeam
          }), items) %}
        {% endfor %}

        {{ radios({
          idPrefix: "delivery-team",
          name: "deliveryTeam",
          fieldset: {
            legend: {
              text: "Which team is vaccinating?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          errorMessage: {
            text: (errors | first).text
          } if (errors | length) > 0,
          items: items,
          value: data.deliveryTeam
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

