{% extends 'layout.html' %}

{% set pageName = "Appointments" %}

{% set currentSection = "appointments" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Add Appointments for 21 June 2025</h1>

      <p>The spreadsheet can be in Excel (XLS) or comma-seprate-values format (CSV) and must include:</p>

      <ul class="nhsuk-u-margin-bottom-6">
        <li>NHS number of the patient with column heading "<code>NHS number</code>"</li>
        <li>Date of the appointment with column heading "<code>Date</code>"</li>
          <li>Time of the appointment with column heading "<code>Time</code>"</li>

      
      </ul>


      <div class="nhsuk-form-group">
        <label for="file" class="nhsuk-label nhsuk-label--s">File</label>
        <input type="file" name="file" id="file" style="font-size: 1rem;">
      </div>

            <p>Use <a href="#">Appointments 21 June 2025 (XLS)</a> to upload your appointments.</p>


      {{ button({
        text: "Continue",
        href: "/appointments/check-spreadsheet"
      }) }}

    </div>
  </div>

{% endblock %}
