<div class="app-email-preview">

  <p>Dear (Name),</p>
  <p>(Pharmacy name) has been deactivated from the Record a vaccination service (RAVS).
  <p>This means you can no longer record vaccinations in RAVS for this pharmacy.</p>
  <p>Until (Date), you will still be able to log in and access RAVS. After this date you will no longer have access to RAVS for (Pharmacy name).</p>
  <p>Contact (Company name) head office if you have any questions.</p>
  <p>Kind regards,</p>
  <p>NHS Record a vaccination</p>
</div>
