        <p>From: NHS Record a vaccination service (RAVS)<br>
        Subject: Start using Record a vaccination at (company name)
        </p>
        <hr>

        <p>Dear (Name),</p>

        <p>You’ve been invited to use the NHS Record a vaccination service as a group administrator for (company name).</p>   
        
        <p>Here’s what you need to do next:</p>
        
        <p><b>1. Activate your Okta account</b></p>

        <p>We’ve created an Okta account for you to securely access the service.</p>

        <p>You’ll receive a 'Welcome to Okta' email (from noreply@okta.com).</p>
        
        <p>Activate the link within 7 days.</p>
          
        <p>If you cannot find the email, check your spam or junk.</p>

        <p><b>2. Log in to the service</b></p>
        
        <p>Once you've activated your Okta account, log in to <a href="//product-page">www.ravs.england.nhs.uk</a> using your Okta username and password.</p>
        
        <p>You can also access the service through your Okta account by selecting 'RAVS (PROD) app'.</p>

        <p>Kind regards,<br>
        NHS Record a vaccination</p>

      
