<div class="app-email-preview">

    <p>Dear {{ organisation.application.firstName }} {{ organisation.application.lastName }},</p>
    <p>Your NHS region has not approved your application to use the Record a vaccination service at Leeds Teaching Hospitals.</p>

    <p>This may be:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>due to an unrecognised contact name or email</li>
      <li>because your contract with the Record a vaccination service has not yet been signed</li>
      <li>for another reason</li>
    </ul>

    <p>Contact your NHS England regional team if you have any questions.</p>
    <p>Kind regards,</p>
    <p>NHS Record a vaccination</p>

</div>
