<div class="app-email-preview">

  <p>Dear RAVS user,</p>
  <p>{{organisation.name}} has been deactivated from the Record a vaccination service (RAVS).
  <p>This means you can no longer record vaccinations in RAVS for this organisation.</p>
  <p>Until [date], you will still be able to log in and access RAVS. After this date you will no longer have access to RAVS for {{organisation.name}}.</p>
  <p>Contact your NHS England regional team if you have any questions.</p>
  <p>Kind regards,</p>
  <p>NHS Record a vaccination</p>
</div>

