{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}


{% block beforeContent %}
  {{ backLink({
    href: "/regions/awaiting-approval",
    text: "Back"
  }) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Approve {{ organisation.name }}</h1>

      <p>Confirm that {{ organisation.name }} can use the Record a vaccination service.</p>

      <p>This email will be sent to {{ organisation.application.email }} at {{ organisation.name }}.</p>

      {% set organisationName = organisation.name %}
      {% set firstName = organisation.application.firstName %}
      {% set lastName = organisation.application.lastName %}
      {% include "regions/_email-preview.html" %}


      <form action="/regions/accepted/{{ organisation.id }}" method="post" novalidate="true">
        {{ button({
          "text": "Confirm and send",
          classes: "nhsuk-button"
        }) }}
    </form>

    </div>
  </div>
{% endblock %}
