{% extends 'layout.html' %}

{% set pageName = "Find an organisation to invite" %}
{% set currentSection = "organisations" %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <form action="/regions/organisation-details" method="post">

      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-1" for="organisationId">
            NHS organisation or community pharmacy
          </label>
        </h1>
        <div class="nhsuk-hint" id="organisation-id-hint">
          Search by name or ODS code
        </div>
        <select class="nhsuk-select" id="organisation-id" name="organisationId"
          data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option selected value=""></option>

          {% set options = [] %}

          {% for organisation in data.allOrganisations %}
            {% set options = (options.push({
              label: organisation.name + " (" + organisation.id + ")",
              value: organisation.id
            }), options) %}
          {% endfor %}

          {% for option in (options | sort(false, true, "label")) %}
            <option value="{{ option.value }}">{{ option.label }}</option>
          {% endfor %}
        </select>
      </div>

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
