{% extends 'layout.html' %}

{% set pageName = "Add a user" %}
{% set currentSection = "organisations" %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/organisation-details",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p>Choose a user at {{ organisation.name }}.</p>

      <p>They must have an nhs.net email or another allowed email address. See <a href="https://digital.nhs.uk/services/care-identity-service/applications-and-services/apply-for-care-id/care-identity-email-domain-allow-list" target="_blank">examples of allowed email addresses (opens in new tab)</a>.</p>

      <p>If the email address is not allowed, use a different email or <a href="/contact-us" target="_blank">contact us</a>.</p>
      
      <p>The user will receive a welcome email with details of how to access the service.</p>

      <p>It’s their responsibility to add users and vaccines for their organisation.</p>

      <form action="/regions/check-and-send" method="post" novalidate>

        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "firstName",
          classes: "nhsuk-input--width-20",
          value: data.firstName
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "lastName",
          classes: "nhsuk-input--width-20",
          value: data.lastName
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          value: data.email,
          type: "email",
          "id": "email",
          "name": "email"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
