{% extends 'layout.html' %}

{% block pageTitle %}
  East of England
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-xl">Find an organisation to invite</h1>

      <form action="/regions/organisation-details" method="post">

      <div class="nhsuk-form-group">
        <h1 class="nhsuk-label-wrapper">
          <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-1" for="organisationCode">
            NHS organisation or community pharmacy
          </label>
        </h1>
        <div class="nhsuk-hint" id="organisationName-hint">
          Search by name or ODS code
        </div>
        <select class="nhsuk-select" id="organisationCode" name="organisationCode"
          data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option selected value=""></option>

          {% set options = [] %}

          {% for code, name in data.nhsTrusts %}
            {% set options = (options.push({
              label: name + " (" + code + ")",
              value: code
            }), options) %}
          {% endfor %}

          {% for code, data in data.nhsPharmacies %}
            {% set options = (options.push({
              label: data.name + ", " + data.address + ", " + (data.postcode | upper) + " (" + code + ")",
              value: code
            }), options) %}
          {% endfor %}

          {% for option in (options | sort(false, true, "label")) %}
            <option value="{{ option.value }}">{{ option.label }}</option>
          {% endfor %}
        </select>
      </div>

        {{ button({
          "text": "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
