{% extends 'layout.html' %}

{% block pageTitle %}
  East of England region
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Awaiting approval</h1>

    </div>
  </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">



        <table role="table" class="nhsuk-table-responsive">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Organisation
                </th>
                <th role="columnheader" class="" scope="col">
                  ODS code
                </th>
                <th role="columnheader" class="" scope="col">
                  Type
                </th>
                <th role="columnheader" class="" scope="col">
                   Date requested
                </th>
                <th role="columnheader" class="" scope="col">

                 </th>
                 <th role="columnheader" class="" scope="col">

                 </th>

                </tr>
              </thead>
              <tbody class="nhsuk-table__body">

                {% for organisation in organisations | sort(true, true, "appliedOn") %}
                  <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                      <a href="/regions/review/{{ organisation.id }}">{{ organisation.name }}</a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      {{ organisation.id }}
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      {{ organisation.type }}
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      {{ organisation.appliedOn | govukDate }}
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <a href="/regions/accept/{{ organisation.id }}">Approve</a>
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                      <a href="/regions/reject/{{ organisation.id }}">Reject</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>

      </div>
    </div>


{% endblock %}
