{% extends 'layout.html' %}

{% set pageName = "Check and send" %}
{% set currentSection = "organisations" %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/add-email",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Organisation name"
            },
            value: {
              text: organisation.name
            },
            actions: {
              items: [
                {
                  href: "/regions/add-organisation",
                  text: "Change",
                  visuallyHiddenText: "organisation name"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccines"
            },
            value: {
              text: (data.vaccinesEnabled | join(", "))
            },
            actions: {
              items: [
                {
                  href: "/regions/vaccines",
                  text: "Change",
                  visuallyHiddenText: "vaccines enabled"
                }
              ]
            }
          },
          {
            key: {
              text: "User"
            },
            value: {
              html: data.firstName + " " + data.lastName + "<br>" + data["email"]
            },
            actions: {
              items: [
                {
                  href: "/regions/add-email",
                  text: "Change",
                  visuallyHiddenText: "User email address"
                }
              ]
            }
          }
        ]
      }) }}

      <p>This email will be sent to {{ data["email"] }}:</p>

      {% include "regions/_email-preview.html" %}

      <form action="/regions/add" method="post">
        {{ button({
          "text": "Send invitation"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}
