{% extends 'layout.html' %}

{% set pageName = "Deactivate " + organisation.name %}
{% set currentSection = "organisations" %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/organisations/" + organisation.id,
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Delete Central Manchester University Hospitals NHS Foundation Trust (RW3)</h1>

      <p>Once you delete this organisation, no one at Central Manchester University Hospitals NHS Foundation Trust will be able to record vaccinations.</p>

      <p>You can add this organisation back at any time.</p>



      <form action="/regions/organisations/{{ organisation.id}}/deactivated" method="post" novalidate="true">
        {{ button({
          "text": "Delete organisation",
          classes: "nhsuk-button--warning"
        }) }}
    </form>

    </div>
  </div>
{% endblock %}
