{% extends 'layout.html' %}

{% set pageName = currentRegion.name %}
{% set currentSection = "organisations" %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      <p class="nhsuk-body-l">Invite an organisation to create an NHS Record a vaccination service (RAVS) account.</p>

      <p class="nhsuk-body-l">Once they’re set up, they can add other users and vaccination sites.</p>


      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You can only delete an organisation if they have not recorded any vaccinations.</p>
      </div>


      {{ button({
        "text": "Invite an organisation",
        "href": "/regions/add-organisation"
      }) }}

    </div>
  </div>

  <br>
  <h2 class="nhsuk-heading-m">Current organisations</h2>


  <div class="nhsuk-u-margin-top-5">
    <form action="/user-admin" method="get" novalidate>
      <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
        <label class="nhsuk-label" for="q">
            Search by name or enter a full ODS code
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="q" name="q" type="search" value="{{ q }}">

        {{ button({
          text: "Search",
          classes: "nhsuk-button--secondary nhsuk-u-margin-left-2 app-button--small nhsuk-u-margin-bottom-0"
        })}}
      </div>
    </form>
  </div>

  <br>



<table class="nhsuk-table-responsive" role="table">
    <caption class="nhsuk-table__caption"></caption>
    <thead class="nhsuk-table__head" role="rowgroup">
      <tr role="row">
        <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Name</th>
        <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-half" role="columnheader">Vaccines</th>
        <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-eigth" role="columnheader">Status</th>
        <th scope="col" class="nhsuk-table__header nhsuk-u-width-one-eigth" role="columnheader"></th>


    </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Alder Hey Children's NHS Foundation Trus (RBS)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>COVID-19, flu, pertussis, RSV, MMR, pneumococcal</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Deactivated</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Central Manchester University Hospitals NHS Foundation Trust (RW3)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>COVID-19, flu, pertussis, RSV</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Invited</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span><a>Delete</a></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Greater Manchester Ambulance Service NHS Trust (RMA)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>pertussis, RSV</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Manchester University NHS Foundation Trust (R0A)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>COVID-19, flu, pertussis, RSV, MMR, pneumococcal</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Invited</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span><a>Delete</a></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Norfolk and Norwich University Hospitals NHS Foundation Trus (RM1)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>pertussis, RSV</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>North Mersey Community NHS Trust (RES)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>pertussis, RSV</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Royal Papworth Hospital NHS Foundation Trust (RGM)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>pertussis, RSV</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span></td>

    </tr>
    <tr class="nhsuk-table__row" role="row">
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Name </span><a>Pickfords pharmacy (FA424)</a></td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Vaccines </span>pertussis, RSV</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span>Active</td>
        <td class="nhsuk-table__cell" role="cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Status</span></td>

    </tr>

    </tbody>
  </table>


  <p><a>View 2 closed organisations</a></p>


  {% if closedOrganisationsCount > 0 %}
    <p><a href="/regions/organisations/closed">View {{ closedOrganisationsCount | plural("closed organisation") }}</a></p>
  {% endif %}

{% endblock %}
