{% extends 'layout.html' %}

{% set pageName = organisation.name %}
{% set currentSection = "organisations" %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions",
    text: "Back to all organisations"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ organisation.name }}</h1>

      {% if organisation.status == 'Invited' %}
        <p>You have invited this organisation to create an NHS Record a vaccination service account.</p>

      {% elseif organisation.status == "Deactivated" %}

        <p>This organisation has been deactivated.<br><br>It will be closed in <b>90 days</b>. </p>

        <p><a href="/regions/organisations/{{ organisation.id }}/reactivate">Reactivate organisation</a></p>

      {% else  %}

        <p>They can record
          {% if (vaccinesEnabled | length) == 4 %}
            all
          {% else %}
            {{ vaccinesEnabled | sort(false, false, "name") | pluck("name") | formatList }}
          {% endif %}
        vaccinations.

          {% if (vaccinesEnabled | length) < 4 %}
            <a href="/regions/organisations/{{organisation.id}}/add-vaccines">Add vaccines<span class="nhsuk-u-visually-hidden"></span></a>
          {% endif %}
        </p>

        {% if (messages | length) > 0 %}
          {% set message = (messages | first) %}

          {% set messageHtml %}
            <p>Access to record {{ message.vaccineRequested }} requested on {{ message.sentOn | govukDate }}. <a href="/regions/messages/{{ message.id }}">View&nbsp;request</a></p>
          {% endset %}

          {{ insetText({
            html: messageHtml,
            classes: "nhsuk-u-margin-top-0 nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1"
          }) }}
        {% endif %}



        <p><a href="/regions/organisations/{{organisation.id}}/deactivate">Deactivate organisation</a></p>

      {% endif %}
    </div>
  </div>

  {% if organisation.status == 'Invited' or organisation.status == 'Active' %}

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        {% if (users | length) > 0 %}
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Users</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Name
                </th>
                <th role="columnheader" class="" scope="col">
                  Email address
                </th>
                <th role="columnheader" class="" scope="col">
                  Status
                </th>
                <th role="columnheader" class="" scope="col">

                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for leadUser in users %}

                {% set userOrganisationSettings = (leadUser.organisations | findById(organisation.id)) %}

                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    {{ leadUser.firstName }} {{ leadUser.lastName }}
                  </td>
                  <td class="nhsuk-table__cell">
                    {{ leadUser.email }}
                  </td>
                  <td class="nhsuk-table__cell ">
                    {{ userOrganisationSettings.status }}
                  </td>
                  <td class="nhsuk-table__cell app-table__cell--right-aligned">
                    {% if userOrganisationSettings.status == 'Invited' %}
                      <a href="/regions/organisations/{{ organisation.id }}/users/{{ leadUser.id }}/uninvite">Uninvite</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% set buttonText = "Add another user" if (organisation.leadUsers | length) > 0  else "Add user" %}

        {{ button({ text: buttonText, href: "/regions/organisations/" + organisation.id + "/add-email"}) }}
      </div>
    </div>
  {% endif %}

{% endblock %}
