{% extends 'layout.html' %}

{% block pageTitle %}
  East of England region
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/awaiting-approval",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ organisation.name }}</h1>
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            ODS code
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ organisation.id }}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Address
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ organisation.address.line1 }}, {{ organisation.address.town }}, {{ organisation.address.postcode }}
          </dd>

          <dd class="nhsuk-summary-list__actions">

          </dd>

        </div>



        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ organisation.application.email }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Phone
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ organisation.application.phone }}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date requested
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ organisation.appliedOn | govukDate }}
          </dd>
        </div>


    </div>
  </div>


{% endblock %}
