{% extends 'layout.html' %}

{% set pageName = "Change vaccines for " + organisation.name %}
{% set currentSection = "organisations" %}

{% block header %}
  {% include "includes/header-logged-in-region.html" %}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    href: "/regions/organisation-details",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/regions/add-email" novalidate>

        {% set items = [] %}

        {% for vaccine in (data.vaccines | sort(false, false, "name")) %}
          {% set items = (items.push({
            value: vaccine.name,
            text: (vaccine.name | capitaliseFirstLetter)
          }), items) %}
        {% endfor %}

        {{ checkboxes({
          name: "vaccinesEnabled",
          fieldset: {
            legend: {
              text: "Which vaccinations can they record?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          items: items,
          values: data.vaccinesEnabled
        }) }}

        {{ button({
          text: "Save"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
