
{% block head %}
  <script src="/js/feedback-panel.js"></script>
{% endblock %}

{% from 'checkboxes/macro.njk' import checkboxes %}
<div class="app-feedback-panel" data-module="feedback-panel">
  <div data-module="feedback-panel__initial-question">
    <h2 class="app-feedback-panel__title">You’ve just recorded your 5th vaccination.</h2>

    <p>How have you found using this service?</p>

    <div class="app-button-group nhsuk-u-margin-bottom-0">
      {{ button({
        text: "Easy",
        classes: "app-button--outlined app-button--small",
        attributes: {
          "data-thanks": "Thank you. Do you have any feedback to give us?"
        }
      }) }}

      {{ button({
        text: "Ok",
        classes: "app-button--outlined app-button--small",
        attributes: {
          "data-thanks": "Thank you. Do you have any feedback to give us?"
        }
      }) }}

      {{ button({
        text: "Hard",
        classes: "app-button--outlined app-button--small",
        attributes: {
          "data-thanks": "Thank you. What did you find hard?"
        }
      }) }}
    </div>
  </div>

  <div class="app-feedback-panel__comments"  data-module="feedback-panel__comments" hidden>

    <h2 class="app-feedback-panel__title">Thank you.</h2>
    {{ textarea({
      name: "example",
      id: "example",
      rows: 3,
      label: {
        text: "Feedback (optional)"
      },
      hint: {
        text: "Do not include any patient information."
      }
    }) }}

    {{ checkboxes({
      items: [
        {
          value: "contactable",
          text: "I’m happy to be contacted about my feedback"
        }
      ]
    })}}


    <div class="app-button-group nhsuk-u-margin-bottom-0">
      {{ button({
        text: "Send feedback",
        classes: "app-button--outlined app-button--small"
      }) }}


      <a href="#" class="nhsuk-link nhsuk-link--no-visited-state" data-module="feedback-panel__close">Close</a>
    </div>

  </div>
</div>
