{% extends 'layout.html' %}

{% block pageTitle %}
  Accessibility statement
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>Accessibility statementt</h1>

        <p>This accessibility statement applies to the Record a vaccination service
            (<a href="www.ravs.england.nhs.uk">www.ravs.england.nhs.uk</a>)</p>
        
        <p>This service is run by NHS England. <br> <br>
            <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
           
    <h2>How accessible this service is </h2>
    <p>We know parts of this service are not fully accessible. For example: </p>

    <ul class="nhsuk-list nhsuk-list--bullet">
        <li>some content is not displayed correctly when you zoom in</li> 
        <li>some interactive elements are not announced to screen readers</li> 
        <li>some interactive elements are not accessible to keyboard users</li> 
        <li>some error messages are not optimised for screen readers and keyboard users</li> 
        <li>some tables have missing headers</li>  
        <li>some focus states are missing</li>  
      </ul>



    <h2>Enforcement procedure</h2>
    <p>We want to improve the accessibility of the Record a vaccination service. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email <a href="ravs.support@england.nhs.uk">ravs.support@england.nhs.uk</a>.</p>


    <h2>Give feedback and report accessibility problems</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

    <h2>Technical information about this website’s accessibility</h2>
    <p>NHS England is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h2>Compliancde status</h2>
    <p>This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines version 2.2 </a>AA standard, due to the non-compliances listed below..</p>


    <h2>Non-accessible content</h2>
    <p>The content listed below is non-accessible for the reasons provided.</p>

    <h4>Various pages</h4>
    <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Links from error summaries do not always go to the relevant input fields and the summary is not always properly focused to. (3.3.1 Error Identification  and 3.3.3 Error Suggestion) </li> 
        <li>Some error messages appear when leaving required input fields. This is not announced by screen readers. (3.3.1 Error Identification and 3.3.3 Error Suggestion) </li> 
        <li>System JavaScript pop-ups are used in some places to signify an error. They can interrupt user flow, do not always work with assistive technologies and can affect focus management. (3.3.1 Error Identification) </li> 
        <li>Some tables have missing column headings. (1.3.1 Info and Relationships) </li> 
        <li>Some items are not highlighted by the keyboard focus indicator when accessed via keyboard navigation. (2.4.7 Focus Visible) </li>  
        <li>Some content is not displayed correctly when using your browser to zoom in. (1.4.10 Reflow) </li>
      </ul>


      <h4>Record a vaccination section</h4>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>On the Find a patient page, Aria labels are used when not needed. (4.1.2 Name, Role, Value) </li> 
        <li>On the Find a patient page, when clicking on search, results appear at the bottom of the page. This is not announced to screen readers and focus moves to the top of the page. (1.3.2 Meaningful Sequence) </li> 
        <li>On the Patient details page, there are empty fieldsets in the tables which may cause confusion. (1.3.1 Info and Relationships)  </li> 
        <li>On the Patient details page, the 'Continue' button appears before the vaccination history. Screen reader users many never get to this content. (1.3.2 Meaningful sequence) </li> 
        <li>On the Assess and Vaccinate pages, the date picker does not work well with keyboard navigation and screen readers. (1.3.1 Info and Relationships)  </li>  
        <li>On the Vaccinate page, disabled fields are used for dose and expiry date which may cause confusion for some users. (1.3.3 Sensory Characteristics) </li>  
        <li>On the Check and confirm page, all the content is contained within a fieldset. This can create extra confusion for screen reader users. (1.3.1 Info and Relationships) </li> 
        <li>On the Check and confirm page, there are no focus states on the 'Change' links. (2.4.7 Focus Visible) </li>  
        <li>In the 'Record saved' banner, the link to 'View record' is not marked up correctly as a link so it is just read out as text to screen readers. (1.3.1 Info and Relationships and 1.3.5  Identity Input Purpose) </li>  
      </ul>

      <h4>Vaccines section</h4>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>There are multiple links named 'View product' and 'Add batch' in a table, with no visually hidden text. (1.3.1 Info and Relationships)</li> 
        <li>On the Choose site page, the autocomplete dropdown is not announced to screen readers. (3.3.2 Labels or Instructions, 4.1.2 Name, Role, Value and 4.1.3 Status Messages)</li> 
        <li>On the Choose vaccine page, the secondary options are not conditionally revealed. (1.3.1 Info and Relationships)</li> 
        <li>On the Vaccine batches page, the modal dialogue to reactivate a batch cannot be closed with the escape key. (2.2.2 Pause, Stop, Hide)</li> 
        <li>On the Vaccine batches page, the definition list to describe a vaccine is incorrectly using labels for the key value. (1.3.1 Info and Relationships)</li>  
        <li>When you add a vaccine, there is no confirmation message. This might cause confusion. (4.1.2 Name, Role, Value)</li>  
      </ul>

      <h4>Manage users section</h4>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>In Manage users, when you add a user, there is no confirmation message. This might cause confusion. (4.1.2 Name, Role, Value) </li> 
      </ul>


      <h4>Header and banner</h4>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>When clicking on the user's email address in the site header, it's not clear where the link goes and focus remains on the link. (2.4.4 Link Purpose and 2.4.3 Focus Order) </li> 
        <li>When selecting either option from the cookies banner, focus does not go back to the top of the page. (1.3.2 Meaningful Sequence) </li>
    </ul>



    <h2>What we’re doing to improve accessibility</h2>
    <p>We are working to fix all content that fails to meet the WCAG 2.2 AA standard.</p>
    <p>We are planning significant changes to the service in the next 6 to 12 months.</p> 
    <p>Following these changes, we will carry out another assessment of the service and update this statement.</p>

    <h4>Preparation of this accessibility statement</h4>
    <p>This statement was prepared on [date when it was first published].</p>
    <p>The Record a vaccination service (<a href="www.ravs.england.nhs.uk">www.ravs.england.nhs.uk</a>) was tested on 4 October 2024 against the WCAG 2.2 AA standard by the NHS Accessibility Lab team.  We also used findings from the Record a vaccination team's own testing when preparing this statement.</p>


    </div>

  </div>
{% endblock %}
