{% extends 'layout.html' %}

{% set pageName = "Contact us" %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {% if currentUser %}

        <div>
          <p><span class="nhsuk-u-font-weight-bold">Name</span>
          <br>
          {{ currentUser.firstName }} {{ currentUser.lastName }}</p>
        </div>

        <div>
          <p><span class="nhsuk-u-font-weight-bold">Email</span>
          <br>
          {{ currentUser.email }}</p>
        </div>

      {% else %}
        {{ input({
          label: {
            text: "Name",
            classes: "nhsuk-label--s"
          }
        }) }}

        {{ input({
          label: {
            text: "Email",
            classes: "nhsuk-label--s"
          }
        }) }}
      {% endif %}

      {% set options = [
        "Logging in",
        "Recording a vaccination",
        "Managing users",
        "Managing vaccines and batches",
        "Editing or deleting records",
        "Reports",
        "Something else"
      ] %}

      {% set items = [] %}

      {% for option in options %}
        {% set items = (items.push({text: option, value: option}), items) %}
      {% endfor %}

      {{ radios({
        name: "supportTopic",
        fieldset: {
          legend: {
            text: "What do you need help with?",
            classes: "nhsuk-fieldset__legend--s"
          }
        },
        items: items
      }) }}

      {{ textarea({
        name: "supportQuery",
        label: {
          text: "Details",
          classes: "nhsuk-label--s"
        }
      }) }}

      {{ button({
        text: "Send"
      }) }}

    </div>
  </div>


{% endblock %}
