{% extends 'layout.html' %}

{% set pageName = "RAVS (Record a vaccination service) Get started" %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}


{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview">
        <p>From: NHS Record a vaccination service (RAVS)<br>
        Subject: Start using Record a vaccination at Example Pharmacy
        </p>
        <hr>

        <p>Dear Example User,</p>

        <p>You’ve been invited to use the NHS Record a vaccination service at Example Pharmacy.</p>

        <p><b>Get started</b></p>
        
        <p>We’ve created an Okta account for you to securely access the service.</p>

        <p>Here’s what you need to do:</p>
        
        <p><b>1. Activate your Okta account</b></p>
        <p>You’ll receive a 'Welcome to Okta' email (from noreply@okta.com). Activate the link within 7 days.</p>
          
        <p>If you cannot find the email, check your spam or junk.</p>

        <p><b>2. Log in to Record a vaccination</b></p>
        
        <p>Once you've activated your Okta account, log in to <a href="//product-page">www.ravs.england.nhs.uk</a> using your Okta username and password.</p>
        
        <p>You can also access the service through your Okta account by selecting 'RAVS (PROD) app'.</p>

        <p>Kind regards,<br>
        NHS Record a vaccination</p>

        <p><b>User guide and training webinars</b></p>
        <p>Visit <a href="https://guide.ravs.england.nhs.uk">www.guide.ravs.england.nhs.uk</a> or <a href="https://outlook.office365.com/book/agemAppsTrainingRAVSTrainingRAVS@nhs.onmicrosoft.com/?ismsaljsauthenabled=true">book a webinar</a>.</p>

        <p><b>Helpdesk</b></p>

        <p>Email: <a href="#">ravs.support@england.nhs.uk</a><br>
        Phone: 0333 038 4268 (select option 3)<br>
        Monday to Friday: 8am to 6pm</p>

        </div>


      <hr>

      <p><a href="/okta-email">Next email</a></p>

    </div>
  </div>
{% endblock %}
