{% extends 'layout.html' %}

{% set pageName = "RAVS (Record a vaccination service) Get started" %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}


{% set organisation = {name: data.nhsTrusts[data.organisationCode]} %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview">
        <p>From: NHS Record a vaccination service (RAVS)<br>
        Subject: Start using Record a vaccination at Example Pharmacy
        </p>
        <hr>

        <p>Dear Example User,</p>

        <p>You’ve been invited to use the NHS Record a vaccination service (RAVS) at Example Pharmacy.</p>

        <p>There are 2 steps when you log in for the first time.</p>

        <p><b>1. Activate your account</b></p>
        
        <p>To log in to RAVS securely, all users can use the Okta sign-on service. We have therefore created an Okta account for you.</p>
     
        <p>You’ll receive a 'Welcome to Okta' email (from noreply@okta.com).</p>
        
        <p>Activate the link within 7 days.</p>
          
        <p>If you cannot find the email, check your spam or junk.</p>

        <p><b>2. Log in to Record a vaccination</b></p>
        
        <p>Go to <a href="//product-page">NHS Record a vaccination</a> and select 'Log in'. You will then be asked how you want to log in.</p>
        <p>All users can log in with Okta using their Okta username and password.</p>
        <p>Pharmacy users can also log in with their pharmacy IT system, if it is listd on the Log in page.</p>

        <p><b>Training and support</b></p>

        <p>To help you get started, you can:</p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://guide.ravs.england.nhs.uk">check our user guide</a></li>
          <li><a href="https://guide.ravs.england.nhs.uk/training-video">watch our training video</a></li>
          <li><a href="https://future.nhs.uk/vaccsandscreening/viewCalendar?cid=1351409&viewDate=20260320&eid=10708678">join a drop-in session</a></li>
        </ul>

                      
        <p>Kind regards,<br>
        NHS Record a vaccination</p    

        </div>


      <hr>

      <p><a href="/okta-email">Next email</a></p>

    </div>
  </div>
{% endblock %}
