<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Prototypes
      </h1>

      <h2>Grid</h2>

      <ul>
        <li><a href="/grid/standard">Regular NHS grid</a></li>
        <li><a href="/grid/wider">Wider grid</a></li>
        <li><a href="/grid/standard-header">Regular grid, nav below header</a></li>
      </ul>

      <h2>User admin interface</h2>

      <ul>
        <li><a href="/user-admin/v1">Version 1</a> - radios for permission level</li>
        <li><a href="/user-admin/v2">Version 2</a> - checkboxes for permissions</li>
      </ul>

      <h2>User onboarding flow</h2>

      <ul>
        <li><a href="/user-onboarding/v1">Version 1</a> - Care Identity + Okta</li>
        <li><a href="/user-onboarding/v2">Version 2</a> - Okta only</li>
        <li><a href="/user-onboarding/v3">Version 2</a> - Care Identity only</li>
      </ul>

      <h2>User profile page</h2>

      <ul>
        <li><a href="/user-profile/v1">Version 1</a></li>
      </ul>


      <h2>NHS regions interface</h2>

      <ul>
        <li><a href="/regions/v1">Version 1</a></li>
      </ul>


      <h2>Error pages</h2>

      <ul>
        <li><a href="/errors/500">Service unavailable</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
