<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% set pageName = "NHS Record a vaccination prototypes" %}


<!-- For adding a breadcrumb or back link -->
-->
{% block beforeContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Prototype
      </h1>


      <h2>Signed-out interface</h2>

      <p><a href="/product-page">Product page</a></li></p>

      <p><a href="/email-invite">Email invite</a></p>

      <h2>Main interface</h2>

      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/record-vaccinations">Record vaccinations</a></li>
        <li><a href="/vaccines">Vaccines</a></li>
        <li><a href="/records">Records</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/user-admin">Manage users</a></li>
        <li><a href="/user-profile">Profile page</a></li>
      </ul>

      <h2>Head office interface</h2>

      <ul>
        <li><a href="/head-office">Home</a></li>
        <li><a href="/head-office/head-office-organisation">Choose pharmacy at login</a></li>
        <li><a href="/head-office/choose-org">Choose pharmacy in reports</a></li>
      </ul>

      <h2>Regions interface</h2>

      <ul>
        <li><a href="/regions">Regions interface</a></li>
      </ul>

      <h2>Support interface</h2>

      <ul>
        <li><a href="/support/regions">Support interface</a></li>
      </ul>

      <h2>Error pages</h2>

      <ul>
        <li><a href="/errors/500">Sorry, there is a problem with the service (500 error)</a></li>
        <li><a href="/errors/503">Service unavailable (503 error)</a></li>
        <li><a href="/errors/429">Rate limited (429 error)</a></li>
      </ul>

      <h2>Messaging</h2>

    <ul>
        <li><a href="/reports/notification">Notification (Reports)</a></li>
        <li><a href="/alerts/notification">Notification (Vaccines)</a></li>
        <li><a href="/record-vaccinations/done">Feedback</a></li>
      </ul>


      <h2>Warning messages</h2>

      <h3>COVID-19</h3>
    <ul>
      <li><a href="/record-vaccinations/warning">Interval</a></li>
      <li><a href="/record-vaccinations/warning-wrong-age-for-product">Wrong age for product</a></li>
    </ul>

    <h3>Flu</h3>
      <ul>
      <li><a href="/record-vaccinations/warning-wrong-age-for-product">Wrong age for product</a></li>
      </ul>

      <h3>RSV</h3>
      <ul>
        <li><a href="/record-vaccinations/patient-estimated-due-date-rsv-warning">Not yet 28 weeks pregnant</a></li>
      </ul>

      <h3>Pertussis</h3>
      <ul>
        <li><a href="/record-vaccinations/patient-estimated-due-date-pertussis-warning">Not yet 16 weeks pregnant</a></li>
      </ul>


      <h3>Pneumococcal (London service)</h3>
      <ul>
        <li><a href="/record-vaccinations/ppv/warning">Already had vaccine</a></li>
        <li><a href="/record-vaccinations/ppv/warning-age-young">Too young</a></li>
      </ul>


      <h3>MMR (London service)</h3>
      <ul>
        <li><a href="/record-vaccinations/mmr/warning">Interval less than 1 month</a></li>

        <li><a href="/record-vaccinations/mmr/warning-dose">Already had 2 doses</a></li>

        <li><a href="/record-vaccinations/mmr/warning-age-young">Too young</a></li>

        <li><a href="/record-vaccinations/mmr/warning-age-old">Too old</a></li>
      </ul>



    </div>
  </div>
{% endblock %}
