<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS Record a vaccination prototypes
{% endblock %}

<!-- For adding a breadcrumb or back link -->
-->
{% block beforeContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Prototypes
      </h1>

      <h2>Main interface</h2>

      <p><a href="/signed-out">Signed out page</a></p>
      <p><a href="/signed-out?multiOrganisation=yes">Signed out page - sign in as a user belonging to 2 organisations</a></p>

      <ul>
        <li><a href="/vaccines">Vaccines</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/user-admin">Manage users</a></li>
        <li><a href="/user-profile/v2">Profile page</a></li>
      </ul>

      <h2>Regions interface</h2>

      <ul>
        <li><a href="/regions/v1">Regions interface</a></li>
      </ul>

      <h2>Admin interface</h2>

      <ul>
        <li><a href="/support">Admin interface</a></li>
      </ul>

      <h2>Error pages</h2>

      <ul>
        <li><a href="/errors/500">Service unavailable</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
