<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% from '../components/secondary-navigation/macro.njk' import appSecondaryNavigation %}


{% block head %}
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  {% if pageName %}{{ pageName }} – {% endif %}NHS {{ serviceName }}
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
  {{ footer({
    meta: {
      items: [
        {
          href: "/help-and-support",
          text: "Help and support"
        },
        {
          href: "https://guide.ravs.england.nhs.uk/guide/",
          text: "User guide (opens in new tab)"
        },
        {
          href: "/updates",
          text: "What's new (opens in new tab)"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility-statement",
          text: "Accessibility statement"
        },
        {
          href: "/terms-of-use1",
          text: "Terms of use"
        },
        {
          href: "/prototype-admin/reset",
          text: "Reset prototype test data"
        },
        {
          href: "/prototype-setup",
          text: "Prototype data setup"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}

    <!-- For adding page specific JavaScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  {{ super() }}
{% endblock %}
