{% extends 'layout.html' %}

{% set pageName = "" %}

{% block header %}
  {% include "includes/header-logged-out.html" %}
{% endblock %}

{% block main %}
<div class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">Record NHS vaccinations safely and easily</h1>

          <!-- <p class="nhsuk-body">Some words here</p> -->

          <p class="nhsuk-body">Use this service to record COVID-19, flu, RSV and pertussis vaccinations.</p>

          {{ button({
            text: "Sign up for your pharmacy",
            href: "/apply/start",
            classes: "nhsuk-button--reverse nhsuk-u-margin-bottom-3"
          }) }}

          <p class="nhsuk-u-margin-bottom-0">Or <a href="/okta-sign-in" class="nhsuk-link app-link--reverse">log in</a> if you've used it before</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
        <img class="app-homepage-illustration" src="/images/personalised-prevention-services.svg" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>
<div class="app-section--white">
  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Improve efficiency</h2>
          <p>Save time by only capturing the essential information needed for an NHS vaccination record.</p>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Share data seamlessly</h2>
          <p>Every vaccination you record appears automatically in the GP system the next day.</p>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Free to use</h2>
          <p>Funded centrally by NHS England.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #005eb8; color: white;">
<div class="nhsuk-width-container" id="find-out-more">
  <div class="nhsuk-main-wrapper nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-4">
    <div style="width: 100px; height: 100px; background-image: url('/images/pharmacist.jpg'); background-size: cover; border-radius: 50px; float: left;"></div>
    <div style="margin-left: 150px; max-width: 400px;" class="nhsuk-body nhsuk-u-font-size-26 nhsuk-u-margin-top-2">
      <blockquote class="nhsuk-u-padding-0 nhsuk-u-margin-0 nhsuk-u-margin-bottom-1">
        “It's easy and quick to use. Our staff love it.”
      </blockquote>

      <div class="nhsuk-body nhsuk-u-font-size-19">– Sam Jenkins, Holloway Pharmacy</div>
    </div>
    <div style="clear:left;"></div>
  </div>
</div>
</div>

<div class="">

<div class="nhsuk-width-container" id="find-out-more">
  <div class="nhsuk-main-wrapper">
    <h2 class="nhuk-heading-l nhsuk-u-margin-bottom-5">How it works</h2>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">1</span>
          <span class="app-numbered-heading__title">Sign up in minutes</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Easy to use sign up form, just you NHS approved email and site ODS code needed.</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-padding-left-8">
        [Screenshot?]
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">

        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">2</span>
          <span class="app-numbered-heading__title">Set up your site</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Easily add products and staff to begin recording vaccines.</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-4 nhsuk-u-padding-left-8">
        [Screenshot?]
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">3</span>
          <span class="app-numbered-heading__title">Record vaccinations</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Simple, quick and clinically approved vaccination recording. </p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-4 nhsuk-u-padding-left-8">
        [Screenshot?]
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">4</span>
          <span class="app-numbered-heading__title">Report</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Create bespoke reports for up to a month.</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-4 nhsuk-u-padding-left-8">
        [Screenshot?]
      </div>
    </div>


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">4</span>
          <span class="app-numbered-heading__title">Get paid <span class="nhsuk-tag nhsuk-tag--blue">Pharmacies only</span</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Automated payments through integration with the NHS Business Services Authority (BSA).</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-4 nhsuk-u-padding-left-8">
        [Screenshot?]
      </div>
    </div>
  </div>
</div>


<div class="app-section--white">

<div class="nhsuk-width-container" id="find-out-more">
  <div class="nhsuk-main-wrapper">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h2 class="nhuk-heading-l nhsuk-u-margin-bottom-5">Get started</h2>

        <h3 class="nhsuk-heading-m">Pharmacies can sign up now</h3>
        <p>All community pharmacies in England commissioned to deliver COVID-19 and flu vaccinations can use this service for free.</p>

        <p class="nhsuk-body">The service is fully integrated with NHS Business Services Authority (NHSBSA) to make sure you are paid for each vaccination delivered.</p>

        <p>If you own or run a pharmacy:</p>
        {{ actionLink({
          text: "Sign up",
          href: "/apply/start"
        }) }}
        <p>or <a href="#">try our demo site</a></p>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3 class="nhsuk-heading-m">Maternity services</h3>
        <p>All NHS maternity services are using the service to record vaccinations.</p>

        <p>You can record RSV, pertussis, COVID-19 and flu vaccinations.</p>

        <p><a href="#">Get in contact</a></p>

        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3 class="nhsuk-heading-m">NHS Hospital hubs and vaccination centres</h3>

        <p>All NHS Trusts can use the service to record COVID-19 and flu vaccinations for staff and patients.</p>

        <p class="nhsuk-body">Some text</p>


        <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

        <h3 class="nhsuk-heading-m">GP groupings (PCNs)</h3>
        <p>Assurance for vaccinations delivered by GPs is pending.</p>

        <p class="nhsuk-body">Some text</p>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
