{% extends 'layout.html' %}

{% set pageName = "" %}

{% block main %}
<div class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">The simplest way to record vaccinations</h1>

          <p>Record NHS vaccinations, including COVID-19, flu, MenB, RSV and pertussis.</p>

          <p class="nhsuk-body">Used by community pharmacies, NHS trusts and GPs.</p>

          <div class="nhsuk-button-group nhsuk-u-margin-bottom-0">
            {{ button({
              text: "Sign up for free",
              href: "/apply/start",
              classes: "nhsuk-button--reverse"
            }) }}

            <p class="nhsuk-body nhsuk-u-margin-bottom-0">or <a href="/auth/log-in" class="nhsuk-link nhsuk-link--reverse nhsuk-u-font-weight-bold">log in</a></p>
          </div>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half-tablet nhsuk-u-padding-top-6 app-u-hide-on-mobile">
        <img class="app-homepage-illustration" src="/assets/images/homepage-illustration.png" alt="" role="presentation" style="width: 100%;">
      </div>
    </div>
  </div>
</div>

<div>
  <div class="nhsuk-width-container" id="find-out-more">
    <div class="nhsuk-main-wrapper">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">Getting started</h2>
          <h3 class="nhsuk-heading-s">GPs</h3>
          <p>GPs can use this service to record COVID-19 and flu outreach vaccinations. If you want to sign up or have questions, contact our onboarding team.</p>

          <h3 class="nhsuk-heading-s">Pharmacies</h3>
          <p>Pharmacies can sign up to use the service for all NHS vaccinations offered as part of advanced services. <a href="#">Sign up for your pharmacy.</a></p>
          
         

        </div>
      </div>
    </div>
  </div>
</div>

<div class="app-section--white">
  <div class="nhsuk-width-container">
    <div class="nhsuk-main-wrapper nhsuk-u-padding-bottom-4">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Free to use</h2>
          <p class="nhsuk-body">Created and owned by the NHS.</p>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Connected</h2>
          <p class="">Integrated with GP records and NHSBSA payments.</p>
        </div>
        <div class="nhsuk-grid-column-one-third">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Continuously imporoved</h2>
          <p class="">Designed with ongoing input from users. </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="">

<div class="nhsuk-width-container" id="find-out-more">
  <div class="nhsuk-main-wrapper">
    <h2 class="nhuk-heading-l nhsuk-u-margin-bottom-5">Benefits</h2>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
         <span class="app-numbered-heading__title">Record NHS vaccinations in 1 place</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Depending on your setting, you can record COVID-19, flu, MenB, MMR, pertussis, pneumococcal and RSV, with more vaccinations available soon. </p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-0 nhsuk-u-padding-left-8 nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-8">
        <img src="/assets/images/sign-up.png" alt="" style="max-width: 378px;">
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">

        <div class="app-numbered-heading__content">
          <h3 class="nhsuk-heading-s">Use shortcuts to record efficiently</h3>
          <p>Our streamlined recording journey includes shortcuts for co-administration and mass vaccinations.</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-0 nhsuk-u-padding-left-8 nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-8">
        <img src="/assets/images/add-users.png" alt="" style="max-width: 378px;">
      </div>
    </div>

    
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">3</span>
          <span class="app-numbered-heading__title">Track performance</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>See how many vaccines you have given. Download data you need for reporting.</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-0 nhsuk-u-padding-left-8 nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-8">
        <img src="/assets/images/track-performance.png" alt="" style="max-width: 378px;">
      </div>
    </div>


    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h3 class="nhsuk-heading-m app-numbered-heading">
          <span class="app-numbered-heading__number">4</span>
          <span class="app-numbered-heading__title">Get paid automatically</span>
        </h3>
        <div class="app-numbered-heading__content">
          <p>Pharmacies and GPs are paid automatically for flu and COVID-19 vaccinations by the NHS Business Services Authority (NHSBSA), through Manage Your Service (MYS).</p>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-margin-top-0 nhsuk-u-padding-left-8 nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-4">
        <img src="/assets/images/get-paid.png" alt="" style="max-width: 378px;">
      </div>
    </div>
  </div>
</div>



<div class="app-section--white">
<div class="nhsuk-width-container" id="find-out-more">
  <div class="nhsuk-main-wrapper nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-4">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-u-font-size-19 nhsuk-u-margin-top-2">
          More than<br>
          <span class="nhsuk-u-font-size-36 nhsuk-u-font-weight-bold">5 million</span><br> vaccinations recorded
        </div>
      </div>

      <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-u-font-size-19 nhsuk-u-margin-top-2">
          Over<br>
          <span class="nhsuk-u-font-size-36 nhsuk-u-font-weight-bold">50,000</span><br> users
        </div>
      </div>
      <div class="nhsuk-grid-column-one-third">
        <div class="nhsuk-u-font-size-19 nhsuk-u-margin-top-2">
          Used by<br>
          <span class="nhsuk-u-font-size-36 nhsuk-u-font-weight-bold">8000+</span><br>
          pharmacies and trusts

        </div>
      </div>
    </div>
  </div>
</div>
</div>

 


  <div style="background-color: #005eb8; color: white;">
<div class="nhsuk-width-container" id="find-out-more">
  <div class="nhsuk-main-wrapper nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-4">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full-width">
        <div style="width: 100px; height: 100px; background-image: url('/assets/images/pharmacist.jpg'); background-size: cover; border-radius: 50px; float: left;"></div>
      <div style="margin-left: 150px; max-width: 700px;" class="nhsuk-body nhsuk-u-font-size-26 nhsuk-u-margin-top-0">
        <blockquote class="nhsuk-u-padding-0 nhsuk-u-margin-0 nhsuk-u-margin-bottom-1 nhsuk-u-padding-top-2">
          “Our pharmacists prefer using RAVS. <br>It’s straightforward and easy to use.”
        </blockquote>

        <div class="nhsuk-body nhsuk-u-font-size-19">– Natasha Jones, Operations Lead, GM Graham Pharmacies</div>
      </div>
      </div>
      <div class="nhsuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
</div>



   <div>
  <div class="nhsuk-width-container" id="find-out-more">
    <div class="nhsuk-main-wrapper">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-5">Coming soon</h2>

          <h3 class="nhsuk-heading-s">Appointments integration</h3>
          <p>Vaccination bookings from the Manage your appointments NHS service will be shown in Record a vaccination.</p>

          <h3 class="nhsuk-heading-s">Better maternity data</h3>
          <p>Enriched patient data will give users in maternity settings a clearer view of who needs vacccinating when.</p>
          
          <h3 class="nhsuk-heading-s">More NHS vaccinations</h3>
          <p>Record a vaccination is expanding to support all routine NHS vaccinations.</p>

          <h3 class="nhsuk-heading-s">Enhanced reporting</h3>
          <p>There will be more options to view and report on your organisation's vaccination data.</p>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="app-section--white">
  <div class="nhsuk-width-container" id="find-out-more">
    <div class="nhsuk-main-wrapper">
      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-one-third">
          <h3 class="nhsuk-heading-s">Training</h3>

          <p>Regular drop-in sessions available, plus a user guide with short videos.</p>

          <p><a href="https://guide.ravs.england.nhs.uk/">User guide and training</a></p>

        </div>

        <div class="nhsuk-grid-column-one-third">
          <h3 class="nhsuk-heading-s">Assurance</h3>

          <p>Fully complies with NHS standards for clinical safety, information governance and cybersecurity.</p>

        </div>
        <div class="nhsuk-grid-column-one-third">
          <h3 class="nhsuk-heading-s">Help and support</h3>

          <p><a href="/help-and-support">Contact our support team</a></p>

          <p>Monday to Friday, 8am to 6pm</p>


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
