{% extends 'layout.html' %}


{% block pageTitle %}
  Terms of use
{% endblock %}

{% block header %}
  {% include "includes/header-logged-in-organisation.html" %}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Terms of use</h1>

      <h2 class="nhsuk-heading-m">You must ensure</h2>

      <ul class="nhsuk-body-m">
        <li>Access to the service and the recording of vaccination events is kept up to date</li>
        <li>Individuals have the appropriate access based on their contract and training</li>
        <li>Access is immediately removed for individuals who have left your organisation</li>
      </ul>        

      <a href="#" class="nhsuk-link">Read the full terms of the RAVS license agreement here</a>

    </div>
  </div>

  <div class="spacing-example">
    <div class="nhsuk-u-padding-bottom-6"></div>
  </div>

  {% from 'button/macro.njk' import button %}

{{ button({
  text: "I agree to the RAVS licensing agreement"
}) }}

{% endblock %}

