{% extends 'layout.html' %}

{% if (batches | length) > 0 %}
  {% set pageName = "Which batch are you using?" %}
{% else %}
  {% set pageName = "No batches available" %}
{% endif %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/vaccine" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
      {{ errorSummary({
        titleText: "There is a problem",
        errorList: [
          error
        ]
      }) }}
    {% endif %}

      <form action="/record-vaccinations/answer-batch" method="post" novalidate>

      {% set items = [] %}

      {% if (batches | length) > 0 %}
        {% for batch in (batches) %}
          {% set items = (items.push({
            text: batch.batchNumber,
            hint: {
              text: "Expires " + (batch.expiryDate | govukDate)
            },
            value: batch.id
          }), items) %}
        {% endfor %}

        {% if organisationSetting.permissionLevel != "Recorder" %}
          {% set items = (items.push({
            divider: "or"
          }), items) %}
          {% set items = (items.push({
            value: "add-new",
            text: "Add a batch"
          }), items) %}
        {% endif %}


        {{ radios({
          "idPrefix": "vaccineBatch",
          "name": "vaccineBatch",
          "fieldset": {
            "legend": {
              "text": ("Which batch are you using?" if data.vaccinationToday == 'yes' else "Which batch was it?"),
              "size": "l",
              "isPageHeading": true
            }
          },
          value: data.vaccineBatch,
          errorMessage: {
            text: error.text
          } if error,
          "items": items
        }) }}

        {{ button({
          text: "Continue"
        })}}

      {% else %}

        <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

        {% if organisationSetting.permissionLevel == "Recorder" %}
          <p>An admin user needs to add a vaccine before you can record a vaccination.</p>
        {% else %}
          <p>You need to <a href="/vaccines/">add a batch</a> before you can record a vaccination.</p>
        {% endif %}

      {% endif %}

      </form>

      {% if organisationSetting.permissionLevel == "Recorder" %}
        {{ details({
          summaryText: "If the batch is not listed",
          html: "You'll need to ask an administrator to add the batch."
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}

