{% extends 'layout.html' %}

{% set pageName = "Which batch are you using?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/vaccine" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {% if error %}
      {{ errorSummary({
        titleText: "There is a problem",
        errorList: [
          error
        ]
      }) }}
    {% endif %}

      <form action="/record-vaccinations/answer-batch" method="post" novalidate>

      {% set items = [] %}
      {% for batch in (batches) %}
        {% set items = (items.push({
          text: batch.batchNumber,
          hint: {
            text: "Expires " + (batch.expiryDate | govukDate)
          },
          value: batch.id
        }), items) %}
      {% endfor %}

      {% if organisationSetting.permissionLevel != "Recorder" %}
        {% set items = (items.push({
          divider: "or"
        }), items) %}
        {% set items = (items.push({
          value: "add-new",
          text: "Add a batch"
        }), items) %}
      {% endif %}


        {{ radios({
          "idPrefix": "vaccineBatch",
          "name": "vaccineBatch",
          "fieldset": {
            "legend": {
              "text": ("Which batch are you using?" if data.vaccinationToday == 'yes' else "Which batch was it?"),
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          value: data.vaccineBatch,
          errorMessage: {
            text: error.text
          } if error,
          "items": items
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

      {% if organisationSetting.permissionLevel == "Recorder" %}
        {{ details({
          text: "If the batch is not listed",
          html: "An administrator needs to add the batch."
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}

