{% extends 'layout.html' %}

{% set pageName = "Who is giving consent?" %}

{% set currentSection = "consent" %}

{% block beforeContent %}
  {% set backLinkHref = "/record-vaccinations/patient-history" %}
  {{ backLink({ href: backLinkHref }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if consentError and consentError.code == "required" %}
        {% set consentErrorMessage = "Select who is giving consent" %}
      {% endif %}
      {% if consentClinicianError and consentClinicianError.code == "required" %}
        {% set consentClinicianErrorMessage = "Enter a name" %}
      {% endif %}
      {% if consentAttorneyError and consentAttorneyError.code == "required" %}
        {% set consentAttorneyErrorMessage = "Enter a name" %}
      {% endif %}
      {% if consentParentError and consentParentError.code == "required" %}
        {% set consentParentErrorMessage = "Enter a name" %}
      {% endif %}
      {% if consentAdvocateError and consentAdvocateError.code == "required" %}
        {% set consentAdvocateErrorMessage = "Enter a name" %}
      {% endif %}
      {% if consentDeputyError and consentDeputyError.code == "required" %}
        {% set consentDeputyErrorMessage = "Enter a name" %}
      {% endif %}
      {% if consentAttorneyRelationshipError and consentAttorneyRelationshipError.code == "required" %}
        {% set consentAttorneyRelationshipErrorMessage = "Enter the relationship to the patient" %}
      {% endif %}
      {% if consentDeputyRelationshipError and consentDeputyRelationshipError.code == "required" %}
        {% set consentDeputyRelationshipErrorMessage = "Enter the relationship to the patient" %}
      {% endif %}

      {% set errorList = [] %}
      {% for error in errors %}
        {% if error.href == "#consent-1" and consentErrorMessage %}
          {% set errorList = (errorList.push({ text: consentErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-clinician-name" and consentClinicianErrorMessage %}
          {% set errorList = (errorList.push({ text: consentClinicianErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-attorney-name" and consentAttorneyErrorMessage %}
          {% set errorList = (errorList.push({ text: consentAttorneyErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-attorney-relationship" and consentAttorneyRelationshipErrorMessage %}
          {% set errorList = (errorList.push({ text: consentAttorneyRelationshipErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-parent-name" and consentParentErrorMessage %}
          {% set errorList = (errorList.push({ text: consentParentErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-advocate-name" and consentAdvocateErrorMessage %}
          {% set errorList = (errorList.push({ text: consentAdvocateErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-deputy-name" and consentDeputyErrorMessage %}
          {% set errorList = (errorList.push({ text: consentDeputyErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#consent-deputy-relationship" and consentDeputyRelationshipErrorMessage %}
          {% set errorList = (errorList.push({ text: consentDeputyRelationshipErrorMessage, href: error.href }), errorList) %}
        {% endif %}
      {% endfor %}

      {% if (errorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}


      <form action="/record-vaccinations/answer-consent" method="post" novalidate>

        {% set consentClinicianHtml %}
          {{ input({
            label: {
              text: "Name"
            },
            errorMessage: {
              text: consentClinicianErrorMessage
            } if consentClinicianErrorMessage,
            id: "consent-clinician-name",
            name: "consentClinicianName",
            value: data.consentClinicianName
          }) }}
        {% endset %}

        {% set consentAttorneyHtml %}
          {{ input({
            label: {
              text: "Name"
            },
            errorMessage: {
              text: consentAttorneyErrorMessage
            } if consentAttorneyErrorMessage,
            id: "consent-attorney-name",
            name: "consentAttorneyName",
            value: data.consentAttorneyName
          }) }}

          {{ input({
            label: {
              text: "Relationship to the patient"
            },
            errorMessage: {
              text: consentAttorneyRelationshipErrorMessage
            } if consentAttorneyRelationshipErrorMessage,
            id: "consent-attorney-relationship",
            name: "consentAttorneyRelationship",
            value: data.consentAttorneyRelationship
          }) }}
        {% endset %}

        {% set consentParentHtml %}
          {{ input({
            label: {
              text: "Name"
            },
            errorMessage: {
              text: consentParentErrorMessage
            } if consentParentErrorMessage,
            id: "consent-parent-name",
            name: "consentParentName",
            value: data.consentParentName
          }) }}
        {% endset %}

        {% set consentAdvocateHtml %}
          {{ input({
            label: {
              text: "Name"
            },
            errorMessage: {
              text: consentAdvocateErrorMessage
            } if consentAdvocateErrorMessage,
            id: "consent-advocate-name",
            name: "consentAdvocateName",
            value: data.consentAdvocateName
          }) }}
        {% endset %}

        {% set consentDeputyHtml %}
          {{ input({
            label: {
              text: "Name"
            },
            errorMessage: {
              text: consentDeputyErrorMessage
            } if consentDeputyErrorMessage,
            id: "consent-deputy-name",
            name: "consentDeputyName",
            value: data.consentDeputyName
          }) }}

          {{ input({
            label: {
              text: "Relationship to the patient"
            },
            errorMessage: {
              text: consentDeputyRelationshipErrorMessage
            } if consentDeputyRelationshipErrorMessage,
            id: "consent-deputy-relationship",
            name: "consentDeputyRelationship",
            value: data.consentDeputyRelationship
          }) }}
        {% endset %}

        {{ radios({
          idPrefix: "consent",
          name: "consent",
          fieldset: {
            legend: {
              text: ("Who is giving consent?" if data.vaccinationToday == 'yes' else "Who gave consent?"),
              size: "l",
              isPageHeading: "true"
            }
          },
          errorMessage: {
            text: consentErrorMessage
          } if consentErrorMessage,
          value: data.consent,
          items: [
            {
              value: 'patient',
              text: (data.firstName + " " + data.lastName)
            },
            {
              divider: "or"
            },
            {
              value: "Clinician acting in the patient’s best interests",
              text: "Clinician acting in the patient’s best interests",
              conditional: {
                html: consentClinicianHtml
              }
            },
            {
                value: "Person with lasting power of attorney for health and welfare",
                text: "Person with lasting power of attorney for health and welfare",
                conditional: {
                  html: consentAttorneyHtml
                }
              },
              {
                value: "Parent or guardian",
                text: "Parent or guardian",
                conditional: {
                  html: consentParentHtml
                }
              },
              {
                value: "Independent mental capacity advocate",
                text: "Independent mental capacity advocate",
                conditional: {
                  html: consentAdvocateHtml
                }
              },
              {
                value: "Court appointed deputy",
                text: "Court appointed deputy",
                conditional: {
                  html: consentDeputyHtml
                }
              }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

