{% extends 'layout.html' %}

{% set pageName = "Continue with no NHS number" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/no-search-result" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if firstNameError == "required" %}
        {% set firstNameErrorMessage = "Enter a first name" %}
      {% endif %}
      {% if lastNameError == "required" %}
        {% set lastNameErrorMessage = "Enter a last name" %}
      {% endif %}
      {% if dateOfBirthError == "required" %}
        {% set dateOfBirthErrorMessage = "Enter a date of birth" %}
      {% endif %}
      {% if postcodeError == "required" %}
        {% set postcodeErrorMessage = "Enter a postcode" %}
      {% endif %}
      {% if genderError == "required" %}
        {% set genderErrorMessage = "Select an option" %}
      {% endif %}

      {% set errorList = [] %}
      {% for error in errors %}
        {% if error.href == "#firstName" and firstNameErrorMessage %}
          {% set errorList = (errorList.push({ text: firstNameErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#lastName" and lastNameErrorMessage %}
          {% set errorList = (errorList.push({ text: lastNameErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#dateOfBirth" and dateOfBirthErrorMessage %}
          {% set errorList = (errorList.push({ text: dateOfBirthErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#postcode" and postcodeErrorMessage %}
          {% set errorList = (errorList.push({ text: postcodeErrorMessage, href: error.href }), errorList) %}
        {% elseif error.href == "#gender" and genderErrorMessage %}
          {% set errorList = (errorList.push({ text: genderErrorMessage, href: error.href }), errorList) %}
        {% endif %}
      {% endfor %}

      {% if errorList and ((errorList | length) > 0) %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <p> You need to {% if not data.postcode%} enter a postcode and {% endif %} select an option for gender. The vaccination record will only be sent to a GP if it can be matched with an NHS number later.</p>

      <form action="/record-vaccinations/create-a-record" method="post">
        {{ input({
            label: {
              text: "First name"
            },
            id: "firstName",
            name: "firstName",
            value: data.firstName,
            classes: "nhsuk-input--width-20",
            errorMessage: {
              text: firstNameErrorMessage
            } if firstNameErrorMessage
        }) }}

            {{ input({
            label: {
                text: "Last name"
            },
            id: "lastName",
            name: "lastName",
            value: data.lastName,
            classes: "nhsuk-input--width-20",
            errorMessage: {
              text: lastNameErrorMessage
            } if lastNameErrorMessage
            }) }}

            {{ dateInput({
            id: "dateOfBirth",
            namePrefix: "dateOfBirth",
            fieldset: {
                legend: {
                text: "Date of birth",
                classes: ""
                }
            },
            hint: {
                text: "For example, 15 3 1984"
            },
            errorMessage: {
              text: dateOfBirthErrorMessage
            } if dateOfBirthErrorMessage,
            items: [
                {
                name: "day",
              classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if dateOfBirthErrorMessage else ""),
                value: data.dateOfBirth.day
                },
                {
                name: "month",
              classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if dateOfBirthErrorMessage else ""),
                value: data.dateOfBirth.month
                },
                {
                name: "year",
              classes: "nhsuk-input--width-4 " + ("nhsuk-input--error" if dateOfBirthErrorMessage else ""),
                value: data.dateOfBirth.year
                }
            ]
            }) }}

            {{ input({
            label: {
                text: "Postcode"
            },
            id: "postcode",
            name: "postcode",
            value: data.postcode,
            classes: "nhsuk-input--width-10",
            errorMessage: {
              text: postcodeErrorMessage
            } if postcodeErrorMessage
            }) }}

            {{ details({
                summaryText: "If the patient is homeless",
                html: "
                <p>Enter the postcode ZZ99 3VZ </p>

                "
              }) }}

            {{ radios({
                idPrefix: "gender",
                name: "gender",
                value: data.gender,
                fieldset: {
                  legend: {
                      text: "Gender"
                  }
                },
                errorMessage: {
                  text: genderErrorMessage
                } if genderErrorMessage,
                value: data.gender,
                items: [
                {
                    value: "Male",
                    text: "Male"
                },
                {
                    value: "Female",
                    text: "Female"
                },
                {
                    value: "Other",
                    text: "Other"
                },
                {
                    value: "Unknown",
                    text: "Unknown"
                }
                ]
            }) }}


        {{ button({
          text: "Continue to vaccinate"
        }) }}
      </form>



    </div>
  </div>

{% endblock %}

