{% extends 'layout.html' %}

{% set pageName = "Which site is it?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/vaccination-date" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-delivery-team" method="post" novalidate>

        {% set items = [] %}
        {% for site in (sitesInUse | sort(false, false, "name")) %}
          {% set items = (items.push({
            text: site.name,
            value: site.id
          }), items) %}
        {% endfor %}

        {{ radios({
          idPrefix: "site-id",
          name: "siteId",
          fieldset: {
            legend: {
              text: ("Which site is it?" if data.vaccinationToday == 'yes' else "Which site was it?"),
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          errorMessage: {
            text: (errors | first).text
          } if (errors | length) > 0,
          items: items,
          value: data.siteId
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

      {% if organisationSetting.permissionLevel == "Lead administrator" or organisationSetting.permissionLevel == "Administrator" %}
        {{ details({
          summaryText: "If your site is not listed",
          html: "You need to <a href=\"/vaccines\">add vaccines</a> for the site."
        }) }}
      {% else %}
        {{ details({
          summaryText: "If your site is not listed",
          html: "You'll need to ask an administrator to add vaccines for the site."
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}

