{% extends 'layout.html' %}

{% set pageName = "Which team are you working with?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-delivery-team" method="post" novalidate>

        {% set items = [] %}
        {% for deliveryTeam in (sitesInUse | sort(false, false, "name")) %}
          {% set items = (items.push({
            text: deliveryTeam.name,
            value: deliveryTeam.id
          }), items) %}
        {% endfor %}

        {{ radios({
          idPrefix: "delivery-team",
          name: "deliveryTeam",
          fieldset: {
            legend: {
              text: "Which team are you working with?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          errorMessage: {
            text: (errors | first).text
          } if (errors | length) > 0,
          items: items,
          value: data.deliveryTeam
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

      {% if organisationSetting.permissionLevel == "Lead administrator" %}
        {{ details({
          text: "If you cannot see the team listed",
          html: "You need to <a href=\"/vaccines\">add vaccines</a> for the the team."
        }) }}
      {% else %}
        {{ details({
          text: "If your team is not listed",
          html: "An administrator will need to add vaccines for that team."
        }) }}
      {% endif %}

    </div>
  </div>

{% endblock %}

