{% extends 'layout.html' %}

{% set pageName = "Vaccination saved" %}

{% set patientName = data.patientName if data.patientName else "Jodies Smith" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      {% set panelHtml %}
        <a href="#" class="app-link--reverse">{{ patientName }}’s {{ data.vaccine }} record</a> will be sent to their GP.
      {% endset %}
      {% include "_feedback-panel.html" %}

      {{ panel({
        titleText: "Vaccination saved",
        html: panelHtml
      }) }}

      {% if 1==1 %}

        {{ radios({
          idPrefix: "next-step",
          name: "nextStep",
          fieldset: {
            legend: {
              text: "What would you like to do next?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: error.text
          } if error,
          items: [
            {
              value: "same-patient-another-vaccination",
              text: "Record a second vaccination for " + patientName
            },
            {
              value: "same-vaccination-another-patient",
              text: "Return to Today’s appointments"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}


      {% else %}

      <form action="/record-vaccinations/what-next" method="post" novalidate>

      {% set lowercaseVaccineName %}
        {% if (data.vaccine == "RSV") %}
          An RSV
        {% elseif (data.vaccine == "COVID-19") %}
          A COVID-19
        {% elseif (data.vaccine == "Flu") %}
          A flu
        {% elseif (data.vaccine == "Pertussis") %}
          A pertussis
        {% else %}
          A COVID-19
        {% endif %}
      {% endset %}

        {{ radios({
          idPrefix: "next-step",
          name: "nextStep",
          fieldset: {
            legend: {
              text: "What would you like to record now?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          errorMessage: {
            text: error.text
          } if error,
          items: [
            {
              value: "same-patient-another-vaccination",
              text: patientName + "’s next vaccination"
            },
            {
              value: "same-vaccination-another-patient",
              text: lowercaseVaccineName + " vaccination for another patient"
            },
            {
              divider: "or"
            },
            {
              value: "different-vaccination-another-patient",
              text: "A different vaccination for another patient"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>
      {% endif %}

    </div>
  </div>

{% endblock %}

