{% extends 'layout.html' %}



{% set pageName = "Which dose of the " + data.vaccine + " are you giving?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% set previousPage = "/record-vaccinations/batch" %}

{% block beforeContent %}
  {{ backLink({ href: previousPage }) }}
{% endblock %}

{% block content %}

        {% if data.vaccine == "flu" %}
          {% set radiosHint = "Only select 2nd dose if the child is in an at-risk group and had their 1st ever dose earlier this season" %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-dose" method="post" novalidate>

        {% if data.vaccine == "6-in-1" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose",
            "3rd dose",
            "4th dose"
          ] %}
        {% elif data.vaccine == "flu" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose"
          ] %}
        {% elif data.vaccine == "MenB" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose",
            "Booster"
          ] %}
        {% elif data.vaccine == "HPV" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose",
            "3rd dose"
          ] %}
        {% elif data.vaccine == "MMR" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose"
          ] %}
        {% elif data.vaccine == "Td/IPV" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose",
            "3rd dose",
            "Booster"
          ] %}
        {% elif data.vaccine == "MMRV" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose"
          ] %}
        {% elif data.vaccine == "pneumococcal" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose",
            "Booster"
          ] %}
        {% elif data.vaccine == "shingles" %}
          {% set doseOptions = [
            "1st dose",
            "2nd dose"
          ] %}
        {% else %}
          {% set doseOptions = [] %}
        {% endif %}

        {% set items = [] %}

        {% for option in doseOptions %}

          {% set hintText = "" %}

          {% if data.vaccine == "flu" and option == "2nd dose this season" %}
            {% set hintText = "Only given to some children in an at-risk group" %}
          {% endif %}

          {% if data.vaccine == "MenB" and option == "Booster" %}
            {% set hintText = "Only given as part of the routine infant schedule" %}
          {% endif %}
        
          {% set items = (items.push({
            text: option,
            value: option,
            checked: (data.vaccineDose == option)
          }), items) %}

        {% endfor %}

        {# Set custom hint text for each vaccine #}
        {% set radiosHint = false %}
        {% if data.vaccine == "flu" %}
          {% set radiosHint = "Only select 2nd dose if the child is in an at-risk group and had their 1st ever dose earlier this season" %}
        {% elif data.vaccine == "MenB" %}
          {% set radiosHint = "The booster dose is only given as part of the routine infant schedule" %}
        {% elif data.vaccine == "HPV" %}
          {% set radiosHint = "Most people aged 24 and under only need a 1st dose of the HPV vaccine" %}
        {% elif data.vaccine == "Td/IPV" %}
          {% set radiosHint = "Most people aged 24 and under only need a 1st dose of the Td/IPV vaccine" %}
        {% elif data.vaccine == "pneumococcal" %}
          {% set radiosHint = "Most people aged 65 and over only need a 1st dose of the pneumococcal vaccine" %}
        {% elif data.vaccine == "MMRV" %}
          {% set radiosHint = "Select 1st dose if this is the child's 1st MMRV vaccination, even if they've had MMR before" %}
        {% endif %}

        {% if radiosHint %}
          {{ radios({
            idPrefix: "vaccineDose",
            name: "vaccineDose",
            errorMessage: {
              text: (errors | first).text
            } if (errors | length) > 0,
            fieldset: {
              legend: {
                text: ("Which dose of the " + data.vaccine + " vaccine are you giving?" if data.vaccinationToday == 'yes' else "Which dose of the " + data.vaccine + " vaccine was it?"),
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            hint: {
              text: radiosHint
            },
            items: items
          }) }}
        {% else %}
          {{ radios({
            idPrefix: "vaccineDose",
            name: "vaccineDose",
            errorMessage: {
              text: (errors | first).text
            } if (errors | length) > 0,
            fieldset: {
              legend: {
                text: ("Which dose of the " + data.vaccine + " vaccine are you giving?" if data.vaccinationToday == 'yes' else "Which dose of the " + data.vaccine + " vaccine was it?"),
                classes: "nhsuk-fieldset__legend--l",
                isPageHeading: true
              }
            },
            items: items
          }) }}
        {% endif %}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>

  </div>

{% endblock %}
