{% extends 'layout.html' %}

{% set pageName = "Did you give a full dose of the vaccine?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/consent" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if doseAmountError and doseAmountError.code == "required" %}
        {% set doseAmountErrorMessage = "Select yes if you gave a full dose" %}
      {% endif %}

      {% set errorList = [] %}
      {% for error in errors %}
        {% if error.code == "required" %}
          {% set errorList = (errorList.push({
            text: doseAmountErrorMessage,
            href: error.href
          }), errorList) %}
        {% endif %}
      {% endfor %}

      {% if (errorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-dose-amount" method="post" novalidate>

        {% set patientAge = data.dateOfBirth | isoDateFromDateInput | age if data.dateOfBirth.day else data.dateOfBirth | age %}
        {% set captionHtml %}<span class="nhsuk-caption-l">{{ data.firstName }} {{ data.lastName }}, {{ patientAge }} old, {{ data.vaccine }}</span>{% endset %}

        {{ radios({
          idPrefix: "dose-amount",
          name: "doseAmount",
          fieldset: {
            legend: {
              html: captionHtml + ("Did you give a full dose of the vaccine?" if data.vaccinationToday == 'yes' else "Was a full dose of the vaccine given?"),
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          value: data.doseAmount,
          errorMessage: {
            text: doseAmountErrorMessage
          } if doseAmountErrorMessage,
          items: [
            {
              value: "Both nostrils (full dose)",
              text: "Yes, both nostrils"
            },
            {
              value: "1 nostril only (half dose)",
              text: "No, 1 nostril only"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

