{% extends 'layout.html' %}

{% set pageName = "Why are you giving them the vaccine?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {% if ["6-in-1", "flu", "flu (London service)", "MenB", "MMRV", "pneumococcal"].includes(data.vaccine) %}
    {% set backHref = "/record-vaccinations/dose" %}
  {% else %}
    {% set backHref = from if from else "/record-vaccinations/batch" %}
  {% endif %}

  {{ backLink({ href: backHref }) }}
{% endblock %}

{% set CovidEligibilityOptions = [
  "Resident in a care home",
  "Aged 75 and over, and not in a care home",
  "Immunosuppressed"
] %}

{% set RSVEligibilityOptions = [
  "Aged 75 to 80",
  "Pregnant"
] %}

{% set NationalFluEligibilityOptions = [
  "Based on age",
  "Health or social care worker",
  "Pregnant",
  "In a clinical risk group",
  "Resident in a care home",
  "Carer",
  "Household contact of someone immunosuppressed"
] %}

{% set londonFluEligibilityOptions = [
  "Homeless",
  "Gypsy, Roma and Traveller communities",
  "Sex worker",
  "Learning disability",
  "Mental health condition",
  "In a detained estate or in contact with justice system",
  "Migrant or asylum seeker",
  "Victim of modern slavery",
  "Drug or alcohol dependency",
  "Another health exclusion group based on local need",
  "Healthcare worker not covered by national criteria"
] %}

{% set pneumococcalEligibilityOptions = [
  "Based on age",
  "In an at-risk group"
] %}

{% set 3in1EligibilityOptions = [
  "Based on age",
  "In an at-risk group"
] %}

{% set HPVEligibilityOptions = [
  "Based on age",
  "In an at-risk group"
] %}

{% set MenACWYEligibilityOptions = [
  "Based on age",
  "In an at-risk group"
] %}

{% set MenBEligibilityOptions = [
  "Based on age",
  "In an at-risk group"
] %}

{% set shinglesEligibilityOptions = [
  "Based on age",
  "In an at-risk group"
] %}

{% set 6in1EligibilityOptions = [
  "In an at-risk group",
  "Age-based eligibility 0 to 5 years"
] %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-eligibility" method="post" novalidate>

        {% if data.vaccine == "COVID-19" %}
          {% set eligibilityOptions = CovidEligibilityOptions %}
        {% elif data.vaccine == "flu" %}
          {% set eligibilityOptions = NationalFluEligibilityOptions %}
        {% elif data.vaccine == "flu (London service)" %}
          {% set eligibilityOptions = londonFluEligibilityOptions %}
        {% elif data.vaccine == "RSV" %}
          {% set eligibilityOptions = RSVEligibilityOptions %}
        {% elif data.vaccine == "pneumococcal" %}
          {% set eligibilityOptions = pneumococcalEligibilityOptions %}
        {% elif data.vaccine == "3-in-1 teenage booster" %}
          {% set eligibilityOptions = 3in1EligibilityOptions %}
        {% elif data.vaccine == "HPV" %}
          {% set eligibilityOptions = HPVEligibilityOptions %}
        {% elif data.vaccine == "MenACWY" %}
          {% set eligibilityOptions = MenACWYEligibilityOptions %}
        {% elif data.vaccine == "MenB" %}
          {% set eligibilityOptions = MenBEligibilityOptions %}
        {% elif data.vaccine == "shingles" %}
          {% set eligibilityOptions = shinglesEligibilityOptions %}
        {% elif data.vaccine == "6-in-1" %}
          {% set eligibilityOptions = 6in1EligibilityOptions %}
        {% else %}
          {% set eligibilityOptions = [] %}
        {% endif %}

        {% set items = [] %}
        {% for option in eligibilityOptions %}
          {% set items = (items.push({
            text: option,
            value: option
            }), items) %}
        {% endfor %}

        {% call fieldset({
          legend: {
            text: ("Why are you giving them the vaccine?" if data.vaccinationToday == 'yes' else "Why was the patient eligible for the vaccine?"),
            size: "l",
            isPageHeading: true
          }
        }) %}

        {{ radios({
            idPrefix: "eligibility",
            name: "eligibility",
            value: data.eligibility,
            items: items
          }) }}
          
        {% endcall %}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

