{% extends 'layout.html' %}

{% set pageName = "Why are you giving them the vaccine?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/batch" }) }}
{% endblock %}

{% set CovidEligibilityOptions = [
  "Resident in a care home",
  "Aged 75 and over, and not in a care home",
  "Immunosuppressed"
] %}

{% set RSVEligibilityOptions = [
  "Aged 75 to 80",
  "Pregnant"
] %}

{% set NationalFluEligibilityOptions = [
  "Based on age",
  "Healthcare worker",
  "Pregnant",
  "In a clinical risk group",
  "Resident in a care home",
  "Carer",
  "Social care worker",
  "Household contact of someone immunosuppressed"
] %}

{% set londonFluEligibilityOptions = [
  "Homeless",
  "Gypsy, Roma and Traveller communities",
  "Sex worker",
  "Learning disability",
  "Mental health condition",
  "In a detained estate or in contact with justice system",
  "Migrant or asylum seeker",
  "Victim of modern slavery",
  "Drug or alcohol dependency",
  "Another health exclusion group based on local need",
  "Healthcare worker not covered by national criteria"
] %}

{% set pneumococcalOver65Options = [
  "Aged 65 and over"
] %}

{% set pneumococcalUnder65Options = [
  "Heart disease",
  "Kidney disease",
  "Liver disease",
  "Respiratory disease",
  "Immunosuppressed",
  "Cochlear implants",
  "Diabetes"
] %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-eligibility" method="post" novalidate>

        {% if data.vaccine == "COVID-19" %}
          {% set eligibilityOptions = CovidEligibilityOptions %}
        {% elif data.vaccine == "flu" %}
          {% set eligibilityOptions = NationalFluEligibilityOptions %}
        {% elif data.vaccine == "RSV" %}
          {% set eligibilityOptions = RSVEligibilityOptions %}
        {% elif data.vaccine == "pneumococcal" %}
          {% set eligibilityOptions = pneumococcalOver65Options %}
        {% else %}
          {% set eligibilityOptions = [] %}
        {% endif %}

        {% set items = [] %}
        {% for option in eligibilityOptions %}
          {% set items = (items.push({
            text: option,
            value: option
            }), items) %}
        {% endfor %}

        {% call fieldset({
          legend: {
            text: "Why are you giving them the vaccine?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {% if data.vaccine == "flu" %}

            {% set londonFluItems = [] %}
            {% for option in londonFluEligibilityOptions %}
              {% set londonFluItems = (londonFluItems.push({
                text: option,
                value: option
                }), londonFluItems) %}
            {% endfor %}

            {% set londonFluHtml %}
              {{ radios({
                idPrefix: "eligibility-2",
                name: "eligibility",
                items: londonFluItems,
                value: data.eligibility
              }) }}
            {% endset %}

            {% set items = (items.push({
              divider: "or"
            }), items) %}

            {% set items = (items.push({
              text: "London flu service",
              value: "london-flu",
              conditional: {
                html: londonFluHtml
              }
            }), items) %}

          {% endif %}

          {% if data.vaccine == "pneumococcal" %}
            <h2 class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-3 nhsuk-u-font-weight-normal">Aged 65 and over</h2>
          {% endif %}

          {{ radios({
            idPrefix: "eligibility",
            name: "eligibility",
            value: data.eligibility,
            items: items
          }) }}

          {% if data.vaccine == "pneumococcal" %}
            <h2 class="nhsuk-u-font-size-19 nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-3 nhsuk-u-font-weight-normal">Aged 18 to 64 and in a clinical risk group</h2>

            {% set pneumococcalUnder64Items = [] %}
            {% for option in pneumococcalUnder65Options %}
              {% set pneumococcalUnder64Items = (pneumococcalUnder64Items.push({
                text: option,
                value: option
                }), pneumococcalUnder64Items) %}
            {% endfor %}

            {{ radios({
              idPrefix: "eligibility2",
              name: "eligibility",
              value: data.eligibility,
              items: pneumococcalUnder64Items
            }) }}
          {% endif %}

        {% endcall %}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

