{% extends 'layout.html' %}

{% set pageName = "Why are you giving them the vaccine?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/batch" }) }}
{% endblock %}

{% set CovidEligibilityOptions = [
  "Resident in a care home",
  "Staff in a care home",
  "Healthcare worker",
  "Social care worker",
  "Based on age",
  "Pregnant",
  "Immunosuppressed",
  "In a clinical risk group",
  "Homeless or living in a closed setting",
  "Household contact of someone immunosuppressed",
  "Carer",
  "Has had CAR-T therapy or a stem cell transplant since their last vaccination"
] %}

{% set RSVEligibilityOptions = [
  "Aged 75 to 80",
  "Pregnant"
] %}

{% set NationalFluEligibilityOptions = [
  "Healthcare worker",
  "Resident in a care home",
  "Staff in a care home",
  "Healthcare worker",
  "Social worker",
  "Based on age",
  "Pregnant",
  "Immunosuppressed",
  "In a clinical risk group",
  "Household contact of someone immunosuppressed",
  "Carer",
  "Has had CAR-T therapy or a stem cell transplant since their last vaccination"
] %}

{% set londonFluEligibilityOptions = [
  "Homeless",
  "Gypsy, Roma and Traveller communities",
  "Sex worker",
  "Learning disability",
  "Mental health issue",
  "In a detained estate or in contact with justice system",
  "Asylum seeker",
  "Victim of modern slavery",
  "Experiencing drug or alcohol dependency",
  "Another health exclusion group based on local need",
  "Frontline health care worker not covered by national criteria"
] %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errors | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errors
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-eligibility" method="post" novalidate>

        {% if data.vaccine == "COVID-19" %}
          {% set eligibilityOptions = covidEligiblityOptions %}
        {% elif data.vaccine == "flu" %}
          {% set eligibilityOptions = NationalFluEligibilityOptions %}
        {% elif data.vaccine == "RSV" %}
          {% set eligibilityOptions = RSVEligibilityOptions %}
        {% else %}
          {% set eligibilityOptions = [] %}
        {% endif %}

        {% set items = [] %}
        {% for option in eligibilityOptions %}
          {% set items = (items.push({
            text: option,
            value: option,
            checked: (data.eligibility | arrayOrStringIncludes(option))
            }), items) %}
        {% endfor %}


        {% call fieldset({
          legend: {
            text: "Why are you giving them the vaccine?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {% if data.vaccine == "flu" %}

            {% set londonFluItems = [] %}
            {% for option in londonFluEligibilityOptions %}
              {% set londonFluItems = (londonFluItems.push({
                text: option,
                value: option,
                checked: (data.eligibility | arrayOrStringIncludes(option))
                }), londonFluItems) %}
            {% endfor %}

            {% set londonFluHtml %}
              {{ radios({
                idPrefix: "eligibility-2",
                name: "eligibility",
                items: londonFluItems
              }) }}
            {% endset %}

            {% set items = (items.push({
              divider: "or"
            }), items) %}

            {% set items = (items.push({
              text: "London flu vaccination criteria",
              value: "london-flu",
              conditional: {
                html: londonFluHtml
              }
            }), items) %}

          {% endif %}

          {{ radios({
            idPrefix: "eligibility",
            name: "eligibility",
            items: items
          }) }}



        {% endcall %}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

