{% extends 'layout.html' %}

{% set pageName = "Is the vaccination today?" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if vaccinationTodayError %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: vaccinationTodayError,
              href: "#vaccinationToday-1"
            }
          ]
        }) }}
      {% endif %}

      {% set insetTextHtml %}
        <p><span class="nhsuk-tag nhsuk-tag--blue">New</span></p>
        <p>This new section makes it easier to record vaccinations.</p>
        <p>You can continue using <b>Find a patient</b> until 31&nbsp;October&nbsp;2025.</p>
        <p class="nhsuk-u-margin-bottom-0"><a href="https://guide.ravs.england.nhs.uk/record-vaccinations/" class="nhsuk-link" target="_blank">Find out more (opens in new tab)</a></p>

      {% endset %}

      {{ insetText({
        html: insetTextHtml,
        classes: "nhsuk-u-margin-top-0 nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3 app-inset-text--white"
      }) }}


      <form action="/record-vaccinations/answer-date" method="post" novalidate>
        {% set previousDateHtml %}

          {{ dateInput({
            id: "vaccinationDate",
            namePrefix: "vaccinationDate",
            fieldset: {
              legend: {
                text: "Vaccination date",
                classes: "nhsuk-label--s"
              }
            },
            hint: {
              text: "For example, 15 3 2024"
            },
            items: [
              {
                name: "day",
                classes: "nhsuk-input--width-2"
              },
              {
                name: "month",
                classes: "nhsuk-input--width-2"
              },
              {
                name: "year",
                classes: "nhsuk-input--width-4"
              }
            ]
          }) }}
        {% endset -%}

        {{ radios({
          idPrefix: "vaccinationToday",
          name: "vaccinationToday",
          fieldset: {
            legend: {
              text: "Is the vaccination today?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: "true"
            }
          },
          value: data.vaccinationToday,
          errorMessage: {
            text: vaccinationTodayError
          } if vaccinationTodayError,
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, it was on a previous date",
              conditional: {
                html: previousDateHtml
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

