{% extends 'layout.html' %}

{% set pageName = "Is the vaccination today?" %}

{% set currentSection = "vaccinate" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if vaccinationTodayError %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: vaccinationTodayError,
              href: "#vaccinationToday-1"
            }
          ]
        }) }}
      {% endif %}

      {% set introHtml %}
        <p>This new section makes it quicker and simpler to record vaccinations.</p>
        <p>You can use it as an alternative to <b>Find a patient</b>, which will remain available until 31 March 2025.</p>
        <p class="nhsuk-u-margin-bottom-0"><a href="#" class="nhsuk-link">Find out more about the changes (opens in new tab)</a></p>

      {% endset %}

      {{ panel({
        titleText: "A new way to record vaccinations",
        headlingLevel: 2,
        classes: "app-panel--info nhsuk-u-margin-bottom-7",
        html: introHtml
      }) }}

      <form action="/record-vaccinations/answer-date" method="post" novalidate>
        {% set previousDateHtml %}

          {{ dateInput({
            id: "vaccinationDate",
            namePrefix: "vaccinationDate",
            fieldset: {
              legend: {
                text: "Vaccination date",
                classes: "nhsuk-label--s"
              }
            },
            hint: {
              text: "For example, 15 3 2024"
            },
            items: [
              {
                name: "day",
                classes: "nhsuk-input--width-2"
              },
              {
                name: "month",
                classes: "nhsuk-input--width-2"
              },
              {
                name: "year",
                classes: "nhsuk-input--width-4"
              }
            ]
          }) }}
        {% endset -%}

        {{ radios({
          idPrefix: "vaccinationToday",
          name: "vaccinationToday",
          fieldset: {
            legend: {
              text: "Is the vaccination today?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: "true"
            }
          },
          value: data.vaccinationToday,
          errorMessage: {
            text: vaccinationTodayError
          } if vaccinationTodayError,
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, it was on a previous date",
              conditional: {
                html: previousDateHtml
              }
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

