{% extends 'layout.html' %}

{% set pageName = "What is the patient's estimated due date?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if dateErrorMessage == "required" %}
        {% set resolvedDateErrorMessage = "Enter an estimated due date" %}
      {% elseif dateErrorMessage == "too-far-in-future" %}
        {% set resolvedDateErrorMessage = "Estimated due date is too far in the future. Patient must be at least 21 days pregnant." %}
      {% elseif dateErrorMessage == "more-than-44-weeks" %}
        {% set resolvedDateErrorMessage = "Patient cannot be more than 44 weeks pregnant" %}
      {% endif %}

      {% if resolvedDateErrorMessage %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: resolvedDateErrorMessage,
            href: "#pregnancyDueDate-day"
          }]
        }) }}
      {% endif %}


      <form action="/record-vaccinations/save-estimated-due-date" method="post" novalidate>
        <!-- reset showError to false -->
        <input type="hidden" name="showError" value="">

        {{ dateInput({
          id: "pregnancyDueDate",
          namePrefix: "pregnancyDueDate",
          fieldset: {
            legend: {
              text: "What is " + data.firstName + " " + data.lastName + "’s estimated due date?",
              size: "l",
              isPageHeading: true
            }
          },
          errorMessage: {
            text: resolvedDateErrorMessage
          } if resolvedDateErrorMessage,
          values: data.pregnancyDueDate,
          hint: {
            text: "For example, 15 6 2025"
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if resolvedDateErrorMessage else "")
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2 " + ("nhsuk-input--error" if resolvedDateErrorMessage else "")
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4 " + ("nhsuk-input--error" if resolvedDateErrorMessage else "")
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>

    <div class="nhsuk-grid-column-one-third">
      {% include "includes/_record-vaccinations-patient-information-card.html" %}
    </div>
  </div>

{% endblock %}

