{% extends 'layout.html' %}

{% set pageName = "Check the patient's details" %}

{% set currentSection = "vaccinate" %}

{% if ((data.vaccine == "RSV") and (data.eligibility | arrayOrStringIncludes("Pregnant"))) or (data.vaccine == "Pertussis") %}
  {% set nextPage = "/record-vaccinations/patient-estimated-due-date" %}
{% else %}
  {% set nextPage = "/record-vaccinations/consent" %}
{% endif %}

{% set dateOfBirthHtml %}
  {% if data.dateOfBirth %}
    {{ (data.dateOfBirth | isoDateFromDateInput | govukDate) }}
    <br>(75 years old)
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check {{ data.patientName }}’s details</h1>

      {{ summaryList({
        classes: 'xnhsuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jodie Brown"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "15 August 1949<br>(75 years old)"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: "9123456321"
            }
          }
        ]
      }) }}

      {% if data.vaccine == "COVID-19" %}

        {% set screeningConsiderations %}
          <ul>
            <li>Does the patient have a history of anaphylaxis or significant allergic reactions to any vaccines or their ingredients?</li>
            <li>Has the patient had a serious adverse reaction after the COVID-19 vaccine?</li>
            <li>Is the patient pregnant or could they be?</li>
          </ul>
        {% endset %}



      {% endif %}



      <form action="{{ nextPage }}" method="post" novalidate>
        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

