{% extends 'layout.html' %}

{% set pageName = "Do you have the patient’s NHS number?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/review-previous" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if nhsNumberKnownError and nhsNumberKnownError.code == "required" %}
        {% set nhsNumberKnownErrorMessage = "Select yes if you have the patient’s NHS number" %}
      {% endif %}

      {% if nhsNumberError %}
        {% if nhsNumberError.code == "required" %}
          {% set nhsNumberErrorMessage = "Enter an NHS number" %}
        {% elseif nhsNumberError.code == "invalid-format" or nhsNumberError.code == "invalid-length" %}
          {% set nhsNumberErrorMessage = "Enter a 10-digit number" %}
        {% elseif nhsNumberError.code == "invalid-prefix" %}
          {% set nhsNumberErrorMessage = "Enter a valid NHS number" %}
        {% endif %}
      {% endif %}

      {% set resolvedErrorList = [] %}
      {% for error in errorList %}
        {% if error.href == "#nhs-number-known-1" and nhsNumberKnownErrorMessage %}
          {% set resolvedErrorList = (resolvedErrorList.push({ text: nhsNumberKnownErrorMessage, href: error.href }), resolvedErrorList) %}
        {% elseif error.href == "#nhs-number" and nhsNumberErrorMessage %}
          {% set resolvedErrorList = (resolvedErrorList.push({ text: nhsNumberErrorMessage, href: error.href }), resolvedErrorList) %}
        {% endif %}
      {% endfor %}

      {% if (resolvedErrorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: resolvedErrorList
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-patient-nhs-number-known" method="post" novalidate>

        {% set nhsNumberHtml %}

          {{ input({
            id: "nhs-number",
            name: "nhsNumber",
            classes: "nhsuk-input--width-10 nhsuk-input--code",
            inputmode: "numeric",
            errorMessage: {
              text: nhsNumberErrorMessage
            } if nhsNumberErrorMessage,
            label: {
              text: "NHS number",
              size: "s"
            },
            value: data.nhsNumber,
            hint: {
              text: "For example, 999 123 4567"
            }
          }) }}
        {% endset %}


        {{ radios({
          idPrefix: "nhs-number-known",
          name: "nhsNumberKnown",
          fieldset: {
            legend: {
              html: "Do you have the patient’s NHS&nbsp;number?",
              size: "l",
              isPageHeading: "true"
            }
          },
          value: data.nhsNumberKnown,
          errorMessage: {
            text: nhsNumberKnownErrorMessage
          } if nhsNumberKnownErrorMessage,
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: nhsNumberHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

