{% extends 'layout.html' %}

{% set pageName = "Timing of RSV vaccine warning" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-estimated-due-date" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ data.patientName }} is not yet 28 weeks pregnant</h1>


      <p>{{ data.patientName }} is {{ fullWeeksPregnant | plural("week") }}{% if remainderDaysPregnant > 0 %} and {{ remainderDaysPregnant | plural("day") }}{% endif %} pregnant.
      </p>

      <p>The {{ data.vaccine }} vaccine is not routinely recommended before 28 weeks of pregnancy.</p>

      <p><a href="https://www.gov.uk/government/publications/respiratory-syncytial-virus-rsv-programme-information-for-healthcare-professionals/rsv-vaccination-of-pregnant-women-for-infant-protection-information-for-healthcare-practitioners" target="_blank">UKHSA guidance on RSV vaccination of pregnant women (opens in new tab)</a>.


    </div>
  </div>

  {{ button({
    "text": "Continue anyway",
    "href": "/record-vaccinations/consent"
  }) }}

{% endblock %}

