{% extends 'layout.html' %}

{% set pageName = "Check the patient's details" %}

{% set currentSection = "vaccinate" %}

{% if (data.vaccine === "COVID-19") %}
  {% set nextPage = "/record-vaccinations/warning" %}
{% elseif ((data.vaccine == "RSV") and (data.eligibility | arrayOrStringIncludes("Pregnant"))) or (data.vaccine == "Pertussis") %}
  {% set nextPage = "/record-vaccinations/patient-estimated-due-date" %}
{% else %}
  {% set nextPage = "/record-vaccinations/consent" %}
{% endif %}

{% set dateOfBirthHtml %}
  {% if data.dateOfBirth %}
    {{ (data.dateOfBirth | isoDateFromDateInput | govukDate) }}
    <br>(75 years old)
  {% endif %}
{% endset %}


{% block beforeContent %}
  {{ backLink({
    href: "/record-vaccinations/patient-history1",
    text: "Back to patient details"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l"> {{ data.patientName }}’s vaccination history</h1>

      <p>This shows NHS vaccinations given in England. Currently it includes COVID-19, flu, pertussis and RSV.</p>

      <p>However, pertussis vaccinations given at a GP surgery are not shown.</p>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        {{ table({
          panel: false,
          caption: "",
          firstCellIsHeader: false,
          head: [
            {
              text: "Date"
            },
            {
              text: "Vaccine"
            },
            {
              text: "Product"
            }
          ],
          rows: [
            [
              {
                text: "15 April 2025"
              },
              {
                text: "COVID-19"
              },
              {
                text: "Spikevax JN.1"
              }
            ],[
              {
                text: "11 November 2024"
              },
              {
                text: "RSV"
              },
              {
                text: "Abrysvo"
              }
            ],
            [
              {
                text: "25 October 2024"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "15 October 2023"
              },
              {
                text: "COVID-19"
              },
              {
                text: "Comirnaty 30 Omicron XBB.1.5"
              }
            ],
            [
              {
                text: "10 October 2023"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "11 March 2022"
              },
              {
                text: "COVID-19"
              },
              {
                text: "Moderna mRNA (Spikevax) Original"
              }
            ],
            [
              {
                text: "10 October 2023"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "6 January 2022"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "10 October 2022"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "6 January 2021"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "10 October 2021"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "6 January 2020"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "10 October 2020"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "6 January 2019"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "10 October 2019"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "6 January 2018"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "10 October 2018"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "6 January 2017"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ],
            [
              {
                text: "10 October 2017"
              },
              {
                text: "Flu"
              },
              {
                text: "Adjuvanted Quadrivalent Influenza Vaccine (aQIV)"
              }
            ]
          ]
        }) }}
        <nav class="govuk-pagination" aria-label="Pagination">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">
                  Previous<span class="govuk-visually-hidden"> page</span>
                </span>
              </a>
            </div>
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </a>
            </div>
          </nav>

    </div>
  </div>
  

{% endblock %}

