
{% extends 'layout.html' %}

{% set pageName = "Check the patient's details" %}

{% set currentSection = "vaccinate" %}


{% set dateOfBirthHtml %}
  {% if data.dateOfBirth.day %}
    {{ (data.dateOfBirth | isoDateFromDateInput | govukDate) }}
    <br>(76 years old)
  {% else %}
    {{ (data.dateOfBirth | govukDate) }}
  {% endif %}
{% endset %}

{% if data.repeatVaccination === "yes" %}
  {% set nextPage = "/record-vaccinations/consent" %}
{% elseif data.repeatPatient === "yes" %}
  {% set nextPage = "/record-vaccinations/vaccine" %}
{% elseif data.vaccinationToday %}
  {% set nextPage = "/record-vaccinations/vaccinator" %}
{% else %}
  {% set nextPage = "/record-vaccinations/vaccination-date" %}
{% endif %}

{% if data.repeatVaccination === "yes" %}
  {% set previousPage = "/record-vaccinations/patient" %}
{% elseif data.repeatPatient === "yes" %}
  {% set previousPage = "/record-vaccinations/done" %}
{% else %}
  {% set previousPage = "/record-vaccinations" %}
{% endif %}

{% block beforeContent %}
  {{ backLink({ href: previousPage }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check {{ data.firstName }} {{ data.lastName }}’s details and vaccination history</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: (data.firstName + " " + data.lastName)
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: dateOfBirthHtml
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: N7 0EA
            }
          }
        ]
      }) }}

      {% if data.vaccine == "COVID-19" %}

        {% set screeningConsiderations %}
          <ul>
            <li>Does the patient have a history of anaphylaxis or significant allergic reactions to any vaccines or their ingredients?</li>
            <li>Has the patient had a serious adverse reaction after the COVID-19 vaccine?</li>
            <li>Is the patient pregnant or could they be?</li>
          </ul>
        {% endset %}

        {{ details({
          summaryText: "Screening considerations",
          html: screeningConsiderations
        }) }}

      {% endif %}

      {% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "Important",
  text: "We can only show previous vaccination records that have been recorded in RAVS for this patient."
}) }}
      
      <h2 class="nhsuk-heading-m">Vaccination history</h2>

      <p>This shows NHS vaccinations given in England. Currently it includes COVID-19, flu and RSV, plus some pertussis, pneumococcal and MMR vaccination records.</p>

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        {{ table({
          panel: false,
          caption: "",
          firstCellIsHeader: false,
          head: [
            {
              text: "Date"
            },
            {
              text: "Vaccine"
            },
            {
              text: "Product"
            }
          ],
          rows: [
            [
              {
                text: "15 April 2025"
              },
              {
                text: "COVID-19"
              },
              {
                text: "Comirnaty 3"
              }
            ]
           ]
        }) }}

        

      <form action="{{ nextPage }}" method="post" novalidate>
        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}
