{% extends 'layout.html' %}

{% set pageName = "Check the patient's details" %}

{% set currentSection = "vaccinate" %}

{% if ((data.vaccine == "RSV") and (data.eligibility | arrayOrStringIncludes("Pregnant"))) or (data.vaccine == "Pertussis") %}
  {% set nextPage = "/record-vaccinations/patient-estimated-due-date" %}
{% else %}
  {% set nextPage = "/record-vaccinations/consent" %}
{% endif %}

{% set dateOfBirthHtml %}
  {% if data.dateOfBirth %}
    {{ (data.dateOfBirth | isoDateFromDateInput | govukDate) }}
    <br>(75 years old)
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check Jodie Brown’s details</h1>

      {{ summaryList({
        classes: 'xnhsuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jodie Brown"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "15 August 1949<br>(75 years old)"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
            }
          },
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: "9123456789"
            }
          }
        ]
      }) }}

      {% from "warning-callout/macro.njk" import warningCallout %}

{{ warningCallout({
  heading: "Important",
  text: "We can only show previous vaccinations that have been recorded in RAVS."
}) }}
      
      <h2 class="nhsuk-heading-m">Vaccination history</h2>

      <p>This shows NHS vaccinations given in England. Currently it includes COVID-19, flu and RSV, plus some pertussis, pneumococcal and MMR vaccination records.</p>

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        {{ table({
          panel: false,
          caption: "",
          firstCellIsHeader: false,
          head: [
            {
              text: "Date"
            },
            {
              text: "Vaccine"
            },
            {
              text: "Product"
            }
          ],
          rows: [
            [
              {
                text: "15 April 2025"
              },
              {
                text: "COVID-19"
              },
              {
                text: "Comirnaty 3"
              }
            ]
           ]
        }) }}

        

      <form action="{{ nextPage }}" method="post" novalidate>
        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

