{% extends 'layout.html' %}

{% set pageName = "Check the patient's details" %}

{% set currentSection = "vaccinate" %}

{% if ((data.vaccine == "RSV") and (data.eligibility | arrayOrStringIncludes("Pregnant"))) or (data.vaccine == "Pertussis") %}
  {% set nextPage = "/record-vaccinations/patient-estimated-due-date" %}
{% else %}
  {% set nextPage = "/record-vaccinations/vaccination-date" %}
{% endif %}

{% set dateOfBirthHtml %}
  {% if data.dateOfBirth %}
    {{ (data.dateOfBirth | isoDateFromDateInput | govukDate) }}
    <br>(75 years old)
  {% endif %}
{% endset %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient" }) }}
{% endblock %}

{% block content %}

{% if data.firstName and data.lastName %}
  {% set displayName = data.firstName ~ ' ' ~ data.lastName %}
{% else %}
  {% set displayName = 'Patient Name' %}
{% endif %}

{% if data.dateOfBirth %}
  {% set dateOfBirth = data.dateOfBirth | formatDate %}
{% else %}
  {% set dateOfBirth = '15 August 1949' %}
{% endif %}

{% if data.postcode %}
  {% set postcode = data.postcode %}
{% else %}
  {% set postcode = 'N7 0EA' %}
{% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check {{ displayName }}’s details and vaccination history</h1>

      {{ summaryList({
        classes: 'xnhsuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: (displayName)
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: (dateOfBirth)
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: (postcode)
            }
          }
        ]
      }) }}

      {% from "warning-callout/macro.njk" import warningCallout %}

      {{ warningCallout({
        heading: "Important",
        headingLevel: 2,
        text: "We could not get any vaccination history for this patient."
      }) }}
          
      <form action="{{ nextPage }}" method="post" novalidate>
        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

