{% extends 'layout.html' %}

{% set pageName = "Do you have the patient’s NHS number?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/review-previous" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-patient-nhs-number-known" method="post" novalidate>

        {% set nhsNumberHtml %}

          {{ input({
            id: "nhs-number",
            name: "nhsNumber",
            classes: "nhsuk-input--width-10 nhsuk-input--code",
            inputmode: "numeric",
            errorMessage: nhsNumberError,
            label: {
              text: "NHS number",
              size: "s"
            },
            value: data.nhsNumber,
            hint: {
              text: "For example, 485 777 3456"
            }
          }) }}
        {% endset %}


        {{ radios({
          idPrefix: "nhs-number-known",
          name: "nhsNumberKnown",
          fieldset: {
            legend: {
              html: "Do you have the patient’s NHS&nbsp;number?",
              size: "l",
              isPageHeading: "true"
            }
          },
          value: data.nhsNumberKnown,
          errorMessage: nhsNumberKnownError if nhsNumberKnownError,
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: nhsNumberHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

