{% extends 'layout.html' %}

{% set pageName = "Check these details still apply" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/done" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      {{ summaryList({
          rows: [
            {
              key: {
                text: "Date"
              },
              value: {
                text: ("Today" if data.vaccinationToday == "yes" else (data.vaccinationDate | isoDateFromDateInput | govukDate))
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations",
                    text: "Change",
                    visuallyHiddenText: "vaccination date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Site"
              },
              value: {
                text: (currentOrganisation.sites | findById(data.deliveryTeam)).name
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations/delivery-team",
                    text: "Change",
                    visuallyHiddenText: "site"
                  }
                ]
              }
            },
            {
              key: {
                text: "Vaccinator"
              },
              value: {
                html: (vaccinator.firstName + " " + vaccinator.lastName)
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations/vaccinator",
                    text: "Change",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            },
            {
              key: {
                text: "Vaccine"
              },
              value: {
                html: (data.vaccine | capitaliseFirstLetter) + "<br>" + data.vaccineProduct
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations/vaccine",
                    text: "Change",
                    visuallyHiddenText: "vaccine"
                  }
                ]
              }
            },
            {
              key: {
                text: "Batch"
              },
              value: {
                html: data.vaccineBatch + "<br>Expires 4 January 2025"
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations/batch",
                    text: "Change",
                    visuallyHiddenText: "vaccine batch"
                  }
                ]
              }
            },
            {
              key: {
                text: "Eligibility"
              },
              value: {
                html: ((data.eligibility | join("<br>")) if (data.eligibility | isArray) else data.eligibility)
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations/eligibility",
                    text: "Change",
                    visuallyHiddenText: "eligibility"
                  }
                ]
              }
            } if (data.eligibility),
            {
              key: {
                text: "Location"
              },
              value: {
                html: data.locationType
              },
              actions: {
                items: [
                  {
                    href: "/record-vaccinations/location",
                    text: "Change",
                    visuallyHiddenText: "contact information"
                  }
                ]
              }
            } if (data.locationType)
          ]
        }) }}

      {{ button({
        text: "Continue",
        href: "/record-vaccinations/patient"
      })}}

      <p><a href="/record-vaccinations">Start again</a> to record a vaccination from the beginning.</p>

    </div>
  </div>

{% endblock %}

