{% extends 'layout.html' %}

{% set pageName = "Do you have the patient’s NHS number?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {% if (data.vaccine === "Flu" or data.vaccine == "COVID-19") %}
    {% set backLinkHref = "/record-vaccinations/location" %}
  {% else %}
    {% set backLinkHref = "/record-vaccinations/eligibility" %}
  {% endif %}
  {{ backLink({ href: backLinkHref }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if (errorList | length) > 0 %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-patient-nhs-number-known" method="post" novalidate>


        <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date
    </dt>
    <dd class="nhsuk-summary-list__value">
        26 July 2025
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> date</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Vaccine
    </dt>
    <dd class="nhsuk-summary-list__value">
      COVID-19
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> vaccine</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Batch
    </dt>
    <dd class="nhsuk-summary-list__value">
      73 Roman Rd<br>Leeds<br> LS2 5ZN
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact information</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact details
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>07700 900362</p>
      <p>karen.francis@example.com</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
</dl>


<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>

  <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date
    </dt>
    <dd class="nhsuk-summary-list__value">
      26 June 2026
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> date</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Vaccine
    </dt>
    <dd class="nhsuk-summary-list__value">
      COVID-19<br>Corminarty 30 JN.1
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> vaccine</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Batch
    </dt>
    <dd class="nhsuk-summary-list__value">
      4844987<br>Expires 4 October 2025
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> batch</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Contact details
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>07700 900362</p>
      <p>karen.francis@example.com</p>
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> contact details</span>
      </a>
    </dd>
  </div>
</dl>

  <p>If you're no longer using these details <a href="https://yellowcard.mhra.gov.uk/" title="External website">clear and start again</a>.</p>


</div>

        {% set nhsNumberHtml %}

          {{ input({
            id: "nhs-number",
            name: "nhsNumber",
            classes: "nhsuk-input--width-10",
            inputmode: "numeric",
            errorMessage: nhsNumberError,
            label: {
              text: "NHS number",
              classes: "nhsuk-label--s"
            },
            value: data.nhsNumber,
            hint: {
              text: "For example, 485 777 3456"
            }
          }) }}
        {% endset %}


        {{ radios({
          idPrefix: "nhs-number-known",
          name: "nhsNumberKnown",
          fieldset: {
            legend: {
              html: "Do you have the patient’s NHS&nbsp;number?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: "true"
            }
          },
          errorMessage: nhsNumberKnownError if nhsNumberKnownError,
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: (data.nhsNumberKnown == 'yes'),
              conditional: {
                html: nhsNumberHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: (data.nhsNumberKnown == 'no')
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        })}}
      </form>

    </div>
  </div>

{% endblock %}

