{% extends 'layout.html' %}

{% set pageName = "When was the vaccination?" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history-deceased" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if vaccinationDateError %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: vaccinationDateError,
              href: "#vaccinationDate-day"
            }
          ]
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-date-deceased" method="post" novalidate>
        {{ dateInput({
          id: "vaccinationDate",
          namePrefix: "vaccinationDate",
          fieldset: {
            legend: {
              text: "When was the vaccination?",
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          hint: {
            text: ""
          },
          errorMessage: {
            text: vaccinationDateError
          } if vaccinationDateError,
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2" + (" nhsuk-input--error" if vaccinationDateError else ""),
              value: data.vaccinationDate.day
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2" + (" nhsuk-input--error" if vaccinationDateError else ""),
              value: data.vaccinationDate.month
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4" + (" nhsuk-input--error" if vaccinationDateError else ""),
              value: data.vaccinationDate.year
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
