{% extends 'layout.html' %}

{% set pageName = "Which vaccine are you giving?" %}

{% set currentSection = "vaccinate" %}
{% set organisationSetting = currentUser.organisations | findById(data.currentOrganisationId) %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/vaccinator" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ data.vaccineProduct }}

      {% if vaccineError %}
        {% set error = {text: vaccineError, href: "#vaccine-1"} %}
      {% elseif vaccineProductError %}
        {% if data.vaccine == "RSV" %}
          {% set errorHref = "#vaccineProductRsv-1" %}
        {% elseif data.vaccine == "COVID-19" %}
          {% set errorHref = "#vaccineProductCovid-1" %}
        {% elseif data.vaccine == "Pertussis" %}
          {% set errorHref = "#vaccineProductPertussis-1" %}
        {% elseif data.vaccine == "Flu" %}
          {% set errorHref = "#vaccineProductFlu-1" %}
        {% endif %}

        {% set error = {text: vaccineProductError, href: errorHref} %}
      {% endif %}

      {% if error %}
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            error
          ]
        }) }}
      {% endif %}

      <form action="/record-vaccinations/answer-vaccine" method="post" novalidate>

      {% if data.repeatPatient == 'yes' and data.patientName %}

        {% set question = ("Which vaccine are you giving " + data.patientName + "?" if data.vaccinationToday == 'yes' else "Which vaccine was it " + data.patientName + "?") %}
      {% else %}
        {% set question = ("Which vaccine are you giving?" if data.vaccinationToday == 'yes' else "Which vaccine was it?") %}
      {% endif %}

      {% set items = [] %}

      {% for vaccine in (vaccinesAvailable | sort(false, false, "name")) %}

        {% if vaccine.products %}

          {% set productItems = [] %}
          {% for vaccineProduct in (vaccine.products) %}
            {% set productItems = (productItems.push({
              value: vaccineProduct.name,
              text: (vaccineProduct.name | capitaliseFirstLetter )
            }), productItems) %}
          {% endfor %}

          {% set conditionalHtml %}
            {{ radios({
              "idPrefix": "vaccineProduct" + vaccine.name,
              "name": "vaccineProduct",
              "fieldset": {
                "legend": {
                  "text": "Vaccine product"
                }
              },
              "items": productItems,
              value: data.vaccineProduct
            }) }}
          {% endset %}
        {% endif %}

        {% set items = (items.push({
          value: vaccine.name,
          text: (vaccine.name | capitaliseFirstLetter),
          conditional: {
            html: conditionalHtml
          } if vaccine.products
        }), items) %}
      {% endfor %}

      {{ radios({
        "idPrefix": "vaccine",
        "name": "vaccine",
        "fieldset": {
          "legend": {
            "text": question,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        value: data.vaccine,
        errorMessage: {
          text: vaccineError
        } if vaccineError,
        "items": items
      }) }}


        {{ button({
          text: "Continue"
        })}}

        {% if organisationSetting.permissionLevel == "Recorder" %}
          {{ details({
            summaryText: "If the vaccine is not listed",
            html: "You'll need to ask an administrator to add it."
          }) }}
        {% else %}
          {{ details({
            summaryText: "If the vaccine is not listed",
            html: "Go to <a href=\"/vaccines\">Vaccines</a> to add it."
          }) }}
        {% endif %}



      </form>

    </div>
  </div>

{% endblock %}

