
{% extends 'layout.html' %}

{% set pageName = "Vaccine product age warning" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Jodie Brown may be too young for this vaccine product</h1>

      <p>Jodie Brown is 64 years old. Adjuvanted Quadrivalent Influenza Vaccine (aQIV) is not usually recommended when you're younger than 65.</p> 
      <p>Check before going ahead or refer to a prescriber for a patient specific direction (PSD).</p>
      
    </div>
  </div>

  {{ button({
    "text": "Continue anyway",
    "href": "/record-vaccinations/consent"
  }) }}

{% endblock %}

