
{% extends 'layout.html' %}

{% set pageName = "Vaccine product suitability warning" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "/record-vaccinations/patient-history" }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Adjuvanted Quadrivalent Influenza Vaccine (aQIV) may not be recommended</h1>

      <p>{{ data.patientName }} is 64 years old. Adjuvanted Quadrivalent Influenza Vaccine (aQIV) is not usually recommended for people under the age of 65.</p> 
      <p>Check before going ahead or refer to a prescriber for a Patient Specific Direction.</p>
      
    </div>
  </div>

  {{ button({
    "text": "Continue anyway",
    "href": "/record-vaccinations/consent"
  }) }}

{% endblock %}

