{% extends 'layout.html' %}

{% set pageName = "Regions" %}

{% set currentSection = "regions" %}

{% block header %}
  {% include "includes/header-logged-in-support.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>

      <ul>
        {% for region in (data.regions | sort(false, true, "name")) %}
          <li><a href="/support/regions/{{ region.id }}">{{ region.name }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>

{% endblock %}

