{% extends 'layout.html' %}

{% set pageName = region.name %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/support/regions",
        text: "Regions"
      }
    ]
  }) }}
{% endblock %}

{% set currentSection = "regions" %}
postcode:

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ pageName }}</h1>


      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Users</h2>

      {% if (users | length) > 0 %}
        <table class="nhsuk-table">
          <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Name
              </th>
              <th role="columnheader" class="" scope="col">
                Email
              </th>
              <th role="columnheader" class="" scope="col">
                Status
              </th>
              <th role="columnheader" class="" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            {% for user in (users | sort(false, false, "name") ) %}

              {% set userRegionSettings = (user.regions | findById(region.id)) %}
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">
                  <a href="/support/users/{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</a>
                </td>
                <td class="nhsuk-table__cell">
                  {{ user.email }}
                </td>
                <td class="nhsuk-table__cell ">
                  {{ userRegionSettings.status }}
                </td>
                <td class="nhsuk-table__cell ">
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {{ button({
        text: "Add user",
        href: "/support/regions/" + region.id + "/add-user"
      }) }}

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">Organisations</h2>

      <table class="nhsuk-table">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th>
              Name
            </th>
            <th class="nhsuk-table__header--numeric">
              Users
            </th>
            <th class="nhsuk-table__header--numeric">
              Vaccinations
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for organisation in (organisations | sort(false, true)) %}
            <tr role="row" class="nhsuk-table__row">
              <th class="nhsuk-table__cell nhsuk-u-font-weight-normal">
                <a href="/support/organisations/{{ organisation.id }}/">
                  {{ organisation.name }}
                </a>
              </th>
              <td class="nhsuk-table__cell app-table__cell--padding-left nhsuk-table__cell--numeric">103</td>
              <td class="nhsuk-table__cell app-table__cell--padding-left nhsuk-table__cell--numeric">3,304</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>



    </div>
  </div>

{% endblock %}

